<ul id="<%= ctype %>_sortable_list" style="list-style-type: none;margin-left: 0px;padding-left: 0px;">


  <% codecs.each_with_index do |codec, index| %>

      <li id="item_<%= codec.id %>" style="height: 18px; ">
        <div id="prov_ind_<%= index %>">
          <% if provider %>
              <%= check_box_tag 'codec['+codec.name+']', value = "1", checked = provider.codec?(codec.name), :onchange => "new Ajax.Updater('#{ctype}_items', '#{Web_Dir}/providers/providercodecs_sort/#{provider.id}?codec_id=#{codec.id}&ctype=#{ctype}&val='+this.checked, {asynchronous:true, evalScripts:true, parameters:Sortable.serialize('#{ctype}_sortable_list')}); " %> <%= codec.long_name %>
          <% else %>
              <%= check_box_tag 'codec['+codec.name+']', value = "1", checked = (provider_code(codec.name).to_i == 1), :onchange => "new Ajax.Updater('#{ctype}_items', '#{Web_Dir}/providers/providercodecs_sort/#{-1}?codec_id=#{codec.id}&ctype=#{ctype}&val='+this.checked, {asynchronous:true, evalScripts:true, parameters:Sortable.serialize('#{ctype}_sortable_list')}); " %> <%= codec.long_name %>
          <% end %>
        </div>
      </li>
  <% end %>
</ul>


