<br/>
<br/>
<b><%= name %></b>
<br/>
<br/>
<table width="70%" class="maintable">
  <tr>
    <th id="<%= type %>_enable_column" align="center"><%= _('Enabled') %>?</th>
    <th id="<%= type %>_name_column" align="left"><%= _('Name') %></th>
    <th id="<%= type %>_cut_column" align="left"><%= _('Cut') %></th>
    <th id="<%= type %>_add_column" align="left"><%= _('Add') %></th>
    <th id="<%= type %>_min_len_column" align="right"><%= _('Min_len') %></th>
    <th id="<%= type %>_max_len_column" align="right"><%= _('Max_len') %></th>
    <th></th>
    <th></th>
  </tr>
  <% rules.each { |rule| %>
      <tr class="row<%= cycle(1, 2) %>">
        <td align="center" id="prov_enable_<%= rule.id %>_<%= rule.enabled %>">
          <%= form_tag :action => 'provider_rule_change_status', :id => provider.id, :providerrule_id => rule.id do %>
              <%= image_submit_tag 'icons/check.png', :title => _('Disable') if rule.enabled == 1 %>
              <%= image_submit_tag 'icons/cross.png', :title => _('Enable') if rule.enabled == 0 %>
          <% end %>
        </td>
        <td id="name_<%= rule.id %>" align="left"><%= rule.name %></td>
        <td id="cut_<%= rule.id %>" align="left"><%= rule.cut %></td>
        <td id="add_<%= rule.id %>" align="left"><%= rule.add %></td>
        <td id="minlen_<%= rule.id %>" align="right"><%= rule.minlen %></td>
        <td id="maxlen_<%= rule.id %>" align="right"><%= rule.maxlen %></td>
        <td align="center"><%= link_to b_edit, {:action => "provider_rule_edit", :id => provider.id, :providerrule_id => rule.id}, :id => "edit_img_"+rule.id.to_s %></td>
        <td align="center"><%= link_to b_delete, {:action => 'provider_rule_destroy', :id => provider.id, :providerrule_id => rule.id}, :id => "delete_img_"+rule.id.to_s, :confirm => _('Are_you_sure'), :method => :post %></td>
      </tr>
  <% } %>

  <%= form_tag :action => 'provider_rule_add', :id => provider.id, :pr_type => type do %>
      <tr>
        <th align="left"><%= _('Add') %>:</th>
        <th align="left"><%= text_field_tag 'name', "", "class" => "input", :size => "25", :maxlength => "50", :id => type + "_new_name" %></th>
        <th align="left"><%= text_field_tag 'cut', "", "class" => "input", :size => "10", :maxlength => "20", :id => type + "_new_cut" %></th>
        <th align="left"><%= text_field_tag 'add', "", "class" => "input", :size => "10", :maxlength => "20", :id => type + "_new_add" %></th>
        <th align="right"><%= text_field_tag 'minlen', "", "class" => "input", :size => "5", :maxlength => "5", :id => type + "_new_minlen" %></th>
        <th align="right"><%= text_field_tag 'maxlen', "", "class" => "input", :size => "5", :maxlength => "5", :id => type + "_new_maxlen" %></th>
        <th colspan=2 align="center">     <%= image_submit_tag 'icons/add.png', :title => _('Add'), :id => type + "_add_new_img" %></th>
      </tr>
  <% end %>
</table>