<%= form_tag(:action => 'provider_create') do %>


    <table class="simple">
      <tr>
        <td colspan="2" class="bottom_border">
          <b><%= _('Details') %></b>
        </td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>

      <tr>
        <td> <%= _('Name') %>:</td>
        <td><%= text_field 'provider', 'name', "class" => "input" %> </td>
      </tr>

      <tr>
        <td> <%= _('Tariff') %>:</td>
        <td>
          <select name="tariff_id">
            <% for tariff in @tariffs %>
                <option value=<%= tariff.id %>> <%= tariff.name %> </option>
            <% end %>
          </select>
        </td>
      </tr>

      <tr>
        <td> <%= _('Server') %>:</td>
        <td>

          <select name="server_id">
            <% for serv in @servers %>
                <option value=<%= serv.id %>> <%= serv.hostname %> </option>
            <% end %>
          </select>

        </td>
      </tr>

      <tr>
        <td> <%= _('Call_limit') %>:</td>
        <td>

          <%= text_field 'provider', 'call_limit', "class" => "input", :size => "9", :maxlength => "10" %>
          ( <%= _('Call_limit_notice') %> *)

        </td>
      </tr>
      <tr>


    </table>

    <br>



    <%= submit_tag _('Create'), :disable_with => _('Processing..') %>
<% end %>


<br>

