<br />
<b><%= b_provider + _('Provider') + ": " +@provider.name %></b>
<br />
<br />
<table width="70%" class="maintable">
  <tr>
    <th align="center"><%= _('Enabled') %>?</th>
    <th align="left"><%= _('Name') %></th>
    <th align="left"><%= _('Cut') %></th>
    <th align="left"><%= _('Add') %></th>
    <th align="right"><%= _('Min_len') %></th>
    <th align="right"><%= _('Max_len') %></th>
    <th></th>
  </tr>

  <tr class="row1">
    <td align="center">
      <%= form_tag :action => 'provider_rule_change_status',:id => @provider.id, :providerrule_id => @providerrule.id do %>
        <%= image_submit_tag 'icons/check.png', :title => _('Disable') if @providerrule.enabled == 1 %>
        <%= image_submit_tag 'icons/cross.png', :title => _('Enable') if @providerrule.enabled == 0 %>
      <% end %>
    </td>

    <%= form_tag :action => 'provider_rule_update',:id => @provider.id, :providerrule_id => @providerrule.id do %>
      <td align="left"> <%= text_field_tag 'name', @providerrule.name, "class" => "input", :size => "25", :maxlength => "40"  %> </td>
      <td align="left"> <%= text_field_tag 'cut', @providerrule.cut, "class" => "input", :size => "10", :maxlength => "20"  %> </td>
      <td align="left"> <%= text_field_tag 'add', @providerrule.add, "class" => "input", :size => "10", :maxlength => "20"  %> </td>
      <td align="right"> <%= text_field_tag 'minlen', @providerrule.minlen, "class" => "input", :size => "5", :maxlength => "5"  %> </td>
      <td align="right"> <%= text_field_tag 'maxlen', @providerrule.maxlen, "class" => "input", :size => "5", :maxlength => "5"  %> </td>
      <td align="center"> <%= submit_tag _('Edit'), :disable_with=>_('Processing..') %> </td>
    <% end %>
  </tr>
</table>