<% if @success.to_i == 1 -%>
    <center>
      <div id="status">
        <%= _('Connection_test_passed') %>: <%= @provider.name %>
        <%= "<br>" + _('Server') + ": " + @server.to_s + " (" + @provider.server_ip + ")" if @server.to_s != "" %>
      </div>
    </center>
<% else -%>
    <center>
      <div id="error">
        <%= _('Connection_test_failed') %>
        <br>
        <% if !@message.blank? -%>
            <%= _("Message") %>: <%= @message %>
            <br>
        <% end -%>
        <% if defined?(@provider) and @provider.class == Provider -%>
            <%= _("Provider") %>: <%= @provider.name %>
            <br>
            <%= _('IP') %>: <%= @provider.server_ip %>
            <br>
            <%= _('Port') %>: <%= @provider.port %>
            <br>
        <% end -%>
        <%= _('Provider_test_failed_note') %>
      </div>
    </center>
<% end -%>
