<% if callback_active? %>
  <%= form_tag :action => 'update', :id => @dp do %>

    <b style="font-size:14px;"><%=_('Callback_dialplan')%></b>
    <br />
    <br />
    <p class="callback_p"><b><%= _('Name') %>:</b> <%= text_field_tag 'dialplan[name]', @dp.name, "class" => "input", :size => "30", :maxlength => "50"  %></p>

    <div class="callback_div">
      <p class="callback_div_name"><%=_('Callback_Initiation_call')%></p>
      <p class="callback_div_number">1.</p>
      <p><b><%=b_call%> <%=_('Client_calls_to_such_number(s)/DID(s)_to_initiate_Callback')%>:</b></p>
      <div id="new_ajax_did" style="font-size:11px;">
        <% dids = @dp.dids %>
        <div class="<%=dids.size.to_i > 0 ? 'callback_did_1' : 'callback_did_0' %>">
          <%if dids.size.to_i > 0%>
            <% for did in dids  %>
              <%= link_to did.did, :action => "edit", :id => did.id %><br />
            <% end %>
          <%else%>
            <%= link_to b_warning + _('Assign_DID'), {:controller=>:dids, :action =>:list}, :id=>"dp_not_assign_#{@dp.id}"%>
          <%end%>
        </div>
        <span style="margin-top: -20px;">
          <b ><%=link_to_function(b_add + _('Add_new_DID'), "Element.toggle('add_new_did')")%></b>
          <span id="add_new_did" style='display:none;'>
            <% if @free_dids and @free_dids.size.to_i > 0 %>
              <b><%= _('DID') %>:</b>
              <select name="did_id" id="did_id">
                <% for d in @free_dids %>
                  <option value=<%= d.id %>> <%= d.did %> </option>
                <% end %>
              </select>
              <%= image_tag 'icons/check.png', :title => _('Assign') , :id=>"assign_to_dp_callback", :onclick =>"new Ajax.Updater('new_ajax_did', '#{Web_Dir}/dialplans/did_assign_to_dp?id=#{@dp.id}&did_id=' + document.getElementById('did_id').value, {asynchronous:true, evalScripts:true, onComplete:function(request){Element.hide('spinner');}, onLoading:function(request){Element.show('spinner');}});Delete_did_options();"%>
            <%else%>
              <%=_('No_Dids_aviable_to_add')%>
            <% end %>
          </span>
        </span>
      </div>
      <p><b><%=_('System_reads_Clients_CallerID_and_drops_(ends)_this_call')%></b></p>
      <p><b><%=b_delete%> <%=_('Call ends with such Hangup Cause Code')%>:</b> <%= render :partial => '/layouts/hgc_end_select', :locals=>{:select_field_tag=>"dialplan[data6]", :filed_value=>@dp.data6.to_i} %></p>
    </div>
    <p class="callback_arrow"></p>
    <p class="callback_p"><b><%= _('After') %>:</b> <%= text_field_tag 'dialplan[data2]', @dp.data2, "class" => "input", :size => "10", :maxlength => "10"  %>  <%=_('seconds')%></p>

    <div class="callback_div">
      <p class="callback_div_name"><%=_('Callback_to_the_Client')%></p>
      <p class="callback_div_number">2.</p>
      <p><b><%=b_call%> <%=_('System_calls_back_to_the_Client')%></b><br />
        <span class="callback_text">(<%=_('Using_Clients_CallerID_from_Initiation_Call_as_Destination')%>)</span>
      </p>
      <div>
        <b><%=b_device%> <%=_('If_CB_call_owner_is_not_clear')%>:</b><br />
        <span class="callback_text">(<%=_('Initial_callback_device')%>)</span><br>
        <select name="dialplan[data3]" >
          <% for device in @cbdevices %>
            <option value=<%= device.id %> <%= "selected" if @dp.data3.to_i == device.id %>> <%= device.description%> <%= nice_device(device) %> </option>
          <% end %>
        </select>
      </div>
      <p>
        <b><%=b_cli%> <%=_('System_uses_such_CallerID_on_the_call_to_the_Client')%>:</b><br />
        <%= text_field_tag 'dialplan[data5]', @dp.data5, "class" => "input", :size => "20", :maxlength => "50"  %>&nbsp;&nbsp;<br>
        <span class="callback_text">(<%=_('If_field_is_left_empty_Callback_Device_CallerID_will_be_used')%>)</span>
      </p>
      <p>
        <b><%=_('Ask_Calling_Card_PIN_in_Call_LegA')%>&nbsp;<span <%= tooltip(_('Ask_card_data_after_callback'), _('Ask_card_data_after_callback_explanation')) %>><%= b_info %></span></b><br />
        <span class="callback_text">(<%=_('By_default_it_is_asked_in_Callback_initiation_call')%>)</span><br>
        <span class="callback_text">
          <%= radio_button_tag('dialplan[data4]', '0', (@dp.data4 != "1")) %> <%= _('No') %>
          <%= radio_button_tag('dialplan[data4]', '1', (@dp.data4 == "1")) %> <%= _('Yes') %>
        </span>
      </p>
    </div>
    <p class="callback_arrow"></p>
    <p class="callback_p"><b><%=b_user%> <%=_('Client_receives_the_Call_and_answers')%></b></p>

    <div class="callback_div">
      <p class="callback_div_name"><%=_('Callback_Action')%></p>
      <p class="callback_div_number">3.</p>
      <p><%=b_call%> <%=_('Call_is_sent_to_number/DID')%>:<br />
        <select name="dialplan[data1]" >
          <% for did in @cbdids %>
            <option value=<%= did.id %> <%= "selected" if @dp.data1.to_i == did.id %>> <%= did.did%> - <%= did.dialplan.name %> </option>
          <% end %>
        </select>
      </p>
    </div>

	<br>
    <p class="callback_p"><b><%=  submit_tag _('Confirm'), :disable_with=>_('Processing..')%></b</p>
  <% end  %>
<%end%>