<%= link_to b_add + _('New_dial_plan'), :action => 'new' %>

<% if calling_cards_active? %>
    <br/><br/><br/>
    <b><%= _('Calling_cards') %></b>
    <br/><br/>

    <table class="maintable" width="100%">
      <tr>
        <th align="left" id='cc_dp_name_column'><%= _('Name') %></th>
        <th align="right" id='cc_dp_number_length_column'><%= _('Number_length') %></th>
        <th align="right" id='cc_dp_pin_length_column'><%= _('Pin_length') %></th>
        <th align="center" id='cc_dp_ask_only_pin_column'><%= _('Ask_only_pin') %></th>
        <th align="center" id='cc_dp_pinless_column'><%= _('Pinless') %></th>
        <th align="center" id='cc_dp_tell_time_column'><%= _('Tell_time') %></th>
        <th align="center" id='cc_dp_tell_balance_column'><%= _('Tell_balance') %></th>
        <th align="center" id='cc_dp_tell_balance_after_call_column'><%= _('Tell_balance_after_call') %></th>
        <th align="right" id='cc_dp_ask_number_pin_times_column'><%= _('Ask_number_pin_times') %></th>
        <th align="right" id='cc_dp_ask_dst_times_column'><%= _('Ask_dst_times') %></th>
        <th align="left" id='cc_dp_assignes_did_column'><%= _('Assigned_did') %></th>
        <th align="left" id='cc_dp_end_ivr_column'><%= _('End_IVR') %></th>
        <th align="right" id='cc_dp_card_balance_lower_than_column'><%= _('If_Card_balance_lower_than') %></th>
        <th align="center" id='cc_dp_balance_ivr_column'><%= _('Balance_IVR') %></th>
        <th></th>
        <th></th>
      </tr>
      <% if @ccdps %>
          <% @ccdps.each_with_index { |dp, index| %>
              <tr class="row<%= index%2 %>">
                <td align="left" id="cc_dp_name_<%= dp.id %>"> <%= h dp.name %></td>
                <td align="right" id="cc_dp_data1_<%= dp.id %>"> <%= h dp.data1 %> </td>
                <td align="right" id="cc_dp_data2_<%= dp.id %>"> <%= h dp.data2 %></td>
                <td align="center" id="cc_dp_data7_<%= dp.id %>"> <%= b_check if dp.data7 == "1" %><%= b_cross if dp.data7 == "0" %></td>
                <td align="center" id="cc_dp_data8_<%= dp.id %>"> <%= b_check if dp.data8.to_i == 1 %><%= b_cross if dp.data8.to_i == 0 %></td>
                <td align="center" id="cc_dp_data3_<%= dp.id %>"> <%= b_check if dp.tell_time || dp.tell_sec %><%= b_cross if !dp.tell_time && !dp.tell_sec %></td>
                <td align="center" id="cc_dp_data4_<%= dp.id %>"> <%= b_check if dp.data4 == "1" %><%= b_cross if dp.data4 == "0" %></td>
                <td align="center" id="cc_dp_data10_<%= dp.id %>"> <%= dp.data10 == "1" ? b_check : b_cross %></td>
                <td align="right" id="cc_dp_data5_<%= dp.id %>"> <%= h dp.data5 %></td>
                <td align="right" id="cc_dp_data6_<%= dp.id %>"> <%= h dp.data6 %></td>
                <%= render :partial => "/dids/dialplan_dids_list", :locals => {:plan => dp, :id => "cc_dp_dids_#{dp.id}"} %>
                <td align="left" id="cc_dp_data9_<%= dp.id %>" <%= raw(nice_end_ivr_tooltip).html_safe %> >  <%= h @cc_end_ivr[dp.data9.to_i-1] %></td>
                <td align="right" id="cc_dp_data11_<%= dp.id %>"> <%= h dp.data11 %> </td>
                <td align="center" id="cc_dp_data12_<%= dp.id %>"> <%= dp.balance_ivr %> </td>

                <td align="center"><%= link_to b_edit, {:action => 'edit', :id => dp.id}, :id => "cc_dp_edit_"+dp.id.to_s %></td>
                <td align="center"><%= link_to(b_delete, {:action => 'destroy', :id => dp.id}, :id => "cc_dp_delete_"+dp.id.to_s, :confirm => _('Are_you_sure'), :method => :post) %></td>
              </tr>
          <% } %>
          </table>
      <% end %>
<% end %>

<br/><br/><br/>
<b><%= _('Authorization_by_PIN') %></b>
<br/><br/>

<table class="maintable" width="100%">
  <tr>

    <th align="left" id='ap_db_name_column'><%= _('Name') %></th>
    <th align="center" id='ap_dp_use_ani_clolumn'><%= _('Use_ANI') %>?</th>
    <th align="right" id='ap_dp_ask_pin_times_column'><%= _('Ask_pin_times') %></th>
    <th align="right" id='ap_dp_ask_dst_times_column'><%= _('Ask_dst_times') %></th>
    <th align="right" id='ap_dp_tell_balance_after_enering_dst_column'><%= _('Tell_balance_after_entering_destination') %></th>
    <th align="center" id='ap_dp_save_original_clid_collumn'<%= raw(tooltip(_('Save_original_CallerID'), _('Save_original_CallerID_explanation'))).html_safe %>><%= _('Save_original_CallerID') %></th>
    <th align="left" id='ap_dp_assigned_did_column'><%= _('Assigned_did') %></th>
    <% if calling_cards_active? %>
        <th align="center" id='ap_dp_use_cc_column'><%= _('Use_calling_card') %></th>
    <% end %>
    <th align="left" id='ap_dp_default_device_column'<%= raw(tooltip(_('dialplan_def_device'), _('dialplan_def_device_explanation'))).html_safe %>><%= _('Default_device') %></th>
    <th align="left"><%= _('End_IVR') %></th> 
    <th></th>
    <th></th>

  </tr>
  <% if @abpdps %>
      <% @abpdps.each_with_index { |dp, index| %>
          <tr class="row<%= index%2 %>">
            <td align="left" id="ap_dp_name_<%= dp.id %>"> <%= h dp.name %></td>
            <td align="center" id="ap_dp_data3_<%= dp.id %>"> <%= b_check if dp.data3 == "1" %><%= b_cross if dp.data3 == "0" %></td>
            <td align="right" id="ap_dp_data1_<%= dp.id %>"> <%= h dp.data1 %> </td>
            <td align="right" id="ap_dp_data2_<%= dp.id %>"> <%= h dp.data2 %></td>
            <td align="right" id="ap_dp_data6_<%= dp.id %>"> <%= dp.data6 == "1" ? b_check : b_cross %></td>
            <td align="center" id="ap_dp_data4_<%= dp.id %>" <%= raw(tooltip(_('Save_original_CallerID'), _('Save_original_CallerID_explanation'))).html_safe %>> <%= b_check if dp.data4 == "1" %><%= b_cross if dp.data4 == "0" %></td>
            <%= render :partial => "/dids/dialplan_dids_list", :locals => {:plan => dp, :id => "ap_dp_dids_#{dp.id}"} %>
            <% if calling_cards_active? %>
                <td align="center" id="ap_dp_data7_<%= dp.id %>"> <%= dp.data7 == "0" ? b_cross : b_check %></td>
            <% end %>
            <td align="left" id="ap_dp_data5_<%= dp.id %>"<%= raw tooltip(_('dialplan_def_device'), _('dialplan_def_device_explanation')).html_safe %> >
              <% if dp.data5.blank? %>
                  <%= _('Not_used') %>
              <% else %>
                  <% device = Device.where(:id => dp.data5.to_i).first %>
                  <%= h device.device_type + "/" + device.name %>
              <% end %>
            </td>
 	    <td align="left" id="cc_dp_data8_<%=dp.id%>" <%= nice_end_ivr_tooltip%> >  <%=h @ani_end_ivr[dp.data8.to_i-1] %></td>
            <td align="center" id="ap_dp_edit_<%= dp.id %>"><%= link_to b_edit, {:action => 'edit', :id => dp.id}, :id => "diaplan_edit_#{dp.id}" %></td>
            <td align="center" id="ap_dp_delete_<%= dp.id %>"><%= link_to(b_delete, {:action => 'destroy', :id => dp.id}, :id => "diaplan_delete_#{dp.id}", :confirm => _('Are_you_sure'), :method => :post) %></td>
          </tr>
      <% } %>
  <% end %>
</table>

<br/>
<br/>
<br/>
<% if callback_active? %>
    <b><%= _('Callback') %></b>
    <br/>
    <br/>

    <table class="maintable" width="100%">
      <tr>

        <th align="left" id='c_dp_name_column'><%= _('Name') %></th>
        <th align="left" id='c_dp_did_on_callback_column'><%= _('DID_on_Callback') %></th>
        <th align="left" id='c_dp_hgc_column' <%= raw(tooltip(_('Hangup_cause_codes'), _('How_to_terminate_Callback_initiation_Call_(ISDN/SIP)'))).html_safe %>><%= _('Hangup_cause_codes') %></th>
        <th align="left" id='c_dp_did_dp_name_column'><%= _('DID_DP_Name') %></th>
        <th align="right" id='c_dp_wait_column' <%= raw(tooltip(_('Wait_Time') + " (s)", _('How_many_seconds_to_wait_after_initiation_call_to_callback'))).html_safe %> ><%= _('Wait') %>
          (s)
        </th>
        <th align="left" id='c_dp_initial_callback_device_column'><%= _('Initial_callback_device') %></th>
        <th align="left" id='c_dp_assigned_did_column'><%= _('Assigned_did') %></th>
        <th align="center" id='c_dp_ask_for_card_column' <%= tooltip(_('Ask_card_data_after_callback'), _('Ask_card_data_after_callback_explanation')) %>><%= _('Ask_for_Card') %>
          ?
        </th>
        <th align="left" id='c_dp_clid_column'><%= _('CallerID') %></th>
        <th></th>
        <th></th>

      </tr>
      <% if @cbdps %>
          <% @cbdps.each_with_index { |dp, index| %>
              <tr class="row<%= index%2 %>">
                <% cbdid = Did.find(:first, :conditions => ['id=?', dp.data1]) %>
                <% cbdevice = Device.find(:first, :conditions => ['id=?', dp.data3]) %>
                <td align="left" id="c_dp_name_<%= dp.id %>"> <%= h dp.name %></td>
                <td align="left" id="c_dp_did_<%= dp.id %>"> <%= h cbdid.did if cbdid %> </td>
                <td align="left" id="c_dp_hgc_<%= dp.id %>"> <%= h Hangupcausecode.end_array(dp.data6) %> </td>
                <td align="left" id="c_dp_dname_<%= dp.id %>"> <%= h cbdid.dialplan.name.to_s if cbdid and cbdid.dialplan %></td>
                <td align="right" id="c_dp_data2_<%= dp.id %>"> <%= h dp.data2 %></td>
                <td align="left" id="c_dp_description_<%= dp.id %>"> <%= raw(cbdevice.description.to_s + " " + nice_device(cbdevice).to_s).html_safe if cbdevice %></td>
                <%= render :partial => "/dids/dialplan_dids_list", :locals => {:plan => dp, :id => "c_dp_dids_#{dp.id}"} %>
                <td align="center" id="c_dp_data4_<%= dp.id %>" <%= raw tooltip(_('Ask_card_data_after_callback'), _('Ask_card_data_after_callback_explanation')).html_safe %> >
                  <%= b_check({:id => "dp_callback_afcac_" + dp.id.to_s}) if dp.data4.to_i == 1 %><%= b_cross({:id => "dp_callback_afcac_" + dp.id.to_s}) if dp.data4.to_i == 0 %>
                </td>
                <td align="right" id="c_dp_data5_<%= dp.id %>"> <%= h dp.data5.to_s %></td>
                <td align="center" id="c_dp_edit_<%= dp.id %>"><%= link_to b_edit, {:action => 'edit', :id => dp.id}, :id => "diaplan_edit_#{dp.id}" %></td>
                <td align="center" id="c_dp_delete_<%= dp.id %>"><%= link_to(b_delete, {:action => 'destroy', :id => dp.id}, :id => "diaplan_delete_#{dp.id}", :confirm => _('Are_you_sure'), :method => :post) %></td>
              </tr>
          <% } %>
      <% end %>
    </table>
<% end %>

<br/>
<br/>
<br/>
<b><%= _('IVR') %></b>
<br/>
<br/>
<table class='maintable' width="100%">
  <tr>
    <th align="left" id='i_dp_name_column'><%= _("Name") %></th>
    <th align="left" id='i_dp_time_interval_column'><%= _("Time_Interval") %>: 1</th>
    <th align="left" id='i_dp_ivr1_column'><%= _("Ivr") %>: 1</th>
    <th align="left" id='i_dp_time_interval_column'><%= _("Time_Interval") %>: 2</th>
    <th align="left" id='i_dp_ivr2_column'><%= _("Ivr") %>: 2</th>
    <th align="left" id='i_dp_time_interval_column'><%= _("Time_Interval") %>: 3</th>
    <th align="left" id='i_dp_ivr3_column'><%= _("Ivr") %>: 3</th>
    <th align="left" id='i_dp_default_column'><%= _("Ivr") %>: <%= _("Default") %></th>
    <th align="left" id='i_dp_assignes_did_column'><%= _('Assigned_did') %></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% if @ivr_dialplans %>
      <% @ivr_dialplans.each_with_index { |plan, index| %>
          <tr class="row<%= index%2 %>">
            <td align="left" id="i_dp_name_<%= plan.id %>"><%= h plan.name %></td>
            <td align="left" id="i_dp_data1_<%= plan.id %>"><%= IvrTimeperiod.find(:first, :conditions => ['id=?', plan.data1.to_i]).name if plan.data1.to_i != 0 %></td>
            <td align="left" id="i_dp_data2_<%= plan.id %>"><%= Ivr.find(:first, :conditions => ['id=?', plan.data2.to_i]).name if plan.data2.to_i != 0 %></td>
            <td align="left" id="i_dp_data3_<%= plan.id %>"><%= IvrTimeperiod.find(:first, :conditions => ['id=?', plan.data3.to_i]).name if plan.data3.to_i != 0 %></td>
            <td align="left" id="i_dp_data4_<%= plan.id %>"><%= Ivr.find(:first, :conditions => ['id=?', plan.data4.to_i]).name if plan.data4.to_i != 0 %></td>
            <td align="left" id="i_dp_data5_<%= plan.id %>"><%= IvrTimeperiod.find(:first, :conditions => ['id=?', plan.data5.to_i]).name if plan.data5.to_i != 0 %></td>
            <td align="left" id="i_dp_data6_<%= plan.id %>"><%= Ivr.find(:first, :conditions => ['id=?', plan.data6.to_i]).name if plan.data6.to_i != 0 %></td>
            <td align="left" id="i_dp_data7_<%= plan.id %>"><%= Ivr.find(:first, :conditions => ['id=?', plan.data7.to_i]).name if plan.data7.to_i != 0 %></td>
            <%= render :partial => "/dids/dialplan_dids_list", :locals => {:plan => plan, :id => "i_dp_dids_#{plan.id}"} %>
            <td align="center" id="i_dp_extlines_<%= plan.id %>"><%= link_to b_extlines, :action => 'list_extlines', :id => plan.id %></td>
            <td align="center" id="i_dp_refresh_<%= plan.id %>"><%= link_to b_refresh, :controller => 'dids', :action => 'regenerate_dialplan', :id => plan.id %></td>
            <td align="center" id="i_dp_edit_<%= plan.id %>"><%= link_to b_edit, :action => 'edit', :id => plan.id %></td>
            <td align="center" id="i_dp_delete_<%= plan.id %>"><%= link_to b_delete, {:action => 'destroy', :id => plan.id}, :confirm => _('are_you_sure'), :method => "post" %></td>
          </tr>
      <% } %>
  <% end %>
</table>

<br/>
<br/>
<br/>
<b><%= _('Quickforward') %></b>
<br/>
<br/>
<table class='maintable' width="100%">
<tr>
<th align="left" id="quickforward_dp_name"><%= _("Name") %></th>
<th align="left" id="quickforward_dp_user"><%= _("User") %></th>
<th align="left" id="quickforward_dp_device"><%= _("Device") %></th>
<th align="left" id="quickforward_dp_diversion"><%= _("Use_diversion_instead_of_callerid") %></th>
<th></th>
<th></th>
</tr>
<% if @quickforward_dialplans %>
  <% @quickforward_dialplans.each_with_index { |plan, index| %>
      <tr class="row<%= index%2 %>">
	<td align="left" id="quickforward_dp_<%= plan.id %>"><%= plan.name %></td>
	<td align="left" id="quickforward_dp_user_<%= plan.id %>"><%= plan.user_name %></td>
	<td align="left" id="quickforward_dp_device_id_<%= plan.id %>"><%= plan.device_type %><%= "/" if not plan.device_name.to_s.blank? %><%= plan.device_name %></td>
	<td align="left" id="quickforward_dp_data10_<%= plan.id %>"><%= plan.data10 == "0" ? b_cross : b_check %></td>
	<td align="center" id="ckforward_dp_edit_<%= plan.id %>"><%= link_to b_edit, :action => 'edit', :id => plan.id %></td>
	<td align="center" id="quickforward_dp_delete_<%= plan.id %>"><%= link_to b_delete, {:action => 'destroy', :id => plan.id}, :confirm => _('are_you_sure'), :method => "post" %></td>
      </tr>
  <% } %>
<% end %>
</table>

