<%= button_to _('Do_not_import_duplicates') + ": #{_('CDR_exist_in_db_match_call_date_dst_src')}", :action => :import_csv, :step => 6, :hide_error => 1 %>
<br/>
<br/>
<%= b_info + _('Dont_fixed_CDRs_will_not_be_imported') + ' '+ _('press_to_fix') + ": " + b_add %>
<br/>
<br/>
<%= page_select_header(@options[:page], @total_pages, {:step => 6}, @options) %>

<table width="100%" class="maintable">
  <tr>
    <th align="center"><%= _('Cli') %></th>
    <th align="center"><%= _('Calldate') %></th>
    <th align="center"><%= _('Destination') %></th>
    <th align="center"><%= _('Billsec') %></th>
    <th align="center"><%= _('Error_code') %></th>
    <th align="center"></th>
  </tr>
  <% @import_cdrs.each_with_index { |cli, i| %>
      <tr class="row<%= (i % 2 + 1).to_s %>" id="bad_crd_<%= cli['id'] %>">
        <% if cli['do_not_import'].to_i == 0 %>
            <td id="cli_<%= cli['id'] %>" align="center"><%= text_field_tag "cdr_cli_#{cli['id']}", cli["col_#{session[:cdr_import_csv2][:imp_clid]}"], "class" => "input" %></td>
            <td id="date_<%= cli['id'] %>" align="center"><%= text_field_tag "calldate_#{cli['id']}", cli["col_#{session[:cdr_import_csv2][:imp_calldate]}"], "class" => "input" %></td>
            <td id="dst_<%= cli['id'] %>" align="center"><%= text_field_tag "cdr_dst_#{cli['id']}", cli["col_#{session[:cdr_import_csv2][:imp_dst]}"], "class" => "input" %></td>
            <td id="billsec_<%= cli['id'] %>" align="center"><%= text_field_tag "cdr_billsec_#{cli['id']}", cli["col_#{session[:cdr_import_csv2][:imp_billsec]}"], "class" => "input" %></td>
            <td id="error_<%= cli['id'] %>" align="center"><%= nice_cdr_import_error(cli["nice_error"]) %></td>
            <td id="action_<%= cli['id'] %>" align="center">
              <span onclick="new Ajax.Updater('bad_crd_<%=cli['id']%>', '<%=Web_Dir%>/cdr/fix_bad_cdr/<%=cli['id']%>?cli=' + escape($('cdr_cli_<%=cli['id']%>').value) +'&dst=' + escape($('cdr_dst_<%=cli['id']%>').value) +'&calldate=' + escape($('calldate_<%=cli['id']%>').value) +'&billsec=' + escape($('cdr_billsec_<%=cli['id']%>').value), {method: 'post', asynchronous: true, onComplete:function(request){Element.hide('spinner');}, onLoading:function(request){Element.show('spinner');}});"> <%= b_add %> </span>
              <span onclick="new Ajax.Updater('bad_crd_<%=cli['id']%>', '<%=Web_Dir%>/cdr/not_import_bad_cdr/<%=cli['id']%>', {method: 'post', asynchronous: true, onComplete:function(request){Element.hide('spinner');}, onLoading:function(request){Element.show('spinner');}});"> <%= b_delete %> </span>
            </td>
        <% else %>
            <td id="cli_<%= cli['id'] %>" align="center"><%= cli["col_#{session[:cdr_import_csv2][:imp_clid]}"] %></td>
            <td id="date_<%= cli['id'] %>" align="center"><%= cli["col_#{session[:cdr_import_csv2][:imp_calldate]}"] %></td>
            <td id="dst_<%= cli['id'] %>" align="center"><%= cli["col_#{session[:cdr_import_csv2][:imp_dst]}"] %></td>
            <td id="billsec_<%= cli['id'] %>" align="center"><%= cli["col_#{session[:cdr_import_csv2][:imp_billsec]}"] %></td>
            <td id="error_<%= cli['id'] %>" align="center"><%= nice_cdr_import_error(cli["nice_error"]) %></td>
            <td id="action_<%= cli['id'] %>" align="center">
              <%= _('This_cdr_wil_not_imported') %></td>
        <% end %>
      </tr>
  <% } %>

</table>