<% if @error %>
    <td colspan="7" align="center"><%= @error %></td>
<% else %>
    <td id="cli_<%= @cdr[0]['id'] %>" align="center"><%= @cdr[0]["col_#{session[:cdr_import_csv2][:imp_clid]}"] %></td>
    <td id="date_<%= @cdr[0]['id'] %>" align="center"><%= @cdr[0]["col_#{session[:cdr_import_csv2][:imp_calldate]}"] %></td>
    <td id="dst_<%= @cdr[0]['id'] %>" align="center"><%= @cdr[0]["col_#{session[:cdr_import_csv2][:imp_dst]}"] %></td>
    <td id="billsec_<%= @cdr[0]['id'] %>" align="center"><%= @cdr[0]["col_#{session[:cdr_import_csv2][:imp_billsec]}"] %></td>
    <td id="error_<%= @cdr[0]['id'] %>" align="center"><%= nice_cdr_import_error(@cdr[0]["nice_error"]) %></td>
    <td id="error_<%= @cdr[0]['id'] %>" align="center"><%= _('This_cdr_wil_not_imported') %></td>
<% end %>
