<table width="50%" class="simple">
  <tr>
    <td><%= _('Name') %>:</td>
    <td><%= text_field 'service', 'name', "class" => "input" %></td>
  </tr>
  <tr>
    <td><%= _('Type') %>:</td>
    <td>
      <%= radio_button :service, :servicetype, :periodic_fee, {:onChange => "show_params(this.value);"} %> <%= _('periodic_fee') %>
      <br>
      <%= radio_button :service, :servicetype, :one_time_fee, {:onChange => "show_params(this.value);"} %> <%= _('one_time_fee') %>
      <br>
      <%= radio_button :service, :servicetype, :flat_rate, {:onChange => "show_params(this.value);"} %> <%= _('flat_rate') %>
      <br>
    </td>
  </tr>
  <tr id="period_options">
    <td> <%= _('Period') %>:</td>
    <td>
      <select name="service[periodtype]">
        <option value="month" <%= "selected" if @service.periodtype == "month" %>> <%= _('month') %> </option>
      </select>
    </td>
  </tr>
  <tr id="price_options">
    <td> <%= _('Price') %> (<%= current_user.currency.name %>):</td>
    <td> <%= text_field_tag 'service[price]', @service.price, "class" => "input", :onkeyup => "this.value=this.value.replace(/[^0-9.-]/,'');" %></td>
  </tr>
  <tr id="price_options2">
    <td> <%= _('Self_Price') %> (<%= current_user.currency.name %>):</td>
    <td> <%= text_field_tag 'service[selfcost_price]', @service.selfcost_price, "class" => "input", :onkeyup => "this.value=this.value.replace(/[^0-9.-]/,'');" %></td>
  </tr>
  <tr id="quantity_options">
    <td> <%= _('Minutes') %>:</td>
    <td> <%= text_field 'service', 'quantity', "class" => "input" %></td>
  </tr>


</table>
<div id="foo">
</div>

<script type="text/javascript">

    function show_params(val) {
        if (val == "periodic_fee") {
        <%=
          update_page do |page|
            page.show("period_options")
            page.show("price_options")
            page.show("price_options2")
            page.hide("quantity_options")
          end
        %>
        } else if (val == "one_time_fee") {
        <%=
          update_page do |page|
            page.hide("period_options")
            page.show("price_options")
            page.show("price_options2")
            page.hide("quantity_options")
          end
        %>
        } else if (val == "flat_rate") {
        <%=
          update_page do |page|
            page.hide("period_options")
            page.show("price_options")
            page.show("price_options2")
            page.show("quantity_options")
          end
        %>
        } else {<%=
  update_page do |page|
    page.hide("period_options")
    page.hide("price_options")
    page.hide("price_options2")
    page.hide("quantity_options")
  end
%>
        }
    }
    show_params("<%= @service.servicetype %>");
</script>
