<%= javascript_include_tag "wz_tooltip" %>
<table>
  <tr>
    <td><b><%= _('Name') %></b>: <%= @service.name %></td>
  </tr>
</table>
<br/>
<br/>

<% @diff_directions.each { |dir| %>
    <% direction = Direction.find(:first, :conditions => ["code = ?", dir]) %>
    <table width="100%" class="maintable">
      <tr>
        <th colspan="4"><%= draw_flag(direction.code) %> <%= direction.name %></th>
        <th><%= _('Active_Destinations') %>:</th>
        <th id="show_destinations_<%= dir %>" align="center"><%= link_to b_view, {:action => 'destination_prefixes', :id => @service.id, :direction => dir}, :onclick => "window.open(this.href,'new_window','scrollbars=1,status=0,menubar=0,resizable=1,width=500,height=600');return false;", :id => "show_destinations_link_" +dir %></th>
      </tr>
      <tr>
        <th><%= _('Name') %></th>
        <th align="right"><%= _('Prefix') %></th>
        <th align="center"><%= _('Subcode') %></th>
        <th><%= _('Destination') %></th>
        <th><%= _('Included') %>?</th>
        <th></th>
      </tr>
      <% @flatrate_destinations.each_with_index { |flatrate_destination, i| %>
          <% destination = flatrate_destination.destination %>
          <% if destination.direction_code == dir %>
              <tr class="row<%= (i % 2 + 1).to_s %>">
                <td id="dir_name_<%= i %>"><%= draw_flag(direction.code) %> <%= direction.name %></td>
                <td id="dest_prefix_<%= i %>" align="right"><%= destination.prefix %></td>
                <td id="dest_subcode_<%= i %>" align="center"><%= destination.subcode %></td>
                <td id="dest_name_<%= i %>" align="left"><%= destination.name %></td>
                <td id="flat_dest_active_<%= i %>" align="left"><%= flatrate_destination.active == 1 ? _('Included') : _('Excluded') %></td>
                <td id="dest_delete_<%= i %>" align="center"><%= link_to b_delete, {:action => 'destination_destroy', :id => @service.id, :destination_id => flatrate_destination}, :confirm => _('Are_you_sure'), :method => :post %></td>
              </tr>
          <% end %>
      <% } %>
    </table>
    <br/>
    <br/>
<% } %>

<%= link_to_function(b_add + _('Add_new_destinations'), "Element.toggle('new_destination')") %>

<div id="new_destination" <%= "style='display:none;'" if @flatrate_destinations.size != 0 %>>
  <br/>

  <table>
    <%= form_tag(:action => 'destination_add', :id => @service, :submit_icon => "prefix_find") do %>
        <tr>
          <td><%= _('Prefix') %> :
            <%= text_field_tag :search_1, "", :class => "input" %>
            <%= observe_field("search_1",
                              :with => "direction",
                              :update => :results,
                              :frequency => 0.5,
                              :url => {:action => "destination_prefix_find", :find_by => "prefix", :id => @service},
                              :loading => "Element.show('spinner');",
                              :complete => "Element.hide('spinner');") %>
          </td>
          <td>
            <div id="results"></div>
          </td>
          <td>
            <%= select_tag("enabled_1", options_for_select([[_("Include"), 1], [_("Exclude"), 0]])) %>
          </td>
          <td>
            <%= image_submit_tag 'icons/check.png', :title => _('Add'), :id => "prefix_find_submit" %>
          </td>
        </tr>
    <% end %>
    <%= form_tag(:action => 'destination_add', :id => @service, :submit_icon => "country_find") do %>
        <tr>
          <td> <%= _('Country') %> :
            <%= select_tag("direction", options_for_select(@directions.map { |dir| [dir.name, dir.code] })) %>
            <%= observe_field("direction",
                              :with => "direction",
                              :update => :pre,
                              :url => {:action => "destination_prefix_find", :find_by => "direction", :id => @service},
                              :loading => "Element.show('spinner');",
                              :complete => "Element.hide('spinner');") %>
          </td>
          <td>
            <%= _('Prefix') %> :
            <%= select_tag("pre", options_for_select(@destinations.map { |d| ["#{d.prefix.to_s} - #{d.subcode} #{d.name}", d.prefix] })) %>
          </td>
          <td>
            <%= select_tag("enabled", options_for_select([[_("Include"), 1], [_("Exclude"), 0]])) %>
          </td>
          <td>
            <%= image_submit_tag 'icons/check.png', :title => _('Add'), :id => "country_find_submit" %>
          </td>
        </tr>
    <% end %>
  </table>
</div>
