<% if @subs and @subs.size.to_i > 0 %>
    <table width="100%" class="maintable">
      <tr>
        <th id="h_service" align="left"><%= _('Service') %></th>
        <th id="h_added" align="center"><%= _('Added') %></th>
        <th id="h_start" align="center"><%= _('Activation_start') %></th>
        <th id="h_end" align="center"><%= _('Activation_end') %></th>
        <th id="h_left" align="center"><%= _('Time_left') %></th>
        <th if="h_price" align="right"><%= _('Price') %></th>
      </tr>
      <% @subs.each_with_index { |sub, i| %>
          <tr class="row<%= (i % 2 + 1).to_s %>">
            <td id="name_<%= sub.id %>" align="left"><%= sub.service.name %></td>
            <td id="added_<%= sub.id %>" align="center"> <%= nice_date_time sub.added %> </td>
            <td id="activation_start_<%= sub.id %>" align="center"> <%= nice_date_time sub.activation_start %> </td>
            <td id="activation_end_<%= sub.id %>" align="center"> <%= nice_date_time sub.activation_end %> </td>
            <td id="time_left_<%= sub.id %>" align="center"> <%= nice_time(sub.time_left) if sub.service.servicetype == "flat_rate" %></td>
            <td id="price_<%= sub.id %>" align="right"> <%= nice_number sub.service.price %> <%= current_user.currency.name %></td>
          </tr>
      <% } %>
    </table>
<% else %>
    <%= _('No_subscriptions_found') %>
<% end %>


