<%= form_tag(:action => :update, :id => @data) do %>

    <table width="100%" class="maintable">
      <tr>
        <th align="center"><%= _('Reseller') %></th>
        <th align="center"><%= _('Provider') %></th>
        <th align="center"><%= _('Tariff') %></th>
        <th></th>
      </tr>
      <tr>
        <td align="center">
          <select name="select_reseller">
            <% for reseller in @resellers %>
                <option value="<%= reseller.id %>"<%= "selected" if reseller.id == @data.reseller_id %>>
                  <%= nice_user(reseller) %>
                </option>
            <% end %>
          </select>
        </td>
        <td align="center">
          <select name="select_provider">
            <% for provider in @common_use_providers %>
                <option value="<%= provider.id %>"<%= "selected" if provider.id == @data.provider_id %>>
                  <%= h(provider.name + " " + provider.tech.to_s+"/"+provider.server_ip+":"+provider.port.to_s) %>
                </option>
            <% end %>
          </select>
        </td>
        <td align="center">
          <select name="select_tariff">
            <% for tariff in @tariffs %>
                <option value="<%= tariff.id %>" <%= "selected" if tariff.id == @data.tariff_id %>>
                  <%= _('Retail') + " - " if tariff.purpose == "user" %><%= _('Wholesale') + " - " if tariff.purpose == "user_wholesale" %><%= tariff.name %>
                </option>
            <% end %>
          </select>
        </td>
        <td align="center">
          <%= submit_tag _('Update'), :disable_with => _('Processing..') %>
        </td>
      </tr>

    </table>
    <br/>

<% end %>