<br/>
<br/>
<table class="simple" width="100%">
  <tr>
    <td></td>
    <td><b><%= _('Default_SIP_device_port') %>:</b></td>
    <td><%= text_field_tag('default_sip_device_port', Confline.get_value("Default_SIP_device_port", current_user.corrected_owner_id).to_i, "class" => "input", :size => "35", :maxlength => "50") %></td>
  </tr>
  <tr>
    <td></td>
    <td><b><%= _('Default_IAX2_device_port') %>:</b></td>
    <td><%= text_field_tag('default_iax2_device_port', Confline.get_value("Default_IAX2_device_port", current_user.corrected_owner_id).to_i, "class" => "input", :size => "35", :maxlength => "50") %></td>
  </tr>
  <tr>
    <td></td>
    <td><b><%= _('Default_H323_device_port') %>:</b></td>
    <td><%= text_field_tag('default_H323_device_port', Confline.get_value("Default_H323_device_port", current_user.corrected_owner_id).to_i, "class" => "input", :size => "35", :maxlength => "50") %></td>
  </tr>
</table>
