<br/>
<br/>
<table class="simple" width="100%">
  <tr>
    <td></td>
    <td><b><%= _('Days_for_did_close') %>:</b></td>
    <td><%= text_field_tag('days_for_did_close', Confline.get_value("Days_for_did_close"), "class" => "input", :size => "35", :maxlength => "50") %></td>
  </tr>
  <tr>
    <td></td>
    <td><b><%= _('Agreement_Number_Length') %>:</b></td>
    <td><%= text_field_tag('agreement_number_length', Confline.get_value("Agreement_Number_Length"), "class" => "input", :size => "35", :maxlength => "50") %></td>
  </tr>
  <tr>
    <td></td>
    <td><b><%= _('Change_dahdi') %>:</b></td>
    <td>
      <%= check_box_tag 'change_dahdi', "1", Confline.get_value("Change_dahdi").to_i == 1 %>
      <%= text_field_tag('change_dahdi_to', Confline.get_value("Change_dahdi_to"), "class" => "input", :size => "31", :maxlength => "50") %>
    </td>
  </tr>
  <tr>
    <td></td>
    <td><b><%= _('Device_PIN_Length') %>:</b></td>
    <td><%= text_field_tag('device_pin_length', Confline.get_value("Device_PIN_Length"), "class" => "input", :size => "35", :maxlength => "50") %></td>
  </tr>
  <tr>
    <td></td>
    <td><b><%= _('Device_Range') %>:</b></td>
    <td>
      <b><%= _('MIN') %>
        :&nbsp;</b><%= text_field_tag('device_range_min', Confline.get_value("Device_Range_MIN"), "class" => "input", :size => "12", :maxlength => "50") %>
      <b><%= _('MAX') %>
        :&nbsp;</b><%= text_field_tag('device_range_max', Confline.get_value("Device_Range_MAX"), "class" => "input", :size => "12", :maxlength => "50") %>
    </td>
  </tr>
  <tr>
    <td width="30"></td>
    <td><b><%= _('User_Wholesale_Enabled') %>:</b></td>
    <td><%= check_box_tag 'user_wholesale_enabled', "1", Confline.get_value("User_Wholesale_Enabled").to_i == 1 %></td>
  </tr>
  <tr>
    <td width="30"></td>
    <td <%= "onmouseover=\"Tip(\'" + _('ivr_for_200_hgc_explained') + "\')\" onmouseout = \"UnTip()\"" %>>
      <b><%= _('Play_IVR_for_200_HGC') %>:</b>
    </td>
    <td>
      <%= check_box_tag 'play_ivr_for_200_hgc', "1", Confline.get_value("Play_IVR_for_200_HGC").to_i == 1 %>
      <b><%= _('IVR') %>: </b>
      <%= select_tag("ivr_for_200_hgc", options_for_select(@all_ivrs.map { |ivr| [ivr.name, ivr.id] }, Confline.get_value("IVR_for_200_HGC").to_i)) %>
    </td>
  </tr>
  <tr>
    <td width="30"></td>
    <td><b><%= _('Banned_CLIs_default_IVR_id') %>: </b></td>
    <td>
      <select name="banned_clis_default_ivr_id">
        <% banned_clis_ivr = Confline.get_value("Banned_CLIs_default_IVR_id", 0).to_i -%>
        <option value="0" <%= "selected" if banned_clis_ivr.to_i == 0 %>><%= _('Not_assigned') %> </option>
        <% for iv in @all_ivrs %>
            <option value="<%= iv.id %>" <%= "selected" if iv.id.to_i == banned_clis_ivr %> ><%= iv.name %></option>
        <% end %>
      </select>
    </td>
  </tr>
  <%= raw setting_boolean(_('Disallow_Duplicate_Device_Usernames'), 'disalow_duplicate_device_usernames', "Disalow_Duplicate_Device_Usernames") %>
  <%= raw setting_boolean(_('Disallow_Email_Editing'), 'disallow_email_editing', "Disallow_Email_Editing") %>
  <%= raw setting_boolean(_('Allow_short_passwords_in_devices'), 'allow_short_passwords_in_devices', "Allow_short_passwords_in_devices") %>
  <%= raw setting_boolean(_('Disallow_prepaid_user_balance_drop_below_zero'), 'disallow_prepaid_user_balance_drop_below_zero', "Disallow_prepaid_user_balance_drop_below_zero") %>
  <%= raw settings_string(_('Logout_link'), 'logout_link', "Logout_link", 0, {:maxlength => "255"}) %>
  <%= raw setting_boolean(_('Change_ANSWER_to_FAILED_if_HGC_not_equal_to_16_for_Users'), 'change_if_hgc_not_equal_to_16_for_users', "Change_ANSWER_to_FAILED_if_HGC_not_equal_to_16_for_Users") %>
  <%= raw setting_boolean(_('System_time_zone_daylight_savings'), 'system_time_zone_daylight_savings', "System_time_zone_daylight_savings") %>
</table>
