<div id="dhtmlgoodies_tabView2">
<div class="dhtmlgoodies_aTab">
  <div id="dhtmlgoodies_tabView3">
    <div class="dhtmlgoodies_aTab">
      <br/>
      <table class="simple" width="100%">
        <tr>
          <td width="30"></td>
          <td id="inv_number_start"><b><%= _('Invoice_Number_Start') %>:</b></td>
          <td>      <%= text_field_tag('invoice_number_start', Confline.get_value("Invoice_Number_Start"), "class" => "input", :size => "35", :maxlength => "50") %></td>
        </tr>
        <tr>
          <td></td>
          <td id="inv_number_length"><b><%= _('Invoice_Number_Length') %>:</b></td>
          <td><%= text_field_tag('invoice_number_length', Confline.get_value("Invoice_Number_Length"), "class" => "input", :size => "35", :maxlength => "50") %></td>
        </tr>
        <tr>
          <td></td>
          <td id="inv_number_type"><b><%= _('Invoice_Number_Type') %>:</b></td>
          <td>
            <% inv_num_type = Confline.get_value("Invoice_Number_Type").to_i %>
            <%= radio_button_tag('invoice_number_type', '1', (inv_num_type == 1)) %> INV000000001
            <%= radio_button_tag('invoice_number_type', '2', (inv_num_type == 2)) %> INV070601
          </td>
        </tr>
        <tr>
          <td></td>
          <td id="inv_start_day"><b><%= _('Invoice_Period_Start_Day') %>:</b></td>
          <td>
            <% inv_period_start_day = Confline.get_value("Invoice_Period_Start_Day").to_i %>
            <select name="invoice_period_start_day">
              <% (1..31).each { |i| %>
                  <option value=<%= good_date(i) %> <%= "selected" if inv_period_start_day == i %>> <%= good_date(i) %> </option>
              <% } %>
            </select>
          </td>
        </tr>
        <%= raw setting_boolean(_('Invoice_Show_Calls_In_Detailed'), 'invoice_show_calls_in_detailed', "Invoice_Show_Calls_In_Detailed", 0, {:id => 'inv_show_calls'}) %>
        <%= raw setting_boolean(_("Show_balance_line"), 'invoice_show_balance_line', "Invoice_Show_Balance_Line", 0, {:id => 'inv_show_balance'}) %>
        <%= raw setting_boolean(_("Round_finals_to_2_decimals"), 'invoice_number_digits', "Round_finals_to_2_decimals", 0, {:id => 'inv_num_digits'}) %>
        <%= raw setting_boolean(_('Short_file_name'), 'invoice_short_file_name', "Invoice_Short_File_Name", 0, {:id => 'inv_short_file_name'}) %>
        <%= raw setting_boolean(_('Instead_billsec_show_user_billsec'), 'invoice_user_billsec_show', "Invoice_user_billsec_show", 0, {:id => 'inv_user_billsec', :tip => tooltip(_('billsec_and_user_billsec'), _('billsec_and_user_billsec_explanation'))}) %>
        <tr>
          <td></td>
          <td id="inv_page_limit" <%= tooltip(_('Invoice_Page_Limit'), _('Invoice_Page_Limit_explanation')) %> >
            <b><%= _('Invoice_Page_Limit') %>:</b></td>
          <td><%= text_field_tag('invoice_page_limit', Confline.get_value("Invoice_page_limit"), "class" => "input", :size => "35", :maxlength => "50") %></td>
        </tr>
      </table>
    </div>
    <div class="dhtmlgoodies_aTab">
      <br/>
      <table class="simple" width="100%">
        <tr>
          <td></td>
          <td id="inv_address_format"><b><%= _('Invoice_Address_Format') %>:</b></td>
          <td>
            <% inv_address_format = Confline.get_value("Invoice_Address_Format").to_i %>
            <%= radio_button_tag('invoice_address_format', '1', (inv_address_format == 1)) %> 1
            <%= radio_button_tag('invoice_address_format', '2', (inv_address_format == 2)) %> 2
          </td>
        </tr>
        <tr>
          <td></td>
          <td id="inv_address_1"><b><%= _('Invoice_Address1') %>:</b></td>
          <td id="invoice_adr_1"><%= text_field_tag('invoice_address1', Confline.get_value("Invoice_Address1"), "class" => "input", :size => "48", :maxlength => "30") %></td>
        </tr>
        <tr>
          <td></td>
          <td id="inv_address_2"><b><%= _('Invoice_Address2') %>:</b></td>
          <td id="invoice_adr_2"><%= text_field_tag('invoice_address2', Confline.get_value("Invoice_Address2"), "class" => "input", :size => "48", :maxlength => "30") %></td>
        </tr>
        <tr>
          <td></td>
          <td id="inv_address_3"><b><%= _('Invoice_Address3') %>:</b></td>
          <td id="invoice_adr_3"><%= text_field_tag('invoice_address3', Confline.get_value("Invoice_Address3"), "class" => "input", :size => "48", :maxlength => "30") %></td>
        </tr>
        <tr>
          <td></td>
          <td id="inv_address_4"><b><%= _('Invoice_Address4') %>:</b></td>
          <td id="invoice_adr_4"><%= text_field_tag('invoice_address4', Confline.get_value("Invoice_Address4"), "class" => "input", :size => "48", :maxlength => "30") %></td>
        </tr>
        <tr>
          <td></td>
          <td id="inv_bank_details_line_1"><b><%= _('Invoice_Bank_Details_Line1') %>:</b></td>
          <td id="invoice_bank_details_line_1"><%= text_field_tag('invoice_bank_details_line1', Confline.get_value("Invoice_Bank_Details_Line1"), "class" => "input", :size => "30", :maxlength => "30") %></td>
        </tr>
        <tr>
          <td></td>
          <td id="inv_bank_details_line_2"><b><%= _('Invoice_Bank_Details_Line2') %>:</b></td>
          <td id="invoice_bank_details_line_2"><%= text_field_tag('invoice_bank_details_line2', Confline.get_value("Invoice_Bank_Details_Line2"), "class" => "input", :size => "30", :maxlength => "30") %></td>
        </tr>
        <tr>
          <td></td>
          <td id="inv_bank_details_line_3"><b><%= _('Invoice_Bank_Details_Line3') %>:</b></td>
          <td id="invoice_bank_details_line_3"><%= text_field_tag('invoice_bank_details_line3', Confline.get_value("Invoice_Bank_Details_Line3"), "class" => "input", :size => "30", :maxlength => "30") %></td>
        </tr>
        <tr>
          <td></td>
          <td id="inv_bank_details_line_4"><b><%= _('Invoice_Bank_Details_Line4') %>:</b></td>
          <td id="invoice_bank_details_line_4"><%= text_field_tag('invoice_bank_details_line4', Confline.get_value("Invoice_Bank_Details_Line4"), "class" => "input", :size => "30", :maxlength => "30") %></td>
        </tr>
        <tr>
          <td></td>
          <td id="inv_bank_details_line_5"><b><%= _('Invoice_Bank_Details_Line5') %>:</b></td>
          <td id="invoice_bank_details_line_5"><%= text_field_tag('invoice_bank_details_line5', Confline.get_value("Invoice_Bank_Details_Line5"), "class" => "input", :size => "80", :maxlength => "80") %></td>
        </tr>
        <tr>
          <td></td>
          <td id="inv_balance_line"><b><%= _('Invoice_Balance_Line') %>:</b></td>
          <td id="invoice_balance_line"><%= text_field_tag('invoice_balance_line', Confline.get_value("Invoice_Balance_Line"), "class" => "input", :size => "80", :maxlength => "70") %></td>
        </tr>
        <tr>
          <td></td>
          <td id="inv_to_pay_line"><b><%= _('Invoice_to_pay_Line') %>:</b></td>
          <td id="invoice_to_pay_line"><%= text_field_tag('invoice_to_pay_line', Confline.get_value("Invoice_To_Pay_Line"), "class" => "input", :size => "15", :maxlength => "15") %></td>
        </tr>
        <tr>
          <td></td>
          <td id="inv_end_title"><b><%= _('Invoice_End_Title') %>:</b></td>
          <td id="invoice_end_title"><%= text_field_tag('invoice_end_title', Confline.get_value("Invoice_End_Title"), "class" => "input", :size => "70", :maxlength => "60") %></td>
        </tr>
        <% if mor_11_extend? %>
            <%= raw setting_boolean(_('Add_Average_rate_in_detailed_invoice'), 'invoice_add_average_rate', "Invoice_Add_Average_rate") %>
            <%= raw setting_boolean(_('Show_Time_in_Minutes'), 'invoice_show_time_in_minutes', "Invoice_Show_Time_in_Minutes") %>
        <% end %>
      </table>
    </div>
    <div class="dhtmlgoodies_aTab">
      <br/>
      <table class="simple" width="100%">
        <tr>
          <td></td>
          <td id="show_additional_details"><b><%= _('Show_additional_details_on_separate_page') %>:</b></td>
          <td>
            <%= check_box_tag 'show_additional_details_on_separate_page_check', 1, Confline.get_value("Invoice_show_additional_details_on_separate_page").to_i == 1, :id => 'show_more_details' %>
          </td>
        </tr>
        <tr>
          <td></td>
          <td id="additional_details"><b><%= _('Additional_details') %>:</b></td>
          <td>
            <%= text_area_tag('show_additional_details_on_separate_page_details', Confline.get_value2("Invoice_show_additional_details_on_separate_page"), "class" => "input", :cols => "58", :rows => "25", :id => 'more_details') %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="dhtmlgoodies_aTab">
  <div id="dhtmlgoodies_tabView4">
    <div class="dhtmlgoodies_aTab">
      <br/>
      <table class="simple" width="100%">
        <tr>
          <td width="30"></td>
          <td id="prepaid_inv_num_start"><b><%= _('Invoice_Number_Start') %>:</b></td>
          <td>      <%= text_field_tag('prepaid_invoice_number_start', Confline.get_value("Prepaid_Invoice_Number_Start"), "class" => "input", :size => "35", :maxlength => "50") %>                </td>
        </tr>
        <tr>
          <td></td>
          <td id="prepaid_inv_num_length"><b><%= _('Invoice_Number_Length') %>:</b></td>
          <td>      <%= text_field_tag('prepaid_invoice_number_length', Confline.get_value("Prepaid_Invoice_Number_Length"), "class" => "input", :size => "35", :maxlength => "50") %>                </td>
        </tr>
        <tr>
          <td></td>
          <td id="prepaid_inv_num_type"><b><%= _('Invoice_Number_Type') %>:</b></td>
          <td>
            <% inv_num_type = Confline.get_value("Prepaid_Invoice_Number_Type").to_i %>
            <%= radio_button_tag('prepaid_invoice_number_type', '1', (inv_num_type == 1)) %> INV000000001
            <%= radio_button_tag('prepaid_invoice_number_type', '2', (inv_num_type == 2)) %> INV070601
          </td>
        </tr>
        <tr>
          <td></td>
          <td id="prepaid_inv_start_day"><b><%= _('Invoice_Period_Start_Day') %>:</b></td>
          <td>
            <% inv_period_start_day = Confline.get_value("Prepaid_Invoice_Period_Start_Day").to_i %>
            <select name="prepaid_invoice_period_start_day">
              <% (1..31).each { |i| %>
                  <option value=<%= good_date(i) %> <%= "selected" if inv_period_start_day == i %>> <%= good_date(i) %> </option>
              <% } %>
            </select>
          </td>
        </tr>
        <%= raw setting_boolean(_('Invoice_Show_Calls_In_Detailed'), 'prepaid_invoice_show_calls_in_detailed', "Prepaid_Invoice_Show_Calls_In_Detailed", :id => 'prep_inv_show_calls') %>
        <%= raw setting_boolean(_("Show_balance_line"), 'prepaid_invoice_show_balance_line', "Prepaid_Invoice_Show_Balance_Line", :id => 'prep_inv_show_balance_line') %>
        <%= raw setting_boolean(_("Round_finals_to_2_decimals"), 'prepaid_invoice_number_digits', "Prepaid_Round_finals_to_2_decimals", :id => 'prep_inv_num_digits') %>
        <%= raw setting_boolean(_('Short_file_name'), 'prepaid_invoice_short_file_name', "Prepaid_Invoice_Short_File_Name", :id => 'prep_inv_short_file_name') %>
        <%= raw setting_boolean(_('Instead_billsec_show_user_billsec'), 'prepaid_invoice_user_billsec_show', "Prepaid_Invoice_user_billsec_show", 0, {:id => 'prep_inv_user_billsec', :tip => tooltip(_('billsec_and_user_billsec'), _('billsec_and_user_billsec_explanation'))}) %>
        <tr>
          <td <%= tooltip(_('Invoice_Page_Limit'), _('Invoice_Page_Limit_explanation')) %> ></td>
          <td id="prepaid_inv_page_limit"><b><%= _('Invoice_Page_Limit') %>:</b></td>
          <td><%= text_field_tag('prepaid_invoice_page_limit', Confline.get_value("Prepaid_Invoice_page_limit"), "class" => "input", :size => "35", :maxlength => "50") %></td>
        </tr>
      </table>
    </div>
    <div class="dhtmlgoodies_aTab">
      <br/>
      <table class="simple" width="100%">
        <tr>
          <td></td>
          <td id="prepaid_inv_adr_format"><b><%= _('Invoice_Address_Format') %>:</b></td>
          <td>
            <% inv_address_format = Confline.get_value("Prepaid_Invoice_Address_Format").to_i %>
            <%= radio_button_tag('prepaid_invoice_address_format', '1', (inv_address_format == 1)) %> 1
            <%= radio_button_tag('prepaid_invoice_address_format', '2', (inv_address_format == 2)) %> 2
          </td>
        </tr>
        <tr>
          <td></td>
          <td id="prepaid_inv_adr_1"><b><%= _('Invoice_Address1') %>:</b></td>
          <td id="prepaid_invoice_adr_1"><%= text_field_tag('prepaid_invoice_address1', Confline.get_value("Prepaid_Invoice_Address1"), "class" => "input", :size => "48", :maxlength => "48") %></td>
        </tr>
        <tr>
          <td></td>
          <td id="prepaid_inv_adr_2"><b><%= _('Invoice_Address2') %>:</b></td>
          <td id="prepaid_invoice_adr_2"><%= text_field_tag('prepaid_invoice_address2', Confline.get_value("Prepaid_Invoice_Address2"), "class" => "input", :size => "48", :maxlength => "48") %></td>
        </tr>
        <tr>
          <td></td>
          <td id="prepaid_inv_adr_3"><b><%= _('Invoice_Address3') %>:</b></td>
          <td id="prepaid_invoice_adr_3"><%= text_field_tag('prepaid_invoice_address3', Confline.get_value("Prepaid_Invoice_Address3"), "class" => "input", :size => "48", :maxlength => "48") %></td>
        </tr>
        <tr>
          <td></td>
          <td id="prepaid_inv_adr_4"><b><%= _('Invoice_Address4') %>:</b></td>
          <td id="prepaid_invoice_adr_4"><%= text_field_tag('prepaid_invoice_address4', Confline.get_value("Prepaid_Invoice_Address4"), "class" => "input", :size => "48", :maxlength => "48") %></td>
        </tr>
        <tr>
          <td></td>
          <td id="prepaid_inv_bank_det_line_1"><b><%= _('Invoice_Bank_Details_Line1') %>:</b></td>
          <td id="prepaid_invoice_bank_det_line_1"><%= text_field_tag('prepaid_invoice_bank_details_line1', Confline.get_value("Prepaid_Invoice_Bank_Details_Line1"), "class" => "input", :size => "30", :maxlength => "30") %></td>
        </tr>
        <tr>
          <td></td>
          <td id="prepaid_inv_bank_det_line_2"><b><%= _('Invoice_Bank_Details_Line2') %>:</b></td>
          <td id="prepaid_invoice_bank_det_line_2"><%= text_field_tag('prepaid_invoice_bank_details_line2', Confline.get_value("Prepaid_Invoice_Bank_Details_Line2"), "class" => "input", :size => "30", :maxlength => "30") %></td>
        </tr>
        <tr>
          <td></td>
          <td id="prepaid_inv_bank_det_line_3"><b><%= _('Invoice_Bank_Details_Line3') %>:</b></td>
          <td id="prepaid_invoice_bank_det_line_3"><%= text_field_tag('prepaid_invoice_bank_details_line3', Confline.get_value("Prepaid_Invoice_Bank_Details_Line3"), "class" => "input", :size => "30", :maxlength => "30") %></td>
        </tr>
        <tr>
          <td></td>
          <td id="prepaid_inv_bank_det_line_4"><b><%= _('Invoice_Bank_Details_Line4') %>:</b></td>
          <td id="prepaid_invoice_bank_det_line_4"><%= text_field_tag('prepaid_invoice_bank_details_line4', Confline.get_value("Prepaid_Invoice_Bank_Details_Line4"), "class" => "input", :size => "30", :maxlength => "30") %></td>
        </tr>
        <tr>
          <td></td>
          <td id="prepaid_inv_bank_det_line_5"><b><%= _('Invoice_Bank_Details_Line5') %>:</b></td>
          <td id="prepaid_invoice_bank_det_line_5"><%= text_field_tag('prepaid_invoice_bank_details_line5', Confline.get_value("Prepaid_Invoice_Bank_Details_Line5"), "class" => "input", :size => "80", :maxlength => "80") %></td>
        </tr>
        <tr>
          <td></td>
          <td id="prepaid_inv_balance_line"><b><%= _('Invoice_Balance_Line') %>:</b></td>
          <td id="prepaid_invoice_balance_line"><%= text_field_tag('prepaid_invoice_balance_line', Confline.get_value("Prepaid_Invoice_Balance_Line"), "class" => "input", :size => "70", :maxlength => "70") %></td>
        </tr>
        <tr>
          <td></td>
          <td id="prepaid_inv_to_pay_line"><b><%= _('Invoice_to_pay_Line') %>:</b></td>
          <td id="prepaid_invoice_to_pay_line"><%= text_field_tag('prepaid_invoice_to_pay_line', Confline.get_value("Prepaid_Invoice_To_Pay_Line"), "class" => "input", :size => "15", :maxlength => "15") %></td>
        </tr>
        <tr>
          <td></td>
          <td id="prepaid_inv_end_title"><b><%= _('Invoice_End_Title') %>:</b></td>
          <td id="prepaid_invoice_end_title"><%= text_field_tag('prepaid_invoice_end_title', Confline.get_value("Prepaid_Invoice_End_Title"), "class" => "input", :size => "70", :maxlength => "70") %></td>
        </tr>
        <% if mor_11_extend? %>
            <%= raw setting_boolean(_('Add_Average_rate_in_detailed_invoice'), 'prepaid_invoice_add_average_rate', "Prepaid_Invoice_Add_Average_rate") %>
            <%= raw setting_boolean(_('Show_Time_in_Minutes'), 'prepaid_invoice_show_time_in_minutes', "Prepaid_Invoice_Show_Time_in_Minutes") %>
        <% end %>
      </table>
    </div>
    <div class="dhtmlgoodies_aTab">
      <br/>
      <table class="simple" width="100%">
        <tr>
          <td></td>
          <td id="prepaid_inv_end_title_2"><b><%= _('Show_additional_details_on_separate_page') %>:</b></td>
          <td>
            <%= check_box_tag 'prepaid_show_additional_details_on_separate_page_check', 1, Confline.get_value("Prepaid_Invoice_show_additional_details_on_separate_page").to_i == 1, :id => 'prep_show_more_details' %>
          </td>
        </tr>
        <tr>
          <td></td>
          <td id="prepaid_additional_details"><b><%= _('Additional_details') %>:</b></td>
          <td>
            <%= text_area_tag('prepaid_show_additional_details_on_separate_page_details', Confline.get_value2("Prepaid_Invoice_show_additional_details_on_separate_page"), "class" => "input", :cols => "58", :rows => "25", :id => 'prep_more_details') %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="dhtmlgoodies_aTab">
  <br/>
  <table class="simple" width="100%">
    <%= raw setting_boolean(_('Invoice_allow_recalculate_after_send'), 'invoice_allow_recalculate_after_send', "Invoice_allow_recalculate_after_send") %>
  </table>
</div>
</div>

<% content_for :scripts do %>
    <% invoice_tabs = [_("Postpaid"), _("Prepaid"), _('Functionality')] %>
    <% invoice_tabs2 = [_("Settings"), _("Details"), _('Additional')] %>
    <% invoice_tabs3 = [_("Settings"), _("Details"), _('Additional')] %>
    <script type="text/javascript">
        initTabs('dhtmlgoodies_tabView2', Array('<%= invoice_tabs.join("', '")  %>'), 0, 785, 465);
        initTabs('dhtmlgoodies_tabView3', Array('<%= invoice_tabs2.join("', '")  %>'), 0, 770, 430);
        initTabs('dhtmlgoodies_tabView4', Array('<%= invoice_tabs3.join("', '")  %>'), 0, 770, 430);
    </script>
<% end %>