<br/>
<%= form_tag :action => 'call_tracing_user' do %>
    <table width="50%" class="simple">
      <tr class="row2">
        <td class="no_wrap" align="left"><%= b_user + _('Select_user') %>:</td>
        <td><%= select_tag("user", options_for_select(@users.map { |user| ["#{nice_user(user)} (#{user.id })", user.id] })) %></td>
      </tr>
      <% if admin? %>
          <tr id="reseller_users_row">
            <td id="reseller_users_header" class="no_wrap invisible" align="left"><%= b_user + _('Reseller_users') %>:
            </td>
            <td id="reseller_users">&nbsp;</td>
          </tr>
      <% end %>
    </table>
    <br/>
    <%= submit_tag _('Proceed'), :disable_with => _('Processing..') %>
<% end %>
<% if admin? %>
    <%= observe_field("user",
                      :update => "reseller_users",
                      :with => "id",
                      :url => {:controller => :functions, :action => :call_tracing_ajax},
                      :loading => "Element.show('spinner');", :complete => "Element.hide('spinner');") %>
<% end %>

<script type="text/javascript">
    new Ajax.Updater('reseller_users',
            '<%= url_for(
    :controller=> :functions,
    :action => :call_tracing_ajax,
    :id => @users.first) %>', {asynchronous:true, evalScripts:true})
</script>