<%= form_tag :action => 'ccl_settings_update' do %>
    <br/>
    <br/>
    <table>
      <tr>
        <td><%= _('Default_asterisk_server') %>:</td>
        <td>
          <select name="default_asterisk_server">
            <% if @servers %>
              <% for serv in @servers %>
                <option value="<%= serv.id %>" <%= "selected" if serv.id == Confline.get_value("Default_asterisk_server").to_i %>> <%= nice_server(serv) %> </option>
              <% end %>
            <% end %>
          </select>
        </td>
      </tr>
    </table>
    <%= hidden_field_tag('indirect', 1) %>
    <br/>
    <br/>
    <%= submit_tag _('Save_changes'), :disable_with => _('Processing..') %>
<% end %>
