<% if @step == 1 %>
    <br/>
    <%= form_tag({:action => 'import_user_data_devices', :step => "2"}, {:multipart => "true", :id => "files"}) do %>
        <%= _('Upload') %>: <%= file_field_tag "file" %>
        <br/>
        <%= _('Include_first_line') %>?<%= check_box_tag 'include', value = "1" %>
        <br/>
        <br/>
        <%= submit_tag(_('Upload_file'), :disable_with => _('Processing..')) %>
    <% end %>

    <br>
    <%= _('Next_step') + ": " + _('Column_assignment') %>
<% end %>

<% if @step == 2 %>
    <%= _('Column_assignment') %>
    <br/>
    <%= _('File_size') %>: <%= session[:file_size] %> <%= _('bytes') %><br>
    <br>
    <b><%= _('First_file_lines') %>:</b>
    <br>
    <br>
    <%
       flines = []
       tl = 0 %>
    <% for line in session[:file].split(/\n|\r|\rn/) %>
        <% flines << line if tl < 5 %>
        <% tl += 1 %>
    <% end %>
    <% flines << "...." if tl > 5 %>

    <%= text_area_tag "body", flines, :size => "150x10", :class => "input" %>

    <br>
    <% session[:file_lines] = (tl - 1) %>
    <b><%= _('Total_file_lines') %>: <%= session[:file_lines] %></b>
    <br>
    <br>
    <br>

    <%= form_tag :action => 'import_user_data_devices', :step => "3" do %>
        <table class="maintable" width="70%">
          <tr>
            <th><%= _('Value') %></th>
            <th><%= _('Select_from_CSV_file') %></th>
          </tr>
          <tr>
            <td height="20" colspan="2">
              <b><%= _('Device_Data') %></b>
            </td>
          </tr>
          <tr>
            <td>  <%= _('Temporary_Device_ID') %> *</td>
            <td>
              <div class="nb" align="center">
                <select name="temp_device_id">
                  <option value="-1"></option>
                  <% i = 0 %>
                  <% for l in @fl %>
                      <option value="<%= i %>" <%= "selected" if session[:imp_device_temp_device_id] == i %>> <%= clean_value_all l %> </option>
                      <% i += 1 %>
                  <% end %>
                </select>
              </div>
            </td>
          </tr>
          <tr class="row1">
            <td>  <%= _('Temporary_User_ID') %> *</td>
            <td>
              <div class="nb" align="center">
                <select name="temp_user_id">
                  <option value="-1"></option>
                  <% i = 0 %>
                  <% for l in @fl %>
                      <option value="<%= i %>" <%= "selected" if session[:imp_device_temp_user_id] == i %>> <%= clean_value_all l %> </option>
                      <% i += 1 %>
                  <% end %>
                </select>
              </div>
            </td>
          </tr>
          <tr>
            <td>   <%= _('Device_type') %>  *</td>
            <td>
              <div class="nb" align="center">
                <select name="device_type">
                  <option value="-1"></option>
                  <% i = 0 %>
                  <% for l in @fl %>
                      <option value="<%= i %>" <%= "selected" if session[:imp_device_type] == i %>> <%= clean_value_all l %> </option>
                      <% i += 1 %>
                  <% end %>
                </select>
              </div>
            </td>
          </tr>

          <tr class="row1">
            <td>   <%= _('Extension') %>  *</td>
            <td>
              <div class="nb" align="center">
                <select name="extension">
                  <option value="-1"></option>
                  <% i = 0 %>
                  <% for l in @fl %>
                      <option value="<%= i %>" <%= "selected" if session[:imp_device_extension] == i %>> <%= clean_value_all l %> </option>
                      <% i += 1 %>
                  <% end %>
                </select>
              </div>
            </td>
          </tr>

          <tr>
            <td>   <%= _('Username') %>  *</td>
            <td>
              <div class="nb" align="center">
                <select name="username">
                  <option value="-1"></option>
                  <% i = 0 %>
                  <% for l in @fl %>
                      <option value="<%= i %>" <%= "selected" if session[:imp_device_username] == i %>> <%= clean_value_all l %> </option>
                      <% i += 1 %>
                  <% end %>
                </select>
              </div>
            </td>
          </tr>
          <tr class="row1">
            <td>   <%= _('Password') %>  *</td>
            <td>
              <div class="nb" align="center">
                <select name="password">
                  <option value="-1"></option>
                  <% i = 0 %>
                  <% for l in @fl %>
                      <option value="<%= i %>" <%= "selected" if session[:imp_device_password] == i %>> <%= clean_value_all l %> </option>
                      <% i += 1 %>
                  <% end %>
                </select>
              </div>
            </td>
          </tr>
          <tr>
            <td><%= _('PIN') %></td>
            <td>
              <div class="nb" align="center">
                <select name="pin">
                  <option value="-1"></option>
                  <% i = 0 %>
                  <% for l in @fl %>
                      <option value="<%= i %>" <%= "selected" if session[:imp_device_pin] == i %>> <%= clean_value_all l %> </option>
                      <% i += 1 %>
                  <% end %>
                </select>
              </div>
            </td>
          </tr>

          <tr>
            <td>   <%= _('Host') %>  *</td>
            <td>
              <div class="nb" align="center">
                <select name="host">
                  <option value="-1"></option>
                  <% i = 0 %>
                  <% for l in @fl %>
                      <option value="<%= i %>" <%= "selected" if session[:imp_device_host] == i %>> <%= clean_value_all l %> </option>
                      <% i += 1 %>
                  <% end %>
                </select>
              </div>
            </td>
          </tr>

          <tr>
            <td>   <%= _('Location') %></td>
            <td>
              <div class="nb" align="center">
                <select name="location">
                  <option value="-1"></option>
                  <% i = 0 %>
                  <% for l in @fl %>
                      <option value="<%= i %>" <%= "selected" if session[:imp_device_location] == i %>> <%= clean_value_all l %> </option>
                      <% i += 1 %>
                  <% end %>
                </select>
              </div>
            </td>
          </tr>


          <tr>
            <td height="20" colspan="2">
              <b><%= _('Caller_ID') %></b>
            </td>
          </tr>

          <tr class="row1">
            <td>   <%= _('Name') %>  *</td>
            <td>
              <div class="nb" align="center">
                <select name="cli_name">
                  <option value="-1"></option>
                  <% i = 0 %>
                  <% for l in @fl %>
                      <option value="<%= i %>" <%= "selected" if session[:imp_device_cli_name] == i %>> <%= clean_value_all l %> </option>
                      <% i += 1 %>
                  <% end %>
                </select>
              </div>
            </td>
          </tr>

          <tr>
            <td>   <%= _('Number') %>  *</td>
            <td>
              <div class="nb" align="center">
                <select name="cli_number">
                  <option value="-1"></option>
                  <% i = 0 %>
                  <% for l in @fl %>
                      <option value="<%= i %>" <%= "selected" if session[:imp_device_cli_number] == i %>> <%= clean_value_all l %> </option>
                      <% i += 1 %>
                  <% end %>
                </select>
              </div>
            </td>
          </tr>
        </table>
        <br/>
        <b>* - <%= _("These_fields_are_necessary_for_registration") %></b>
        <br/>
        <br/>
        <%= submit_tag(_('Assign_columns'), :disable_with => _('Processing..')) %>
    <% end %>
    <br/>
    <%= _('Next_step') + ": " + _('Column_confirmation') %>
    <br/>
    <%= link_to b_back + _('Back'), :action => "import_user_data_devices", :step => 1 %>
<% end %>

<% if @step == 3 %>
    <%= _('File_size') %>: <%= session[:file_size] %> <%= _('bytes') %><br>
    <br>
    <b><%= _('First_file_lines') %>:</b><br><br>
    <table class="maintable" width="100%">
      <tr>
        <th><%= _('Temporary_Device_ID') %></th>
        <th><%= _('Temporary_User_ID') %></th>
        <th><%= _('Device_type') %></th>
        <th><%= _('Extension') %></th>
        <th><%= _('Username') %></th>
        <th><%= _('Password') %></th>
        <th><%= _('PIN') %></th>
        <th><%= _('Host') %></th>
        <th><%= _('Location') %></th>
        <th><%= _('CLI_name') %></th>
        <th><%= _('CLI_number') %></th>
      </tr>
      <% tl = 0 %>
      <% for line in session[:file] %>
          <% if tl < 20 and tl != 0-@include.to_i %>
              <% arr = line.split(@sep) %>
              <tr class="row<%= (tl % 2 + 1).to_s %>">
                <td> <%= clean_value_all arr[session[:imp_device_temp_device_id]].to_s %>    </td>
                <td> <%= clean_value_all arr[session[:imp_device_temp_user_id]].to_s %>    </td>
                <td> <%= clean_value_all arr[session[:imp_device_type]].to_s %>    </td>
                <td> <%= clean_value_all arr[session[:imp_device_extension]].to_s %>    </td>
                <td> <%= clean_value_all arr[session[:imp_device_username]].to_s %>    </td>
                <td> <%= clean_value_all arr[session[:imp_device_password]].to_s %>    </td>
                <td> <%= clean_value_all arr[session[:imp_device_pin]].to_s if session[:imp_device_pin] >= 0 %>    </td>
                <td> <%= clean_value_all arr[session[:imp_device_host]].to_s %>    </td>
                <td> <%= clean_value_all arr[session[:imp_device_location]].to_s if session[:imp_device_location] >= 0 %>    </td>
                <td> <%= clean_value_all arr[session[:imp_device_cli_name]].to_s %>    </td>
                <td> <%= clean_value_all arr[session[:imp_device_cli_number]].to_s %>    </td>
          <% end %>
          <% tl += 1 %>
      <% end %>
    </table>
    <br/>
    <b><%= _('Total_file_lines') %>: <%= session[:file_lines] %> </b>
    <br/>
    <br/>
    <table>
      <tr>
        <td>
          <%= form_tag :action => 'import_user_data_devices', :step => "2" do %>
              <%= submit_tag(_('Back'), :disable_with => _('Processing..')) %>
          <% end %>
        </td>
        <td width="20"></td>
        <% if session[:imp_device_type] >= 0 and session[:imp_device_extension] >=0 and session[:imp_device_cli_number] >= 0 and session[:imp_device_cli_name] >= 0 and session[:imp_device_host] >= 0 and session[:imp_device_password] >= 0 and session[:imp_device_username] >= 0 and session[:imp_device_temp_user_id] >= 0 and session[:imp_device_temp_device_id] >= 0 %>
            <td>
              <%= form_tag :action => 'import_user_data_devices', :step => "4" do %>
                  <%= submit_tag(_('Confirm_columns'), :disable_with => _('Processing..')) %>
              <% end %>
            </td>
        <% end %>

      </tr>
    </table>
    <%= _('Next_step') + ": " + _('Import_user_data') %>
    <% MorLog.my_debug("3 iterate end") %>
<% end %>



<% if @step == 4 %>

    <% if @error_array != [] %>
        <br/>
        <br/>
        <%= _("Errors") %>:
        <table class="maintable" width="100%">
          <tr>
            <th><%= _('Temporary_Device_ID') %></th>
            <th><%= _('Temporary_User_ID') %></th>
            <th><%= _('Username') %></th>
            <th><%= _('Password') %></th>
            <th><%= _('Host') %></th>
            <th><%= _('Error') %></th>
          </tr>
          <% tl = 0 %>
          <% for line in @error_array %>
              <% arr = line.split(@sep) %>
              <tr class="row<%= (tl % 2 + 1).to_s %>">
                <td> <%= clean_value_all(arr[session[:imp_device_temp_device_id]].to_s) if session[:imp_device_temp_device_id] >= 0 %>    </td>
                <td> <%= clean_value_all(arr[session[:imp_device_temp_user_id]].to_s) if session[:imp_device_temp_user_id] >= 0 %>    </td>
                <td> <%= clean_value_all(arr[session[:imp_device_username]].to_s) if session[:imp_device_username] >= 0 %>    </td>
                <td> <%= clean_value_all(arr[session[:imp_device_password]].to_s) if session[:imp_device_password] >= 0 %>    </td>
                <td> <%= clean_value_all(arr[session[:imp_device_host]].to_s) if session[:imp_device_host] >= 0 %>    </td>
                <td> <%= @msg_array[tl] %> </td>
              </tr>
              <% tl += 1 %>
          <% end %>
        </table>
    <% end %>
    <br/>
    <%= link_to b_back + _('Back'), :action => "import_user_data_devices", :step => 3 %>
<% end %>


<br/>
<br/>
