<% if @step == 1 %>
    <br/>
    <%= form_tag({:action => 'import_user_data_users', :step => "2"}, {:multipart => "true", :id => "files"}) do %>
        <%= _('Upload') %>: <%= file_field_tag "file" %>
        <br/>
        <%= _('Include_first_line') %>?<%= check_box_tag 'include', value = "1" %>
        <br/>
        <br/>
        <%= submit_tag(_('Upload_file'), :disable_with => _('Processing..')) %>
    <% end %>

    <br>
    <%= _('Next_step') + ": " + _('Column_assignment') %>

<% end %>

<% if @step == 2 %>
    <%= _('Column_assignment') %>
    <br/>
    <%= _('File_size') %>: <%= session[:file_size] %> <%= _('bytes') %><br>
    <br>
    <b><%= _('First_file_lines') %>:</b>
    <br>
    <br>
    <%
       flines = []
       tl = 0 %>
    <% if session[:file] %>
    <% for line in session[:file].split(/\n|\r|\rn/) %>
        <% flines << line if tl < 5 %>
        <% tl += 1 %>
    <% end %>
        <%end%>
    <% flines << "...." if tl > 5 %>

    <%= text_area_tag "body", flines, :size => "150x10", :class => "input" %>

    <br>
    <% session[:file_lines] = (tl - 1) %>
    <b><%= _('Total_file_lines') %>: <%= session[:file_lines] %></b>
    <br>
    <br>
    <br>

    <%= form_tag :action => 'import_user_data_users', :step => "3" do %>
        <table class="maintable" width="70%">
        <tr>
          <th><%= _('Value') %></th>
          <th><%= _('Select_from_CSV_file') %></th>
        </tr>
        <tr>
          <td height="20" colspan="2">
            <b><%= _('Account_details') %></b>
          </td>
        </tr>
        <tr class="row1">
          <td>  <%= _('Temporary_ID') %> *</td>
          <td>
            <div class="nb" align="center">
              <select name="temp_id">
                <option value="-1"></option>
                <% i = 0 %>
                <% for l in @fl %>
                    <option value="<%= i %>" <%= "selected" if session[:imp_user_temp_id] == i %>> <%= clean_value_all l %> </option>
                    <% i += 1 %>
                <% end %>
              </select>
            </div>
          </td>
        </tr>
        <tr>
          <td>  <%= _('Username') %> *</td>
          <td>
            <div class="nb" align="center">
              <select name="username">
                <option value="-1"></option>
                <% i = 0 %>
                <% for l in @fl %>
                    <option value="<%= i %>" <%= "selected" if session[:imp_user_username] == i %>> <%= clean_value_all l %> </option>
                    <% i += 1 %>
                <% end %>
              </select>
            </div>
          </td>
        </tr>
        <tr class="row1">
          <td>   <%= _('Password') %>  *</td>
          <td>
            <div class="nb" align="center">
              <select name="password">
                <option value="-1"></option>
                <% i = 0 %>
                <% for l in @fl %>
                    <option value="<%= i %>" <%= "selected" if session[:imp_user_password] == i %>> <%= clean_value_all l %> </option>
                    <% i += 1 %>
                <% end %>
              </select>
            </div>
          </td>

        </tr>

        <tr>
          <td height="20" colspan="2">
            <b><%= _('Personal_details') %></b>
          </td>
        </tr>
        <tr class="row1">
          <td>   <%= _('User_first_name')+"/"+_("Company_name") %>  *</td>
          <td>
            <div class="nb" align="center">
              <select name="first_name">
                <option value="-1"></option>
                <% i = 0 %>
                <% for l in @fl %>
                    <option value="<%= i %>" <%= "selected" if session[:imp_user_first_name] == i %>> <%= clean_value_all l %> </option>
                    <% i += 1 %>
                <% end %>
              </select>
            </div>
          </td>
        </tr>

        <tr>
          <td>   <%= _('User_last_name') %>  *</td>
          <td>
            <div class="nb" align="center">
              <select name="last_name">
                <option value="-1"></option>
                <% i = 0 %>
                <% for l in @fl %>
                    <option value="<%= i %>" <%= "selected" if session[:imp_user_last_name] == i %>> <%= clean_value_all l %> </option>
                    <% i += 1 %>
                <% end %>
              </select>
            </div>
          </td>
        </tr>

        <tr class="row1">
          <td>   <%= _('Company_Personal_ID') %></td>
          <td>
            <div class="nb" align="center">
              <select name="personal_id">
                <option value="-1"></option>
                <% i = 0 %>
                <% for l in @fl %>
                    <option value="<%= i %>" <%= "selected" if session[:imp_user_personal_id] == i %>> <%= clean_value_all l %> </option>
                    <% i += 1 %>
                <% end %>
              </select>
            </div>
          </td>
        </tr>


        <tr>
          <td>   <%= _('VAT_Reg_number') %></td>
          <td>
            <div class="nb" align="center">
              <select name="vat_reg_number">
                <option value="-1"></option>
                <% i = 0 %>
                <% for l in @fl %>
                    <option value="<%= i %>" <%= "selected" if session[:imp_user_vat_reg_number] == i %>> <%= clean_value_all l %> </option>
                    <% i += 1 %>
                <% end %>
              </select>
            </div>
          </td>
        </tr>

        <tr class="row1">
          <td>   <%= _('Payment_type') %></td>
          <td>
            <div class="nb" align="center">
              <select name="payment_type">
                <option value="-1"></option>
                <% i = 0 %>
                <% for l in @fl %>
                    <option value="<%= i %>" <%= "selected" if session[:imp_user_payment_type] == i %>> <%= clean_value_all l %> </option>
                    <% i += 1 %>
                    294
                <% end %>
              </select>
            </div>
          </td>
        </tr>
        <tr class="row1">
          <td>   <%= _('Balance') %></td>
          <td>
            <div class="nb" align="center">
              <select name="balance">
                <option value="-1"></option>
                <% i = 0 %>
                <% for l in @fl %>
                    <option value="<%= i %>" <%= "selected" if session[:imp_user_balance] == i %>> <%= clean_value_all l %> </option>
                    <% i += 1 %>
                <% end %>
              </select>
            </div>
          </td>
        </tr>
        <tr class="row1">
          <td>   <%= _('Credit') %></td>
          <td>
            <div class="nb" align="center">
              <select name="credit">
                <option value="-1"></option>
                <% i = 0 %>
                <% for l in @fl %>
                    <option value="<%= i %>" <%= "selected" if session[:imp_user_credit] == i %>> <%= clean_value_all l %> </option>
                    <% i += 1 %>
                <% end %>
              </select>
            </div>
          </td>
        </tr>
        <tr class="row1">
          <td>   <%= _('Credit_Unlimited') %></td>
          <td>
            <div class="nb" align="center">
              <select name="credit_unlimited">
                <option value="-1"></option>
                <% i = 0 %>
                <% for l in @fl %>
                    <option value="<%= i %>" <%= "selected" if session[:imp_user_credit_unlimited] == i %>> <%= clean_value_all l %> </option>
                    <% i += 1 %>
                <% end %>
              </select>
            </div>
          </td>
        </tr>

        <tr class="row1">
          <td>   <%= _('LCR') %></td>
          <td>
            <div class="nb" align="center">
              <select name="lcr">
                <option value="-1"></option>
                <% i = 0 %>
                <% for l in @fl %>
                    <option value="<%= i %>" <%= "selected" if session[:imp_user_lcr] == i %>> <%= clean_value_all l %> </option>
                    <% i += 1 %>
                <% end %>
              </select>
            </div>
          </td>
        </tr>

        <tr class="row1">
          <td>   <%= _('Tariff') %></td>
          <td>
            <div class="nb" align="center">
              <select name="tariff">
                <option value="-1"></option>
                <% i = 0 %>
                <% for l in @fl %>
                    <option value="<%= i %>" <%= "selected" if session[:imp_user_tariff] == i %>> <%= clean_value_all l %> </option>
                    <% i += 1 %>
                <% end %>
              </select>
            </div>
          </td>
        </tr>

        <tr>
          <td height="20" colspan="2">
            <b><%= _('Registration_address') %></b>
          </td>
        </tr>

        <tr class="row1">
          <td>   <%= _('Address') %></td>
          <td>
            <div class="nb" align="center">
              <select name="address">
                <option value="-1"></option>
                <% i = 0 %>
                <% for l in @fl %>
                    <option value="<%= i %>" <%= "selected" if session[:imp_user_address] == i %>> <%= clean_value_all l %> </option>
                    <% i += 1 %>
                <% end %>
              </select>
            </div>
          </td>
        </tr>
        <tr>
          <td>   <%= _('Postcode') %></td>
          <td>
            <div class="nb" align="center">
              <select name="postcode">
                <option value="-1"></option>
                <% i = 0 %>
                <% for l in @fl %>
                    <option value="<%= i %>" <%= "selected" if session[:imp_user_postcode] == i %>> <%= clean_value_all l %> </option>
                    <% i += 1 %>
                <% end %>
              </select>
            </div>
          </td>
        </tr>

        <tr class="row1">
          <td>   <%= _('City') %></td>
          <td>
            <div class="nb" align="center">
              <select name="city">
                <option value="-1"></option>
                <% i = 0 %>
                <% for l in @fl %>
                    <option value="<%= i %>" <%= "selected" if session[:imp_user_city] == i %>> <%= clean_value_all l %> </option>
                    <% i += 1 %>
                <% end %>
              </select>
            </div>
          </td>
        </tr>

        <tr>
          <td>   <%= _('Country') %>  *</td>
          <td>
            <div class="nb" align="center">
              <select name="country">
                <option value="-1"></option>
                <% i = 0 %>
                <% for l in @fl %>
                    <option value="<%= i %>" <%= "selected" if session[:imp_user_country] == i %>> <%= clean_value_all l %> </option>
                    <% i += 1 %>
                <% end %>
              </select>
            </div>
          </td>
        </tr>

        <tr class="row1">
          <td>   <%= _('State') %></td>
          <td>
            <div class="nb" align="center">
              <select name="state">
                <option value="-1"></option>
                <% i = 0 %>
                <% for l in @fl %>
                    <option value="<%= i %>" <%= "selected" if session[:imp_user_state] == i %>> <%= clean_value_all l %> </option>
                    <% i += 1 %>
                <% end %>
              </select>
            </div>
          </td>
        </tr>

        <tr>
          <td>   <%= _('Phone') %></td>
          <td>
            <div class="nb" align="center">
              <select name="phone">
                <option value="-1"></option>
                <% i = 0 %>
                <% for l in @fl %>
                    <option value="<%= i %>" <%= "selected" if session[:imp_user_phone] == i %>> <%= clean_value_all l %> </option>
                    <% i += 1 %>
                <% end %>
              </select>
            </div>
          </td>
        </tr>

        <tr class="row1">
          <td>   <%= _('Mob_phone') %></td>
          <td>
            <div class="nb" align="center">
              <select name="mob_phone">
                <option value="-1"></option>
                <% i = 0 %>
                <% for l in @fl %>
                    <option value="<%= i %>" <%= "selected" if session[:imp_user_mob_phone] == i %>> <%= clean_value_all l %> </option>
                    <% i += 1 %>
                <% end %>
              </select>
            </div>
          </td>
        </tr>

        <tr>
          <td>   <%= _('Fax') %></td>
          <td>
            <div class="nb" align="center">
              <select name="fax">
                <option value="-1"></option>
                <% i = 0 %>
                <% for l in @fl %>
                    <option value="<%= i %>" <%= "selected" if session[:imp_user_fax] == i %>> <%= clean_value_all l %> </option>
                    <% i += 1 %>
                <% end %>
              </select>
            </div>
          </td>
        </tr>

        <tr class="row1">
          <td>   <%= _('Email') %>  *</td>
          <td>
            <div class="nb" align="center">
              <select name="email">
                <option value="-1"></option>
                <% i = 0 %>
                <% for l in @fl %>
                    <option value="<%= i %>" <%= "selected" if session[:imp_user_email] == i %>> <%= clean_value_all l %> </option>
                    <% i += 1 %>
                <% end %>
              </select>
            </div>
          </td>
        </tr>

        </table>
        <br/>
        <b>* - <%= _("These_fields_are_necessary_for_registration") %></b>
        <br/>
        <br/>
        <%= submit_tag(_('Assign_columns'), :disable_with => _('Processing..')) %>
    <% end %>
    <br/>
    <%= _('Next_step') + ": " + _('Column_confirmation') %>
    <br/>
    <%= link_to b_back + _('Back'), :action => "import_user_data_users", :step => 1 %>
<% end %>

<% if @step == 3 %>
    <%= _('File_size') %>: <%= session[:file_size] %> <%= _('bytes') %><br>
    <br>
    <b><%= _('First_file_lines') %>:</b><br><br>
    <table class="maintable" width="100%">
      <tr>
        <th><%= _('Temporary_ID') %></th>
        <th><%= _('Username') %></th>
        <th><%= _('Password') %></th>
        <th><%= _('User_first_name')+"/"+_("Company_name") %></th>
        <th><%= _('User_last_name') %></th>
        <th><%= _('Company_Personal_ID') %></th>
        <th><%= _('VAT_Reg_number') %></th>
        <th><%= _('Balance') %></th>
        <th><%= _('Credit') %></th>
        <th><%= _('Credit_Unlimited') %></th>
        <th><%= _('LCR') %></th>
        <th><%= _('Tariff') %></th>
        <th><%= _('Payment_Type') %></th>
        <th><%= _('Registration_address') %></th>
        <th><%= _('Postcode') %></th>
        <th><%= _('City') %></th>
        <th><%= _('Country') %></th>
        <th><%= _('State') %></th>
        <th><%= _('Phone') %></th>
        <th><%= _('Mob_phone') %></th>
        <th><%= _('Fax') %></th>
        <th><%= _('Email') %></th>
      </tr>

      <% tl = 0 %>
      <% for line in session[:file].split(/\n|\r|\rn/) %>
          <% if tl < 20 and tl != 0-@include.to_i %>
              <% arr = line.split(@sep) %>
              <tr class="row<%= (tl % 2 + 1).to_s %>">
                <td id="user_temp_id_<%= tl %>"> <%= clean_value_all arr[session[:imp_user_temp_id]].to_s.gsub(@dec, ".") if session[:imp_user_temp_id] >= 0 %>    </td>
                <td id="user_username_<%= tl %>"> <%= clean_value_all arr[session[:imp_user_username]].to_s if session[:imp_user_username] >= 0 %>    </td>
                <td id="user_pasword_<%= tl %>"> <%= clean_value_all arr[session[:imp_user_password]].to_s if session[:imp_user_password] >= 0 %>    </td>
                <td id="user_f_name_<%= tl %>"> <%= clean_value_all arr[session[:imp_user_first_name]].to_s if session[:imp_user_first_name] >= 0 %>    </td>
                <td id="user_l_name_<%= tl %>"> <%= clean_value_all arr[session[:imp_user_last_name]].to_s if session[:imp_user_last_name] >= 0 %>    </td>
                <td id="user_personal_id_<%= tl %>"> <%= clean_value_all arr[session[:imp_user_personal_id]].to_s if session[:imp_user_personal_id] >= 0 %>    </td>
                <td id="user_vat_nr_<%= tl %>"> <%= clean_value_all arr[session[:imp_user_vat_reg_number]].to_s.gsub(@dec, ".") if session[:imp_user_vat_reg_number] >= 0 %>    </td>
                <td id="user_balance_<%= tl %>"> <%= clean_value_all arr[session[:imp_user_balance]].to_s.gsub(@dec, ".") if session[:imp_user_balance] >= 0 %>    </td>
                <td id="user_credit_<%= tl %>"> <%= clean_value_all arr[session[:imp_user_credit]].to_s.gsub(@dec, ".") if session[:imp_user_credit] >= 0 %>    </td>
                <td id="user_credit_unlimited_<%= tl %>"> <%= clean_value_all arr[session[:imp_user_credit_unlimited]].to_s.gsub(@dec, ".") if session[:imp_user_credit_unlimited] >= 0 %>    </td>
                <td id="user_lcr_<%= tl %>"> <%= clean_value_all arr[session[:imp_user_lcr]].to_s.gsub(@dec, ".") if session[:imp_user_lcr] >= 0 %>    </td>
                <td id="user_tariff_<%= tl %>"> <%= clean_value_all arr[session[:imp_user_tariff]].to_s.gsub(@dec, ".") if session[:imp_user_tariff] >= 0 %>    </td>
                <td id="user_payment_type_<%= tl %>"> <%= clean_value_all arr[session[:imp_user_payment_type]].to_s.gsub(@dec, ".") if session[:imp_user_payment_type] >= 0 %>    </td>
                <td id="user_address_<%= tl %>"> <%= clean_value_all arr[session[:imp_user_address]].to_s if session[:imp_user_address] >= 0 %>    </td>
                <td id="user_postcode_<%= tl %>"> <%= clean_value_all arr[session[:imp_user_postcode]].to_s if session[:imp_user_postcode] >= 0 %>    </td>
                <td id="user_city_<%= tl %>"> <%= clean_value_all arr[session[:imp_user_city]].to_s if session[:imp_user_city] >= 0 %>    </td>
                <td id="user_country_<%= tl %>"> <%= clean_value_all arr[session[:imp_user_country]].to_s if session[:imp_user_country] >= 0 %>    </td>
                <td id="user_state_<%= tl %>"> <%= clean_value_all arr[session[:imp_user_state]].to_s if session[:imp_user_state] >= 0 %>    </td>
                <td id="user_phone_<%= tl %>"> <%= clean_value_all arr[session[:imp_user_phone]].to_s.gsub(@dec, ".") if session[:imp_user_phone] >= 0 %>    </td>
                <td id="user_mob_<%= tl %>"> <%= clean_value_all arr[session[:imp_user_mob_phone]].to_s.gsub(@dec, ".") if session[:imp_user_mob_phone] >= 0 %>    </td>
                <td id="user_fax_<%= tl %>"> <%= clean_value_all arr[session[:imp_user_fax]].to_s.gsub(@dec, ".") if session[:imp_user_fax] >= 0 %>    </td>
                <td id="user_email_<%= tl %>"> <%= clean_value_all arr[session[:imp_user_email]].to_s if session[:imp_user_email] >= 0 %>    </td>
              </tr>
          <% end %>
          <% tl += 1 %>
      <% end %>
    </table>
    <br/>
    <b><%= _('Total_file_lines') %>: <%= session[:file_lines] %> </b>
    <br/>
    <br/>
    <table>
      <tr>
        <td>
          <%= form_tag :action => 'import_user_data_users', :step => "2" do %>
              <%= submit_tag(_('Back'), :disable_with => _('Processing..')) %>
          <% end %>
        </td>

        <td width="20"></td>
        <% if session[:imp_user_temp_id] >= 0 and session[:imp_user_username] >= 0 and session[:imp_user_password] >= 0 and session[:imp_user_first_name] >= 0 and session[:imp_user_last_name] >= 0 and session[:imp_user_country] > 0 %>
            <td>
              <%= form_tag :action => 'import_user_data_users', :step => "4" do %>
                  <%= submit_tag(_('Confirm_columns'), :disable_with => _('Processing..')) %>
              <% end %>
            </td>
        <% end %>

      </tr>
    </table>
    <%= _('Next_step') + ": " + _('Import_user_data') %>

<% end %>
<% if @step == 4 %>

    <% if @error_array != [] %>
        <br/>
        <br/>
        <%= _("Errors") %>:
        <table class="maintable" width="100%">
          <tr>
            <th><%= _('Temporary_User_ID') %></th>
            <th><%= _('Username') %></th>
            <th><%= _('Password') %></th>
            <th><%= _('User_first_name')+"/"+_("Company_name") %></th>
            <th><%= _('User_last_name') %></th>
            <th><%= _('Country') %></th>
            <th><%= _('Email') %></th>
            <th><%= _('Error') %></th>
          </tr>
          <% tl = 0 %>
          <% for line in @error_array %>
              <% arr = line.split(@sep) %>
              <tr class="row<%= (tl % 2 + 1).to_s %>">
                <td id="e_ti_<%= tl %>"> <%= clean_value_all(arr[session[:imp_user_temp_id]].to_s) if session[:imp_user_temp_id] >= 0 %>    </td>
                <td id="e_uu_<%= tl %>"> <%= clean_value_all(arr[session[:imp_user_username]].to_s) if session[:imp_user_username] >= 0 %>    </td>
                <td id="e_up_<%= tl %>"> <%= clean_value_all(arr[session[:imp_user_password]].to_s) if session[:imp_user_password] >= 0 %>    </td>
                <td id="e_ufn_<%= tl %>"> <%= clean_value_all(arr[session[:imp_user_first_name]].to_s) if session[:imp_user_first_name] >= 0 %>    </td>
                <td id="e_uln_<%= tl %>"> <%= clean_value_all(arr[session[:imp_user_last_name]].to_s) if session[:imp_user_last_name] >= 0 %>    </td>
                <td id="e_c_<%= tl %>"> <%= clean_value_all(arr[session[:imp_user_country]].to_s) if session[:imp_user_country] >= 0 %>    </td>
                <td id="e_email_<%= tl %>"> <%= clean_value_all(arr[session[:imp_user_email]].to_s) if session[:imp_user_email] >= 0 %>    </td>
                <td id="e_message_<%= tl %>"> <%= @msg_array[tl] %> </td>
              </tr>
              <% tl += 1 %>
          <% end %>
        </table>
    <% end %>

    <% if @warn_array != []
         MorLog.my_debug(@warn_array) %>

        <br/>
        <br/>
        <%= _("Warnings") %>:
        <table class="maintable" width="100%">
          <tr>
            <th><%= _('Temporary_User_ID') %></th>
            <th><%= _('Username') %></th>
            <th><%= _('Password') %></th>
            <th><%= _('User_first_name')+"/"+_("Company_name") %></th>
            <th><%= _('User_last_name') %></th>
            <th><%= _('Country') %></th>
            <th><%= _('Email') %></th>
            <th><%= _('Warning') %></th>
          </tr>
          <% tl = 0 %>
          <% for line in @warn_array %>
              <% arr = line.split(@sep) %>
              <tr class="row<%= (tl % 2 + 1).to_s %>">
                <td id="w_ti_<%= tl %>"> <%= clean_value_all(arr[session[:imp_user_temp_id]].to_s) if session[:imp_user_temp_id] >= 0 %>    </td>
                <td id="w_uu_<%= tl %>"> <%= clean_value_all(arr[session[:imp_user_username]].to_s) if session[:imp_user_username] >= 0 %>    </td>
                <td id="w_up_<%= tl %>"> <%= clean_value_all(arr[session[:imp_user_password]].to_s) if session[:imp_user_password] >= 0 %>    </td>
                <td id="w_ufn_<%= tl %>"> <%= clean_value_all(arr[session[:imp_user_first_name]].to_s) if session[:imp_user_first_name] >= 0 %>    </td>
                <td id="w_uln_<%= tl %>"> <%= clean_value_all(arr[session[:imp_user_last_name]].to_s) if session[:imp_user_last_name] >= 0 %>    </td>
                <td id="w_c_<%= tl %>"> <%= clean_value_all(arr[session[:imp_user_country]].to_s) if session[:imp_user_country] >= 0 %>    </td>
                <td id="w_e_<%= tl %>"> <%= clean_value_all(arr[session[:imp_user_email]].to_s) if session[:imp_user_email] >= 0 %>    </td>
                <td id="w_msg_<%= tl %>"> <%= @warn_msg[tl] %> </td>
              </tr>
              <% tl += 1 %>
          <% end %>
        </table>
    <% end %>

    <br/>
    <%= link_to b_back + _('Back'), :action => "import_user_data_users", :step => 3 %>
<% end %>

<br/>
<br/>
