<%= _('Select_user_you_wish_to_login_as') %>:

<br><br>

<%= form_tag :action => 'login_as_execute' do %>
    <select name="user">
      <% for user in @users %>
          <option value='<%= user.id %>'> <%= nice_user user %> </option>
      <% end %>

    </select>

    <br><br><br>

    <%= submit_tag _('Login_as'), :disable_with => _('Processing..') %>

<% end %>