<%= form_tag :action => 'reseller_settings_change' do %>
    <table height="470">
    <tr>
    <td valign="top">
    <div id="dhtmlgoodies_tabView1">
    <div class="dhtmlgoodies_aTab">
      <br/>
      <br/>
      <table class="simple" width="100%">
        <tr>
          <td width="30"></td>
          <td><b><%= _('Company') %>:</b></td>
          <td> <%= text_field_tag('reseller_company', h(Confline.get_value("Company", @user_id)), "class" => "input", :size => "35", :maxlength => "50") %> </td>
        </tr>
        <tr>
          <td></td>
          <td><b><%= _('Company_Email') %>:</b></td>
          <td> <%= text_field_tag('reseller_company_email', h(Confline.get_value("Company_Email", @user_id)), "class" => "input", :size => "35", :maxlength => "50") %> </td>
        </tr>
        <tr>
          <td height="10"></td>
        </tr>
        <tr>
          <td></td>
          <td><b><%= _('Version') %>:</b></td>
          <td>      <%= text_field_tag('reseller_version', h(Confline.get_value("Version", @user_id)), "class" => "input", :size => "35", :maxlength => "50") %>                </td>
        </tr>
        <tr>
          <td></td>
          <td valign="top"><b><%= _('Copyright_Title') %>:</b></td>
          <td>      <%= text_area_tag('reseller_copyright_title', h(Confline.get_value("Copyright_Title", @user_id)), "class" => "input", :cols => "32", :rows => "4") %>                </td>
        </tr>
        <tr>
          <td></td>
          <td valign="top"><b><%= _('Browser_Title') %>:</b></td>
          <td>      <%= text_field_tag('reseller_admin_browser_title', h(Confline.get_value("Admin_Browser_Title", @user_id)), "class" => "input", :size => "35", :maxlength => "50") %>                </td>
        </tr>
        <% if Confline.get_value("Registration_enabled", session[:user_id]).to_i == 1 %>
            <tr>
              <td><%= hidden_field_tag('reseller_registration_url2', "/callc/signup_start/" + current_user.get_hash) %></td>
              <td><b> <%= _("Registration_URL") %>: </b></td>
              <td id="reseller_registration_url"><b> <%= h(signup_url) %></b></td>
            </tr>
        <% end %>
        <tr>
          <td><%= hidden_field_tag('reseller_homepage_url2', Web_Dir + "/callc/login/" + current_user.get_hash) %></td>
          <td><b><%= _("Homepage_URL") %>:</b></td>
          <td id="reseller_homepage_url"><b> <%= h(homepage_url) %></b></td>
        </tr>
        <tr>
          <td></td>
          <td valign="top"><b><%= _('Frontpage_Text') %>:</b></td>
          <td>      <%= text_area_tag('frontpage_text', h(Confline.get_value2("Frontpage_Text", session[:user_id])), "class" => "input", :cols => "32", :rows => "4") %>                </td>
        </tr>
      </table>
    </div>

    <div class="dhtmlgoodies_aTab">
      <br/>
      <br/>
      <table class="simple" width="100%">
        <%= raw setting_boolean(_("Registration_enabled"), "registration_enabled", "Registration_enabled", session[:user_id]) %>
        <%= raw setting_boolean(_("Hide_registration_link"), "hide_registration_link", "Hide_registration_link", session[:user_id]) %>
        <%= raw setting_boolean(_('Show_logo_on_register_page'), "show_logo_on_register_page", "Show_logo_on_register_page", session[:user_id]) %>
        <tr>
          <td></td>
          <td valign="top">
            <b><%= _('Terms_and_conditions') %>:</b>
          </td>
          <td>
            <%= text_area_tag('terms_and_conditions', h((@agreement) ? @agreement.value2 : ""), "class" => "input", :cols => "32", :rows => "12") %>
          </td>
        </tr>
        <tr>
          <td></td>
          <td valign="top">
            <b><%= _('Use_terms_and_conditions') %>:</b>
          </td>
          <td>
            <%= check_box_tag('use_terms_and_conditions', 1, (!@agreement or @agreement.value.empty? or @agreement.value == "0") ? false : true) %>
          </td>
        </tr>
        <%= raw setting_boolean(_('Enable_VAT_checking_for_EU_companies'), 'enable_vat_checking', "Registration_Enable_VAT_checking", session[:user_id], {:tip => tooltip(_('VAT_checking_for_EU_companies'), _('VAT_checking_for_EU_companies_explanation'))}) %>
        <%= raw setting_boolean(_('Allow_VAT_blank_for_EU_companies'), 'allow_vat_blank', "Registration_allow_vat_blank", session[:user_id], {:tip => tooltip(_('VAT_blank_for_EU_companies'), _('VAT_blank_for_EU_companies_explanation'))}) %>
      </table>
    </div>

    <div class="dhtmlgoodies_aTab">
      <br/>
      <br/>
      <table class="simple" width="100%">
        <tr>
          <td></td>
          <td><b><%= _('CSV_Separator') %>:</b></td>
          <td><%= text_field_tag('csv_separator', Confline.get_value("CSV_Separator", @user_id), "class" => "input", :size => "10", :maxlength => "50") %></td>
        </tr>
        <tr>
          <td></td>
          <td><b><%= _('CSV_Decimal') %>:</b></td>
          <td><%= text_field_tag('csv_decimal', Confline.get_value("CSV_Decimal", @user_id), "class" => "input", :size => "10", :maxlength => "50") %></td>
        </tr>
	<tr>
	  <td></td>
          <td><b><%= _('Show_advanced_Device_settings') %>:</b></td>
          <td>
          <% device_settings_status = Confline.get_value("Show_advanced_Device_settings", session[:user_id]).to_i %>
          <%= radio_button_tag('device_settings', '0', (device_settings_status == 0)) %> No
          <%= radio_button_tag('device_settings', '1', (device_settings_status == 1)) %> Yes
          </td>
        </tr>
      <% if current_user.own_providers.to_i == 1  %>
        <tr>
	    <td></td>
	    <td><b><%= _('Show_advanced_Provider_settings') %>:</b></td>
	    <td>
	      <% provider_settings_status = Confline.get_value("Show_advanced_Provider_settings", session[:user_id]).to_i %>
	      <%= radio_button_tag('provider_settings', '0', (provider_settings_status == 0)) %> No
	      <%= radio_button_tag('provider_settings', '1', (provider_settings_status == 1)) %> Yes
	    </td>
        </tr>
      <% end %>
	<tr>
          <td width="30"></td>
          <td><b><%= _('Show_Rates_without_Tax') %>: </b></td>
          <td><%= check_box_tag 'show_rates_without_tax', "1", Confline.get_value("Show_Rates_Without_Tax", session[:user_id]).to_i == 1 %></td>
        </tr>
        <tr>
          <td width="30"></td>
          <td><b><%= _('Show_rates_for_users') %>: </b></td>
          <td><%= check_box_tag 'show_rates_for_users', "1", Confline.get_value("Show_rates_for_users", session[:user_id]).to_i == 1 %></td>
        </tr>
        <tr>
          <td width="30"></td>
          <td><b><%= _('Show_advanced_rates_for_users') %>: </b></td>
          <td><%= check_box_tag 'show_advanced_rates_for_users', "1", Confline.get_value("Show_Advanced_Rates_For_Users", session[:user_id]).to_i == 1 %></td>
        </tr>
        <%= raw setting_boolean(_('Hide_device_passwords_for_users'), 'hide_device_passwords_for_users', "Hide_Device_Passwords_For_Users", session[:user_id]) %>
        <%= raw setting_boolean(_('Disallow_Email_Editing'), 'disallow_email_editing', "Disallow_Email_Editing", session[:user_id]) %>
        <tr>
          <td></td>
          <td><b><%= _('Default_Date_Format') %>:</b></td>
          <td>
            <select name='date_format'>
              <% sdf = Confline.get_value('Date_format', session[:user_id]).to_s %>
              <% for df in $date_formats %>
                  <option value='<%= df %>' <%= 'selected' if df == sdf %>>
                    <%= h df.to_s.delete('%') %>
                  </option>
              <% end %>
            </select>
          </td>
          <%= raw setting_boolean(_('Disallow_prepaid_user_balance_drop_below_zero'), 'disallow_prepaid_user_balance_drop_below_zero', "Disallow_prepaid_user_balance_drop_below_zero", session[:user_id]) %>
          <%= raw settings_string(_('Logout_link'), 'logout_link', "Logout_link", session[:user_id]) %>
          <%= raw setting_boolean(_('Show_only_main_page'), 'show_only_main_page', "Show_only_main_page", session[:user_id]) %>
          <%= raw setting_boolean(_('Show_forgot_password'), 'show_forgot_password', "Show_forgot_password", session[:user_id]) %>
        </tr>
      </table>
    </div>
    <%#KRISTINA let set invoice params for all resellers%>
    <%#unless current_user.reseller_allow_providers_tariff?%>
    <div class="dhtmlgoodies_aTab">
      <%= render :partial => "reseller_settings_invoices" %>
    </div>
    <%#end%>
    <div class="dhtmlgoodies_aTab">
      <br/>
      <br/>
      <% if Confline.get_value("Email_Sending_Enabled").to_i == 1 %>
          <table class="simple" width="100%">
            <tr>
              <td></td>
              <td><b><%= _('Email_Smtp_Server') %>:</b></td>
              <td><%= text_field_tag('email_smtp_server', Confline.get_value("Email_Smtp_Server", @user_id), "class" => "input", :size => "35", :maxlength => "50") %></td>
            </tr>
            <tr>
              <% # do not show email domain, because default param is set   %>
              <%#*<tr>%>
              <%#*<td></td>%>
              <%#*<td><b><%= _('Email_Domain')%>
              <%#*:</b></td>%>
              <%#*<td><%= text_field_tag('email_domain', Confline.get_value("Email_Domain", @user_id) , "class" => "input", :size => "35", :maxlength => "50" )%>
              <%#*</td>%>
              <%#*</tr>%>
              <td></td>
              <td><b><%= _('Port') %>:</b></td>
              <td><%= text_field_tag('email_port', Confline.get_value("Email_port", @user_id).to_s, "class" => "input", :size => "35", :maxlength => "50") %></td>
            </tr>
            <tr>
              <td></td>
              <td><b><%= _('Email_Login') %>:</b></td>
              <% remail = Confline.get_value2("Email_Login", @user_id).to_i == 0 ? Confline.get_value("Email_Login", @user_id) : "" %>
              <td><%= text_field_tag('email_login', remail, "class" => "input", :size => "35", :maxlength => "50") %></td>
            </tr>
            <tr>
              <td></td>
              <td><b><%= _('Email_Password') %>:</b></td>
              <td>
                <div style="position: relative;">
                  <%= text_field_tag('email_password', Confline.get_value2("Email_Password", @user_id).to_i == 0 ? Confline.get_value("Email_Password", @user_id) : "", "class" => "input", :size => "35", :maxlength => "50", :onChange => "validate_password();") %>
                  <div id="email_message" style="position: absolute; left: 260px; top: 0px;"><%= b_exclamation %><%= _("Notice_email_password_fax_emails_problem") %></div>
                </div>
              </td>
            </tr>
            <tr>
              <td></td>
              <td><b><%= _('Email_Batch_Size') %>:</b></td>
              <td><%= text_field_tag('email_batch_size', Confline.get_value("Email_Batch_Size", @user_id), "class" => "input", :size => "35", :maxlength => "50") %></td>
            </tr>
            <tr>
              <td></td>
              <td><b><%= _('From') %>:</b></td>
              <td><%= text_field_tag('email_from', Confline.get_value("Email_from", @user_id), "class" => "input", :size => "35", :maxlength => "50") %></td>
            </tr>
            <tr>
              <td></td>
              <td><b><%= _('Testing_email_sending') %>:</b></td>
              <td>
                <% reseller = current_user -%>
                <% if !reseller.email.blank? -%>
                    <%= link_to b_email_send + " " +_('Test_email_will_be_sent_to') + ": " + reseller.email.to_s, {:action => 'send_test_email'}, {:id => "email_test_link"} %>
                <% else %>
                    <%= link_to _('Cannot_send_test_email_because_your_email_address_is_empty'), :controller => :users, :action => :personal_details %>
                <% end %>
              </td>
            </tr>
          </table>
          <script type="text/javascript">
              function validate_password() {
                  var reg_exp = /^[a-zA-Z0-9]*$/;
                  if ($("email_password").value.search(reg_exp) == -1) {
                      $("email_message").show();
                  } else {
                      $("email_message").hide();
                  }
              }
              validate_password();
          </script>
      <% else %>
          <table class="simple" width="100%">
            <tr>
              <td width="30"></td>
              <td><b><%= _('Email_sending_is_disabled_globally.') %></b></td>
              <td></td>
            </tr>
          </table>
      <% end %>
    </div>
    <div class="dhtmlgoodies_aTab">
      <br/>
      <br/>
      <table class="simple" width="100%">
        <tr>
          <td width="30"><br/><br/></td>
          <td><b><%= _('Total_tax_name') %></b><br/><br/></td>
          <td><br/><br/></td>
          <td><%= text_field_tag('total_tax', Confline.get_value("Total_tax_name", @user_id), "class" => "input", :size => "35", :maxlength => "50") %>
            <br/><br/></td>
          <td></td>
        </tr>
        <tr>
          <td width="30"></td>
          <td><b><%= _('Compound_tax') %></b></td>
          <td></td>
          <td>
            <% value = Confline.get_value("Tax_compound", session[:user_id]) -%>
            <% value == "" ? value = 1 : value = value.to_i -%>
            <%= check_box_tag("compound_tax", 1, (value == 1)) %>
          </td>
          <td></td>
        </tr>
        <tr>
          <td width="30"></td>
          <td><b><%= _('Tax') %></b></td>
          <td><b><%= _('Active') %>?</b></td>
          <td><b><%= _('Name') %></b></td>
          <td><b><%= _('Value') %></b></td>
        </tr>
        <tr>
          <td width="30"></td>
          <td><%= _('Tax_1') %></td>
          <td></td>
          <td><%= text_field_tag('tax1name', Confline.get_value("Tax_1", @user_id), "class" => "input", :size => "35", :maxlength => "50") %></td>
          <td><%= text_field_tag('tax1value', Confline.get_value("Tax_1_Value", @user_id).to_f, "class" => "input", :size => "5", :maxlength => "10") %>&nbsp;%</td>
        </tr>
        <tr>
          <td></td>
          <td><%= _('Tax_2') %></td>
          <td><%= check_box_tag 'tax2active', "1", Confline.get_value2("Tax_2", @user_id).to_i == 1 %></td>
          <td><%= text_field_tag('tax2name', Confline.get_value("Tax_2", @user_id), "class" => "input", :size => "35", :maxlength => "50") %></td>
          <td><%= text_field_tag('tax2value', Confline.get_value("Tax_2_Value", @user_id).to_f, "class" => "input", :size => "5", :maxlength => "10") %>&nbsp;%</td>
        </tr>
        <tr>
          <td></td>
          <td><%= _('Tax_3') %></td>
          <td><%= check_box_tag 'tax3active', "1", Confline.get_value2("Tax_3", @user_id).to_i == 1 %></td>
          <td><%= text_field_tag('tax3name', Confline.get_value("Tax_3", @user_id), "class" => "input", :size => "35", :maxlength => "50") %></td>
          <td><%= text_field_tag('tax3value', Confline.get_value("Tax_3_Value", @user_id).to_f, "class" => "input", :size => "5", :maxlength => "10") %>&nbsp;%</td>
        </tr>
        <tr>
          <td><br/><br/></td>
          <td><%= _('Tax_4') %></td>
          <td><%= check_box_tag 'tax4active', "1", Confline.get_value2("Tax_4", @user_id).to_i == 1 %></td>
          <td><%= text_field_tag('tax4name', Confline.get_value("Tax_4", @user_id), "class" => "input", :size => "35", :maxlength => "50") %></td>
          <td><%= text_field_tag('tax4value', Confline.get_value("Tax_4_Value", @user_id).to_f, "class" => "input", :size => "5", :maxlength => "10") %>&nbsp;%</td>
        </tr>
        <tr>
          <td></td>
          <td colspan="4">
            <b><%= link_to b_check + _('Apply_to_all_Users'), {:action => 'tax_change', :u => 1}, :confirm => _('are_you_sure'), :method => "post" %></b>
          </td>
        </tr>
        <tr>
          <td></td>
          <td colspan="4">
            <b><%= link_to b_check + _('Apply_to_all_Calling_Card_Groups'), {:action => 'tax_change', :u => 2}, :confirm => _('are_you_sure'), :method => "post" %></b>
          </td>
        </tr>
      </table>
    </div>
    <% unless current_user.reseller_allow_providers_tariff? %>
        <div class="dhtmlgoodies_aTab">
          <%= render :partial => "settings_privacy", :locals => {:width => 470} %>
        </div>
    <% end %>
    <%if Confline.get_value('Allow_API').to_i == 1%>
        <div class="dhtmlgoodies_aTab">
          <br />
          <br />
          <table class="simple" width="100%">
            <tr <%= tooltip(_('API_Secret_Key'), _('API_Secret_Key_Explanation'))%>>
              <td></td>
              <td><b><%= _('API_Secret_Key')%>:</b></td>
              <td><%= text_field_tag('api_secret_key', Confline.get_value("API_Secret_Key", @user_id) , "class" => "input", :size => "35", :maxlength => "255" )%></td>
            </tr>
            <%= raw setting_boolean(_('Disable_hash_checking'), 'api_disable_hash_checking', "API_Disable_hash_checking", session[:user_id]) %>
          </table>
        </div>
    <%end%>

    </div>
    </td>
    </tr>
    </table>
    <br/>
    <br/>
    <br/>
    <%= submit_tag _('Save_changes'), :disable_with => _('Processing..') %>

    <% content_for :scripts do %>
        <script type="text/javascript">
            <% setting_tabs = ["Global"]
      setting_tabs << "Registration"
      setting_tabs << "Various"
      setting_tabs << "Invoices" #if  !current_user.reseller_allow_providers_tariff?
      setting_tabs += ["Emails", "Tax"]
      setting_tabs << "Privacy" if  !current_user.reseller_allow_providers_tariff?
      setting_tabs << "API"  if Confline.get_value('Allow_API').to_i == 1 %>
            initTabs('dhtmlgoodies_tabView1', Array(<%= raw setting_tabs.map{|tab| "'"+ _(tab) + "'"}.join(", ") %>), 0, 600, 560);
        </script>
    <% end %>
<% end %>
