<%= b_info + _('VM_setup_notice') %>
<br><br>
<%= form_tag :action => 'settings_vm_change' do %>
    <table class="simple" width="50%">

      <tr>
        <td colspan="3" class="bottom_border">
          <b><%= _('VoiceMail_Settings') %></b>
        </td>
      </tr>

      <tr>
        <td height="10"></td>
      </tr>

      <tr>
        <td></td>
        <td><b><%= _('VM_Extension') %>:</b></td>
        <td>      <%= text_field_tag('vm_retrieve_extension', confline("VM_Retrieve_Extension"), "class" => "input", :size => "10", :maxlength => "30") %>                </td>
      </tr>

      <tr>
        <td height="20"></td>
      </tr>

      <tr>
        <td colspan="3" class="bottom_border">
          <b><%= _('VM_Server') %></b>
        </td>
      </tr>

      <tr>
        <td height="10"></td>
      </tr>

      <tr>
        <td width="30"></td>
        <td><b><%= _('VM_Server_Active') %>:</b></td>
        <td>      <%= check_box_tag 'vm_server_active', value = "1", checked = confline("VM_Server_Active").to_i == 1 %>                 </td>
      </tr>
      <tr>
        <td></td>
        <td><b><%= _('VM_Server_Device') %>:</b></td>
        <td>
          <% vm_device_id = confline("VM_Server_Device_ID") %>

          <select name="vm_server_device_id">
            <option value="" selected></option>
            <% for device in @devices %>
                <option value="<%= device.id %>" <%= "selected" if vm_device_id.to_i == device.id.to_i %>> <%= nice_device(device) %> </option>
            <% end %>
          </select>
        </td>
      </tr>

      <tr>
        <td></td>
        <td><b><%= _('VM_Retrieve_Extension') %>:</b></td>
        <td>      <%= text_field_tag('vm_server_retrieve_extension', confline("VM_Server_Retrieve_Extension"), "class" => "input", :size => "10", :maxlength => "30") %>                </td>
      </tr>

      <tr>
        <td height="40"></td>
        <td><%= submit_tag _('Save_changes'), :disable_with => _('Processing..') %></td>
        </td>
        <td></td>
      </tr>

    </table>


<% end %>

<br><br>

<% link_to b_extlines + _('Extlines'), {:action => "voicemail_extlines"} %>