<% if recordings_addon_active? or calling_cards_active? or sms_active? or (defined?(MA_Active) and MA_Active == 1) %>
    <%= form_tag :action => 'settings_addons_change' do %>
        <table height="470">
          <tr>
            <td valign="top">
              <div id="dhtmlgoodies_tabView1">
                <% if rec_active? %>
                    <div class="dhtmlgoodies_aTab">
                      <br/>
                      <br/>
                      <table class="simple" width="100%">
                        <tr>
                          <td width="30"></td>
                          <td><b><%= _('Use_external_Server') %>:</b></td>
                          <td></td>
                          <td> <%= check_box_tag 'ra_use_external_server', "1", Confline.get_value("Recordings_addon_Use_External_Server", session[:user_id]).to_i == 1 %> </td>
                        </tr>
                        <tr>
                          <td width="30"></td>
                          <td><b><%= _('Recordings_Server') %>:</b></td>
                          <td><b><%= _('IP') %>:</b></td>
                          <td> <%= text_field_tag('ra_ip', Confline.get_value("Recordings_addon_IP", session[:user_id]), "class" => "input", :size => "35", :maxlength => "15") %> </td>
                        </tr>
                        <tr>
                          <td width="30"></td>
                          <td></td>
                          <td><b><%= _('Port') %>:</b></td>
                          <td> <%= text_field_tag('ra_port', Confline.get_value("Recordings_addon_Port", session[:user_id]), "class" => "input", :size => "10", :maxlength => "5") %> </td>
                        </tr>
                        <tr>
                          <td width="30"></td>
                          <td></td>
                          <td><b><%= _('Login') %>:</b></td>
                          <td> <%= text_field_tag('ra_login', Confline.get_value("Recordings_addon_Login", session[:user_id]), "class" => "input", :size => "35", :maxlength => "255") %> </td>
                        </tr>
                      </table>
                    </div>
                <% end %>
                <% if calling_cards_active? %>
                    <div class="dhtmlgoodies_aTab">
                      <br/>
                      <br/>
                      <table class="simple" width="100%">
                        <tr>
                          <td width="30"></td>
                          <td><b><%= _('CCShop_show_values_without_VAT_for_user') %>:</b></td>
                          <td><%= check_box_tag 'CCShop_show_values_without_VAT_for_user', "1", Confline.get_value("CCShop_show_values_without_VAT_for_user", session[:user_id]).to_i == 1 %> </td>
                        </tr>
                      </table>
                    </div>
                <% end %>
                <% if sms_active? %>
                    <div class="dhtmlgoodies_aTab">
                      <br/>
                      <br/>
                      <table class="simple" width="100%">
                        <tr>
                          <td width="30"></td>
                          <td><b><%= _('Email_Pop3_Server') %>:</b></td>
                          <td><%= text_field_tag('email_pop3_server', Confline.get_value("Email_Pop3_Server"), "class" => "input", :size => "35", :maxlength => "50") %></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td><b><%= _('Email_Login') %>:</b></td>
                          <td><%= text_field_tag('email_login', Confline.get_value("SMS_Email_Login"), "class" => "input", :size => "35", :maxlength => "50") %></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td><b><%= _('Email_Password') %>:</b></td>
                          <td><%= text_field_tag('email_password', Confline.get_value("SMS_Email_Password"), "class" => "input", :size => "35", :maxlength => "50") %></td>
                        </tr>
                        <tr>
                          <td width="30"></td>
                          <td><b><%= _('Send_SMS_from_Front_page') %>:</b></td>
                          <td><%= check_box_tag 'send_sms_from_front_page', "1", Confline.get_value("Send_SMS_from_Front_page", session[:user_id]).to_i == 1 %> </td>
                        </tr>
                        <tr>
                          <td></td>
                          <td valign="top"><b><%= _('Frontpage_Text_for_SMS') %>:</b></td>
                          <td><%= text_area_tag('frontpage_sms_text', h(Confline.get_value2("Frontpage_SMS_Text", session[:user_id])), "class" => "input", :cols => "32", :rows => "4") %></td>
                        </tr>
                      </table>
                    </div>
                <% end %>
              </div>
              <script type="text/javascript">
                  <%
                    names = []
                    names << _('Recordings')    if recordings_addon_active?
                    names << _('Calling_Cards') if calling_cards_active?

                    names << _('SMS')           if sms_active?
                  %>
                  initTabs('dhtmlgoodies_tabView1', Array('<%= names.join("','") %>'), 0, 550, 400);
              </script>
            </td>
          </tr>
          <tr>
            <td>
              <%= submit_tag _('Save_changes'), :disable_with => _('Processing..') %>
            </td>
          </tr>
        </table>
    <% end %>
<% else %>
    <table class="simple" width="100%">
      <tr>
        <td><%= _('Disabled') %></td>
      </tr>
    </table>
<% end %>
