<%= _('Logo_settings') %>
<br/>
<br/>
<table>
  <%= form_tag({:action => 'settings_logo_save'}, :multipart => true) do %>
      <tr>
        <td><%= file_field_tag "logo" %></td>
      </tr>
      <tr>
        <td><%= submit_tag _('Upload_logo'), :disable_with => _('Processing..') %></td>
      </tr>
  <% end %>
</table>
<br/>
<br/>
<% if @logo %>
    <b><%= @logo %></b><br/><br/>
    <%= image_tag @logo, :alt => 'Logo' %>
<% end %>