<table class="simple">
  <tr>
    <td><%= _('Name') %></td>
    <td><%= text_field('cron_setting', 'name', "class" => "input") %></td>
  </tr>
  <tr>
    <td><%= _('Action') %></td>
    <td><%= select_tag 'cron_setting[action]', options_for_select(CronSetting.cron_settings_actions, @cron_setting.try(:action).to_s), {:onChange => 'hide_elements();'} %></td>
  </tr>
  <tr id="user">
    <td><%= _('User') %></td>
    <td><%= select_tag 'cron_setting[target_id]', options_for_select([[_('All'), -1]] + @users.map { |u| [nice_user(u), u.id.to_s] }, @cron_setting.target_id.to_s) %></td>
  </tr>
  <tr id="provider">
    <td><%= _('Provider') %></td>
    <td><%= select_tag 'cron_setting[provider_target_id]', options_for_select([[_('All'), -1]] + @providers.map { |u| [u.name, u.id.to_s] }, @cron_setting.provider_target_id.to_s) %></td>
  </tr>
  <tr id="user_tariff">
    <td><%= _('Tariff') %></td>
    <td><%= select_tag 'cron_setting[to_target_id]', options_for_select(@tariffs.map { |u| [u.name, u.id.to_s] }, @cron_setting.to_target_id.to_s) %></td>
  </tr>
  <tr id="provider_tariff">
    <td><%= _('Provider Tariff') %></td>
    <td><%= select_tag 'cron_setting[provider_to_target_id]', options_for_select(@provider_tariffs.map { |u| [u.name, u.id.to_s] }, @cron_setting.provider_to_target_id.to_s) %></td>
  </tr>
  <tr>
    <td><%= _('Periodic_type') %></td>
    <td><%= select_tag 'cron_setting[periodic_type]', options_for_select(CronSetting.cron_settings_periodic_types, @cron_setting.periodic_type.to_i) %></td>
  </tr>
  <tr>
    <td> <%= _('Repeat_forever') %>?</td>
    <td> <%= check_box('cron_setting', 'repeat_forever', {:onclick => 'hide_elemnt();'}) %></td>
  </tr>
  <% valid_from = current_user.user_time(@cron_setting.valid_from)
     valid_till = current_user.user_time(@cron_setting.valid_till) %>
  <tr>
    <td> <%= _('From') %></td>
    <td>
      <%= select_year(valid_from, :prefix => "activation_start") %>
      <%= select_month(valid_from, :prefix => "activation_start", :use_month_numbers => false) %>
      <%= select_day(valid_from, :prefix => "activation_start") %>
      <%= select_hour(valid_from, :prefix => "activation_start", :prompt => {:minute => false}) %>
      <%= b_info %> <%= _('Value_in_your_time_zone') %>:
      <%= ActiveSupport::TimeZone[current_user.time_zone] %>
    </td>
  </tr>
  <tr id="till">
    <td> <%= _('Till') %></td>
    <td> <%= select_year(valid_till, :end_year => Date.today.year+10, :prefix => "activation_end", :use_month_numbers => false) %>
      <%= select_month(valid_till, :end_year => Date.today.year+10, :prefix => "activation_end", :use_month_numbers => false) %>
      <%= select_day(valid_till, :end_year => Date.today.year+10, :prefix => "activation_end", :use_month_numbers => false) %>
      <%= select_hour(valid_till, :end_year => Date.today.year+10, :prefix => "activation_end", :use_month_numbers => false) %>
      <%= b_info %> <%= _('Value_in_your_time_zone') %>:
      <%= ActiveSupport::TimeZone[current_user.time_zone] %>
    </td>
  </tr>
  <!---
  <tr id="to_do">
    <td><%= _('To_do_times') %></td>
    <td><%= text_field('cron_setting', 'to_do_times', "class" => "input") %></td>
  </tr>
  --->
  <tr>
    <td><%= _('Description') %> </td>
    <td><%= text_area 'cron_setting', 'description', "class" => "input" %></td>
  </tr>
</table>

<script type="text/javascript">
    function hide_elemnt(value) {

        if ($('cron_setting_repeat_forever').checked || value == 1) {
            $('till').style.display = 'none';
        }
        else {
            $('till').style.display = '';
        }
    }
    hide_elemnt(<%=@cron_setting.repeat_forever%>);

    function hide_elements(value) {

        if ($('cron_setting[action]').value == 'change_provider_tariff') {
            $('user').style.display = 'none';
            $('user_tariff').style.display = 'none';
            $('provider').style.display = '';
            $('provider_tariff').style.display = '';
        }
        else {
            $('user').style.display = '';
            $('user_tariff').style.display = '';
            $('provider').style.display = 'none';
            $('provider_tariff').style.display = 'none';
        }
    }
    hide_elements()
</script>