<%= link_to b_add + _('New'), :action => 'new' %>
<br/><br/>
<table width="100%" class="maintable">
  <tr>
    <th align="left"><%= _('Name') %></th>
    <th align="left"><%= _('Action') %></th>
    <th align="left"><%= _('User') %></th>
    <th align="left"><%= _('Provider') %></th>
    <th></th>
    <th></th>
  </tr>

  <% @cron_settings.each_with_index { |cs, i| %>
      <tr class="row<%= (i % 2 + 1).to_s %>">
        <td id="name_<%= cs.id %>"><%= h cs.name %></td>
        <td id="action_<%= cs.id %>"><%= cs.action %></td>
        <td id="user_<%= cs.id %>"><%= cs.target ? link_nice_user(cs.target) : _('All') if cs.target_class == 'User' %></td>
        <td id="provider_<%= cs.id %>"><%= cs.target ? cs.target.name : _('All') if cs.target_class == 'Provider' %></td>
        <td align="center" id="edit_<%= cs.id %>"><%= link_to b_edit, {:action => 'edit', :id => cs.id}, :id => "cs_edit_#{cs.id}" %></td>
        <td align="center" id="destroy_<%= cs.id %>"><%= link_to b_delete, {:action => 'destroy', :id => cs.id}, :id => "cs_destroy_#{cs.id}", :confirm => _('Are_you_sure'), :method => :post %></td>
      </tr>
  <% } %>
</table>
