<%if @find_rec_size.to_i > -1%>
  <p><b><%=_('Delete_by')%> : </b>
    <%if @type == 1%>
      <b><%=_('Device')%> : </b> <%=nice_device(@device)%>
    <%else%>
      <b><%=_('Date')%> : </b> <%=session_from_datetime%> - <%=session_till_datetime%>
    <%end%>
  </p>
  <p><b><%=_('Found_recordings_to_delete')%> : <%=@find_rec_size.to_i%> </b></p>
<%else%>
  <p><b><%=_('Delete_recordings')%></b></p>
<%end%>
<br />
<%if @find_rec_size.to_i == -1%>
  <div class="form_background">
    <%= form_tag :action => :bulk_management do %>
      <table>
        <tr>
          <td><%=_('Device')%>:</td>
          <td><%= radio_button_tag('rec_action', '1' ) %></td>
          <td><%= select_tag("s_device", options_for_select(@devices.map{|dev| [nice_device(dev, {:image => false}) ,dev.id.to_s ]})) %>
          </td>
        </tr>
        <tr>
          <td><%=_('Date')%>:</td>
          <td><%= radio_button_tag('rec_action', '2' ) %></td>
          <td><%= _('From') %>: <%= select_datetime(Time.mktime(session[:year_from], session[:month_from], session[:day_from], session[:hour_from], session[:minute_from]), :end_year => Date.today.year+1, :prefix => "date_from", :use_month_numbers => false) %>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <%= _('to') %>: <%= select_datetime(Time.mktime(session[:year_till], session[:month_till], session[:day_till], session[:hour_till], session[:minute_till]), :end_year => Date.today.year+1, :prefix => "date_till", :use_month_numbers => false) %></td>
        </tr>
        <tr>
          <td colspan="3"><%= submit_tag _('Delete'), :disable_with=>_('Processing..')%></td>
        </tr>
      </table>
    <%end%>
  </div>
<%else%>
  <% if @find_rec_size.to_i > 0%>
    <%= button_to(_('Confirm'), {:action=>:bulk_delete}, {:class=>"imput", :confirm => _('are_you_sure'), :id => "rec_delete_link", :method => "post"}) %>
    <br />
    <br />
  <%end%>
  <%= link_to b_back + _('Back_to_bulk_management'), :action => :bulk_management%>
<%end%>