<div class="nb"><%= b_date + nice_date_time(@recording.datetime) %> <br></div>
<% call = @recording.call %>

<% if call %>
    <%= _('Duration') %>: <%= call.billsec %><br>
    <%= _('Source') %>: <%= call.src %><br>
    <%= _('Destination') %>: <%= call.dst %>  <br>
<% end %>

<br><br>
<% if session[:usertype] != "user" %>
    <%= form_tag :action => "update", :id => @recording.id do %>
        <table class='maintable'>
          <tr>
            <th><%= _("Comment") %></th>
          </tr>
          <tr>
            <td><%= text_field("recording", "comment", :class => "input", :size => "100", :maxlength => "200") %></td>
          </tr>
        </table>
        <br>
        <%= submit_tag(_("Update"), :disable_with => _('Processing..')) %>
    <% end %>
<% end %>

