<% if params[:id] and (session[:usertype] == "admin" or session[:usertype] == "reseller") %>
    <div class="nb"><%= b_user + _('user') %>: <%= link_nice_user(@user) %></div>
<% end %>

<div class="nb"><%= b_date + @date_from.to_s + " - " + @date_till.to_s %> <br></div>

<% if @search_source.to_s != "" %>
    <div class="nb"><%= _("Source") + " : " + @search_source.to_s %> <br></div>
<% end %>

<% if @search_destination.to_s != "" %>
    <div class="nb"><%= _("Destination") + " : " + @search_destination.to_s %> <br></div>
<% end %>

<table width="100%" class="simple">
  <tr>
    <td align="right">
      <%= link_to_function(b_search + _('Search'), "Element.toggle('search_details')") %>
    </td>
  </tr>
</table>

<%= form_tag :action => params[:action] do %>
    <div id="search_details" <%= "style='display:none;'" if @search.to_s == "0" %>>
      <br>
      <%= hidden_field_tag 'search_on', 1 %>
      <%= _('From') %>: <%= select_datetime(Time.mktime(session[:year_from], session[:month_from], session[:day_from], session[:hour_from], session[:minute_from]), :end_year => Date.today.year+1, :prefix => "date_from", :use_month_numbers => false) %>
      &nbsp;&nbsp;
      <%= _('to') %>: <%= select_datetime(Time.mktime(session[:year_till], session[:month_till], session[:day_till], session[:hour_till], session[:minute_till]), :end_year => Date.today.year+1, :prefix => "date_till", :use_month_numbers => false) %>
      <br>
      <br>
      <%= _("Source") %>: <%= text_field_tag 's_source', @search_source, "class" => "input", :size => "25", :maxlength => "50" %>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= _("Destination") %>: <%= text_field_tag 's_destination', @search_destination, "class" => "input", :size => "25", :maxlength => "50" %>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= submit_tag _('Search'), :disable_with => _('Processing..') %>
    </div>
    <div style="float: right;">
      <%= link_to b_cross + _('Clear_search'), :action => params[:action], :clear=>1 if @search.to_i == 1%>
    </div>
    <br>
<% end %>
<br>
<%= render :partial => "recordings_list" %>
<br>
<br>

