
<b><%= b_user + _('User') %>:</b> <%= @user.first_name + " " + @user.last_name %><br>
<b><%= b_device + _('Device') %>:</b> <%= link_nice_device @device %><br><br>

<div class="nb">
  <%= form_tag(:action => 'show', :show_rec => @device.id) do %>
    <%= _('From') %>: <%= select_date(Time.mktime(session[:year_from], session[:month_from], session[:day_from]), :end_year => Date.today.year+1, :prefix => "date_from") %>
    &nbsp;&nbsp;<%= _('to') %>: <%= select_date(Time.mktime(session[:year_till], session[:month_till], session[:day_till]), :end_year => Date.today.year+1, :prefix => "date_till") %>

    <!--
        &nbsp;&nbsp;<%= _('User') %>:&nbsp;

        <select name="show_rec">
            <option value="-1" selected><%= _('All_users') %></option>
    <% for user in User.find(:all, :conditions => "hidden = 0", :order => "first_name ASC") %>
      <%  selected = ""
      selected = "selected" if user.id.to_s == @user_id %>
                  <option value="<%= user.id %>" <%= selected %>> <%= h user.first_name %> <%= h user.last_name %>  </option>
    <% end %>
        </select>
    -->

    &nbsp;&nbsp;<%= submit_tag _('Change'), :disable_with=>_('Processing..')%>


  <% end %>
</div>

<br>

<% if @recs.size > 0 %>
  <%= page_select_header(@page, @total_pages, @page_select_options) %>
  <table width="100%" class="maintable">
    <thead>
      <tr>
        <th align="left">   <%= _('Date') %>     </th>
        <th align="left">   <%= _('Source') %>     </th>
        <th align="left">   <%= _('Destination') %>     </th>
        <% if mor_11_extend? %>
            <th align="left"> <%= _('Provider') %> </th>
        <% end %>
        <th align="center">   <%= _('Duration') %>     </th>
        <th align="center">        </th>
        <th align="center">        </th>
      </tr>
    </thead>

    <% @recs.each_with_index{ |rec, i|%>
      <% call = rec.call%>
      <%if call %>
        <tr class="row<%= (i % 2 + 1).to_s %>">
          <td> <%= nice_date_time(rec.datetime) %></td>
          <td> <%= rec.src %></td>
          <td> <%= hide_dst_for_user(current_user, "gui", rec.dst) %></td>
          <% if mor_11_extend? %>
            <td align="left"> <%= rec.provider_name %> </td>
          <% end %>
          <% if call.billsec > 0 or @show_recordings_with_zero_billsec%>
            <td align="center"><%= nice_time call.billsec %> </td>
            <td align="center"> <%= link_to b_play, { :action => "play_rec", :rec => rec.id }, :popup => ['new_window', 'height=200,width=310'] %></td>
            <td align="center"> <%= link_to b_download, Recordings_Folder+call.uniqueid.to_s+".mp3" %> </td>
          <% else %>
            <td align = "center" colspan = 3>	  <%= b_exclamation + _('Recording_failed') %>
              &nbsp;&nbsp;
              <% if call and call.disposition != "ANSWERED" %>
                <%= _('Call_status') %>: <%= call.disposition %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% } %>
  </table>
<% else %>
  <div class="nb"><%= _('No_data') %></div>
<% end %>
