<%if @devices and @devices.size.to_i > 0%>

    <%= page_select_header(@options[:page], @total_pages) if @total_pages > 1%>

    <table width="100%" class="maintable">
      <tr>
        <th><%=_('Device')%></th>
        <th><%=_('User')%></th>
        <th></th>
      </tr>
      <%@devices.each_with_index{|d,i|%>
          <tr class="row<%= (i % 2 + 1).to_s %>">
            <td id="device_id_<%=d.id%>"><%=nice_device(d,{:image => true,:tech => true})%></td>
            <td id="device_user_<%=d.id%>"><%=h nice_user(d.user) if d.user%></td>
            <td align="center" id="edit_<%=d.id%>"><%=link_to b_edit, d.provider ?  {:controller=>:providers, :action=>:edit, :id=>d.id} : {:action=>:device_edit, :id=>d.id}, :id=>"edit_device_#{d.id}" %></td>
          </tr>
      <%}%>
    </table>
<%end%>