<% if Confline.get_value("Show_advanced_Device_settings", session[:user_id]).to_i == 1 %>
    <tr>
      <td colspan="2" height="20"></td>
    </tr>
    <tr>
      <td colspan="2" class="bottom_border">
        <b><%= _('Allowed_addresses') %></b>
      </td>
    </tr>
    <tr>
      <td colspan="2" height="10"></td>
    </tr>

    <tr>
      <td>
        <div class="simple"><%= _('IP') %></div>
      </td>
      <td>
        <div class="simple"><%= _('Mask') %></div>
      </td>
    </tr>
    <tr>
      <td>  <%= text_field_tag 'ip1', @ip1, "class" => "input" %>  </td>
      <td>  <%= text_field_tag 'mask1', @mask1, "class" => "input" %>  </td>
    </tr>
    <tr>
      <td>  <%= text_field_tag 'ip2', @ip2, "class" => "input" %>  </td>
      <td>  <%= text_field_tag 'mask2', @mask2, "class" => "input" %>  </td>
    </tr>
    <tr>
      <td>  <%= text_field_tag 'ip3', @ip3, "class" => "input" %>  </td>
      <td>  <%= text_field_tag 'mask3', @mask3, "class" => "input" %>  </td>
    </tr>
<% end %>