<tr>
  <td height="20"></td>
</tr>
<tr <%= tooltip(_('CallerID'), _('Device_CallerID_Explanation')) %>>
  <td class="bottom_border"><b><%= _('CallerID') %></b></td>
</tr>
<tr>
  <td height="10"></td>
</tr>
<tr>
  <td valign="top">
    <table class="simple">
      <% if !(session[:usertype] == 'accountant' and session[:acc_device_edit_opt_3] != 2) %>
        <tr>
          <td id = "cid_name_name"><%= _('Name') %>:</td>
          <td id = "cid_name_value"><%= text_field_tag 'cid_name', @cid_name, "class" => "input" %></td>
        </tr>
      <% else %>
        <% if session[:usertype] == 'accountant' and session[:acc_device_edit_opt_3] == 1 %>
          <tr>
            <td id = "cid_name_name"><%= _('Name') %>:</td>
            <td id = "cid_name_value"><%= @cid_name %></td>
          </tr>
        <% end %>
      <% end %>
      <% if !(session[:usertype] == 'accountant' and session[:acc_device_edit_opt_4] != 2) %>
        <tr>
          <td id="cid_number_name"> <%= _('Number') %>:   </td>
          <td id="cid_number_value"> <%= text_field_tag 'cid_number', @cid_number, "class" => "input" %> </td>
        </tr>
      <% else %>
        <% if session[:usertype] == 'accountant' and session[:acc_device_edit_opt_4] == 1 %>
          <tr>
            <td id="cid_number_name"><%= _('Number') %>:</td>
            <td id="cid_number_value"><%= @cid_number %></td>
          </tr>
        <% end %>
      <% end %>
      <% if @dids and @dids.size > 0%>
        <tr>
          <td><%= _('Number_from_DID') %>:</td>
          <td>
            <select name="cid_number_from_did" >
              <option value="" selected > </option>
              <% for did in @dids %>
                <option value=<%= did.did %> > <%= did.did %> </option>
              <% end %>
            </select>
          </td>
        </tr>
        <tr>
          <td> <%= _('CID_from_DIDs') %>:   </td>
          <td> <%= check_box_tag 'cid_from_dids', value = "1", checked = @device.cid_from_dids == 1 %> </td>
        </tr>
      <% end %>
    </table>
  </td>
</tr>