<tr>
  <td height="20"></td>
</tr>
<tr <%= tooltip(_('CallerID'), _('Device_CallerID_Explanation')) %>>
  <td class="bottom_border"><b><%= _('CallerID') %></b></td>
</tr>
<tr>
  <td height="10"></td>
</tr>
<tr>
  <td valign="top">
    <table class="simple">
      <% if !(session[:usertype] == 'accountant' and session[:acc_device_edit_opt_3] != 2) %>
          <tr>
            <td id="cid_name_name"><%= _('Name') %>:</td>
            <td id="cid_name_value"><%= text_field_tag 'cid_name', @cid_name, "class" => "input" %></td>
          </tr>
      <% else %>
          <% if session[:usertype] == 'accountant' and session[:acc_device_edit_opt_3] == 1 %>
              <tr>
                <td id="cid_name_name"><%= _('Name') %>:</td>
                <td id="cid_name_value"><%= @cid_name %></td>
              </tr>
          <% end %>
      <% end %>
      <% if !(session[:usertype] == 'accountant' and session[:acc_device_edit_opt_4] != 2) %>
          <tr>
            <td id="cid_number_name"> <%= _('Number') %>:</td>
            <td id="cid_number_value"> <%= text_field_tag 'cid_number', @cid_number, "class" => "input" %> </td>
            <td id="cid_number_control" <%= tooltip(_('Control_callerid_by_cid'), _('Control_callerid_by_cid_explanation')) %>> <%= check_box_tag :enable_callerid_by_cid, 1, @device.control_callerid_by_cids?, "class" => "input", :disabled => (@cid_number.to_s.blank?) %> </td>
          <script type='text/javascript'>
              function toggleControlByCIDCheckbox(event){
                disable = (event.target.value == '');
                $('enable_callerid_by_cid').disabled = disable;
                if(disable){
                  $('enable_callerid_by_cid').checked = !disable;
                  $('control_callerid_by_cids').hide();
                }
              }
              function toggleControlByCIDSelect(event){
                if(event.target.checked){
                  $('control_callerid_by_cids').show();
                }else{
                  $('control_callerid_by_cids').hide();
                }
              }
              window.addEventListener('load', 
              function() {
                 $('cid_number').addEventListener('keypress', function(event){toggleControlByCIDCheckbox(event);});
                 $('enable_callerid_by_cid').addEventListener('change', function(event){toggleControlByCIDSelect(event)});
                 if(!$('enable_callerid_by_cid').checked){
                   $('control_callerid_by_cids').hide()
                 }
               });
          </script>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>
              <%= select_tag('control_callerid_by_cids', options_for_select(@device.callerids.map { |clid| [clid.cli, clid.id]}, @device.control_callerid_by_cids), :visible => @device.control_callerid_by_cids?) %>
            </td>
          </tr>
      <% else %>
          <% if session[:usertype] == 'accountant' and session[:acc_device_edit_opt_4] == 1 %>
              <tr>
                <td id="cid_number_name"><%= _('Number') %>:</td>
                <td id="cid_number_value"><%= @cid_number %></td>
              </tr>
          <% end %>
      <% end %>
      <% if @dids and @dids.size > 0 %>
          <tr>
            <td><%= _('Number_from_DID') %>:</td>
            <td>
              <select name="cid_number_from_did">
                <option value="" selected></option>
                <% for did in @dids %>
                    <option value=<%= did.did %>> <%= did.did %> </option>
                <% end %>
              </select>
            </td>
          </tr>
          <tr>
            <td> <%= _('CID_from_DIDs') %>:</td>
            <td> <%= check_box_tag 'cid_from_dids', value = "1", checked = @device.cid_from_dids == 1 %> </td>
          </tr>
      <% end %>
    </table>
  </td>
</tr>
