<tr>
  <td height="20"></td>
</tr>
<tr <%= tooltip(_('CallerID'), _('Device_CallerID_Explanation')) %>>
  <td class="bottom_border"><b><%= _('CallerID') %></b></td>
</tr>
<tr>
  <td height="10"></td>
</tr>
<tr>
  <td valign="top">
    <table class="simple">
      <% if !(session[:usertype] == 'accountant' and session[:acc_device_edit_opt_3] != 2) %>
          <tr>
            <td id="cid_name_name"><%= _('Name') %>:</td>
            <td id="cid_name_value"><%= text_field_tag 'cid_name', @cid_name, "class" => "input" %></td>
          </tr>
      <% else %>
          <% if session[:usertype] == 'accountant' and session[:acc_device_edit_opt_3] == 1 %>
              <tr>
                <td id="cid_name_name"><%= _('Name') %>:</td>
                <td id="cid_name_value"><%= @cid_name %></td>
              </tr>
          <% end %>
      <% end %>
      <% if !(session[:usertype] == 'accountant' and session[:acc_device_edit_opt_4] != 2) %>
          <tr>
            <td height="10"></td>
          </tr>
          <tr>
            <td><%= radio_button_tag('device_caller_id_number', 1, @device_caller_id_number == 1, :onchange => 'disable_radio_buttons(this.id)') %></td>
            <td><%= _('Number') %>
              : <%= text_field_tag 'cid_number', @cid_number, "class" => "input", :onchange => 'disable_3(this.value)' %></td>
          </tr>
          <tr>
            <td><%= radio_button_tag('device_caller_id_number', 2, @device_caller_id_number == 2, :disabled => !(@device_dids_numbers and @device_dids_numbers.size.to_i > 0), :onchange => "disable_radio_buttons(this.id);change_cid_value($('device_number_from_did').value)") %></td>
            <td>
              <% if @device_dids_numbers and @device_dids_numbers.size.to_i > 0 %>
                  <%= _('Number_from_DID') %>
                  : <%= select_tag 'device_number_from_did', options_for_select(@device_dids_numbers, @cid_number.to_s), :onchange => 'change_cid_value(this.value)' %>
              <% else %>
                  <%= params[:action] == 'default_device' ? _('Cannot_set_in_default_device') : _('No_DID_assigned_to_device') %>
              <% end %></td>
          </tr>
          <tr>
            <td><%= radio_button_tag('device_caller_id_number', 3, @device_caller_id_number == 3, :onchange => 'disable_radio_buttons(this.id)') %></td>
            <td><%= _('Control_by_DIDs_(CID_from_DIDs)') %></td>
          </tr>
          <tr>
            <td><%= radio_button_tag('device_caller_id_number', 4, @device_caller_id_number == 4, :disabled => !(@device_dids_numbers and @device_dids_numbers.size.to_i > 0), :onchange => "disable_radio_buttons(this.id);change_cid_value($('device_number_cid_from_did').value)") %></td>
            <td>
              <% if @device_dids_numbers and @device_dids_numbers.size.to_i > 0 %>
                  <%= _('Control_by_CIDs') %>
                  : <%= select_tag 'device_number_cid_from_did', options_for_select(@device_dids_numbers, @cid_number.to_s), :onchange => 'change_cid_value(this.value)' %>
              <% else %>
                  <%= params[:action] == 'default_device' ? _('Cannot_set_in_default_device') : _('No_DID_assigned_to_device') %>
              <% end %></td>
          </tr>
          <tr>
            <td><%= radio_button_tag('device_caller_id_number', 5, @device_caller_id_number == 5, :onchange => 'disable_radio_buttons(this.id)') %></td>
            <td><%= _('Control_by_Destination') %></td>
          </tr>
          <script type='text/javascript'>
              function disable_radio_buttons(id) {
                  if (id == 'device_caller_id_number_4') {
                  <%if   params[:action] != 'default_device' and @device_dids_numbers and @device_dids_numbers.size.to_i > 0 %>
                      $('device_number_from_did').disabled = true;
                      $('device_number_cid_from_did').disabled = false;
                  <%end%>
                      $('cid_number').readOnly = true;
                  }
                  if (id == 'device_caller_id_number_2') {
                  <%if   params[:action] != 'default_device'  and @device_dids_numbers and @device_dids_numbers.size.to_i > 0 %>
                      $('device_number_cid_from_did').disabled = true;
                      $('device_number_from_did').disabled = false;
                  <%end%>
                      $('cid_number').readOnly = true;
                  }
                  if (id == 'device_caller_id_number_1') {
                  <%if   params[:action] != 'default_device'  and @device_dids_numbers and @device_dids_numbers.size.to_i > 0 %>
                      $('device_number_cid_from_did').disabled = true;
                      $('device_number_from_did').disabled = true;
                  <%end%>
                      $('cid_number').readOnly = false;
                  }
                  if (id != 'device_caller_id_number_4' && id !== 'device_caller_id_number_2' && id !== 'device_caller_id_number_1') {
                  <%if   params[:action] != 'default_device'  and @device_dids_numbers and @device_dids_numbers.size.to_i > 0 %>
                      $('device_number_from_did').disabled = true;
                      $('device_number_cid_from_did').disabled = true;
                  <%end%>
                      $('cid_number').readOnly = true;
                  }
                  disable_3($('cid_number').value);
              }
              function change_cid_value(val) {
                  $('cid_number').value = val;
              }
              function disable_3(value) {
                  if (value !== '') {
                      $('device_caller_id_number_3').disabled = true;
                  }
                  else {
                      $('device_caller_id_number_3').disabled = false;
                  }
              }
              disable_radio_buttons('device_caller_id_number_<%=@device_caller_id_number%>');
              disable_3($('cid_number').value);
          </script>
      <% else %>
          <% if session[:usertype] == 'accountant' and session[:acc_device_edit_opt_4] == 1 %>
              <tr>
                <td id="cid_number_name"><%= _('Number') %>:</td>
                <td id="cid_number_value"><%= @cid_number %></td>
              </tr>
          <% end %>
      <% end %>
    </table>
  </td>
</tr>