<!--[form:device]-->
<table class="simple" width="100%">
  <tr>
    <td valign="top">
      <table class="simple">
        <%= render :partial => "device_form_general" %>
        <% if @default.to_i != 1 and  @device_type != "FAX" %>
            <%= render :partial => "device_form_authentication2" %>
        <% end %>

        <% if not @new_device and @device_type != "FAX" %>
            <%= render :partial => "device_form_callerid" %>
        <% end %>

        <% if not @new_device and @device_type != "FAX" and @device_type != "Virtual" %>
            <% unless @device.is_dahdi? %>
                <%= render :partial => "device_form_network" %>
            <% end %>
        <% end %>

        <% if not @new_device and @device_type != "FAX" and @device_type != "Virtual" and not current_user.is_reseller? %>
            <%= render :partial => "device_form_groups" %>
        <% end %>

        <% if not @new_device and @device_type != "FAX" %>
            <%= render :partial => "device_form_voicemail" %>
        <% end %>
      </table>
    </td>

    <td valign="top">
      <table <%= " style='width:300px;aligin:left;' " if @device_type == "FAX" %> >

        <% if not @new_device and @device_type != "Virtual" %>

            <% unless @device.is_dahdi? %>

                <%= render :partial => "device_form_codecs" %>
                <% if not @device_type == "FAX" %>
                    <%= render :partial => "device_form_address" %>
                <% end %>
            <% end %>
        <% end %>

        <% if not @new_device %>
            <%= render :partial => "device_form_advance" %>
        <% end %>




        <% if not @new_device and @device_type != "FAX" %>
            <%= render :partial => "device_form_tell_options" %>
        <% end %>

        <% if not @new_device and @device_type != "FAX" and @device_type != "Virtual" %>


            <% if session[:usertype] != "reseller" %>
                <%= render :partial => "device_form_debug" %>
            <% end %>
        <% end %>

        <% if not @new_device and @device_type != "FAX" %>
            <% @owner = @user.owner_id if !@owner %>
            <%= render :partial => "device_recordings" %>
        <% end %>

      </table>
    </td>
  </tr>
</table>
<!--[eoform:device]-->
<br/>
