<table width="100%" class="maintable">
  <tr>
    <th align="left"><%= _('Email') %></th>
    <th></th>
    <th></th>
  </tr>
  <% @pdffaxemails.each_with_index { |email, i| %>
      <tr class="row<%= (i % 2 + 1).to_s %>">
        <% @pdffaxemail = email %>
        <td align="left">
          <% email.email %> <%#= in_place_editor_field :pdffaxemail, :email %></td>
        <td align="center">    <%= link_to b_edit, {:action => "pdffaxemail_edit", :id => email.id}, {:id => "email-update-#{email.id}"} %>        </td>
        <td align="center">   <%= link_to b_delete, {:action => 'pdffaxemail_destroy', :id => email.id}, :confirm => _('Are_you_sure'), :method => :post, :id => "email-delete-#{email.id}" %></td>
      </tr>
  <% } %>
  <tr>
    <th align="left" colspan=3>  <%= link_to b_add + _('Add_new_email'), :action => "pdffaxemail_add", :id => @device.id %>  </th>
  </tr>
</table>
