<h1>Ready to be removed</h1>


<% if session[:usertype] == "admin" %>
    <b><%= b_user + _('User') %>:</b> <%= link_nice_user(@user) %><br>
<% end %>

<b><%= b_device + _('Device') %>:</b> <%= link_nice_device @device %><br>

<% if session[:usertype] == "admin" %>
    <%= link_to b_extlines + _('Extlines'), {:action => "device_extlines", :id => @device.id} %>
<% end %>
<br><br>

<b><%= _('Call_state') %></b>: <%= print_cf_type(@cf_type) %><br>

<br>
<%= form_tag :action => 'callflow_device', :id => @device.id, :whattodo => 'change' do %>
    <table width="100%" class="maintable">
      <tr>
        <th align="center" width="40%"><%= _('Option') %></th>
        <th align="center" width="50%"><%= _('Data') %></th>
      </tr>

      <tr>

        <td><%= _('Device_timeout') %></td>
        <td align="center"><%= text_field_tag('device_timeout', @device.timeout, "class" => "input") %><%= image_submit_tag 'icons/check.png', :title => _('Change') %></td>
      </tr>

    </table>
<% end %>
<br><br>
