<% if session[:usertype] == "admin" %>
    <b><%= b_user + _('User') %>:</b> <%= link_nice_user(@user) %><br>
<% end %>

<b><%= b_device + _('Device') %>:</b> <%= link_nice_device @device %><br>

<br>

<table class="maintable" width="20%">
  <th align="left" colspan=2>     <%= _('Edit_email') %>         </th>

  <%= form_tag :action => 'pdffaxemail_update', :id => @email.id do %>
      <tr>
        <td>     <%= text_field_tag 'email', @email.email, "class" => "input", :size => "30", :maxlength => "50" %>         </td>
        <td>  <%= image_submit_tag 'icons/edit.png', :title => _('Edit') %>    </td>
      </tr>
  <% end %>
</table>

<br><br>
