<!-- sitoks dizainas yra negerai -->
<br>
<%= form_tag(:action => 'user_device_update', :id => @device.id) do %>
  <br>
  <table class="simple" width="100%">
    <tr>
      <td width="50%" valign="top">
        <% if @device.device_type != "FAX"%>
          <table class="simple" width="100%">

              <tr>
                <td> <%= _('Description') %>:   </td>
                <td><%= text_field 'device', 'description', "class" => "input" %> </td>
              </tr>
<!--
            <tr>
              <td class="bottom_border">
                <b><%= _('CallerID') %></b>
              </td>
            </tr>
            <tr>
              <td height="10"></td>
            </tr>
            <tr>
              <td valign="top"> 
                <table class="simple">
                  <tr>
                    <td> <%= _('Name') %>:   </td>
                    <td> <%= text_field_tag 'cid_name', @cid_name, "class" => "input" %> </td>
                  </tr>
                  <tr>
                    <td> <%= _('Number') %>:   </td>
                    <td> <%= text_field_tag 'cid_number', @cid_number, "class" => "input" %> </td>
                  </tr>
-->
<!---
                  <% if @dids and @dids.size > 0 %>
                    <tr>
                      <td> <%= _('Number_from_DID') %>:</td>
                      <td>
                        <select name="cid_number_from_did" > 
                          <option value="" "selected" > </option>
                          <% for did in @dids %>
                            <option value=<%= did.did %> > <%= did.did %> </option>
                          <% end %>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td> <%= _('CID_from_DIDs') %>:   </td>
                      <td> <%= check_box_tag 'cid_from_dids', value = "1", checked = @device.cid_from_dids == 1 %> </td>
                    </tr>
                  <% end %>
--->
<!--				  
                </table>
              </td>
            </tr> 
-->			
			
          </table>
        <% end %> 
      </td>
      <td width="50%" valign="top">
        <% if @device.device_type != "FAX" and 
              @device.device_type != "Virtual" and 
              (rec_active?) and 
              !(@user and @user.recording_enabled.to_i != 1)%>
          <table class="simple" width="100%">
            <% if @device
                 record = @device.record
                 recording_to_email = @device.recording_to_email
                 recording_email = @device.recording_email
                 recording_keep = @device.recording_keep
               else
                 record =  Confline.get_value("Default_device_record", session[:user_id])
                 recording_to_email = Confline.get_value("Default_device_recording_to_email", session[:user_id])
                 recording_email = Confline.get_value("Default_device_recording_email", session[:user_id])
                 recording_keep = Confline.get_value("Default_device_recording_keep", session[:user_id])
               end 
            %> 

            <tr>
              <td class="bottom_border">
                <b><%= b_record + _('Recordings') %></b>
              </td>
            </tr>
            <tr>
              <td height="10"></td>
            </tr>
            <tr>
              <td>
                <table class="simple">
                  <tr>
                    <td> <%= _('Record_calls_for_this_device') %>:   </td>
                    <td>   
                      <%= radio_button_tag('device[record]', 0, checked = (record.to_i == 0) ) %> <%= _('No') %>
                      <%= radio_button_tag('device[record]', 1, checked = (record.to_i == 1) ) %> <%= _('Yes') %>
                    </td>
                  </tr>
                  <tr>
                    <td> <%= _('Send_Recording_to_Email') %>: </td>
                    <td>   
                      <%= radio_button_tag('device[recording_to_email]', 0, checked = (recording_to_email.to_i == 0) ) %> <%= _('No') %>
                      <%= radio_button_tag('device[recording_to_email]', 1, checked = (recording_to_email.to_i == 1) ) %> <%= _('Yes') %>
                    </td>
                  </tr>
                  <tr>
                    <td> <%= _('Recordings_Email') %>: </td>
                    <td align="right"> 
                      <%= text_field_tag 'device[recording_email]', recording_email.to_s, "class" => "input", :size => "25", :maxlength => "50" %>
                    </td>
                    </td>
                  </tr>        
                  <tr>
                    <td> <%= _('Keep_Recordings_on_HDD_after_sent_to_email') %>: </td>
                    <td>   
                      <%= radio_button_tag('device[recording_keep]', 0, checked = (recording_keep.to_i == 0) ) %> <%= _('No') %>
                      <%= radio_button_tag('device[recording_keep]', 1, checked = (recording_keep.to_i == 1) ) %> <%= _('Yes') %>
                    </td>
                  </tr>         
                </table>
              </td>
            </tr> 
          </table>
        <% end %>
      </td>
    </tr>
  </table>
  <%= submit_tag _('update'), :disable_with=>_('Processing..') %>
<% end %>
<br>
<br>