<br>
<table width="100%" class="maintable">
  <tr>
    <th align="left">	<%= _('Acc') %> </th>
    <th align="left">	<%= _('Description') %> </th>
    <th align="center">	<%= _('Type') %> </th>
    <th align="center">	<%= _('PIN') %> </th>
    <th align="left">	<%= _('Extension') %> </th>
    <th align="left">	<%= _('Username') %> </th>
    <% unless hide_device_passwords_for_users %>
      <th align="left">	<%= _('Password') %> </th>
    <% end %>
    <th align="left">	<%= _('Cid') %> </th>
    <th align="center"> <%= _('Call_Flow') %> </th>
    <th align="center"> <%= _('Edit') %> </th>
  </tr>
  <% @devices.each_with_index{ |device, i| %>
    <tr class="row<%= (i % 2 + 1).to_s %>">
      <% user = device.user -%>
      <td id="id_<%= device.id.to_s %>" align="left"><%= device.id %></td>
      <td id="description_<%= device.id.to_s %>" align="left"><%= b_primary_device if device.id == user.primary_device_id %><%= device.description %></td>
      <td id="type_<%= device.id.to_s %>" align="center"><%=raw  nice_device_type device %></td>
      <td id="pin_<%= device.id.to_s %>" align="center"><%= device.pin %></td>
      <td id="extension_<%= device.id.to_s %>" align="left"><%= device.extension %></td>
      <td id="name_<%= device.id.to_s %>" align="left"><%= device.name %></td>
      <% unless hide_device_passwords_for_users %>
        <td id="secret_<%= device.id.to_s %>" align="left"><%= device.secret %></td>
      <% end %>
      <td id="callerid_<%= device.id.to_s %>" align="left"><%= device.callerid %></td>
      <td id="callflow_<%= device.id.to_s %>" align="center"><%= link_to b_callflow, :action => "callflow", :id => device.id %></td>
      <td id="edit_<%= device.id.to_s %>" align="center">
        <% if device.device_type != "FAX" and device.device_type != "Virtual" %>
          <%= link_to b_edit, :action => "user_device_edit", :id => device.id %>
        <% end %>
      </td>
    </tr>
  <% } %>
</table>