<%= form_tag :action => 'loss_calls' do %>

  <%= _('From') %>: <%= select_datetime(Time.mktime(session[:year_from], session[:month_from], session[:day_from], session[:hour_from], session[:minute_from]), :end_year => Date.today.year+1, :prefix => "date_from", :use_month_numbers => false) %>
  &nbsp;&nbsp;<%= _('to') %>: <%= select_datetime(Time.mktime(session[:year_till], session[:month_till], session[:day_till], session[:hour_till], session[:minute_till]), :end_year => Date.today.year+1, :prefix => "date_till", :use_month_numbers => false) %>
  &nbsp;&nbsp;<%= _('Cardgroup') %>:
  <select name="s_cardgroup" >
    <option value="-1" <%= "selected" if @search_cardgroup.to_i == -1 %>> <%= _('All') %> </option>
    <% for cg in @cgs %>
      <option value="<%= cg.id %>" <%= "selected" if cg.id == @sel_device_id %>> <%= cg.name %> </option>
    <% end %>
  </select>
  &nbsp;&nbsp;
  <%= submit_tag _('Change'), :disable_with=>_('Processing..')%>
<%end%>
<% card_id = 0 %>
<%i =0%>
<br>
<br>
<b><%= _('Total_cards')%> :</b> <%= @t_cards.to_i%>
<b><%= _('Total_loss')%> :</b> <%= @t_price.to_f%>  <%= session[:default_currency]%>
<b><%= _('Total_calls')%> :</b> <%= @cards_callsv.size.to_i%>
<table>
  <%for cc in @cards_callsv %>
    <%if card_id.to_i == cc.id.to_i %>
      <tr class="row<%= (i % 2 + 1).to_s %>">
        <td align="center"><%= cc.calldate %></td>
        <td><%= cc.dst %></td>
        <td colspan="2"><%= cc.user_price %> <%= session[:default_currency]%></td>
      </tr>
    <%else%>
      <%card_id = cc.id%>
      <% i = 0 %>
    </table>
    <br>
    <br>
    <table width="100%" class="maintable" >
      <tr>
        <th><b><%= _('Number')%>/<%= _('Pin')%>:</b><%= cc.number %>/<%= cc.pin %></th>
        <th><b><%= _('First_use')%>:</b><%= nice_date_time cc.first_use %></th>
        <th><b><%= _('Daily_charge_paid_till')%>:</b><%= nice_date_time  cc.daily_charge_paid_till %></th>
        <th><b><%= _('Balance')%>:</b><%= cc.balance %></th>
      </tr>
      <tr class="row<%= (i % 2 + 1).to_s %>">
        <th align="center"><%= _('Call_date') %></th>
        <th><%= _('Destination') %></th>
        <th colspan="2"><%= _('Price')%></th>
      </tr>
      <tr class="row<%= (i % 2 + 1).to_s %>">
        <td align="center"><%= nice_date_time(cc.calldate) %></td>
        <td><%= cc.dst %></td>
        <td colspan="2"><%= cc.user_price %> <%= session[:default_currency]%></td>
      </tr>
    <%end%>
    <%i+=1%>
  <%end%>
</table>