<% if @tariff.purpose == "user" %>

    <% if @dgroups.size > 0 %>
        <%= link_to b_pdf + _('Export_to_PDF'), :action => "generate_personal_rates_pdf", :id => @tariff.id %>
        &nbsp;
        <%= link_to b_csv + _('Export_to_CSV'), :action => "generate_personal_rates_csv", :id => @tariff.id %>
    <% end %>

    <br><br>

    <table width="100%" class="maintable">
      <tr>
        <th align="left"><%= _('Name') %></th>
        <th align="left"><%= _('Type') %></th>
        <th align="center"><%= _('Destinations') %></th>
        <% if @show_values_without_vat == 1 %>
            <th align="center"><%= _('Rate') %> (<%= session[:show_currency] %>)</th>
        <% end %>
        <th align="center"><%= _('Rate_with_VAT') %> (<%= session[:show_currency] %>)</th>
      </tr>
      <% @dgroups.each_with_index { |dg, i| %>
          <tr class="row<%= (i % 2 + 1).to_s %>">

            <td><%= draw_flag_by_code dg.flag %> <%= h dg.name %></td>
            <td><%= h dg.desttype %></td>


            <%
               show_rr = true
               price = 0.0
               roundby = 1

               arates = []
               rate = dg.rates[0]

               arates = rate.aratedetails if rate

               #check for custom ratese
               crate = dg.customrates[0]
               arates = crate.acustratedetails if crate
               exchange_rate = @exchange_rate
               exchange_rate = @cust_exchange_rate if crate

               if arates.size == 0
                 price = 0
                 roundby = 1
               else
                 if arates.size.to_i >= 1 and (arates[0] and arates[0].artype.to_s == "minute")
                   price = arates[0].price
                   roundby = arates[0].round
                 else
                   if arates.size.to_i == 1 and (arates[1] and arates[1].artype.to_s == "minute")
                     price = arates[1].price
                     roundby = arates[1].round
                   else
                     show_rr = false
                   end
                 end
               end
            %>

            <td align="center"><%= link_to b_view + _('View'), {:controller => :destination_groups, :action => :dg_list_user_destinations, :id => dg.id}, :popup => true %></td>
            <% if show_rr %>
                <% if @show_values_without_vat == 1 %>
                    <td align="center"><%= nice_number_currency(price, exchange_rate) if arates.size > 0 %></td>
                <% end %>
                <td align="center"><%= nice_number_currency(@cardgroup.get_tax.count_tax_amount(price), exchange_rate) if arates.size > 0 %></td>
            <% else %>
                <td colspan="3" align="center"><%= link_to b_rates + _('Check_advanced_rates'), :action => 'user_advrates', :id => dg.id %> </td>
            <% end %>
          </tr>
      <% } %>


    </table>

<% else %>

    <% if @tariff.purpose == "user_wholesale" %>


        <%= b_currency + _('Currency') %>: <b><%= session[:show_currency] %></b>
        <br>
        <% if @dgroups.size > 0 %>
            <%= link_to b_pdf + _('Export_to_PDF'), :action => "generate_personal_wholesale_rates_pdf", :id => @tariff.id %>
            &nbsp;
            <%= link_to b_csv + _('Export_to_CSV'), :action => "generate_personal_wholesale_rates_csv", :id => @tariff.id %>
        <% end %>



        <br><br>
        <%= render :partial => 'letter_select_header' %>
        <% if @total_pages > 1 %>
            <br>
            <%= render :partial => 'page_select_header' %>
        <% end %>
        <br>

        <table width="100%" class="maintable">
          <tr>
            <th align="left"><%= _('Direction') %></th>
            <% if @use_lata %>
                <th align="left"><%= _('NPANXX') %></th>
                <th align="left"><%= _('City') %></th>
                <th align="left"><%= _('State') %></th>
                <th align="left"><%= _('LATA') %></th>
                <th align="left"><%= _('Class') %></th>
                <th align="left"><%= _('OCN') %></th>
                <th align="left"><%= _('OCN_Name') %></th>
            <% else %>
                <th align="left"><%= _('Prefix') %></th>
                <th align="left"><%= _('Subcode') %></th>
                <th align="left"><%= _('Name') %></th>
            <% end %>

            <% if @show_values_without_vat == 1 %>
                <th colspan=2 align="center"><%= _('Rate') %> (<%= session[:show_currency] %>)</th>
            <% else %>
                <th align="center"><%= _('Rate_with_VAT') %> (<%= session[:show_currency] %>)</th>
            <% end %>

            <% if @show_values_without_vat == 1 %>
                <th colspan=2 align="center"><%= _('Connection_Fee') %> (<%= session[:show_currency] %>)</th>
            <% else %>
                <th align="center"><%= _('Connection_Fee_with_VAT') %> (<%= session[:show_currency] %>)</th>
            <% end %>

            <th align="center"><%= _('Increment') %> </th>
          </tr>

          <% @rates.each_with_index { |rate, i| %>
              <tr class="row<%= (i % 2 + 1).to_s %>">
                <td><%= draw_flag rate.destination.direction.code %><%= h(rate.destination.direction.name) %></td>
                <% if @use_lata %>
                    <td><%= h(rate.destination.prefix) %></td>
                    <td><%= h(rate.destination.city) %></td>
                    <td><%= h(rate.destination.state) %></td>
                    <td><%= h(rate.destination.lata) %></td>
                    <td><%= h(rate.destination.tier) %></td>
                    <td><%= h(rate.destination.ocn) %></td>
                    <td><%= h(rate.destination.name) %></td>
                <% else %>
                    <td><%= h(rate.destination.prefix) %></td>
                    <td><%= h(rate.destination.subcode) %></td>
                    <td><%= h(rate.destination.name) if rate.destination.name %></td>
                <% end %>

                <% if @show_values_without_vat == 1 %>
                    <td align="center"><%= nice_number @rates_cur2[rate.id] %></td>
                <% end %>
                <td align="center"><%= nice_number(@rates_cur2[rate.id] + @cardgroup.get_tax.count_tax_amount(@rates_cur2[rate.id])) %></td>
                <% if @show_values_without_vat == 1 %>
                    <td align="center"><%= nice_number @rates_free2[rate.id] %></td>
                <% end %>

                <td align="center"><%= nice_number(@rates_free2[rate.id] + @cardgroup.get_tax.count_tax_amount(@rates_free2[rate.id])) %></td>
                <td align="center"><%= @rates_d[rate.id] %></td>
          <% } %>
        </table>

        <% if @total_pages > 1 %>
            <br>
            <%= render :partial => 'page_select_header' %>
        <% end %>

        <br/>
    <% else %>


        <% link_to b_pdf + _('Export_to_PDF'), :action => "generate_personal_wholesale_rates_pdf" %>
        &nbsp;
        <% link_to b_csv + _('Export_to_CSV'), :action => "generate_personal_wholesale_rates_csv" %>
    <% end %>

<% end %>
