<% if @status != 1 %>
    <br/>
    <h3><%= _('Waiting_for_payment_confirmation_from_PayPal') %></h3>
    <br/><br/>
    <%= image_tag "indicator_line.gif", :style => 'border-style:none', :title => "" %>

<% else %>

    <h3><%= _('Thank_you_for_your_order') %></h3>
    <br/><br/>

    <% if @sold_cards.size>1 %>
        <h3><%= _('Your_cards') %>:</h3>
    <% else %>
        <h3><%= _('Your_card') %>:</h3>
    <% end %>

    <table width="100%" class="maintable">
      <tr>
        <th></th>
        <th> <%= _ 'Number' %> </th>
        <th> <%= _ 'PIN' %>   </th>
        <th> <%= _ 'Price' %> </th>
      </tr>

      <% i = 0 %>
      <% for card in @sold_cards %>

          <tr class="row<%= (i % 2 + 1).to_s %>">
            <td align="center">
              &nbsp;    <%= image_tag "cards/#{card.cardgroup.image}", :style => 'border-style:none', :title => card.cardgroup.name, :size => "70" %>
            </td>
            <td align="center">
              <%= card.number %>
            </td>
            <td align="center">
              <%= card.pin %>
            </td>
            <td align="center">
              <%= card.cardgroup.price %>
            </td>
          </tr>
          <% i += 1 %>
      <% end %>

    </table>
    <br/><br/>
    <b><%= _('Attention_to_card') %></b>
    <br/>

    <div class="separator">&nbsp;</div>

<% end %>

