<table class="maintable" width="100%">
  <% i =0 %>

  <% if @rows %>


      <% @rows.each{|row| %>
          <tr class="row<%= (i % 2 + 1).to_s %>">
            <% row.each{|r| %>
                <%if r[0].include?('did')%>
                    <td>
                      <%= r[1] %>
                    </td>
                <%end%>
            <% } %>
            <td>
              <b>
                <%= "Duplicate DID in file" if row['f_error'].to_i == 1 %>
                <%= "DID already exists" if row['f_error'].to_i == 2 %>
                <%= "DID is invalid" if row['f_error'].to_i == 3 %>
                <%= _('Collisions_with_Quickforwards_Rules_rs') if row['f_error'].to_i == 4 %>
              </b>
            </td>
          </tr>
      <% } %>
  <%end%>

</table>
