<% if  @notice %>
    <div id="notice"><%= @notice %> </div>
<% end %>


<b><%= _('Are_you_sure') %></b>
<br/>
<% if @amount == "one" %>
    <table width="100%">
      <tr>
        <td>
          <%= form_tag(:action => 'create', :did => @did, :provider => @provider.id) do %>

              <br/><b><%= _('DID') %>:</b>
              <%= @did.to_s %>
              <%= hidden_field_tag 'amount', "one" %>

              <% if see_providers_in_dids? %>
                  <br/><br/>
                  <b><%= _('Provider') %>:</b>
                  <%= @provider.name %>
              <% end %>
              <br/><br/>
              <% if @notice %>
                  <%= submit_tag(_('ok'), :method => :post, :disable_with => _('Processing..')) %>
              <% else %>
                  <%= submit_tag _('ok'), :disable_with => _('Processing..') %>
              <% end %>
          <% end %>
        </td>
      </tr>
    </table>


<% elsif @amount == "amount_interval" %>


    <table width="100%">
      <tr>
        <td>
          <%= form_tag(:action => 'create', :provider => @provider.id, :did_start => @start, :did_end => @end) do %>

              <br/><b><%= _('DID_interval') %>:</b>
              <%= @start %>
              -
              <%= @end %>
              <% if see_providers_in_dids? %>
                  <br/><br/>
                  <b><%= _('Provider') %>:</b>
                  <%= @provider.name %>
              <% end %>
              <br/><br/>

              <%= hidden_field_tag 'amount', "interval" %>

              <% if @notice %>
                  <%= submit_tag(_('ok'), :method => :post, :disable_with => _('Processing..')) %>
              <% else %>
                  <%= submit_tag _('ok'), :disable_with => _('Processing..') %>
              <% end %>
          <% end %>
        </td>
      </tr>
    </table>

<% else %>

    <table width="100%">
      <tr>
        <td>
          <%= form_tag(:action => 'create', :provider => @provider.id, :filename => @tname) do %>

              <br/><b><%= _('DID_file') %>:</b>
              <%= @file.original_filename.to_s %>
              <br/>
              <b><%= _('File_size') %>:</b>
              <%= @file.size.to_s %>
              <br/><br/>
              <b><%= _('First_file_lines') %>:</b>
              <br/><br/>
              <% @all_dids[0..4].each{|did| %>
                 <%= did.to_s %>
                 <br/>
              <% } %>
              <%= "....." if @all_dids.size > 5 %>
              <br/><br/>
              <b><%= _('Number_of_DIDs_in_file') %>:</b>
              <%= @all_dids.size.to_s %>

              <% if see_providers_in_dids? %>
                  <br/><br/>
                  <b><%= _('Provider') %>:</b>
                  <%= @provider.name %>
              <% end %>
              <br/><br/>

              <%= hidden_field_tag 'amount', "file" %>

              <% if @notice %>
                  <%= submit_tag(_('ok'), :method => :post, :disable_with => _('Processing..')) %>
              <% else %>
                  <%= submit_tag _('ok'), :disable_with => _('Processing..') %>
              <% end %>
          <% end %>
        </td>
      </tr>
    </table>
<% end %>


<br/><br/>

