<%= render :partial => "bulk_management_header"  %>
<% unless @dids.size.to_i < 1 %>
<b><%= _('Possible_choices') %>:</b>
<br />
<br />
<% unless reseller? %>
  <%= form_tag({:action => 'update'}.merge(@opts)) do %>
    <%= hidden_field_tag 'status', "provider", {:id => "status_provider"} %>
    <table class="maintable" width="100%">
      <tr>
        <th align="left"><%= _('Details') %></th>
      </tr>
      <tr class="row1">
        <td>
          <br />
          <b><%= _('Provider') %>:</b>
          <select name="did[provider_id]" >
            <% for p in @providers %>
              <option value=<%= p.id %> > <%= p.name %> </option>
            <% end %>
          </select>
          <br />
          <b><%= _('Language') %>:</b> <%= text_field_tag 'did[language]', '', "class" => "input", :size => "5", :maxlength => "4", :id => "did_language"%>
          <br />
          <br />
          <%= submit_tag _('Change'), :disable_with=>_('Processing..') %>
          <br />
        </td>
      </tr>
    </table>
    <br />
  <% end %>
<% end %>

<%= form_tag({:action => 'update'}.merge(@opts) ) do %>
  <%= hidden_field_tag 'status', "reserved", {:id => "status_reserver"} %>
  <table class="maintable" width="100%">
    <tr>
      <th align="left">    <%= _('Reserve_did_for_user') %>    </th>
    </tr>
    <tr class="row1">
      <td>
        <br />
        <%= _('Reserve_did_for_user_expanded') %>
        <br />
        <br />

        <% if @free_users.size > 0 %>

          <%= b_user %>
          <select name="user_id" >
            <% for user in @free_users %>
              <option value="<%= user.id %>"> <%= nice_user(user) %> </option>
            <% end %>
          </select>

          <br />
          <br />
          <%= submit_tag(_('Reserve'), :disable_with=>_('Processing..')) %>
          <br />
        <% else%>
          <%= _('No_free_users') %>
          <br />
          <br />
        <% end %>
      </td>
    </tr>
  </table>
  <br />
<% end %>

<%= form_tag({:action => 'update'}.merge(@opts)) do %>
  <%= hidden_field_tag 'status', "free", {:id => "status_free"} %>
  <table class="maintable" width="100%">
    <tr>
      <th align="left">    <%= _('Make_did_free') %>    </th>
    </tr>
    <tr class="row1">
      <td>
        <br />
        <%= b_check + _('Make_did_free_expanded') %>
        <br />
        <br />
        <%= submit_tag _('Make_did_free'), :disable_with=>_('Processing..') %>
        <br />
      </td>
    </tr>
  </table>
  <br />
<% end %>
<% else %>
  <% flash[:notice] = _('No_DID_found_Please_check_interval') %>
<% end %>