<%= header = page_select_header(@page, @total_pages) if @total_pages > 1%>

<table class="maintable" width="100%">
  <tr>
    <th align="left"><%= _('DID') %></th>
    <th align="left"><%= _('Language') %></th>
    <th align="center"><%= _('Status') %></th>
    <th align="left"><%= _('Device') %></th>
    <th align="left"><%= _('Simultaneous_Call_limit') %></th>
    <th align="left"><%= _('Comment') %></th>
  </tr>

  <% @dids.each_with_index{ |did, i| %>
    <tr class="row<%= (i % 2 + 1).to_s %>">
      <% text_class="n" -%>
      <% did.device_id != 0 ? device = did.device : device = nil -%>

      <td id="did_<%= did.id %>" align="left"> <%= did.did %></td>
      <td id="language_<%= did.id %>"align="left"> <%= did.language %></td>
      <td id="status_<%= did.id %>" align="center"> <%= did.status.capitalize %></td>
      <td  id="device_<%= did.id %>" align="left">
        <%= nice_device device if device%>
        <% unless session[:usertype] == "accountant" %>
          <%= link_to b_callflow, :controller => "devices", :action => "callflow", :id => did.device_id if device %>
        <% end %>
      </td>
      <td id="call_litmit_<%= did.id %>" align="left"> 
	  	<% if did.call_limit.to_i == 0 %>
			<%= _('Unlimited') %>
		<% else %>
	  		<%= did.call_limit %>
		<% end %>	  
	  </td>
      <td id="comment_<%= did.id %>" class="<%= text_class %>"  align="left" <%= "onmouseover=\"Tip(\' #{(did.comment).to_s} \')\" onmouseout = \"UnTip()\"" if did.comment %>><%= did.comment.to_s[0,25] if did.comment %></td>
    </tr>
  <% } %>
</table>
<br>
<%= header if @total_pages > 1%>