<%= form_tag :action => 'action_add', :id => @campaign.id do %>
    <table class="maintable" width="100%">
      <tr>
        <th align="left">  <%= _('Priority') %>  </th>
        <th align="center">  <%= _('Action') %>  </th>
        <th align="right">  <%= _('Data') %>  </th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <% @actions.each_with_index { |action, i| %>
          <tr class="row<%= (i % 2 + 1).to_s %>">
            <td id="priority_<%= action.id %>" align="left">  <%= action.priority %>      </td>
            <td id="action_<%= action.id %>"
            " align="center">  <%= action.action %>      </td>
            <td id="data_<%= action.id %>"
            " align="right">
            <% if action.action == "IVR" and allow_manage_providers? %>
                <% ivr = current_user.ivrs.find_by_id(action.data) %>
                <%= link_to ivr.name, :controller => "ivr", :action => "edit", :id => ivr.id if ivr %>
            <% else %>
                <%= action.data %>
            <% end %>
            </td>
            <td id="edit_<%= action.id %>" align="center"><%= link_to b_edit, :action => 'action_edit', :id => action.id %></td>
            <td id="play_<%= action.id %>" align="center">  <%= link_to b_play, {:action => "play_rec", :id => action.id}, :popup => ['new_window', 'height=200,width=310'] if action.action == "PLAY" %></td>
            <td id="destroy_<%= action.id %>" align="center"><%= link_to(b_delete, {:action => 'action_destroy', :id => action.id}, :confirm => _('Are_you_sure'), :method => :post) if i +1 == @actions.size %></td>
          </tr>
      <% } %>
      <tr>
        <th align="left">  <%= @actions.size + 1 %>  </th>
        <th align="center">
          <select name="action_type">
            <option value="PLAY"> PLAY</option>
            <option value="WAIT"> WAIT</option>
            <% if allow_manage_providers? %>
                <option value="IVR"> IVR</option>
            <% end %>
          </select>
        </th>
        <th align="right"></th>
        <th colspan=3 align="center">  <%= image_submit_tag 'icons/add.png', :title => _('Add') %><%= _('Add') %> </th>
      </tr>
    </table>
<% end %>