<br>

<%= raw b_info + _('Server_notice').html_safe %>

<br><br>
<%= form_tag :action => 'server_add' do %>
    <table width="100%" class="maintable">
      <tr>
        <% if defined?(CCLASS_Active) and CCLASS_Active == 1 %>
            <th align="center"><%= _('Gateway') %>?</th>
        <% end %>
        <th align="center"><%= _('Active') %>?</th>
        <th align="center"><%= _('Test') %></th>
        <th align="left"><%= _('ID') %></th>
        <th align="left"><%= _('Hostname') %></th>
        <th align="left"><%= _('Server_IP') %></th>
        <!--<th align="left"><%= _('Url') %></th> -->
        <th align="left"><%= _('Type') %></th>
        <th align="left"><%= _('Version') %></th>
        <th align="left"><%= _('Uptime') %></th>
        <th align="right"><%= _('Max_call_limit') %></th>
        <!---<th align="left"><%= _('AMI_Username') %></th>
        <th align="left"><%= _('AMI_Secret') %></th>
        <th align="right"><%= _('SIP_Port') %></th> -->
        <th align="left"><%= _('Comment') %></th>
        <th align="center"><%= _('Providers') %></th>
        <th></th>
        <th></th>
      </tr>
      <% @servers.each_with_index { |serv, i| %>
          <tr class="row<%= (i % 2 + 1).to_s %>">
            <% if defined?(CCLASS_Active) and CCLASS_Active == 1 %>
                <td id="gw_active_<%= serv.id %>" align="center">
                  <%= link_to(b_check(:title => _('Disable')), :action => 'server_change_gateway_status', :id => serv.id) if serv.gateway_active == 1 %>
                  <%= link_to(b_check(:title => _('Enable')), :action => 'server_change_gateway_status', :id => serv.id) if serv.gateway_active == 0 %>
                </td>
            <% end %>
            <td id="active_<%= serv.id %>" align="center">
              <%= link_to(b_check(:title => _('Disable')), :action => 'server_change_status', :id => serv.id) if serv.active == 1 %>
              <%= link_to(b_cross(:title => _('Enable')), :action => 'server_change_status', :id => serv.id) if serv.active == 0 %>
            </td>
            <td id="test_<%= serv.id %>" align="center"><%= link_to b_test, {:action => "server_test", :id => serv.id}, :onclick => "window.open(this.href,'new_window','height=200,width=400');return false;" %> </td>
            <td id="server_id_<%= serv.id %>"><%= h serv.server_id %></td>
            <td id="hostname_<%= serv.id %>"><%= h serv.hostname %></td>
            <td id="ip_<%= serv.id %>"><%= h serv.server_ip %></td>
            <!---<td id="url_<%= serv.id %>"><%#= h serv.stats_url %></td>  -->
            <!-- <td align="center"><a
            <%# 'href="http://'+ (serv.server_ip).to_s + (serv.stats_url).to_s + '"'+ 'target="_blank"' %>>
            <%# b_chart_bar %>     </a></td>-->
            <td id="type_<%= serv.id %>"><%= h serv.server_type %></td>
            <td id="version_<%= serv.id %>" align="left"><%= h serv.version.to_s %></td>
            <td id="uptime_<%= serv.id %>" align="left"><%= h serv.uptime.to_s %></td>
            <td id="max_call_<%= serv.id %>" align="right"><%= h serv.maxcalllimit %></td>
            <!--<td id="ami_username_<%= serv.id %>" align="left"><%#= h serv.ami_username %></td>
            <td id="ami_pass_<%= serv.id %>" align="left"><%#= h serv.ami_secret %></td>
            <td id="port_<%= serv.id %>" align="right"><%#= h serv.port %></td> -->
            <td id="comment_<%= serv.id %>" align="left"><%= h serv.comment %></td>
            <td id="providers_<%= serv.id %>" align="center"><%= link_to b_provider + "(" + serv.providers.size.to_s + ")", {:action => 'server_providers', :id => serv.id}, {:id => "providers_link_#{serv.id}"} %></td>
            <td id="edit_<%= serv.id %>" align="center"><%= link_to b_edit, {:action => 'edit', :id => serv.id}, {:id => "edit_link_#{serv.id}"} %></td>
            <td id="delete_<%= serv.id %>" align="center"><%= link_to b_delete, {:action => 'destroy', :id => serv.id}, {:confirm => _('Are_you_sure'), :method => :post, :id => "delete_link_#{serv.id}"} %></td>
          </tr>
      <% } %>

      <tr>
        <% if defined?(CCLASS_Active) and CCLASS_Active == 1 %>
            <th></th>
        <% end %>
        <th></th>
        <th></th>
        <th align="left"><%= text_field_tag 'server_id', "", "class" => "input", :size => "2", :maxlength => "5" %></th>
        <th align="left"><%= text_field_tag 'server_hostname', "", "class" => "input", :size => "12", :maxlength => "20" %></th>
        <th align="left"><%= text_field_tag 'server_ip', "", "class" => "input", :size => "12", :maxlength => "30" %></th>
        <th align="left"><%= text_field_tag 'server_url', "", "class" => "input", :size => "12", :maxlength => "20" %></th>
        <th align="left"><%= text_field_tag 'server_type', "", "class" => "input", :size => "10", :maxlength => "15" %></th>
        <th align="right"><%= text_field_tag 'server_maxcalllimit', "", "class" => "input", :size => "5", :maxlength => "10" %></th>
        <th align="left"><%= text_field_tag 'server_ami_username', "", "class" => "input", :size => "12", :maxlength => "30" %></th>
        <th align="left"><%= text_field_tag 'server_ami_secret', "", "class" => "input", :size => "12", :maxlength => "30" %></th>
        <th align="right"><%= text_field_tag 'port', "", "class" => "input", :size => "5", :maxlength => "30" %></th>
        <th align="left"><%= text_field_tag 'server_comment', "", "class" => "input", :size => "15", :maxlength => "30" %></th>
        <th align="center" colspan=3><%= image_submit_tag 'icons/add.png', :title => _('Add') %></th>
      </tr>
    </table>
<% end %>

