<div class="nb"><%= b_user + _('user') %>
  : <%= link_to @user.first_name + " " + @user.last_name, :controller => "users", :action => "edit", :id => @user.id %></div>

<br>

<table width="100%" class="maintable">
  <tr>
    <th align="left">                <%= _('Description') %>            </th>

    <th>                <%= _('Type') %>            </th>
    <th align="left">                <%= _('Extension') %>            </th>

    <th align="left">                <%= _('Cid') %>            </th>
    <th>                <%= _('Last_time_registered') %>            </th>
    <th>                <%= _('Call_Flow') %>            </th>

  </tr>

  <% i = 0 %>
  <% for device in @devices %>
      <tr class="row<%= (i % 2 + 1).to_s %>">
        <td>
          <%= b_primary_device if device.id == @user.primary_device_id %><%= device.description %>
        </td>

        <td align="center">
          <%= b_trunk if device.istrunk == 1 and device.ani == 0 %><%= b_trunk_ani if device.istrunk == 1 and device.ani == 1 %> <%= print_tech device.device_type %>
        </td>
        <td>
          <%= device.extension %>
        </td>

        <td>
          <%= device.callerid %>
        </td>
        <td align="center">
          <%= nice_date_time(Time.at(device.regseconds)) %>
        </td>
        <td align="center">
          <%= link_to b_callflow, :controller => "devices", :action => "callflow", :id => device.id %>
        </td>


      </tr>
      <% i += 1 %>
  <% end %>
</table>


<br><br>

