<div align="center">
  <table width="100%" class="maintable">
    <tr class="row1 %>">
      <th><%= _('Name') %></th>
      <th><%= _('Member_count') %></th> 
      <th><%= _('Logged_members') %></th> 
      <th></th>              
    </tr>
    <% i = 0 %>
    <% for group in @groups %>
      <tr class="row<%= (i % 2 + 1).to_s %>">
        <td><%=h group.name %></td>
        <td align="center"> <%= group.users.size %>   </td>
        <td align="center"> <%= group.logged_users.size %>   </td>
        <td align="center"><%= link_to _('Members'), :action => 'manager_members', :id => group %></td>
      </tr>
      <% i+= 1 %>
    <% end %>
  </table>
</div>