<%= b_members + _('Total_members') %> : <%= @group.users.size %>
<% manager_users = @group.manager_users %>
<% manager_users.each{ |user| %>
  <br />
  <%= link_to(b_login_as({:title => _("Login_as_manager")}) + _("Login_as_manager")+": " + nice_user(user), { :controller => "functions", :action => 'login_as_execute', :user => user }, :id=>"login_as_link_"+user.id.to_s, :confirm => _('are_you_sure'), :method => :post) if user.id != 0  %>
  
<% } %>
<br />
<br />

<div align="center">
  <table style="width: 100%" class="maintable">
    <tr>
      <th align="left" style="width: 8%"><%= _('Booth_num') %></th>
      <th align="left"><%= _('Username') %></th>
      <th align="left"><%= _('User') %></th>
      <th align="left"><%= _('User_type') %></th>
      <th></th>
      <th style="width: 5%"></th>
      <th></th>
    </tr>
    <% i = 0 %>
    <% manager_users.each do |member| %>
      <tr class="row<%= (i % 2 + 1).to_s %>">
        <td id="position-<%=member.id%>">-</td>
        <td id="username-<%=member.id%>"><%= link_to(h(member.username), :controller => :users , :action => :edit, :id => member) %></td>
        <td id="firstname-<%=member.id%>"><%= link_to(h("#{member.first_name} #{member.last_name}"), :controller => :users , :action => :edit, :id => member) %></td>
        <td id="gusertype-<%=member.id%>"><%= _("group_manager") %></td>
        <td id="utype-<%=member.id%>" align="center"><%= link_to b_change_type + _('Change_user_type'), :action => 'change_member_type', :user => member, :group => @group %></td>
        <td align="center">-</td>
        <td align="center"><%= link_to b_delete, { :action => 'remove_member', :user => member, :group => @group }, :confirm => _('are_you_sure'), :method => :post %></td>
      </tr>
    <% end %>
    <% simple_users = @group.simple_users %>
    <% simple_users.each_with_index do |member, index| %>
      <tr class="row<%= (i % 2 + 1).to_s %>">
        <td id="position-<%=member.id%>"><%= index + 1 %></td>
        <td id="username-<%=member.id%>"><%= link_to(h(member.username), :controller => :users , :action => :edit, :id => member)%></td>
        <td id="firstname-<%=member.id%>"><%= link_to(h("#{member.first_name} #{member.last_name}"), :controller => :users , :action => :edit, :id => member) %></td>
        <td id="gusertype-<%=member.id%>"><%= _("group_user") %></td>
        <td id="utype-<%=member.id%>" align="center">
          <% if manager_users.size == 0 %>
            <%= link_to b_change_type + _('Change_user_type'), :action => 'change_member_type', :user => member, :group => @group %>
          <% end %>
        </td>
        <td align="center">
          <% unless simple_users.first.eql?(member) %>
            <%= link_to b_up, { :action => "change_position", :id => @group.id, :member_id => member.id, :direction => "up" }  %>
          <% end %>
          <% unless simple_users.last.eql?(member) %>
            <%= link_to b_down, { :action => "change_position", :id => @group.id, :member_id => member.id, :direction => "down" } %>
          <% end %>
        </td>
        <td align="center"><%= link_to b_delete, { :action => 'remove_member', :user => member, :group => @group }, :confirm => _('are_you_sure'), :method => :post %></td>
      </tr>
      <% i += 1%>
    <% end %>
  </table>
</div>

<br />
<br />

<% if @free_users.size > 0%>
  <div align="left" class="nb">
    <%= form_tag(:action => 'add_member') do %>
    <% submit_options = (manager_users.size == 0 ? { :onclick => "$('as_manager').value = confirm('#{_('Make_a_manager')}'); return(true);"} : {} )%>
      <%# submit_options = (manager_users.size == 0 ? {:confirm => _('Make_a_manager')} : {})%>
      <%= image_submit_tag('icons/add.png', submit_options.merge(:id => "add_immage"))  %> <label for="add_immage"><%= _('Add_new_booth') %>:</label>

      <select name="new_member">
        <% for user in @free_users%>
          <option value=<%= user.id%>> <%= h(user.username) %> - <%= h(user.first_name) %> <%= h(user.last_name) %></option>
        <% end %>
      </select>

      <%= hidden_field_tag "group", @group.id %>
      <%= hidden_field_tag "as_manager", (manager_users.size == 0 ? "true" : "false") %>

      <%= submit_tag( _('Add_booth') , submit_options) %>
    <% end %>
  </div>
<% else %>
  <div>
    <b><%=_('Create_more_users_if_you_need_to_add_more_call_booths_(phones)')%></b>
  </div>
<% end %>