<% (defined?(no_checkboxes) and no_checkboxes == true) ? show = false : show = true -%>
<div id="search_header">
  <%= form_tag :controller => params[:controller], :action => params[:action] do %>
      <table class="bordered">
        <tr>
          <td>
            <table class="simple">
              <tr>
                <td><%= _("From") %></td>
                <td><%= select_datetime(Time.mktime(session[:year_from], session[:month_from], session[:day_from], session[:hour_from], session[:minute_from]), :end_year => Date.today.year+1, :prefix => "date_from", :use_month_numbers => false) %></td>
                <% if show %>
                    <td><%= _("Destination") %></td>
                    <td></td>
                    <td><%= check_box_tag("destination_show", "1", (@options[:destination_show] == 1), "class" => "input") %></td>
                <% end %>
              </tr>
              <tr>
                <td><%= _("Till") %></td>
                <td><%= select_datetime(Time.mktime(session[:year_till], session[:month_till], session[:day_till], session[:hour_till], session[:minute_till]), :end_year => Date.today.year+1, :prefix => "date_till", :use_month_numbers => false) %></td>
                <% if show %>
                    <td></td>
                    <td><%= _("Orig.") %></td>
                    <td><%= _("Term.") %></td>
                <% end %>
              </tr>
              <tr>
                <td><%= _("Originator") %></td>
                <td>
                  <select name="originator">
                    <option value="any" <%= "selected" if @options[:originator] == "any" %> ><%= _("Any") %></option>
                    <% @options[:originators].each { |originator| %>
                        <option value="<%= originator.id %>" <%= "selected" if originator.id.to_s == @options[:originator] %> ><%= nice_user(originator) %> </option>
                    <% } %>
                  </select>
                </td>
                <% if show %>
                    <td><%= _("Customer") %></td>
                    <td><%= check_box_tag("customer_orig_show", "1", (@options[:customer_orig_show] == 1), "class" => "input") %></td>
                    <td><%= check_box_tag("customer_term_show", "1", (@options[:customer_term_show] == 1), "class" => "input") %></td>
                <% end %>
              </tr>
              <tr>
                <td><%= _("Terminator") %></td>
                <td>
                  <select name="terminator">
                    <option value="any" <%= "selected" if @options[:terminator] == "any" %> ><%= _("Any") %></option>
                    <% @options[:terminators].each { |terminator| %>
                        <option value="<%= terminator.id %>" <%= "selected" if terminator.id.to_s == @options[:terminator] %> ><%= terminator.name %> </option>
                    <% } %>
                  </select>
                  <% if @terminator_providers_count == 0 %>
                      <% if @options[:terminator] == "any" %>
                          <span><%= b_info + _('No_providers_assigned_to_any_terminator') %></span>
                      <% else %>
                          <span><%= b_info + _('No_providers_assigned_to_terminator') %></span>
                      <% end %>
                  <% end %>
                </td>
                <% if show and can_see_finances? %>
                    <td><%= _("Price") %></td>
                    <td><%= check_box_tag("price_orig_show", "1", (@options[:price_orig_show] == 1), "class" => "input") %></td>
                    <td><%= check_box_tag("price_term_show", "1", (@options[:price_term_show] == 1), "class" => "input") %></td>
                <% end %>
              </tr>
              <tr>
                <td><%= _("Prefix") %></td>
                <td><%= text_field_tag('prefix', @options[:prefix], "class" => "input") %></td>
                <% if show %>
                    <td><%= _("Billed_Time") %></td>
                    <td><%= check_box_tag("billed_time_orig_show", "1", (@options[:billed_time_orig_show] == 1), "class" => "input") %></td>
                    <td><%= check_box_tag("billed_time_term_show", "1", (@options[:billed_time_term_show] == 1), "class" => "input") %></td>
                <% end %>
              </tr>
              <% if show %>
                  <tr>
                    <td colspan="5">
                      <%= _("Group_By_Prefix") %>:
                      <%= radio_button_tag "destination_grouping", 1, @options[:destination_grouping].to_i == 1 %>
                      <%= _("Group_By_Direction") %>:
                      <%= radio_button_tag "destination_grouping", 2, @options[:destination_grouping].to_i == 2 %>
                    </td>
                  </tr>
              <% end %>
            </table>
            <input type="hidden" name="destination_show" value="0"/>
            <input type="hidden" name="customer_orig_show" value="0"/>
            <input type="hidden" name="customer_term_show" value="0"/>
            <input type="hidden" name="ip_address_orig_show" value="0"/>
            <input type="hidden" name="ip_address_term_show" value="0"/>
            <% if can_see_finances? -%>
                <input type="hidden" name="price_orig_show" value="0"/>
                <input type="hidden" name="price_term_show" value="0"/>
            <% end -%>
            <input type="hidden" name="billed_time_orig_show" value="0"/>
            <input type="hidden" name="billed_time_term_show" value="0"/>
            <input type="hidden" name="search" value="1"/>
          </td>
          <td valign="top">
            <%= submit_tag(_("Search"), :disable_with => _('Processing..')) -%>
          </td>
        </tr>
      </table>
  <% end %>
</div>