<%= b_info + _('This_page_includes_call_attemps_only') %>.

<% if Confline.get_value("Hide_HELP_banner").to_i == 0 # checking if help links are disabled %> 
<%= link_to  _('For_more_information_visit_wiki'), @help_link ,:target => '_blank', :class => 'external_link', :style => 'text-decoration: underline; color: #0000ff;'  %> 
<% end %> 

<%= render :partial => "search_header" %>
<br>
<table class="bordered">
  <tr>
    <td align="left" NOWRAP>
      <%= _("Records") %>: <%= @total_calls %>&nbsp;&nbsp;&nbsp;
      <%= _("Pages") %>: <%= @total_pages %>&nbsp;&nbsp;&nbsp;
    </td>
    <td align="left" NOWRAP>
      <%= render :partial => "page_select_header" %>
    </td>
  </tr>
</table>
<br>
<%= render :partial => "aggregate_call_list" %>
