<%= javascript_include_tag "wz_tooltip" %>

<table width="50%" class="maintable">

  <tr>
    <th align="center" colspan=2><%= _('General_info') %></th>
  </tr>

  <tr class="row2">
    <th align="left"><%= b_date + _('Calldate') %></th>
    <td id="callldate" align="right"> <%= nice_date_time @call.calldate %>  </td>
  </tr>

  <tr class="row1">
    <th align="left"><%= _('Source') %></th>
    <td id="src" align="right"> <%= @call.src %>  </td>
  </tr>

  <tr class="row2">
    <th align="left"><%= _('CLID') %></th>
    <td id="clid" align="right"> <%= @call.clid %>  </td>
  </tr>

  <tr class="row1">
    <th align="left"><%= _('Called_to') %>/<%= _('Destination') %></th>
    <td id="dst" align="right"> <%= @call.dst %>  </td>
  </tr>

  <tr class="row2">
    <th align="left" nowrap><%= _('Localized_destination') %></th>
    <td id="loc_dst" align="right"> <%= @call.localized_dst %>  </td>
  </tr>


  <tr class="row1">
    <th align="left"><%= _('Destination_Details') %></th>
    <td id="dest_det" align="right">

      <% dest = Destination.where(:prefix => @call.prefix.to_s).first %>
      <% if dest %>
          <%= dest.direction.name if dest.direction %>    <%= dest.subcode %> <%= dest.name %>
      <% end %>
      &nbsp;&nbsp;<%= _('Prefix_used') %>: <%= @call.prefix %>

    </td>
  </tr>

  <tr>
    <th align="left"><%= _('Duration') %></th>
    <td id="duration" align="right"> <%= @call.duration %>  </td>
  </tr>

  <tr class="row1">
    <th align="left"><%= _('Real_Duration') %></th>
    <td id="real_duration" align="right"> <%= @call.real_duration %>  </td>
  </tr>

  <tr>
    <th align="left"><%= _('Billsec') %></th>
    <td id="billsec" align="right"> <%= @call.billsec %>  </td>
  </tr>

  <tr class="row1">
    <th align="left"><%= _('Real_Billsec') %></th>
    <td id="real_billsec" align="right"> <%= @call.real_billsec %>  </td>
  </tr>

  <tr>
    <th align="left"><%= _('Hangup_cause') %></th>
    <td id="dosposition" align="right">
      <%= @call.disposition %>(<%= @call.hangupcause %>)
    </td>
  </tr>

  <tr class="row1">
    <th align="left" nowrap><%= _('Hangup_cause_description') %></th>
    <td id="HC_msg" align="right"> <%= raw get_hangup_cause_message(@call.hangupcause.to_i) %>  </td>
  </tr>


  <tr class="row2">
    <th align="left"><%= _('UniqueID') %></th>
    <td id="uniqueid" align="right"> <%= @call.uniqueid %>  </td>
  </tr>

  <tr class="row1">
    <th align="left"><%= _('Channel') %></th>
    <td id="channel" align="right"> <%= @call.channel %>  </td>
  </tr>


  <tr class="row2">
    <% server = @call.server %>
    <th align="left"><%= b_server + _('Server') %></th>
    <td id="server" align="right">
      <% if server %>
          <%= link_to _("ID") + ": #{server.id} / IP: " + server.server_ip.to_s, {:controller => "servers", :action => :list} %>
      <% else %>
          <%= _('Server_not_found') %>
      <% end %>
    </td>
  </tr>

</table>

<br/>
<br/>

<table width="50%" class="maintable">

  <tr>
    <th align="center" colspan=2><%= _('Originator') %></th>
  </tr>

  <tr class="row1">
    <th align="left"><%= _('IP') %></th>
    <td id="orig_ip" align="right"> <%= @call.originator_ip %>  </td>
  </tr>


  <% if @user %>
      <tr>
        <th align="left"><%= b_user + _('User') %></th>
        <td id="user" align="right">
          <%= ((owner = User.where(:id => @user.owner_id).first and owner.usertype != "reseller" and !owner.blank?) ? (link_nice_user @user) : nice_user(@user) ) %>
        </td>
      </tr>
  <% end %>

  <% if @src_device %>
      <tr class="row1">
        <th align="left"><%= b_device + _('Device') %></th>
        <td id="src_device" align="right"> 
        <% if @call.reseller_id != 0 %>
          <%= nice_device @src_device %>  
        <% else %>
          <%= link_nice_device @src_device %>  
       <% end %>
       </td>
      </tr>
  <% end %>


  <% user_tariff = @user.tariff if @user %>
  <% if user_tariff %>
      <tr>
        <th align="left"><%= _('Tariff') %></th>
        <td id="user_tariff" align="right">
          <%= ((t_owner = User.where(:id => user_tariff.owner_id).first and t_owner.usertype != "reseller" and !t_owner.blank?) ? (link_to user_tariff.name + " (" + user_tariff.purpose + ")" , :controller => "tariffs", :action => "rates_list", :id => @user.tariff_id) : (user_tariff.name + " (" + user_tariff.purpose + ")") ) %>
        </td>
      </tr>
  <% end %>

  <tr>
    <th align="left"><%= _('Rate') %></th>
    <td id="user_rate" align="right"> <%= nice_number @call.user_rate %>  </td>
  </tr>

  <% if @call.disposition == "ANSWERED" %>
      <tr class="row1">
        <th align="left"><%= _('Billsec') %></th>
        <td id="user_billsec" align="right"> <%= @call.user_billsec %>  </td>
      </tr>
      <% if can_see_finances? -%>
          <tr>
            <th align="left"><%= _('Price') %></th>
            <td id="user_price" align="right"> <%= nice_number @call.user_price %>  </td>
          </tr>
      <% end %>
  <% end %>
  <% if @provider %>
      <tr>
        <th id="providers_owner_row" align="left"><%= b_provider + _("Providers_owner") %></th>
        <td id="providers_owner" align="right"> 
          <% if @provider.user_id != 0 %>
            <%= nice_user(@provider.user) %> 
          <% else %>
            <%= link_to nice_user(@provider.user), :controller => "users", :action => "list" %> 
          <% end %>
        </td>
      </tr>
  <% end %>
</table>
<br/>
<br/>
<table width="50%" class="maintable">

  <tr>
    <th align="center" colspan=2><%= _('Terminator') %></th>
  </tr>

  <tr class="row1">
    <th align="left"><%= _('IP') %></th>
    <td id="term_ip" align="right"> <%= @call.terminator_ip %>  </td>
  </tr>

  <% if @provider %>
      <tr>
        <th align="left"><%= b_provider + _('Provider') %></th>
        <td id="provider" align="right"> 
          <%= ((p_owner = User.where(:id => @provider.user_id).first and p_owner.usertype != "reseller" and !p_owner.blank?) ? (link_to @provider.name, :controller => :providers, :action => :edit, :id => @provider.id ) : (@provider.name)) %>
        </td>
      </tr>

      <tr class="row1">
        <th align="left"><%= _('Technology') %></th>
        <td id="prov_tech" align="right"> <%= @provider.tech %>  </td>
      </tr>

      <tr>
        <th align="left"><%= _('Server_IP') %></th>
        <td id="server_ip" align="right"> <%= @provider.server_ip %>  </td>
      </tr>

      <% prov_tariff = @provider.tariff %>
      <% if prov_tariff %>
          <tr>
            <th align="left"><%= _('Tariff') %></th>
            <% %>
            <td id="provider_tariff" align="right"> <%= link_to prov_tariff.name + " (" + prov_tariff.purpose + ")", :controller => "tariffs", :action => "rates_list", :id => @provider.tariff_id %>  </td>
          </tr>
      <% end %>

      <tr class="row1">
        <th align="left"><%= _('Rate') %></th>
        <td id="provider_rate" align="right"> <%= nice_number @call.provider_rate %>  </td>
      </tr>

      <% if @call.disposition == "ANSWERED" %>

          <tr>
            <th align="left"><%= _('Billsec') %></th>
            <td id="provider_billsec" align="right"> <%= @call.provider_billsec %>  </td>
          </tr>

          <tr class="row1">
            <th align="left"><%= _('Price') %></th>
            <td id="provider_price" align="right"> <%= nice_number @call.provider_price %>  </td>
          </tr>
      <% end %>

  <% end %>
</table>
<br/>
<br/>
<% if rs_active? %>

    <table width="50%" class="maintable">

      <tr>
        <th align="center" colspan=2><%= b_reseller + _('Reseller') %></th>
      </tr>

      <% if @reseller %>
          <tr>
            <th align="left"><%= b_user + _('Name') %></th>
            <td id="reseller" align="right"> <%= link_nice_user @reseller %>  </td>
          </tr>

          <% if @call.disposition == "ANSWERED" %>
              <tr>
                <th align="left"><%= _('Rate') %></th>
                <td id="reseller_rate" align="right"> <%= nice_number @call.reseller_rate %>  </td>
              </tr>

              <tr>
                <th align="left"><%= _('Billsec') %></th>
                <td id="reseller_billsec" align="right"> <%= @call.reseller_billsec %>  </td>
              </tr>

              <tr>
                <th align="left"><%= _('Price') %></th>
                <td id="reseller_price" align="right"> <%= nice_number @call.reseller_price %>  </td>
              </tr>
          <% end %>

      <% else %>
          <tr>
            <td align="center" colspan=2><%= _('This_call_does_not_belong_to_reseller') %></td>
          </tr>
      <% end %>
    </table>


    <br/>
    <br/>

<% end %>


<table width="50%" class="maintable">

  <tr>
    <th align="center" colspan=2><%= _('DID') %></th>
  </tr>

  <% if @did %>
      <tr>
        <th align="left"><%= _('DID_Number') %></th>
        <td id="did" align="right"> <%= link_to @did.did, :controller => "dids", :action => "edit", :id => @did.id %>  </td>
      </tr>

      <% if @call.disposition == "ANSWERED" %>

          <tr>
            <th align="left"><%= _('Provider_price') %></th>
            <td id="did_prov_price" align="right"> <%= link_to(nice_number(@call.did_prov_price), :controller => "dids", :action => "did_rates", :id => @call.did_id) %>  </td>
          </tr>

          <tr>
            <th align="left"><%= _('Incoming_price') %></th>
            <td id="did_inc_price" align="right"> <%= link_to(nice_number(@call.did_inc_price), :controller => "dids", :action => "did_rates", :id => @call.did_id) %>  </td>
          </tr>

          <tr>
            <th align="left"><%= _('Owner_price') %></th>
            <td id="did_price" align="right"> <%= link_to(nice_number(@call.did_price), :controller => "dids", :action => "did_rates", :id => @call.did_id) %>  </td>
          </tr>

          <tr>
            <th align="left"><%= _('Billsec') %></th>
            <td id="did_billsec" align="right"> <%= @call.did_billsec %>  </td>
          </tr>

      <% end %>

  <% else %>
      <tr>
        <td align="center" colspan=2><%= _('DID_was_not_used_in_this_call') %></td>
      </tr>
  <% end %>

</table>

<br/><br/>

<table width="50%" class="maintable">

  <tr>
    <th align="center" colspan=2><%= _('SIPCHANINFO') %></th>
  </tr>

  <tr class="row1">
    <th align="left"><%= _('PeerIP') %></th>
    <td id="peerip" align="right"> <%= @call.peerip.to_s %>  </td>
  </tr>

  <tr>
    <th align="left"><%= _('RecvIP') %></th>
    <td id="recvip" align="right"> <%= @call.recvip.to_s %>  </td>
  </tr>

  <tr class="row1">
    <th align="left"><%= _('SipFrom') %></th>
    <td id="sipfrom" align="right"> <%= @call.sipfrom.to_s %>  </td>
  </tr>

  <tr>
    <th align="left"><%= _('URI') %></th>
    <td id="uri" align="right"> <%= @call.uri.to_s %>  </td>
  </tr>

  <tr class="row1">
    <th align="left"><%= _('UserAgent') %></th>
    <td id="user_agent" align="right"> <%= @call.useragent.to_s %>  </td>
  </tr>

  <tr>
    <th align="left"><%= _('PeerName') %></th>
    <td id="peername" align="right"> <%= @call.peername.to_s %>  </td>
  </tr>

  <tr class="row1">
    <th align="left"><%= _('T38Passthrough') %></th>
    <td id="t38passthrough" align="right"> <%= @call.t38passthrough.to_s %>  </td>
  </tr>

</table>


<br/><br/>


<table width="<%= @call_log ? '100%' : '50%' %>" class="maintable">
  <tr>
    <th align="center" colspan=2><%= _('Call_Log') %></th>
  </tr>
  <tr id="call_log" class="row1">
    <% if @call_log %>
        <%
           log = @call_log.log.to_s
           log = log.split("<br>").collect { |line| line =~ /WARNING\:/ ? line.gsub("WARNING:", "<span style='font-weight:bold'>WARNING:")+"</span >" : line }.collect { |line| line =~ /ERORR\:/ ? line.gsub("ERROR:", "<span style='color: red;font-weight:bold'>ERROR:")+"</span >" : line }.join("<br>").html_safe
        %>
        <td align="left" colspan=2><%= log %></td>
    <% else %>
        <td align="center" colspan=2><%= _('Call_Log_for_this_Call_not_saved_into_DB') %></td>
    <% end %>
  </tr>
</table>
