<div align="center">

  <%
     pstart = @page - 10
     pstart = 1 if pstart < 1
     pend = @page + 10
     pend = @total_pages if pend > @total_pages

     back10 = @page - 20
     if back10.to_i <= 0
       back10 = 1 if pstart > 1
       back10 = nil if pstart == 1
     end
     forw10 = @page + 20
     if forw10 > @total_pages
       forw10 = @total_pages if pend < @total_pages
       forw10 = nil if pend == @total_pages
     end

     back100 = @page - 100
     if back100.to_i < 0
       back100 = 1 if back10.to_i > 1 if back10
       if (back10.to_i <= 1) or (not back10)
         back100 = nil
       end
     end

     forw100 = @page + 100
     if forw100.to_i > @total_pages
       forw100 = @total_pages if forw10 < @total_pages if forw10
       forw100 = nil if forw10 == @total_pages or not forw10
     end

  %>

  <table class='page_title2' width="100%">
    <tr>
      <td align="center">
        <%= link_to("<<", {:action => params[:action], :id => @page_select_header_id, :s_username => @search_username, :s_first_name => @search_fname, :s_last_name => @search_lname, :s_agr_number => @search_agrnumber, :sub_s => @search_sub, :user_type => @search_type, :s_acc_number => @search_account_number, :s_clientid => @search_clientid, :page => back100}, {:title => "-100"}) if back100 %>
        <%= link_to("<", {:action => params[:action], :id => @page_select_header_id, :s_username => @search_username, :s_first_name => @search_fname, :s_last_name => @search_lname, :s_agr_number => @search_agrnumber, :sub_s => @search_sub, :user_type => @search_type, :s_acc_number => @search_account_number, :s_clientid => @search_clientid, :page => back10}, {:title => "-20"}) if back10 %>
        <% for p in pstart..pend %>
            <%= "<b>" if p == @page %>
            <%= link_to p, :action => params[:action], :id => @page_select_header_id, :s_username => @search_username, :s_first_name => @search_fname, :s_last_name => @search_lname, :s_agr_number => @search_agrnumber, :sub_s => @search_sub, :user_type => @search_type, :s_acc_number => @search_account_number, :s_clientid => @search_clientid, :page => p %>
            <%= "</b>" if p == @page %>
        <% end %>
        <%= link_to(">", {:action => params[:action], :id => @page_select_header_id, :s_username => @search_username, :s_first_name => @search_fname, :s_last_name => @search_lname, :s_agr_number => @search_agrnumber, :sub_s => @search_sub, :user_type => @search_type, :s_acc_number => @search_account_number, :s_clientid => @search_clientid, :page => forw10}, {:title => "+20"}) if forw10 %>
        <%= link_to(">>", {:action => params[:action], :id => @page_select_header_id, :s_username => @search_username, :s_first_name => @search_fname, :s_last_name => @search_lname, :s_agr_number => @search_agrnumber, :sub_s => @search_sub, :user_type => @search_type, :s_acc_number => @search_account_number, :s_clientid => @search_clientid, :page => forw100}, {:title => "+100"}) if forw100 %>
      </td>
    </tr>
  </table>

</div>
