<b><%= b_user + _('User') + ":</b> " +  @user.first_name + " " + @user.last_name %>
<br>
<b><%= b_view + _('Tariff') %>:</b> <%= link_to @tariff.name, :controller => "tariffs", :action => "user_rates_list", :id => @tariff.id %>
<br><br>


<table width="100%" class="maintable">
  <tr>
    <th align="left"><%= _('Name') %></th>
    <th align="left"><%= _('Type') %></th>
    <th align="center"><%= _('Destinations') %></th>
    <th align="center"><%= _('Rate') %> (<%= session[:default_currency] %>)</th>
    <th align="center"><%= _('Round_by') %> (s)</th>
    <th colspan=2></th>    
  </tr>


<% i = 0 %>     
<% for cr in @crates %>
  <tr class="row<%= (i % 2 + 1).to_s %>">

    <% dg = cr.destinationgroup %>

    <td><%= draw_flag_by_code dg.flag %> <%=h dg.name %></td>
    <td><%=h dg.desttype %></td>


    <%
        show_rr = true
        price = 0.0
        roundby = 1
        
        acustrates = []
        custrate = dg.custom_rate(@user.id)
        acustrates = custrate.acustratedetails if custrate
        if acustrates.size == 0
            price = 0.0 
            roundby = 1
        else    
            if acustrates.size == 1 and acustrates[0].artype == "minute"
                price = acustrates[0].price 
                roundby = acustrates[0].round
            else    
                show_rr = false
            end
        end
    %>

    <td align="center"><%= link_to b_view + _('View'), :controller => :destination_groups, :action => :destinations, :id => dg.id %> (<%= dg.destinations.size %>)</td>
<% if show_rr %>
    <td align="center"><%= price %></td>
    <td align="center"><%= roundby   %></td>    
<% else%>
    <td colspan = "2" align="center"><%= _('Check_advanced_rates') + b_forward %></td>
<% end %>
    <td align="center"><%= link_to b_rates, :action => 'user_acustrates_full', :id => @user.id, :dg => dg.id %> </td>
    <td align="center"><%= link_to b_cross, :action => 'user_delete_custom_rate', :id => cr.id %> </td>
  </tr>
   
  <% i += 1%>    
<% end %>

 <%= form_tag :action => 'user_custom_rate_add_new', :id => @user.id do %>  
  <tr class="row1">
    <th align="left" colspan=5>
        <select name="dg_new" > 
            <% for dg in @destgroups %>
                <option value=<%= dg["id"] %>> <%= dg["name"] + " " + dg["desttype"] %> </option>
            <% end %>
        </select>
    </th>
    <th align="center" colspan=2>   <%= image_submit_tag "icons/add.png", :title => _('Add_new') %> </th>
  </tr>
<% end %>  


</table>

