<%= form_tag(:action => 'device_group_update', :id => @devicegroup) do %>

<%= b_user + _('User') + ": " + @user.first_name + " " + @user.last_name %>
<br><br>
<%= b_groups + _('Group') %>: <%= text_field 'devicegroup', 'name', "class" => "input"  %>
<br><br>
<%= _('Created') + ": " + nice_date_time(@devicegroup.added) %>
<br><br><br>



<table width="50%" class="simple">

                    <tr>
                     <td colspan="2" class="bottom_border">
                            <b><%= _('Address') %></b>
                        </td>
                    </tr>
                    <tr><td height="10"></td></tr>

  <%= render :partial => 'address_form' %>
  
</table>  
  
    <br>
  <%= submit_tag _('Update'), :disable_with=>_('Processing..') %>
<% end %>
   
<br>
