<table width="100%">
  <tr>
    <td>
      <% unless (session[:usertype] == "accountant" and (session[:acc_user_create].to_i == 0 or session[:acc_user_create].to_i == 1)) %>
          <%= link_to b_add + _('Add_new'), :action => 'new' %>
      <% end %>
    </td>
    <td align="right">
      <% if not @users.empty? %>
          <%= link_to_function(b_search + _('Search'), "Element.toggle('search_details')") %>
      <% end %>
    </td>
  </tr>
</table>

<%= form_tag :action => 'list' do %>
    <div id="search_details" <%= "style='display:none;'" if @search == 0 %>>
      <br/>
      <table width="100%" class="simple">
        <tr>
          <td>
            <%= _('Username') %>
            : <%= text_field_tag 's_username', @options[:s_username], "class" => "input", :size => "10", :maxlength => "30" %>
            <%= _('first_name') %>
            : <%= text_field_tag 's_first_name', @options[:s_first_name], "class" => "input", :size => "10", :maxlength => "30" %>
            <%= _('last_name') %>
            : <%= text_field_tag 's_last_name', @options[:s_last_name], "class" => "input", :size => "10", :maxlength => "30" %>
            <%= _('User_type') %>:
            <select id="user_type" name="user_type">
              <option value="-1" <%= "selected" if @options[:user_type].to_i == -1 %>><%= _('All') %> </option>
              <% for type in @roles %>
                  <option value="<%= type.name %>" <%= "selected" if @options[:user_type].to_s == type.name %> > <%= type.name %></option>
              <% end %>
            </select>
            <%= _('Email') %>
            : <%= text_field_tag 's_email', @options[:s_email], "class" => "input", :size => "20", :maxlength => "100" %>
          </td>
        </tr>
        <tr>
          <td>
            <%= _('Agreement_number') %>
            : <%= text_field_tag 's_agr_number', @options[:s_agr_number], "class" => "input", :size => "10", :maxlength => "30" %>
            <%= _('Accounting_number') %>
            : <%= text_field_tag 's_acc_number', @options[:s_acc_number], "class" => "input", :size => "10", :maxlength => "30" %>
            <%= _('Company_Personal_ID') %>
            : <%= text_field_tag 's_clientid', @options[:s_clientid], "class" => "input", :size => "10", :maxlength => "30" %>
            <%= _('Subscriptions') %>:
            <select name="sub_s">
              <option value="-1" <%= "selected" if @options[:sub_s].to_i == -1 %>><%= _('All') %> </option>
              <option value="0" <%= "selected" if @options[:sub_s].to_i == 0 %> >  <%= _('Without_subscriptions') %> </option>
              <option value="1" <%= "selected" if @options[:sub_s].to_i == 1 %>><%= _('With_subscriptions') %> </option>
            </select>
            <%= _('User_ID') %>
            : <%= text_field_tag 's_id', @search_id, "class" => "input", :size => "10", :maxlength => "30" %>
          </td>
        </tr>
        <tr>
          <td>
            <%= _('Responsible_accountant')%> : 
	    <%= select_tag 'responsible_accountant_id', options_for_select([[_('All'), "-1"]] + @responsible_accountants.map { |accountant| [nice_user(accountant), accountant.id] }) %>
          </td>
        </tr>
        <tr>
          <td>
            <%= submit_tag _('Search'), :disable_with => _('Processing..') %>
          </td>
              <script type="text/javascript">
              //<![CDATA[
                Event.observe(window, 'load',  function() {
                  Event.observe($('responsible_accountant_id'), 'change', function(){
		    $('user_type').disabled = ($('responsible_accountant_id').value != '-1');
		  });
	          Event.observe($('user_type'), 'change', function(){
                    $('responsible_accountant_id').disabled = ($('user_type').value != 'user' && $('user_type').value != '-1');
                  });
                });
              //]]>
              </script>
          <td align="right">
            <%# MorLog.my_debug(@search) %>
            <% if @search == 1 %>
                <%= link_to b_cross + _('Clear_search'), :action => 'list', :clean => 1 %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
<% end %>
<br/>
<%= page_select_header(@options[:page], @total_pages, nil, @options) %>

<div align="center">
  <table width="100%" class="maintable">
    <tr>
      <th align="left"><%= nice_list_order('acc', _('ID'), @options) %></th>
      <th align="left"><%= nice_list_order('user', _('User'), @options) %></th>
      <th align="left"><%= nice_list_order('username', _('Username'), @options) %></th>
      <% if ['admin', 'accountant'].include?(session[:usertype]) %>
          <th align="left"><%= nice_list_order('usertype', _('Usertype'), @options) %></th>
      <% end %>
      <th align="left"><%= nice_list_order('account_type', _('Account_type'), @options) %></th>
      <% if can_see_finances? %>
          <th align="right"><%= nice_list_order('balance', _('Balance'), @options) %>(<%= current_user.currency.name %>
            )
          </th>
      <% end %>
      <th align="center"></th>
      <% if admin? %>
          <th align="center"></th>
      <% end %>
      <% if monitoring_enabled_for(current_user) %>
          <th colspan=13></th>
      <% else %>
          <th colspan=13></th>
      <% end %>
    </tr>
    <% @users.each_with_index { |user, i| %>
        <% user.blocked.to_i == 0 ? text_class="n" : text_class="n_disabled" -%>
        <tr class="row<%= (i % 2 + 1).to_s %>">
          <td id="name_<%= user.id %>" align="left" class="<%= text_class %>"> <%= h user.id %> </td>
          <td id="user_link_<%= user.id %>" align="left" class="<%= text_class %>" <%= nice_user_tooltip(user) %> > <%= @allow_edit ? link_nice_user(user) : nice_user(user) %> </td>
          <td id="username_<%= user.id %>" align="left" class="<%= text_class %>"> <%= h user.username %> </td>
          <% if ['admin', 'accountant'].include?(current_user.usertype) %>
              <td id="usetype_<%= user.id %>" align="left" class="<%= text_class %>" <%= tooltip(_('Accountant_group'), user.acc_group_name) if  user.usertype == 'accountant' and session[:usertype] == 'admin' %>> <%= h user.usertype %> <%= "(Wholesale)" if user.purpose == 'user_wholesale' and ['accountant', 'reseller'].include?(user.usertype) %>  </td>
          <% end %>
          <td id="postpaid_<%= user.id %>" align="left" class="<%= text_class %>"><%= _('Prepaid') if user.postpaid != 1 %>  <%= _('Postpaid') if user.postpaid == 1 %></td>
          <% if can_see_finances? %>
              <td id="balance_<%= user.id %>" align="right" class="<%= text_class %>"> <%= nice_number(user.balance) %> </td>
          <% end %>
          <%= render :partial => "/layouts/user_buttons", :locals => {:user => user} %>
        </tr>
    <% } %>
  </table>
</div>
