<div class="nb"><%= b_user + _('Reseller') %>: <%= link_nice_user(@reseller) %></div>
<br>

<div align="center">
  <table width="100%" class="maintable">
    <tr>
      <th align="left">        <%= _('Acc') %>    </th>
      <th align="left">        <%= _('Username') %>    </th>
      <th align="left">        <%= _('User') %>    </th>
      <th align="left">        <%= _('Account_type') %>    </th>
      <th align="right">        <%= _('Balance') %>    </th>
      <th align="center">
        <% _('is_logged') %>    </th>
      <th colspan=4></th>
      </th>
    </tr>



    <% i = 0 %>
    <% for @user in @users %>


        <% if @user.blocked.to_i == 0 %>
            <% text_class="n" %>
        <% else %>
            <% text_class="n_disabled" %>
        <% end %>

        <tr class="row<%= (i % 2 + 1).to_s %>">
          <td align="left" class="<%= text_class %>"> <%= h @user.id %>      </td>
          <td align="left" class="<%= text_class %>"> <%= h @user.username %>      </td>
          <td align="left" class="<%= text_class %>"> <%= link_nice_user @user %>      </td>

          <td align="left" class="<%= text_class %>">
            <%= _('Prepaid') if @user.postpaid != 1 %>  <%= _('Postpaid') if @user.postpaid == 1 %>
          </td>
          <td align="right" class="<%= text_class %>"> <%= nice_number @user.balance %>      </td>

          <td align="center">
            <% if @user.blocked.to_i == 0 %>
                <%= b_online if @user.logged == 1 %>  <%= b_offline if @user.logged != 1 %>
            <% else %>
                <%= image_tag('icons/exclamation.png', :title => _('User_is_blocked')) %>
            <% end %>
          </td>

          <td align="center">        <%= link_to b_call, :controller => "stats", :action => "call_list", :id => @user, :calltype => "answered" %> </td>

          <% if session[:usertype] == "admin" %>
              <td align="center"><%= link_to b_login_as, {:controller => "functions", :action => 'login_as_execute', :user => @user}, :confirm => _('are_you_sure'), :method => :post if @user.id != 0 %></td>
              <td align="center"><%= link_to b_call_tracing, :controller => 'functions', :action => 'call_tracing_user', :user => @user.id %> </td>

          <% end %>
          <!--
    <td align="center"><%= link_to b_device, :controller => 'devices', :action => 'show_devices', :id => @user.id %></td>
    <% if session[:usertype] == "admin" %>
      <td align="center"><%= link_to b_crates, :controller => 'users', :action => 'custom_rates', :id => @user.id if @user.tariff and @user.tariff.purpose == "user" %></td>
    <% end %>    

    <td align="center"><%= link_to b_edit, :action => 'edit', :id => @user %></td>

    <td align="center"><%= link_to b_delete, {:action => 'destroy', :id => @user}, :confirm => _('are_you_sure'), :method => "post" if @user.id != 0 and @user.id != session[:user_id] %></td>
-->
        </tr>
        <% i += 1 %>
    <% end %>
  </table>
</div>


<br/>


