<table width="100%" class="maintable">
  <tr>
    <th><%= _('User') %></th>
    <th><%= _('Owner') %></th>
    <th></th>
  </tr>
  <% if @users and @users.size.to_i > 0 %>
      <% @users.each_with_index { |user, i| %>
          <% user.blocked.to_i == 0 ? text_class="n" : text_class="n_disabled" %>
          <tr class="row<%= (i % 2 + 1).to_s %>">
            <td id="user_link_<%= user.id %>" align="left" class="<%= text_class %>" <%= nice_user_tooltip(user) %> > <%= @allow_edit ? link_nice_user(user) : nice_user(user) %> </td>
            <td id="user_owner_<%= user.id %>" align="left" class="<%= text_class %>"> <%= @allow_edit ? link_nice_user(user.owner) : nice_user(user.owner) %> </td>
            <% if user.owner_id == @current_user.get_corrected_owner_id %>
                <td id="username_<%= user.id %>" align="center" class="<%= text_class %>"> <%= link_to b_edit, :action => :edit, :id => user.id %> </td>
            <% else %>
                <td id="username_<%= user.id %>" align="center" class="<%= text_class %>"> <%= link_to(b_login_as, {:controller => "functions", :action => 'login_as_execute', :user => user.owner_id}, :id => "login_as_link_"+user.id.to_s, :confirm => _('are_you_sure'), :method => :post) if user.id != 0 and (admin? or reseller?) %> </td>
            <% end %>
          </tr>
      <% } %>
  <% end %>
</table>