<div class="form_background">

  <%= form_tag :controller => :destinations, :action => :bulk_rename_confirm do %>
      <b>
        <%= _('Prefix') %>
        : <%= text_field_tag 'prefix', '', "class" => "input", :size => "20", :maxlength => "40", :id => "destination_prefix" %>
        <%= _('Destination_details') %>
        : <%= text_field_tag 'destination', '', "class" => "input", :size => "20", :maxlength => "40", :id => "destination_name" %>
      </b>
      <%= submit_tag _('Rename'), :disable_with => _('Processing..') %>
  <% end %>
  <%= form_tag(:controller => :destination_groups, :action => :bulk_management_confirmation) do %>
      <b>
        <%= _('Prefix') %>
        : <%= text_field_tag 'prefix', '', "class" => "input", :size => "20", :maxlength => "40", :id => "prefix_bulk" %>
        <% content_for :scripts do %>
            <script type="text/javascript">
                var dg = $j("#destination_destinationgroup_id");
                var orig_dg = '<%= [_('Not_assigned'), ""] %>';
                var dg_path = '<%= [Web_Dir, "/destination_groups/list_json"].map{|d| d unless d.blank?}.compact.join("") %>';
                dg.click(
                        function () {
                            mor_functions["populateSelect"](dg_path, dg, orig_dg);
                        }
                );
            </script>
        <% end %>
        <%= _('Assign_to_group') %>
        : <%= select_tag 'id', options_for_select([[_('Not_assigned'), ""]]), {:id => "destination_destinationgroup_id", :style => "width : 250px"} %>
        <%= _('Type') %>: <%= select_tag 'type', options_for_select(['FIX', 'MOB', 'NGN']) %>
        <p><%= _('How_to_use_destinations_bulk_menagemnt') %></p>
      </b>

      <p><%= _('Supported_regexp_symbols') %>:</p>

      <p>
        % - <%= _('matches_any_symbol_any_number_of_times') %>
        <br/>
        [1,2,3,4]% - <%= _('matches_destinations_beginning_whit_1_2_3_and_4') %>
      </p>

      <p><%= _('Examples') %>:</p>

      <p>
        370% - <%= _('will_match_numbers') %> 370xxxxxxxxx
        <br/>
        370[1,3,9]% - <%= _('will_match_numbers') %> 3701xxxxxxxx, 3703xxxxxxxx <%= _('and') %> 3709xxxxxxxx
      </p>
      <%= submit_tag _('Reassign'), :disable_with => _('Processing..') %>
  <% end %>
</div>
