<br/>
<%= button_to _('Assign_Automatically'), {:action => "auto_assign_warning"}, :confirm => _('are_you_sure'), :method => "post" %>
<br/>
<br/>

<%= page_select_header(@options[:page], @total_pages) if @total_pages > 1 %>

<table width="100%" class="maintable">
  <tr>
    <th align="left" width="20%"> <%= _('Country') %> </th>
    <th align="left" width="10%"><%= _('Prefix') %></th>
    <th align="left" width="30%"> <%= _('Destination') %> </th>
    <th align="left"> <%= _('Subcode') %> </th>
    <th align="left"> <%= _('Destination_group') %> </th>
  </tr>

  <%= form_tag :action => 'destinations_to_dg_update' do %>

      <% @destinations_without_dg.each_with_index { |dest, index| %>
          <tr class="row<%= index%2 %>">
            <td align="left"><%= dest.dgn %></td>
            <td align="left"><%= dest.prefix %></td>
            <td align="left"><%= dest.name %></td>
            <td align="left" nowrap>
              <% idt = dest.id.to_s %>
              <%= radio_button_tag('subcode'+idt, 'FIX', checked = dest.desttype == "FIX") %> FIX
              <%= radio_button_tag('subcode'+idt, 'MOB', checked = dest.desttype == "MOB") %> MOB
              <%= radio_button_tag('subcode'+idt, 'NGN', checked = (dest.desttype == "NGN" or dest.desttype.blank?)) %>
              NGN
            </td>
            <td align="left">
              <%= select_tag("dg"+idt, options_for_select(@dgs, dest.dgid.to_s)) %>
            </td>
          </tr>
      <% } %>

      <tr>
        <th align="right" colspan=5><%= submit_tag _('Update_this_page'), :disable_with => _('Processing..') %></th>
      </tr>

  <% end %>

</table>

