<% for monitoring in monitorings %>
  <tr id="monit-<%=monitoring.id%>" class="center">
    <td class="active">
      <%= raw link_to activity_indicator(monitoring.active), { :action => :update, :id => monitoring.id, :monitoring => { :active => !monitoring.active } } %>
    </td>
    <td class="period">
      <%=  raw format_period(monitoring.period_in_past) %>
    </td>
    <td class="amount">
      <%=  raw monitoring.amount %>
    </td>
    <td class="block">
      <%=  raw block_user(monitoring) %>
    </td>
    <td class="email">
      <%=  raw send_admin_email(monitoring) %>
    </td>
    <%if !reseller? %>
    <td class="log">
      <%=  raw link_to b_user_log, {:controller => "stats", :action => "action_log", :target_type => "monitoring", :target_id => monitoring.id}, :id=>"log_link_#{monitoring.id.to_s}" %>
    </td>
    <%end%>
    <td class="edit">
      <% if personal %>
      <%=  raw link_to b_edit, { :action => 'edit', :id => monitoring, :user_id=>user }, :id=>"edit_link_#{monitoring.id.to_s}" %>
      <%else%>
      <%=  raw link_to b_edit, { :action => 'edit', :id => monitoring }, :id=>"edit_link_#{monitoring.id.to_s}" %>
      <%end%>
    </td>
    <td class="destroy">
      <% if personal %>
        <% if monitoring.users.size > 1 %>
          <%=  raw link_to b_delete, { :action => 'destroy', :id => monitoring, :user => @user.id }, :id=>"delete_link_#{monitoring.id.to_s}", :confirm => _('Are_you_sure_remove_monitoring', monitoring.users.map(&:username).join(",")), :method => "post" %>
        <% else %>
          <%=  raw link_to b_delete, { :action => 'destroy', :id => monitoring, :user => @user.id }, :id=>"delete_link_#{monitoring.id.to_s}", :confirm => _('Are_you_sure'), :method => "post" %>
        <% end %>
      <% else %>
        <%=  raw link_to b_delete, { :action => 'destroy', :id => monitoring, :user => @user.id }, :id=>"delete_link_#{monitoring.id.to_s}", :confirm => _('Are_you_sure_remove_monitoring', _(monitoring.user_type.capitalize).downcase), :method => "post" %>
      <% end %>
    </td>
  </tr>
<% end %>
