<%= form_tag :action => :make_select do %>
    <p><label for="tables"><%= _('Table') %></label><br/>
      <%= select_tag("table", options_for_select(@tables.map { |t| [t, t] }, @table)) %>
    </p>
    <p><label for="id"><%= _('ID') %></label><br/>
      <%= text_field_tag 'id' %>
    </p>
    <p><%= submit_tag 'select', :disable_with => _('Processing..'), :id => 'search_devices_all' %></p<
<% end %>

<% if @select %>
    <% if @table != 'sessions' %>
        <table width="50%" class="maintable">
          <tr>
            <th align="left"><%= _('Field') %></th>
            <th align="left"><%= _('Value') %></th>
          </tr>
          <% @table.singularize.titleize.gsub(' ', '').constantize.column_names.each_with_index { |column, i| %>
              <tr class="row<%= (i % 2 + 1).to_s %>">
                <td align="left"><%= column %></td>
                <td align="left" id="<%= column %>_value"><%= @select.send(column) %></td>
              </tr>
          <% } %>
        </table>
    <% else %>
        <%= @select.to_yaml %>
    <% end %>
<% else %>
    <p>Not found</p>
<% end %>
