<b><%= _('Parameters') %></b>
<table class="maintable" width="50%">
  <tr class="row1" width="">
    <td id="rate_day_type" width="50%"><%= _("Rate_day_type") %></td>
    <td id="day_type" align="right" width="15%"><%= {"all" => _("All"), "wd" => _("Work_Days"), "fd" => _("Free_Days")}[session[:imp_date_day_type]]  %>         </td>
    <td width="35%"></td>
  </tr>
</table>
<br />
<b><%= _('DB_analysis') %></b>
<table class="maintable" width="50%">
  <tr class="row1" width="">
    <td id="directions_in_db" width="50%">            <%= _('Directions_in_DB') %>        </td>
    <td id="directions" align="right" width="15%">     <%= session[:directions_in_db] %>          </td>
    <td width="35%"></td>
  </tr>
  <tr>
    <td id="destinations_in_db">                <%= _('Destinations_in_DB') %>  </td>
    <td id="destinations" align="right">            <%= session[:destinations_in_db] %>          </td>
    <td></td>
  </tr>
  <tr class="row1">
    <td id="tariff_rates">                <%= _('Tariff_rates') %>        </td>
    <td id="tariff_rates_value" align="right">         <%= session[:tariff_rates] %>          </td>
    <td></td>
  </tr>
</table>
<br />
<b><%= _('CSV_file_analysis') %></b>
<table class="maintable" width="50%">
  <tr class="row1">
    <td id="file_size_1" width="50%">                <%= _('File_size') %>    </td>
    <td id="file_size_2" align="right" width="15%">     <%= session[:file_size] %>            </td>
    <td id="file_size_3" width="35%" align="center"> <%= _('bytes') %></td>
  </tr>
  <tr>
    <td id="file_lines">                <%= _('Total_file_lines') %>   </td>
    <td id="number_of_file_lines" align="right">     <%= session[:file_lines] %>         </td>
    <td></td>
  </tr>
  <tr class="row1">
    <td id="destinations">                <%= _('Destinations_in_csv_file') %>    </td>
    <td id="number_of_destinations" align="right">     <%= session[:destinations_in_csv_file] %>            </td>
    <td></td>
  </tr>
  <tr>
    <td id="existing_destinations">                <%= _('Existing_destinations_in_csv_file') %>   </td>
    <td id="number_of_existing_destinations" align="right">     <%= session[:existing_destinations_in_csv_file] %>         </td>
    <td></td>
  </tr>
  <%unless reseller?%>
    <tr class="row1">
      <td id="new_destinations"><%= _('New_destinations_in_csv_file') %></td>
      <td id="number_of_new_destinations" align="right"><%= session[:new_destinations_in_csv_file] %></td>
      <td id="number_of_bad_destinations" align="center"><%= session[:bad_destinations] %> <%= _('bad_dst') %><%= link_to "(#{_('Press_here_to_get_list')})", {:action => "bad_rows_from_csv"}, :popup => true  %></td>
    </tr>
  <%end%>
</table>
<br />
<b><%= _('To_do') %></b>
<table class="maintable" width="50%">
  <%unless reseller?%>
    <tr class="row1">
      <td width="50%"><%= _('Destinations_to_create') %> </td>
      <td id="destinations_to_create" align="right" width="15%"><b><%= session[:destinations_to_create] %> </b></td>
      <td id="dest_create_step_number" align="center" width="35%"><%= _('Step') %> 5 <%= link_to "(#{_('Press_here_to_get_list')})", {:action => "dst_to_create_from_csv"}, :popup => true if session[:destinations_to_create].to_i > 0 %></td>
    </tr>
    <% if session[:imp_update_dest_names].to_i == 1 %>
      <tr class="row1">
        <td width="50%"><%= _('Destination_names_to_update') %></td>
        <td id="destinations_to_update" align="right" width="15%"><b><%= session[:destinations_to_update].to_i %> </b></td>
        <td id="dest_update_step_number" align="center" width="35%"><%= _('Step') %> 5 <%= link_to "(#{_('Press_here_to_get_list')})", {:action => "dst_to_update_from_csv"}, :popup => true if session[:destinations_to_update].to_i > 0 %></td>
      </tr>
    <% end %>
  <%end%>
  <tr>
    <td>                <%= _('Rates_to_update') %> </td>
    <td id="rates_to_update" align="right"> <b><%= session[:rates_to_update] %></b></td>
    <td id="rates_to_update_step" align="center">    <%= _('Step') %> <%= reseller? ? 5 : 6 %></td>
  </tr>
    <tr class="row1">
      <td>                <%= _('New_rates_to_create') %> </td>
      <td id="new_rates_to_create" align="right">     <b><%= session[:new_rates_to_create] %></b></td>
      <td id="new_rates_to_create_step" align="center">    <%= _('Step') %> <%= reseller? ? 6 : 7 %></td>
    </tr>
</table>