<b><%= _('Parameters') %></b>
<table class="maintable" width="50%">
  <tr class="row1" width="">
    <td id="rate_day_type" width="50%"><%= _("Rate_day_type") %></td>
    <td id="imp_rate_day_type" align="right" width="15%"><%= {"all" => _("All"), "wd" => _("Work_Days"), "fd" => _("Free_Days")}[session[:imp_date_day_type]] %>         </td>
    <td width="35%"></td>
  </tr>
</table>
<br/>
<b><%= _('DB_analysis') %></b>
<table class="maintable" width="50%">
  <tr class="row1" width="">
    <td id="directions_in_db" width="50%">            <%= _('Directions_in_DB') %>        </td>
    <td id="directions" align="right" width="15%">     <%= @tariff_analize[:directions_in_db] %>          </td>
    <td width="35%"></td>
  </tr>
  <tr>
    <td id="destinations_in_db">                <%= _('Destinations_in_DB') %>  </td>
    <td id="destinations" align="right">            <%= @tariff_analize[:destinations_in_db] %>          </td>
    <td></td>
  </tr>
  <tr class="row1">
    <td id="tariff_rates">                <%= _('Tariff_rates') %>        </td>
    <td id="rates" align="right">         <%= @tariff_analize[:tariff_rates] %>          </td>
    <td></td>
  </tr>
</table>
<br/>
<b><%= _('CSV_file_analysis') %></b>
<table class="maintable" width="50%">
  <tr class="row1">
    <td id="file_size" width="50%">                <%= _('File_size') %>    </td>
    <td id="f_size" align="right" width="15%">     <%= session[:file_size] %>            </td>
    <td width="35%" align="center"> <%= _('bytes') %></td>
  </tr>
  <tr>
    <td id="total_file_lines">                <%= _('Total_file_lines') %>   </td>
    <td id="file_lines" align="right">     <%= session["tariff_import_csv2_#{@tariff.id}".to_sym][:file_lines] %>         </td>
    <td></td>
  </tr>
  <tr class="row1">
    <td id="destinations_in_csv">                <%= _('Destinations_in_csv_file') %>    </td>
    <td id="dest_in_csv" align="right">     <%= @tariff_analize[:destinations_in_csv_file] %>            </td>
    <td></td>
  </tr>
  <tr>
    <td id="existing_dest_in_csv">                <%= _('Existing_destinations_in_csv_file') %>   </td>
    <td id="exist_dest_in_csv" align="right">     <%= @tariff_analize[:existing_destinations_in_csv_file] %>         </td>
    <td></td>
  </tr>
  <% unless reseller? %>
      <tr class="row1">
        <td id="new_destinations_in_csv"><%= _('New_destinations_in_csv_file') %></td>
        <td id="new_dest_in_csv" align="right"><%= @tariff_analize[:new_destinations_in_csv_file] %></td>
        <td id="bad_dest" align="center"><%= @tariff_analize[:bad_destinations] %> <%= _('bad_dst') %><%= link_to "(#{_('Press_here_to_get_list')})", {:action => "bad_rows_from_csv", :csv2 => 1, :tariff_id => @tariff.id}, :popup => true if params[:step].to_i < 7 %></td>
      </tr>
  <% end %>
</table>
<br/>
<b><%= _('To_do') %></b>
<table class="maintable" width="50%">
  <% unless reseller? %>
      <tr class="row1">
        <td id="destinations_to_create" width="50%"><%= _('Destinations_to_create') %> </td>
        <td id="dest_to_create" align="right" width="15%"><b><%= @tariff_analize[:destinations_to_create] %> </b></td>
        <td id="dest_to_create_step" align="center" width="35%"><%= _('Step') %>
          5 <%= link_to "(#{_('Press_here_to_get_list')})", {:action => "dst_to_create_from_csv", :csv2 => 1, :tariff_id => @tariff.id}, :popup => true if @tariff_analize[:destinations_to_create].to_i > 0 and params[:step].to_i < 7 %></td>
      </tr>
      <% if session["tariff_import_csv2_#{@tariff.id}".to_sym][:imp_update_dest_names].to_i == 1 %>
          <tr class="row1">
            <td id="destinations_to_update" width="50%"><%= _('Destination_names_to_update') %></td>
            <td id="dest_to_update" align="right" width="15%">
              <b><%= @tariff_analize[:destinations_to_update].to_i %> </b></td>
            <td id="dest_to_update_step" align="center" width="35%"><%= _('Step') %>
              5 <%= link_to "(#{_('Press_here_to_get_list')})", {:action => "dst_to_update_from_csv", :csv2 => 1, :tariff_id => @tariff.id}, :popup => true if @tariff_analize[:destinations_to_update].to_i > 0 and params[:step].to_i < 7 %></td>
          </tr>
      <% end %>
    <% if session["tariff_import_csv2_#{@tariff.id}".to_sym][:imp_update_subcodes].to_i == 1 %>
      <tr class="row1">
        <td id="subcodes_to_update" width="50%"><%= _('Destination_subcodes_update') %></td>
        <td id="sub_to_update" align="right" width="15%"><b><%= @tariff_analize[:subcodes_to_update].to_i %> </b></td>
        <td id="sub_to_update_step" align="center" width="35%"><%= _('Step') %> 5 <%= link_to "(#{_('Press_here_to_get_list')})", {:action => "subcodes_to_update_from_csv", :csv2=>1,:tariff_id => @tariff.id}, :popup => true if @tariff_analize[:subcodes_to_update].to_i > 0 and params[:step].to_i < 7%></td>
      </tr>
    <% end %>


    <% if session["tariff_import_csv2_#{@tariff.id}".to_sym][:imp_update_directions].to_i == 1 %>
      <tr class="row1">
        <td id="directions_to_update" width="50%"><%= _('Direction_codes_to_update') %></td>
        <td id="dir_to_update" align="right" width="15%"><b><%= @tariff_analize[:directions_to_update].to_i %> </b></td>
        <td id="dir_to_update_step" align="center" width="35%"><%= _('Step') %> 5 <%= link_to "(#{_('Press_here_to_get_list')})", {:action => "dir_to_update_from_csv", :csv2=>1,:tariff_id => @tariff.id}, :popup => true if @tariff_analize[:directions_to_update].to_i > 0 and params[:step].to_i < 7%></td>
      </tr>
    <% end %>


   <% end %>
  <tr>
    <td id="rates_to_update">                <%= _('Rates_to_update') %> </td>
    <td id="r_to_update" align="right"><b><%= @tariff_analize[:rates_to_update] %></b></td>
    <td id="r_to_update_step" align="center">    <%= _('Step') %> <%= reseller? ? 5 : 6 %></td>
  </tr>
  <tr class="row1">
    <td id="new_rates_to_create">                <%= _('New_rates_to_create') %> </td>
    <td id="new_r_to_create" align="right"><b><%= @tariff_analize[:new_rates_to_create] %></b></td>
    <td id="new_r_to_create_step" align="center">    <%= _('Step') %> <%= reseller? ? 6 : 7 %></td>
  </tr>
</table>
