<div align="center">
  <table class='page_title2' width="100%">
    <tr> 
      <td align = "center"> 
        <% for st in 'A'..'Z' %> 
          <%= "<b>".html_safe if st == @st%> 
          <% if @directions_first_letters.include?(st)%> 
            <%= link_to st, :action => params[:action], :id => @letter_select_header_id, :st => st %> 
          <% elsif defined?(@directions_defined) and not @directions_defined.include?(st) %> 
            <span style="color:grey;font-size:11px"> <%= st %> </span>
          <% else %>
            <%= link_to st, {:action => params[:action], :id => @letter_select_header_id, :st => st}, {:style => "color:grey"} %> 
          <% end %> 
          <%= "</b>".html_safe if st == @st%> 
        <% end %> 
      </td> 
    </tr> 
  </table>
</div>
