<% if rate_details and rate_details.size > 0 %>
    <% rate_details.each_with_index { |t, i| %>
        <% ards = Aratedetail.find(:all, :conditions => ["rate_id = ? AND start_time = ? AND daytype = ?", @rate.id, t["start_time"], type], :order => "aratedetails.from ASC, artype ASC") %>
        <br><b>Time:</b> <%= t["start_time"].to_s[%r[\w{2}:\w{2}:\w{2}]] %> - <%= t["end_time"].to_s[%r[\w{2}:\w{2}:\w{2}]] %><br><br>
        <table width="100%" class="maintable">
          <tr>
            <th align="left"><%= _('From') %></th>
            <th align="center"><%= _('Duration') %></th>
            <th align="center"><%= _('Type') %></th>
            <th align="center"><%= _('Round_by') %></th>
            <% if @show_rates_without_tax.to_i == 1 %>
                <th align="center"><%= _('Rate') %> (<%= session[:show_currency] %>)</th>
            <% end %>
            <th align="center"><%= _('Rate_with_VAT') %> (<%= session[:show_currency] %>)</th>
          </tr>
          <% ards.each_with_index { |ard, i| %>
              <tr class="row<%= (i % 2 + 1).to_s %>">
                <% ard.duration == -1 ? duration = "∞" : duration = ard.duration -%>
                <td id="from_<%= ard.id %>" align="left"><%= ard.from %></td>
                <td id="duration_<%= ard.id %>" align="center"><%= duration if ard.artype == "minute" %></td>
                <td id="type_<%= ard.id %>" align="center"><%= ard.artype %></td>
                <td id="round_<%= ard.id %>" align="center"><%= ard.round if ard.artype == "minute" %></td>
                <% if @show_rates_without_tax.to_i == 1 %>
                    <td id="price_no_tax_<%= ard.id %>" align="center"><%= nice_number(@exchange_rate*ard.price) %></td>
                <% end %>
                <td id="price_<%= ard.id %>" align="center"><%= nice_number(@exchange_rate*current_user.get_tax.apply_tax(ard.price)) %></td>
              </tr>
          <% } %>
        </table>
    <% } %>
<% end %>

