<%= link_nice_tariff(@tariff).html_safe %>
<%= render :partial => 'letter_select_header' %>
<% if @total_pages > 1 %>
    <br/>
    <%= render :partial => 'page_select_header' %>
<% end %>

<br>
<% direction_cache = {} %>
<%= form_tag(:action => 'rate_try_to_add', :id => @tariff.id, :st => @st) do %>
    <table width="100%" class="maintable">
      <tr>
        <th align="left"><%= _('Direction') %></th>
        <th align="left"><%= _('Prefix') %></th>
        <th align="left"><%= _('Name') %></th>
        <th><%= _('Subcode') %></th>
        <th><%= _('Rate') %></th>
        <% if mor_11_extend? %>
            <th align="right"><%= _('Ghost_percent') %> %</th>
        <% end %>
      </tr>
      <% @dests.each_with_index { |dest, i| %>
          <tr class="row<%= (i % 2 + 1).to_s %>">
            <% direction = (direction_cache[dest.direction_code.to_sym] ||= dest.direction) -%>
            <td id="direction1_<%= dest.id %>"><%= draw_flag direction.code %> <%= direction.name %></td>
            <td id="prefix1_<%= dest.id %>"><%= dest.prefix %></td>
            <td id="name1_<%= dest.id %>"><%= dest.name %></td>
            <td id="subcode1_<%= dest.id %>" align="center"><%= direction.code.upcase %></td>
            <td align="center"><%= text_field_tag dest.id, '', :size => "7", "class" => "input", :id => "rate_#{dest.id}" %></td>
            <% if mor_11_extend? %>
                <td id="direction_<%= dest.id %>" align="right" id="ghost_percent_<%= dest.id %>"><%= text_field_tag 'gh_'+dest.id.to_s, '', :size => "7", "class" => "input", :id => "gh_#{dest.id}" %></td>
            <% end %>
          </tr>
      <% } %>
      <tr>
        <th colspan="<%= mor_11_extend? ? 6 : 5 %>" align="right"><%= submit_tag(_('Add_rates'), :disable_with => _('Processing..')) %></th>
      </tr>
    </table>
<% end %>
