<b><%= b_view + _('Tariff') %>:</b> <%= link_to @tariff.name, :action => "rates_list", :id => @tariff.id, :st => @destination.direction.name[0, 1] if @destination.direction %>
<br/>
<b><%= b_currency + _('Currency') %>:</b> <%= @tariff.currency %>


<br/><br/>

<% if @destination.direction %>
<%= draw_flag @destination.direction.code %> <%= @destination.direction.name %>
<%end%>
<%= @destination.prefix %> <%= @destination.subcode %>

<br/><br/><br/>

<% if @WDFD %>

    <table class='simple' width="100%">
      <tr>
        <td><b><%= _('Rate_details_for_WDFD') %>:</b></td>
        <% if @can_edit == true %>
            <% if @allow_manage == true %>
                <td align="right"> <%= link_to b_check + _('Split_to_WDFD'), :action => 'ratedetails_manage', :id => @rate.id, :rdaction => "SPLIT" %></td>
            <% end %>
        <% end %>
      </tr>
    </table>

    <br/>

    <table width="100%" class="maintable">

      <tr>

        <th><%= _('Start_Time') %></th>
        <th><%= _('End_Time') %></th>
        <th align="right"><%= _('Rate') %> </th>
        <th align="right"><%= _('Connection_Fee') %></th>
        <th align="right"><%= _('Increment') %></th>
        <th align="right"><%= _('Min_Time') %></th>
        <% if @can_edit == true %>
            <% if @allow_manage == true %>
                <th></th>
                <th></th>
            <% end %>
        <% end %>
      </tr>



      <% i = 0 %>
      <% for rd in @rate_details %>
          <tr class="row<%= (i % 2 + 1).to_s %>">
            <td align="center" id="start_time_<%= rd.id %>"><%= nice_time2(rd.start_time) %></td>
            <td align="center" id="end_time_<%= rd.id %>"><%= nice_time2(rd.end_time) %></td>
            <td align="right" id="rate_<%= rd.id %>"><%= nice_number rd.rate %></td>
            <td align="right" id="connection_fee_<%= rd.id %>"><%= nice_number rd.connection_fee %></td>
            <td align="right" id="increment_s_<%= rd.id %>"><%= nice_number rd.increment_s %></td>
            <td align="right" id="min_time_<%= rd.id %>"><%= nice_number rd.min_time %></td>
            <% if @can_edit == true %>
                <% if @allow_manage == true %>
                    <td align="center" id="edit_<%= rd.id %>"><%= link_to(b_edit, {:action => 'ratedetail_edit', :id => rd}, :id => "ratedetail_edit_#{rd.id}") %></td>
                    <td align="center" id="destroy_<%= rd.id %>"><%= link_to(b_delete, {:action => 'ratedetail_destroy', :id => rd, :rate => @rate.id}, :id => "ratedetail_destroy_#{rd.id}", :confirm => _('Are_you_sure'), :method => :post) if i == (@rate_details.size - 1) %></td>
                <% end %>
            <% end %>
          </tr>
          <% i += 1 %>
      <% end %>

    </table>

<% else %>

    <table class='simple' width="100%">
      <tr>
        <td><b><%= _('Rate_details_for_WD') %>:</b></td>
        <% if @can_edit == true %>
            <% if @allow_manage == true %>
                <td align="right"> <%= link_to b_check + _('Combine_to_WDFD'), :action => 'ratedetails_manage', :id => @rate.id, :rdaction => "COMB_WD" %></td>
            <% end %>
        <% end %>
      </tr>
    </table>

    <br/>


    <table width="100%" class="maintable">
      <tr>
        <th><%= _('Start_Time') %></th>
        <th><%= _('End_Time') %></th>
        <th align="right"><%= _('Rate') %></th>
        <th align="right"><%= _('Connection_Fee') %></th>
        <th align="right"><%= _('Increment') %></th>
        <th align="right"><%= _('Min_Time') %></th>
        <% if @can_edit == true %>
            <% if @allow_manage == true %>
                <th></th>
                <th></th>
            <% end %>
        <% end %>
      </tr>
      <% i = 0 %>
      <% for rd in @WDrdetails %>
          <tr class="row<%= (i % 2 + 1).to_s %>">
            <td align="center" id="start_time_<%= rd.id %>"><%= nice_time2(rd.start_time) %></td>
            <td align="center" id="end_time_<%= rd.id %>"><%= nice_time2(rd.end_time) %></td>
            <td align="right" id="rate_<%= rd.id %>"><%= nice_number rd.rate %></td>
            <td align="right" id="connection_fee_<%= rd.id %>"><%= nice_number rd.connection_fee %></td>
            <td align="right" id="increment_s_<%= rd.id %>"><%= nice_number rd.increment_s %></td>
            <td align="right" id="min_time_<%= rd.id %>"><%= nice_number rd.min_time %></td>
            <% if @can_edit == true %>
                <% if @allow_manage == true %>
                    <td align="center" id="edit_<%= rd.id %>"><%= link_to b_edit, {:action => 'ratedetail_edit', :id => rd}, :id => "ratedetail_edit_#{rd.id}" %></td>
                    <td align="center" id="destroy_<%= rd.id %>"><%= link_to b_delete, {:action => 'ratedetail_destroy', :id => rd, :rate => @rate.id}, :id => "ratedetail_destroy_#{rd.id}", :confirm => _('Are_you_sure'), :method => :post if i == (@WDrdetails.size - 1) %></td>
                <% end %>
            <% end %>
          </tr>
          <% i += 1 %>
      <% end %>
    </table>

    <br/>
    <br/>
    <br/>

    <table class='simple' width="100%">
      <tr>
        <td><b><%= _('Rate_details_for_FD') %>:</b></td>
        <% if @can_edit == true %>
            <% if @allow_manage == true %>
                <td align="right"> <%= link_to b_check + _('Combine_to_WDFD'), :action => 'ratedetails_manage', :id => @rate.id, :rdaction => "COMB_FD" %></td>
            <% end %>
        <% end %>
      </tr>
    </table>

    <br/>

    <table width="100%" class="maintable">
      <tr>
        <th><%= _('Start_Time') %></th>
        <th><%= _('End_Time') %></th>
        <th align="right"><%= _('Rate') %></th>
        <th align="right"><%= _('Connection_Fee') %></th>
        <th align="right"><%= _('Increment') %></th>
        <th align="right"><%= _('Min_Time') %></th>
        <% if @can_edit == true %>
            <% if @allow_manage == true %>
                <th></th>
                <th></th>
            <% end %>
        <% end %>
      </tr>
      <% i = 0 %>
      <% for rd in @FDrdetails %>
          <tr class="row<%= (i % 2 + 1).to_s %>">
            <td align="center" id="start_time_<%= rd.id %>"><%= nice_time2(rd.start_time) %></td>
            <td align="center" id="end_time_<%= rd.id %>"><%= nice_time2(rd.end_time) %></td>
            <td align="right" id="rate_<%= rd.id %>"><%= nice_number rd.rate %></td>
            <td align="right" id="connection_fee_<%= rd.id %>"><%= nice_number rd.connection_fee %></td>
            <td align="right" id="increment_s_<%= rd.id %>"><%= nice_number rd.increment_s %></td>
            <td align="right" id="min_time_<%= rd.id %>"><%= nice_number rd.min_time %></td>
            <% if @can_edit == true %>
                <% if @allow_manage == true %>
                    <td align="center" id="edit_<%= rd.id %>"><%= link_to b_edit, {:action => 'ratedetail_edit', :id => rd}, :id => "ratedetail_edit_#{rd.id}" %></td>
                    <td align="center" id="destroy_<%= rd.id %>"><%= link_to b_delete, {:action => 'ratedetail_destroy', :id => rd, :rate => @rate.id}, :id => "ratedetail_destroy_#{rd.id}", :confirm => _('Are_you_sure'), :method => :post if i == (@FDrdetails.size - 1) %></td>
                <% end %>
            <% end %>
          </tr>
          <% i += 1 %>
      <% end %>
    </table>
<% end %>

<br/><br/>
<% if @can_edit == true %>
    <% if @allow_manage == true %>
        <% link_to b_add + _('New_rate_detail'), :action => 'ratedetail_new', :id => @rate.id %>
    <% end %>
<% end %>
<br/><br/>

