<%= link_nice_tariff(@tariff)%>
<%= header = page_select_header(@page, @total_pages, @page_select_options) %>
<br>
<%= form_tag(:action => 'rate_new_by_direction_add', :id => @tariff.id, :st => @st, :dir_id => @direction.id) do %>
  <table width="100%" class="maintable">
    <tr>
      <th align="left"><%= _('Direction') %></th>
      <th align="left"><%= _('Prefix') %></th>
      <th align="left"><%= _('Name') %></th>
      <th align="left"><%= _('Subcode') %></th>
      <th align="right"><%= _('Rate') %></th>
      <%if mor_11_extend?%>
        <th align="right"><%= _('Ghost_percent') %> % </th>
      <%end%> 
    </tr>
    <% @destinations.each_with_index { |dest, i| %>
      <tr class="row<%= (i % 2 + 1).to_s %>">
        <td align="left"><%= draw_flag dest[:dir_code] %> <%=dest[:dir_code] %></td>
        <td align="left"><%= dest.prefix %></td>
        <td align="left"><%= dest.name %></td>
        <td align="left"><%= dest[:dir_code].upcase %></td>
        <td align="right"><%= text_field_tag "dest_"+dest.id.to_s, '', :size => "7", "class" => "input"   %></td>
        <%if mor_11_extend?%>
          <td align="right" id="ghost_percent_<%=dest.id%>"><%= text_field_tag 'gh_'+dest.id.to_s, '', :size => "7", "class" => "input", :id => "gh_#{dest.id}" %></td>
        <%end%> 
      </tr>
    <% } %>
    <tr><th colspan="<%= mor_11_extend? ? 6 : 5 %>" align="right"><%= submit_tag(_('Add_rates'), :disable_with=>_('Processing..')) %></th></tr>
  </table>
<% end %>
<br>
<%= header %>   
<br>

