<b><%= _('Destination') %>:</b> <%= draw_flag_by_code @dgroup.flag %> <%= @dgroup.name %> <%= @dgroup.desttype %>
<br/><br/><br/>
<% if @WDFD %>
  <table class='simple' width="100%">
    <tr>
      <td>            <b><%= _('Rate_details_for_WDFD') %>:</b>        </td>
      <% if @can_edit == true %>
        <% if @allow_edit %>
          <td align="right"> <%= link_to b_check + _('Split_to_WDFD'), :action => 'ard_manage', :id => @rate.id, :rdaction => "SPLIT" %></td>
        <% end %>
      <% end %>
    </tr>
  </table>
  <br/>
  <table width="100%" class="maintable">
    <tr>
      <th><%= _('Start_Time') %></th>
      <th><%= _('End_Time') %></th>
      <th align="center"><%= _('Details') %></th>
      <% if @can_edit == true %>
        <% if @allow_edit %>
          <th></th>
        <% end %>
      <% end %>
    </tr>
    <% i = 0 %>
    <% for t in @st_arr %>
      <%= form_tag :action => 'user_ard_time_edit',  :id => @rate, :daytype => "" do %>
        <tr class="row<%= (i % 2 + 1).to_s %>">
          <td id="start_time_value_<%=i%>" align="center"><%=  t %></td>
          <td id="end_time_value_<%=i%>" align="center">
            <%= hidden_field_tag 'st', t %>
            <%= hidden_field_tag 'dt', "" %>
            <% if @can_edit == true %>
              <%= @et_arr[i] if @et_arr[i] != "23:59:59"%>
              <%= select_time(Time.mktime('2000', '01', '01', '23','59','59'), :include_seconds => true) if @et_arr[i] == "23:59:59"  %>
            <% else %>
              <%= @et_arr[i]%>
            <%end%>
            <% if @can_edit == true %>
              <% if @allow_edit %>
                <%= image_submit_tag 'icons/edit.png'  if @et_arr[i] == "23:59:59"%>
              <% end %>
            <% end %>
          </td>
          <td id="details_<%=i%>" align="center">        <%= link_to b_view, :action => 'user_arates', :id => @rate, :st => t, :dt => "" %></td>
          <% if @can_edit == true %>
            <td align="center"><%= link_to b_delete, { :action => 'artg_destroy', :id => @rate, :st => t, :dt => ""}, :confirm => _('Are_you_sure'), :method => :post  if @et_arr[i] == "23:59:59"  and i>0%></td>
          <% end %>
        </tr>
      <% end %>
      <% i += 1%>
    <% end %>


  </table>

<% else %>

  <table class='simple' width="100%">
    <tr>
      <td>            <b><%= _('Rate_details_for_WD') %>:</b>        </td>
      <% if @can_edit == true %>
        <% if @allow_edit %>
          <td align="right"> <%= link_to b_check + _('Combine_to_WDFD'), :action => 'ard_manage', :id => @rate.id, :rdaction => "COMB_WD" %></td>
        <% end %>
      <% end %>
    </tr>
  </table>

  <br/>


  <table width="100%" class="maintable">

    <tr>

      <th><%= _('Start_Time') %></th>
      <th><%= _('End_Time') %></th>
      <th align="center"><%= _('Details') %></th>
      <% if @can_edit == true %>
        <% if @allow_edit %>
          <th></th>
        <% end %>
      <% end %>
    </tr>


    <% i = 0 %>
    <% for t in @Wst_arr %>
      <%= form_tag :action => 'user_ard_time_edit',  :id => @rate, :daytype => "WD" do %>
        <tr class="row<%= (i % 2 + 1).to_s %>">
          <td id="start_time_value_1_<%=i%>" align="center"><%=  t %></td>
          <td id="end_time_value_1_<%=i%>" align="center">
            <%= hidden_field_tag 'st', t %>
            <%= hidden_field_tag 'dt', "WD" %>
            <% if @can_edit == true %>
              <%= @Wet_arr[i] if @Wet_arr[i] != "23:59:59"%>
              <%= select_time(Time.mktime('2000', '01', '01', '23','59','59'), :include_seconds => true) if @Wet_arr[i] == "23:59:59"  %>
            <%else%>
              <%= @Wet_arr[i] %>
            <% end %>
            <% if @can_edit == true %>
              <% if @allow_edit %>
                <%= image_submit_tag 'icons/edit.png'  if @Wet_arr[i] == "23:59:59"%>
              <% end %>
            <% end %>
          </td>
          <td id="details_1_<%=i%>" align="center"><%= link_to b_view, :action => 'user_arates', :id => @rate, :st => t, :dt => "WD" %></td>
          <% if @can_edit == true %>
            <% if @allow_edit %>
              <td align="center"><%= link_to b_delete, { :action => 'artg_destroy', :id => @rate, :st => t, :dt => "WD"}, :confirm => _('Are_you_sure'), :method => :post  if @Wet_arr[i] == "23:59:59"  and i>0%></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
      <% i += 1%>
    <% end %>





  </table>

  <br/><br/><br/>

  <table class='simple' width="100%">
    <tr>
      <td>            <b><%= _('Rate_details_for_FD') %>:</b>        </td>
      <% if @can_edit == true %>
        <% if @allow_edit %>
          <td align="right"> <%= link_to b_check + _('Combine_to_WDFD'), :action => 'ard_manage', :id => @rate.id, :rdaction => "COMB_FD" %></td>
        <% end %>
      <% end %>
    </tr>
  </table>

  <br/>

  <table width="100%" class="maintable">

    <tr>

      <th><%= _('Start_Time') %></th>
      <th><%= _('End_Time') %></th>
      <th align="center"><%= _('Details') %></th>
      <% if @can_edit == true %>
        <% if @allow_edit %>
          <th></th>
        <% end %>
      <% end %>
    </tr>


    <% i = 0 %>
    <% for t in @Fst_arr %>
      <%= form_tag :action => 'user_ard_time_edit',  :id => @rate, :daytype => "FD" do %>
        <tr class="row<%= (i % 2 + 1).to_s %>">
          <td id="start_time_value_2_<%=i%>" align="center"><%=  t %></td>
          <td id="end_time_value_2_<%=i%>" align="center">
            <%= hidden_field_tag 'st', t %>
            <%= hidden_field_tag 'dt', "FD" %>
            <% if @can_edit == true %>
              <%= @Fet_arr[i] if @Fet_arr[i] != "23:59:59"%>
              <%= select_time(Time.mktime('2000', '01', '01', '23','59','59'), :include_seconds => true) if @Fet_arr[i] == "23:59:59"  %>
            <% else %>
              <%= @Fet_arr[i] %>
            <% end %>
            <% if @allow_edit %>
              <%= image_submit_tag 'icons/edit.png'  if @Fet_arr[i] == "23:59:59"%>
            <% end %>
          </td>
          <td id="details_2_<%=i%>" align="center"><%= link_to b_view, :action => 'user_arates', :id => @rate, :st => t, :dt => "FD" %></td>
          <% if @can_edit == true %>
            <% if @allow_edit %>
              <td align="center"><%= link_to b_delete, { :action => 'artg_destroy', :id => @rate, :st => t, :dt => "FD"}, :confirm => _('Are_you_sure'), :method => :post  if @Fet_arr[i] == "23:59:59" and i>0%></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
      <% i += 1%>
    <% end %>
  </table>
<% end %>