<table width="100%" class="simple">

  <tr class="row2">
    <th align="left" id="lcr"><%= b_lcr + _('LCR') %>: <%= link_nice_lcr_if_own(lcr) %></th>
    <th align="right"></th>
  </tr>

  <tr class="row1">
    <td align="left"><%= _('Providers_grouped_by') %>:</td>
    <td align="right" id="provider_grouped_by"><%= user.lcr.order.capitalize %></td>
  </tr>

  <tr class="row2">
    <td align="left"><%= _('Total_providers_for_this_call') %>:</td>
    <td align="right" id="total_prividers_for_this_call"><%= res_prov_size %></td>
  </tr>

  <tr class="row1">
    <td align="left"><%= _('Active_providers_for_this_call') %>:</td>
    <td align="right" id="active_providers_for_this_call"><%= not_disabled_prov %></td>
  </tr>

  <tr class="row2">
    <td><%= _('Allow_loss_calls') %>:</td>
    <td align="right" id="allow_loss_calls"><%= user.allow_loss_calls == 1 ? _('Yes') : _('No') %></td>
  </tr>
</table>