<table width="100%" class="simple">
  <tr class="row2">
    <th align="left"><%= _('Details') %></th>
    <td align="right"></td>
  </tr>
  <tr class="row1">
    <td align="left"><%= b_reseller + _('Reseller') %>:</td>
    <td align="right" id="user"><%= link_nice_user_if_own(reseller) %></td>
  </tr>
  <tr class="row2">
    <td align="left"><%= _('Allow_loss_calls') %>:</td>
    <td align="right" id="user"><%= reseller.allow_loss_calls.to_i == 1 ? _('Yes') : _('No') %></td>
  </tr>
</table>