<table width="100%" class="maintable">
  <tr class="row2">
    <th align="center"><%= _('Time') %></th>
    <th align="right"><%= _('Increment') %></th>
    <th align="right"><%= _('Min_time') %></th>
    <th align="right"><%= _('Connection_Fee') %></th>
    <th align="right"><%= _('Rate') %> (<%= current_user.currency.name %>/min)</th>
  </tr>

  <% for r in rates %>
      <tr class="row2">
        <% eap = r['rate'].to_f / exchange_rate.to_f
           @max_user_arate = eap if @max_user_arate < eap %>
        <td align="center" id="time"><%= nice_time2(r['start_time']) %>-<%= nice_time2(r['end_time']) %></td>
        <td align="right" id="increment"><%= r['increment_s'] %></td>
        <td align="right" id="min_time"><%= r['min_time'] %></td>
        <td align="right" id="cf"><%= r['cf'] %></td>
        <td align="right" id="rate"><%= long_nice_number eap %>
          <% if reseller_rates and reseller_rates.first %>
              <% if user.allow_loss_calls == 0 and (reseller_rates.first['rate'].to_i > @max_user_arate or reseller_rates.first['aprice'].to_i > @max_user_arate) %>
                  <%= b_cross %>
                  <% @exp_user += 1 %>
              <% else %>
                  <% @cheap_user += 1 %>
              <% end %>
          <% end %>
        </td>
      </tr>
  <% end %>

</table>

<% if rates and not rates.empty? %>
    <table width="100%" class="simple">
      <tr class="row2">
        <th align="left"><%= b_check + _('CT_These_rates_will_be_used_to_calculate_call_price') %>     </th>
      </tr>
    </table>
<% end %>