<%= javascript_include_tag "wz_tooltip" %>
<table>
  <tr>
    <td class="n" <%= "onmouseover=\"Tip(\' #{(lcrpartial_destinations_providers(@lcr.id)).to_s} \')\" onmouseout = \"UnTip()\"".html_safe %>><%= raw "<b>"+_('Main_LCR') + "</b> : " + @lcr.name.to_s + "&nbsp;&nbsp;&nbsp;" %>  <%= raw "<b>" + _('Order') + "</b> : " + @lcr.order.to_s %></td>
  </tr>
</table>
<br/>
<br/>
<table width="100%" class="maintable">
  <tr>
    <th><%= _('Name') %></th>
    <th align="right"><%= _('Prefix') %></th>
    <th align="center"><%= _('Subcode') %></th>
    <th><%= _('Destination') %></th>
    <th><%= _('LCR	') %></th>
    <th><%= _('Order') %></th>
    <th align="center"><%= _('Active_destinations') %></th>
    <th></th>
    <th></th>
  </tr>
  <% i = 0 %>
  <% for lp in @lcr_partials %>
      <tr class="row<%= (i % 2 + 1).to_s %>">
        <td id="name_<%= lp['id'] %>"><%= draw_flag(lp['code']) %> <%= lp['name'] %></td>
        <td align="right" id="prefix_<%= lp['id'] %>"><%= lp['prefix'] %></td>
        <td align="center" id="dest_subcode_<%= lp['id'] %>"><%= lp['dest_subcode'] %></td>
        <td id="dest_name_<%= lp['id'] %>"><%= lp['dest_name'] %></td>
        <td id="lname_<%= lp['id'] %>"><%= lp['lname'] %></td>

        <% if lp['lcr_id'] %>
            <td class="n" <%= "onmouseover=\"Tip(\' #{(lcrpartial_destinations_providers(lp['lcr_id'])).to_s} \')\" onmouseout = \"UnTip()\"".html_safe %>><%= lp['order'] %>     </td>
        <% else %>
            <td></td>
        <% end %>

        <td align="center"><%= link_to b_view, {:action => 'lcrpartial_destinations', :id => lp['id'], :prefix => lp['prefix'].to_s, :lcrp => lp['lid']}, :id => "lcr_destinations_#{lp['lid']}", :onclick => "window.open(this.href,'new_window','scrollbars=1,status=0,menubar=0,resizable=1,width=500,height=600');return false;" %></td>
        <td align="center"><%= link_to b_edit, {:action => 'lcrpartial_edit', :id => lp['lid']}, :id => "lcr_edit_#{lp['lid']}" %></td>
        <td align="center"><%= link_to b_delete, {:action => 'lcrpartial_destroy', :id => lp['lid']}, :id => "lcr_delete_#{lp['lid']}", :confirm => _('Are_you_sure'), :method => :post %></td>
      </tr>
      <% i += 1 %>
  <% end %>
</table>
<br/>
<br/>
<%= link_to_function(b_add + _('Add_new_destinations'), "Element.toggle('new_provider')") %>

<div id="new_provider" <%= "style='display:none;'" if @dest_new == 0 %>>
  <br/>
  <table>
    <tr>
      <%= form_tag(:action => 'create_prefix_lcr_partials', :id => @lcr.id) do %>
          <td><%= _('Prefix') %> : <%= text_field_tag :search, "", :class => "input" %>
            <%= observe_field("search",
                              :update => :results,
                              :frequency => 0.5,
                              :with => "prefix",
                              :url => {:action => "prefix_finder_find"},
                              :loading => "Element.show('spinner');",
                              :complete => "Element.hide('spinner');") %>
          </td>
          <td>
            <div id="results"></div>

          </td>
          <td><%= _('Lcr') %> :
            <select name="lcr">
              <% for l in @lcrs %>
                  <option value="<%= l.id %>"> <%= l.name + " (" + l.order + ")" %></option>
              <% end %>
            </select>
            <%= image_submit_tag 'icons/check.png', :title => _('Add'), :id => "prefix_f" %>
      <% end %>
      </td>
    </tr>

    <tr>
      <%= form_tag(:action => 'create_prefix_lcr_partials', :id => @lcr.id) do %>
          <td> <%= _('Country') %> : <select id="country" name="country">
            <% for country in @countrys %>
                <option value="<%= country.code %>"> <%= country.name %></option>
            <% end %>
          </select>

            <%= observe_field("country",
                              :update => :pre,
                              :frequency => 0.5,
                              :with => "prefix",
                              :url => {:action => "prefix_finder_find_country", :id => @lcr.id},
                              :loading => "Element.show('spinner');",
                              :complete => "Element.hide('spinner');") %>
          </td>

          <td>
            <%= _('Prefix') %> :
            <select name="search" id="pre">
              <% if @direction %>
                <%= lcrpartial_prefixl(@direction) %>
              <% elsif !@countrys.empty? %>
                <%= lcrpartial_prefixl(@countrys[0]) %>
              <% end %>
            </select>

          </td>


          <td>
            <%= _('Lcr') %> :
            <select name="lcr">
              <% for l in @lcrs %>
                  <option value="<%= l.id %>"> <%= l.name + " (" + l.order + ")" %></option>
              <% end %>
            </select>
            <%= image_submit_tag 'icons/check.png', :title => _('Add') %>
      <% end %>
      </td>
    </tr>
  </table>
</div>
<br/>
<br/>
