<b>LCR: <%= @lcr.name %></b>
<br/>
<br/>
<b>Order: <%= @lcr.order.to_s.capitalize %></b>
<br/>
<br/>
<% if @lcr.order.to_s == "priority" %>
    <%= link_to b_lcr + _('Change_Order'), :action => "providers_sort", :id => params[:id] %>
    <br/>
    <br/>
<% end %>

<% if @lcr.order.to_s == "percent" %>
    <%= link_to b_lcr + _('Change_Percent'), :action => "providers_percent", :id => params[:id] %>
    <br/>
    <br/>
<% end %>

<table width="100%" class="maintable">
  <tr>
    <% if @lcr.order.to_s != "percent" %>
        <th align="center" width="5%"><%= _('Active') %>?</th>
    <% end %>
    <th align="left"><%= _('Provider') %></th>
    <th align="left"><%= _('Tech') %></th>
    <th align="left"><%= _('Host') %>/<%= _('IP') %>:<%= _('Port') %></th>
    <th align="left"><%= _('Tariff') %></th>
    <% if @lcr.order.to_s == "priority" %>
        <th align="right"><%= _('Priority') %> </th>
    <% end %>
    <% if @lcr.order.to_s == "percent" %>
        <th align="right"><%= _('Percent') %> </th>
    <% end %>
    <th></th>
  </tr>

  <% @providers.each_with_index { |prov, i| %>
      <% device = prov.device %>
      <tr class="row<%= (i % 2 + 1).to_s %>">
        <% if @lcr.order.to_s != "percent" %>
            <td id="status_<%= prov.id %>" align="center">
              <%= form_tag :action => 'provider_change_status', :id => @lcr.id, :prov => prov.id do %>
                  <%= image_submit_tag 'icons/check.png', :title => _('Disable') if @lcr.provider_active(prov.id) %>
                  <%= image_submit_tag 'icons/cross.png', :title => _('Enable') if not @lcr.provider_active(prov.id) %>
              <% end %>
            </td>
        <% end %>
        <td id="name_<%= prov.id %>">
          <% if admin? or (reseller? and prov.user_id == current_user.id) %>
              <%= link_to prov.name, :controller => "providers", :action => "edit", :id => prov.id %>
          <% else %>
              <%= prov.name %>
          <% end %></td>
        <td id="tech_<%= prov.id %>"><%= prov.tech if admin? or (reseller? and prov.user_id == current_user.id) %></td>
        <td id="device_<%= prov.id %>">
          <% if admin? or (reseller? and prov.user_id == current_user.id) %>
              <% if prov.tech != "Skype" %>
                  <%= prov.server_ip.to_s + ":" + prov.port.to_s %>
              <% else %>
                  <%= _('Skype_Network') %>: <%= prov.login %>
              <% end %>

          <% end %>
        </td>


        <td id="tariff_name_<%= prov.id %>"><%= prov.tariff.name if prov.tariff if admin? or (reseller? and prov.user_id == current_user.id) %></td>

        <% if @lcr.order.to_s == "priority" %>
            <td id="priority_<%= prov.id %>" align="right"><%= prov.priority.to_i %></td>
        <% end %>

        <% if @lcr.order.to_s == "percent" %>
            <td id="percent_<%= prov.id %>" align="right"><%= prov.percent.to_f / 100 %>%
            </td>
        <% end %>
        <td id="delete_<%= prov.id %>" align="center"><%= link_to b_delete, {:action => 'remove_provider', :id => @lcr, :prov => prov}, {:confirm => _('Are_you_sure'), :method => :post, :id => "delete_link_"+prov.id.to_s} %></td>
      </tr>
  <% } %>
</table>

<br/>


<%= form_tag(:action => 'try_to_add_provider', :id => @lcr) do %>
    <div class="nb"><%= b_add + _('Add_provider') %>:
      <select name="select_prov" <%= "disabled" if @other_providers.size == 0 %>  >
        <option value="0"><%= _('Select_provider') %></option>
        <% for prov in @other_providers %>
            <% device = prov.device %>
            <option value="<%= prov.id %>"> <%= prov.name %>
              <% if admin? or (reseller? and prov.user_id == current_user.id) %>
                  -
                  <% if prov.tech != "Skype" %>
                      <%= prov.tech %>/<%= prov.server_ip %>
                  <% else %>
                      <%= prov.tech %>/<%= prov.login %>
                  <% end %>
              <% end %>
            </option>
        <% end %>
      </select>
      <%#= collection_select(:select_prov, :id, @other_providers, :id, :tech, :prompt => true) %>

      <% if @other_providers.size == 0 %>
          <%= submit_tag(_('Add'), :disabled => "1", :disable_with => _('Processing..')) %>
      <% else %>
          <%= submit_tag _('Add'), :disable_with => _('Processing..') %>
      <% end %>

    </div>
<% end %>

<% if @lcr.no_failover? %>
    <%= _('Failover_provider') %>: <%= @lcr.failover_provider ? @lcr.failover_provider.name : _('Do_not_use') %>

    <%= form_tag(:action => 'try_to_add_failover_provider', :id => @lcr) do %>
        <div class="nb"><%= b_add + _('Add_failover_provider') %>:
          <select name="select_prov" <%= "disabled" if @other_providers.size == 0 %> >
            <option value="0"><%= _('Do_not_use_failover_provider') %></option>
            <% for prov in @other_providers %>
                <% device = prov.device %>
                <option value="<%= prov.id %>"> <%= prov.name %>
                  <% if admin? or (reseller? and prov.user_id == current_user.id) %>
                      -
                      <% if prov.tech != "Skype" %>
                          <%= prov.tech %>/<%= prov.server_ip %>
                      <% else %>
                          <%= prov.tech %>/<%= prov.login %>
                      <% end %>
                  <% end %>
                </option>
            <% end %>
          </select>

          <% if @other_providers.size == 0 %>
              <%= submit_tag(_('Add'), :disabled => "1", :disable_with => _('Processing..')) %>
          <% else %>
              <%= submit_tag _('Add'), :disable_with => _('Processing..') %>
          <% end %>

        </div>
    <% end %>
<% end %>


<br/>
