<b>LCR: <%= @lcr.name %></b>
<br/>
<br/>
<% if Confline.get_value("LCR_priority_using_drag_and_drop", 0).to_i == 1 %>
  <ul id="sortable_list" style="list-style-type: none;margin-left: 0px;padding-left: 0px;">
    <% for item in @items do %>
      <li id="item_<%= item.id %>">
   	    <%= image_tag 'icons/check.png', :title => _('Disable') if @lcr.provider_active(item.id) %>
  	    <%= image_tag 'icons/cross.png', :title => _('Enable') if not @lcr.provider_active(item.id) %>
        <%= item.name %>
        <% unless current_user.usertype == 'reseller' and item.common_use == 1 %>
          :<%= item.tech.to_s %><%= (":" + item.tariff.name.to_s) if item.tariff %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <%= sortable_element('sortable_list', :update => 'items', :url => {:action => :providers_sort_save, :id => @lcr.id}) %>
<% else %>
  <table>
    <tr>
      <td id='sortable_table'>
        <%= raw priority_table(@items,@lcr) %>
      </td>
    </tr>
  </table>
  <br/>
<% end %>
<%= link_to b_back + _('Back'), :action => 'providers_list', :id => @lcr.id %>