<b>LCR: <%= @lcr.name %></b>
<br/>
<br/>
<b>Order: <%= @lcr.order.to_s.capitalize %></b>
<br/>
<br/>
<%= form_tag :action => 'providers_percent', :id => @lcr.id, :pr => 2 do %>
    <table width="50%" class="maintable">
      <tr>
        <th><%= _('Provider') %></th>
        <th><%= _('Current_percent') %></th>
        <th><%= _('New_percent') %></th>
      </tr>

      <% i = 0 %>
      <% for prov in @providers %>
          <tr class="row<%= (i % 2 + 1).to_s %>">
            <td><%= prov.name %></td>
            <td><%= sprintf("%0.2f", prov.percent.to_f / 100) %>%</td>
            <% pv = "prov_#{prov.id}" %>
            <td><%= text_field_tag pv, (prov.percent.to_f / 100).to_s, "class" => "input", "size" => "6" %>%</td>
          </tr>
          <% i+= 1 %>
      <% end %>
    </table>
    <br/>
    <%= submit_tag _('ok'), :disable_with => _('Processing..') %>
<% end %>

<br><br>    

