<% js_hash = [] %>
<%= form_tag({:action => :update, :id => @group.id}, {:id => "permissions_form"}) do %>
    <%= hidden_field_tag(:group_type, params[:group_type]) %>
    <%= _("Name") %>: <%= text_field_tag("name", @group.name, "class" => "input", :size => "50", :maxlength => "255") %>
    <br/>
    <%= _("Description") %>: <%= text_area(:group, :description, {:rows => 5, :style => "width: 100%;", :class => "input"}) %>
    <br/>
    <% if params[:group_type] == "accountant" %>
        <%= _("Accountant_Can_Only_View") if params[:group_type] == "accountant" %>
        <%= _("Reseller_Can_Only_View") if params[:group_type] == "reseller" %>
        <%= hidden_field_tag("only_view", "0", {:id => "view_only_hidden"}) %>
        : <%= check_box_tag "only_view", "1", @group.only_view == true %>
        <br/>
    <% end %>
    <br/>
    <table id="permissions_table" class="maintable" width="50%">
      <% old_group = ""
         acc_group_rights = @group.acc_group_rights
      %>
      <% @rights.each_with_index { |right, i| %>
          <% gr = acc_group_rights.select { |r| r.acc_right_id == right.id }[0] -%>
          <% unless right.name == "monitorings_manage" and !monitoring_enabled_for(current_user) %>
              <% js_hash << "#{right.name.downcase}: #{(gr ? gr.value : 0)}" %>
              <% if right.permission_group != old_group -%>
                  <tr>
                    <th><%= _(right.permission_group) %></th>
                    <th align="center"><%= _("Disabled") %></th>
                  <% if params[:group_type] == "reseller" %>
                    <th align="center"><%= _("Enabled") %></th>
                  <% else %>
                    <th align="center"><%= _("Read") %></th>
                    <th align="center"><%= _("Read_Edit") %></th>
                  <% end %>
                  </tr>
              <% end %>
              <tr class="row<%= (i % 2 + 1).to_s %>">
                <td id="name_<%= right.name.downcase %>" align="left"><%= _(right.nice_name) %></td>
                <td id="disabled_<%= right.name.downcase %>" align="center"><%= radio_button_tag("right_#{right.id}", 0, gr ? gr.value.to_i == 0 : true, {:id => "#{right.name.downcase}_0"}) %></td>
              <% if params[:group_type] != "reseller" %>
                <td id="read_<%= right.name.downcase %>" align="center"><%= radio_button_tag("right_#{right.id}", 1, gr ? gr.value.to_i == 1 : false, {:id => "#{right.name.downcase}_1", :disabled => right.name.to_s == 'webphone_res'}) %></td>
              <% end %>
                <td id="write_<%= right.name.downcase %>" align="center"><%= radio_button_tag("right_#{right.id}", 2, gr ? gr.value.to_i == 2 : false, {:id => "#{right.name.downcase}_2"}) %></td>
              </tr>
              <% old_group = right.permission_group -%>
          <% end %>
      <% } %>
    </table>
    <br/>
    <%= submit_tag _("Update"), :disable_with => _('Processing..') %>
<% end %>
<script type="text/javascript">
    function reselect(event) {

        if ($('only_view').checked) {
            selectables.each(function (pair) {
                if ($(pair.key + "_2").checked) {
                    $(pair.key + "_1").checked = true;
                }
                $(pair.key + "_2").disabled = true;
            });
        }
        else {
            selectables.each(function (pair) {
                $(pair.key + "_2").disabled = false;
            });
        }
    }
    var selectables = $H({<%= js_hash.join(", ") %>});
    Event.observe('only_view', 'click', reselect);
    reselect();
</script>
