<tr>
  <td align="left"> <%= _('Address') %>:</td>
  <td align="left"> <%= text_field_tag 'address', session[:reg_address], "class" => "input", :size => "30", :maxlength => "40" %> </td>
</tr>
<tr>
  <td align="left"> <%= _('Postcode') %>:</td>
  <td align="left"> <%= text_field_tag 'postcode', session[:reg_postcode], "class" => "input", :size => "30", :maxlength => "40" %> </td>
</tr>
<tr>
  <td align="left"> <%= _('City') %>:</td>
  <td align="left"> <%= text_field_tag 'city', session[:reg_city], "class" => "input", :size => "30", :maxlength => "40" %> </td>
</tr>
<tr>
  <td align="left"> <%= _('County') %>:</td>
  <td align="left"> <%= text_field_tag 'county', session[:reg_county], "class" => "input", :size => "30", :maxlength => "40" %> </td>
</tr>
<tr>
  <td align="left"> <%= _('State') %>:</td>
  <td align="left"> <%= text_field_tag 'state', session[:reg_state], "class" => "input", :size => "30", :maxlength => "40" %> </td>
</tr>
<tr>
  <td align="left"> <%= _('Country') %>: *</td>
  <td align="left">
    <div class="nb">
      <select name="country_id">
        <option value="" selected></option>
        <%
           comp_country = Confline.get_value("Default_Country_ID").to_i
           comp_country = session[:reg_country_id] if session[:reg_country_id]
        %>
        <% for country in @countries %>
            <option value="<%= country.id %>" <%= "selected" if comp_country.to_s == country.id.to_s %>> <%= country.name[0, 22] %> </option>
        <% end %>
      </select>
    </div>
  </td>
</tr>
<tr>
  <td align="left"> <%= _('Phone') %>:</td>
  <td align="left"> <%= text_field_tag 'phone', session[:reg_phone], "class" => "input", :size => "30", :maxlength => "40" %> </td>
</tr>
<tr>
  <td align="left"> <%= _('Mob_phone') %>:</td>
  <td align="left"> <%= text_field_tag 'mob_phone', session[:reg_mob_phone], "class" => "input", :size => "30", :maxlength => "40" %> </td>
</tr>
<tr>
  <td align="left"> <%= _('Fax') %>:</td>
  <td align="left"> <%= text_field_tag 'fax', session[:reg_fax], "class" => "input", :size => "30", :maxlength => "40" %> </td>
</tr>
<tr>
  <td align="left"> <%= _('Email') %>: *</td>
  <td align="left"> <%= text_field_tag 'email', session[:reg_email], "class" => "input", :size => "30", :maxlength => "40" %> </td>
</tr>

