<script type="text/javascript">
    window.onload = function () {
        document.getElementById('login_username').focus();
    }
</script>

<center style="height:500px">
  <table class="simple">
    <tr>
      <td height="25"></td>
    </tr>
    <tr>
      <td>
        <b><%= _('enter_username_and_psw') %>: </b>
        <br/>
        <br/>
      </td>
    </tr>
    <tr>
      <td align="center">
        <%= form_tag(:action => 'try_to_login') do %>
            <%= text_field 'login', 'username', "size" => 11, :class => "input", :tabindex => "1" %>
            <br/>
            <%= password_field 'login', 'psw', "size" => 11, :class => "input", :tabindex => "2" %>
            <br/><br/>
            <% if request.env["HTTP_USER_AGENT"] and (request.env["HTTP_USER_AGENT"].match("iPhone") or request.env["HTTP_USER_AGENT"].match("iPod")) %>
                <select name="layout_t" tabindex="3">
                  <option value="mini"><%= _('mini') %></option>
                  <option value="full"><%= _('full') %></option>
                </select>
            <% end %>
            <%= submit_tag _('login'), :tabindex => "4", :disable_with => _('Processing..') %>
        <% end %>
        <% if can_view_forgot_password? %>
            <div id="forgot_pass" style="display: '';">
              <br/>
              <%= link_to_function(_('Forgot_Password'), "Element.toggle('email_result');Element.toggle('forgot_pass');") %>
            </div>
            <br/>

            <div id="email_result" style="display: none;">
              <%= _('Email') + ":" %>
              <%= text_field('email', '', "class" => "input", "size" => "20", 'id' => 'email_c') %>
              <%= submit_tag _('Check_email'), :type => 'button', :onclick => "update_value();", :id => 'click_commit' %>
            </div>
            <script type="text/javascript">
                // <![CDATA[
                function update_value() {
                    new Ajax.Updater('email_result', '<%=Web_Dir%>/callc/forgot_password?email=' + $('email_c').value, {
                        method:'post',
                        asynchronous:true,
                        evalScripts:true,
                        onComplete:function (request) {
                            Element.hide('spinner');
                            $('clock_commit').disabled = false
                        },
                        onLoading:function (request) {
                            Element.show('spinner');
                            $('clock_commit').disabled = true
                        }});
                }
                // ]]>
            </script>
        <% end %>
      </td>
    </tr>
    <tr>
      <td height="25"></td>
    </tr>
    <% if request.env["HTTP_USER_AGENT"] %>
        <% if !(request.env["HTTP_USER_AGENT"].match("iPhone") or request.env["HTTP_USER_AGENT"].match("iPod")) %>
            <% if Confline.get_value("Registration_enabled", @owner_id).to_i == 1 and Confline.get_value("Hide_registration_link", @owner_id).to_i == 0 %>
                <tr>
                  <td align="center" height="50">
                    <% unless @defaulthash.blank? %>
                        <%= _('If_you_are_new_user_you_can_signup') %> <%= link_to _('here'), {:action => "signup_start", :id => @defaulthash}, :tabindex => "5" %>
                    <% end %>
                  </td>
                </tr>
            <% end %>
        <% end %>
    <% end %>
  </table>
</center>
