<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title><%= session[:admin_browser_title] %></title>
  <%= javascript_include_tag "dtree" %>
  <%= javascript_include_tag "tab-view" %>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <%= stylesheet_link_tag "mor" %>
  <%= stylesheet_link_tag "dtree" %>
  <%= stylesheet_link_tag "tab-view" %>

  <%= yield :head %>
</head>
<body>
<frameset cols="30%,*">
  <frame src="menu.html">
  <frame src="content.html">
</frameset>

</body>
</html>