<div align="center">

<%
    pstart = @page - 10
    pstart = 1 if pstart < 1
    
    pend = @page + 10
    pend = @total_pages if pend > @total_pages

    back10 = @page - 20
    if back10 <= 0
        back10 = 1 if pstart > 1
        back10 = nil if pstart == 1
    end
    
    forw10 = @page + 20
    if forw10 > @total_pages
        forw10 = @total_pages if pend < @total_pages
        forw10 = nil if pend == @total_pages
    end

    back100 = @page - 100
    if back100 < 0
        back100 = 1 if back10 > 1 if back10
        back100 = nil if back10.to_i <= 1 or not back10
    end
    
    forw100 = @page + 100
    if forw100 > @total_pages
        forw100 = @total_pages if forw10 < @total_pages if forw10
        forw100 = nil if forw10 == @total_pages or not forw10
    end

%>

<table class='page_title2' width="100%">
    <tr>
        <td align = "center">
            <%= link_to ("<<", {:action => params[:action], :id => @page_select_header_id, :st => @st, :page => back100, :s_active => @search_active, :s_number => @search_number, :s_tag => @search_tag, :s_credit_min => @search_credit_min, :s_credit_max => @search_credit_max, :s_curr => @search_curr, :s_udate => @search_udate, :s_atill => @search_atill}, {:title => "-100"}) if back100 %>
            <%= link_to ("<", {:action => params[:action], :id => @page_select_header_id, :st => @st, :page => back10, :s_active => @search_active, :s_number => @search_number, :s_tag => @search_tag, :s_credit_min => @search_credit_min, :s_credit_max => @search_credit_max, :s_curr => @search_curr, :s_udate => @search_udate, :s_atill => @search_atill}, {:title => "-20"}) if back10 %>
            <% for p in pstart..pend %>
                <%= "<b>" if p == @page%>
                    <%= link_to p, :action => params[:action], :id => @page_select_header_id, :st => @st, :page => p, :s_active => @search_active, :s_number => @search_number, :s_tag => @search_tag, :s_credit_min => @search_credit_min, :s_credit_max => @search_credit_max, :s_curr => @search_curr, :s_udate => @search_udate, :s_atill => @search_atill%>
                <%= "</b>" if p == @page%>
            <% end %>
            <%= link_to (">", {:action => params[:action], :id => @page_select_header_id, :st => @st, :page => forw10, :s_active => @search_active, :s_number => @search_number, :s_tag => @search_tag, :s_credit_min => @search_credit_min, :s_credit_max => @search_credit_max, :s_curr => @search_curr, :s_udate => @search_udate, :s_atill => @search_atill}, {:title => "+20"}) if forw10 %>
            <%= link_to (">>", {:action => params[:action], :id => @page_select_header_id, :st => @st, :page => forw100, :s_active => @search_active, :s_number => @search_number, :s_tag => @search_tag, :s_credit_min => @search_credit_min, :s_credit_max => @search_credit_max, :s_curr => @search_curr, :s_udate => @search_udate, :s_atill => @search_atill}, {:title => "+100"}) if forw100 %>
        </td>
    </tr>
</table>

</div>
