<% type = @invoice.invoice_type %>
<table width="100%">
  <tr>
    <td>
      <table width="95%" class="maintable">

        <tr class="row2">
          <th align="left"><%= _('User') %>:</th>
          <td id="user" align="right"> <%= @user.first_name + " " + @user.last_name %> </td>
        </tr>

        <tr class="row1">
          <th align="left"><%= _('Invoice_number') %>:</th>
          <td id="number" align="right"> <%= @invoice.number %> </td>
        </tr>

        <tr class="row2">
          <th align="left"><%= _('Period_start') %>:</th>
          <td id="period_start" align="right"><%= nice_date(@invoice.period_start, 0) %> </td>
        </tr>

        <tr class="row1">
          <th align="left"><%= _('Period_end') %>:</th>
          <td id="period_end" align="right">        <%= nice_date(@invoice.period_end, 0) %> </td>
        </tr>

        <tr class="row2">
          <th align="left"><%= _('Issue_date') %>:</th>
          <td id="issue_date" align="right">        <%= nice_date(@invoice.issue_date, 0) %> </td>
        </tr>

        <tr class="row1">
          <th align="left"><%= _('Paid') %>:</th>

          <td id="paid" align="right">
            <%= b_cross if @invoice.paid == 0 %>
            <%= b_check if @invoice.paid == 1 %>
          </td>

        </tr>

        <tr class="row2">
          <th align="left"><%= _('Paid_date') %>:</th>
          <td id="paid_date" align="right">        <%= nice_date_time @invoice.paid_date if @invoice.paid == 1 %> </td>
        </tr>

        <tr class="row1">
          <th align="left"><%= _('Price') %>:</th>
          <td id="price" align="right">        <%= nice_invoice_number(@invoice.price, type) %> </td>
        </tr>

        <tr class="row2">
          <th align="left"><%= _('Price_with_VAT') %></th>
          <td id="price_with_vat" align="right"><%= nice_invoice_number(@invoice.price_with_tax, type) %> </td>
        </tr>

      </table>

    </td>
    <% if (@user.generate_invoice.to_i == 1) and ((@i[0] == 2) or (@i[2] == 8) or (@i[4] == 32) or (@i[1] == 4) or (@i[3] == 16) or (@i[6] == 128)) %>
      <td valign="top" align="right">

      <table width="95%" class="maintable">

        <tr>
          <th align="left"> <%= _('Generate') %>:</th>
          <% if (@i[0] == 2) or (@i[2] == 8) or (@i[4] == 32) %>
            <th align="center"> <%= _('PDF') %> </th>
          <% end %>
          <% if (@i[1] == 4) or (@i[3] == 16) or (@i[6] == 128) %>
            <th align="center"> <%= _('CSV') %> </th>
          <% end %>
        </tr>
        <% if (@i[0] == 2) or (@i[1] == 4) %>
          <tr class="row1">
            <th align="left"><%= _('Invoice') %>:</th>
            <% if @i[0] == 2 %>
              <td align="center">
                <%= form_tag :action => 'generate_invoice_pdf', :id => @invoice.id do %>
                  <%= image_submit_tag 'icons/pdf.png', :title => _('Invoice') %>
                <% end %>
              </td>
            <% elsif (@i[2] == 8) or (@i[4] == 32) %>
                <td></td>
            <% end %>
            <% if @i[1] == 4 %>
              <td align="center">
                <%= form_tag :action => 'generate_invoice_csv', :id => @invoice.id do %>
                  <%= image_submit_tag 'icons/excel.png', :title => _('Invoice') %>
                <% end %>
              </td>
            <% elsif (@i[3] == 16) or (@i[6] == 128) %>
                <td></td>
            <% end %>
          </tr>
        <% end %>
        <% unless (@invoice.invoice_type.downcase == 'prepaid') and (@invoice_invoicedetails.count == 1) and (@invoice_invoicedetails.first.name == "Manual Payment") %>
            <% if (@i[2] == 8) or (@i[3] == 16) %>
              <tr class="row2">
                <th align="left"><%= _('Invoice_detailed') %>:</th>
                <% if (@i[2] == 8) %>
                  <td align="center">
                    <%= form_tag :action => 'generate_invoice_detailed_pdf', :id => @invoice.id do %>
                      <%= image_submit_tag 'icons/pdf.png', :title => _('Invoice_detailed') %>
                    <% end %>
                  </td>
                <% elsif (@i[0] == 2) or (@i[4] == 32) %>
                    <td></td>
                <% end %>
                <% if (@i[3] == 16) %>
                  <td align="center">
                    <%= form_tag :action => 'generate_invoice_detailed_csv', :id => @invoice.id do %>
                      <%= image_submit_tag 'icons/excel.png', :title => _('Invoice_detailed') %>
                    <% end %>
                  </td>
                <% elsif (@i[1] == 4) or (@i[6] == 128) %>
                  <td></td>
                <% end %>
              </tr>
            <% end %>
            <% if (@i[4] == 32) or (@i[6] == 128) %>
              <tr class="row1">
                <th align="left"><%= _('Invoice_by_CallerID') %>:</th>
                <% if (@i[4] == 32) %>
                  <td align="center">
                    <%= form_tag :action => 'generate_invoice_by_cid_pdf', :id => @invoice.id do %>
                      <%= image_submit_tag 'icons/pdf.png', :title => _('Invoice_by_CallerID') %>
                    <% end %>
                  </td>
                <% elsif (@i[0] == 2) or (@i[2] == 8) %>
                    <td></td>
                <% end %>
                <% if (@i[6] == 128) %>
                  <td align="center">
                    <%= form_tag :action => 'generate_invoice_by_cid_csv', :id => @invoice.id do %>
                      <%= image_submit_tag 'icons/excel.png', :title => _('Invoice_by_CallerID') %>
                    <% end %>
                  </td>
                <% elsif (@i[1] == 4) or (@i[3] == 16) %>
                    <td></td>
                <% end %>
              </tr>
            <% end %>
        <% end %>

      </table>
      </td>
    <% end %>
  </tr>

  <tr>
    <td height="20"></td>
  </tr>

  <tr>
    <td>

      <table width="95%" class="maintable">
        <tr>
          <th align="left"><%= _('Service') %></th>
          <th align="right"><%= _('Quantity') %></th>
          <th align="right"><%= _('Unit_Price') %></th>
          <th align="right"><%= _('Line_Total') %></th>
        </tr>
        <% @invoice_invoicedetails.each_with_index { |id, i| %>
            <tr class="row<%= (i % 2 + 1).to_s %>">
              <%
                 qt = ""
                 tp = id.price
                 if id.quantity
                   qt = id.quantity
                   tp = qt * id.price if id.invdet_type > 0
                 end -%>
              <td id="name_<%= id.id %>" align="left"> <%= id.name %> </td>
              <td id="quantity_<%= id.id %>" align="right"> <%= qt %> </td>
              <td id="price_<%= id.id %>" align="right"> <%= nice_number(id.price) %> </td>
              <td id="total_price_<%= id.id %>" align="right"> <%= nice_number(tp) %> </td>
            </tr>
        <% } -%>
      </table>
    </td>
  </tr>
</table>
