<!--[form:payments]-->
<p><label for="payments_paymenttype">Paymenttype</label><br/>
  <%= text_field 'payments', 'paymenttype' %></p>

<p><label for="payments_amount">Amount</label><br/>
  <%= text_field 'payments', 'amount' %></p>

<p><label for="payments_currency">Currency</label><br/>
  <%= text_field 'payments', 'currency' %></p>

<p><label for="payments_email">Email</label><br/>
  <%= text_field 'payments', 'email' %></p>

<p><label for="payments_date_added">Date added</label><br/>
  <%= datetime_select 'payments', 'date_added' %></p>

<p><label for="payments_completed">Completed</label><br/>
  <%= text_field 'payments', 'completed' %></p>

<p><label for="payments_shipped_at">Shipped at</label><br/>
  <%= datetime_select 'payments', 'shipped_at' %></p>

<p><label for="payments_fee">Fee</label><br/>
  <%= text_field 'payments', 'fee' %></p>

<p><label for="payments_gross">Gross</label><br/>
  <%= text_field 'payments', 'gross' %></p>

<p><label for="payments_first_name">First name</label><br/>
  <%= text_field 'payments', 'first_name' %></p>

<p><label for="payments_last_name">Last name</label><br/>
  <%= text_field 'payments', 'last_name' %></p>

<p><label for="payments_payer_email">Payer email</label><br/>
  <%= text_field 'payments', 'payer_email' %></p>

<p><label for="payments_residence_country">Residence country</label><br/>
  <%= text_field 'payments', 'residence_country' %></p>

<p><label for="payments_payer_status">Payer status</label><br/>
  <%= text_field 'payments', 'payer_status' %></p>

<p><label for="payments_tax">Tax</label><br/>
  <%= text_field 'payments', 'tax' %></p>
<!--[eoform:payments]-->

