<% if @success %>
  <table class="maintable">
    <tr>
      <th colspan="2">
        <%= _("Payment_Was_Successful")  %>
      </th>
    </tr>
    <tr>
      <th><%= _("User") %></th>
      <td><%= nice_user(@user) %></td>
    </tr>
    <tr>
      <th><%= _("Total_Amount") %></th>
      <td><%= nice_number(@payment.amount) %> <%= @payment.currency %></td>
    </tr>
    <tr>
      <th><%= _("Tax") %></th>
      <td><%= nice_number(@payment.tax) %> <%= @payment.currency %></td>
    </tr>
    <tr>
      <th><%= _("Gross") %></th>
      <td><%= nice_number(@payment.gross) %> <%= @payment.currency %></td>
    </tr>
  </table>
<% else  %>
  <table class="maintable">
    <tr>
      <th colspan="2">
        <%= _("Payment_Was_Not_Successful") %>
      </th>
    </tr>
    <tr>
      <th><%= _("Reason") %>:</th>
      <td><%= h(@reason.to_s) %></td>
    </tr>

  </table>
<% end %>