<% if @enabled == 1 %>
    <div align="right">
      <%= image_tag("logo/ouroboros_logo.jpg", :style => 'border-style:none', :title => "Ouroboros") %>
    </div>

    <%= form_tag :action => 'ouroboros_pay' do %>
        <%= _('Please_enter_amount_to_update_your_balance') %>*: <%= text_field_tag 'amount', @default_amount, "class" => "input", :size => "8", :maxlength => "8" %> <%= @currency %>
        <br><br>
        <%= submit_tag _('Confirm'), :disable_with => _('Processing..') %>
    <% end %>

    <br/>
    <div class="simple">
      *<%= _('Minimum_amount') %>: <%= nice_number @min_amount %> <%= @currency %>
    </div>
<% else %>
    <%= _('Ouroboros_disabled') %>
<% end %>