<%if @payments and @payments.size.to_i > 0%>
  <table width="100%" class="maintable">
    <tr>
      <th align="center"><%= _('Date') %></th>
      <th align="center"><%= _('Confirm_date') %></th>
      <th align="center"><%= _('Email') %></th>
      <th align="center"><%= _('Type') %></th>
      <th align="right"><%= _('Amount') %></th>
      <th align="right"><%= _('Fee') %></th>
      <th align="right"><%= _('Amount_with_VAT') %></th>
      <th align="center"><%= _('Currency') %></th>
      <th align="center"><%= _('Completed') %>*</th>
    </tr>

    <% hide_uncompleted_payment = Confline.get_value("Hide_non_completed_payments_for_user", 0).to_i %>

    <% @payments.each_with_index{ |payment,  i| %>
      <%  if hide_uncompleted_payment == 1 and (payment.pending_reason == 'Unnotified payment' or !payment.pending_reason )and payment.paymenttype.to_s != 'manual' %>
      <%else%>
      <tr class="row<%= (i % 2 + 1).to_s %>">
        <%
        if payment.completed.to_i == 0
          completed = _('No')
          completed += " (" + payment.pending_reason + ")" if payment.pending_reason
        else
          completed = _('Yes')
        end
        digits = (payment.paymenttype == "invoice" and payment.invoice) ? nice_invoice_number_digits(payment.invoice.invoice_type) : 0
      %>
        <td id="date_added_<%= payment.id %>" align="center"><%= nice_date_time payment.date_added %></td>
        <td id="shipped_at_<%= payment.id %>" align="center"><%= nice_date_time payment.shipped_at %></td>
        <td id="email_<%= payment.id %>" align="center"><%= payment.payer_email %></td>
        <td id="paymenttype_<%= payment.id %>" align="center"><%= payment.paymenttype.humanize %></td>
        <td id="amount_<%= payment.id %>" align="right"><%= nice_number(payment.payment_amount) %></td>
        <td id="fee_<%= payment.id %>" align="right"><%= nice_number(payment.paymenttype == "paypal" ? 0 : payment.fee) %></td>
        <td id="amout_with_tax_<%= payment.id %>" align="right"><%= nice_number(payment.payment_amount_with_vat(digits)) %></td>
        <td id="currency_<%= payment.id %>" align="center"><%= payment.currency %></td>
        <td id="completed_<%= payment.id %>" align="center"><%= completed %></td>
      </tr>
      <%  end %>
    <% } -%>
  </table>
<%else%>
  <%= _('No_payments_found') %>
<%end%>
<br/>
<br/>
<div class="simple">*<%=  _('Paypal_payment_not_completed_explained') %></div>
