<%= link_to b_add + _('New_IVR'), :action => 'new' %>
<br />
<br />
<%=page_select_header(@options[:page], @total_pages, nil, @options)%>
<table class = "maintable" width = "100%">
  <tr>
    <th align="left"><%= _("Name")%></th>
    <th align="left"></th>
    <th align="left"></th>
  </tr>
<% @ivrs.each_with_index { |ivr,index|%>
  <tr class="row<%= index%2+1 %>"> 
    <td align="left"><%= ivr.name %></td>
    <td align="center"><%= link_to b_edit, :action => 'edit', :id => ivr.id %></td>
    <td align="center"><%= link_to b_delete, { :action => 'destroy', :id => ivr.id }, :confirm => _('are_you_sure'), :method => "post" %></td>
  </tr>
<% } %>
</table>
