<b><%= _("Extlines_For") %> : <%= @block.name %></b>
<br/>
<br/>
<table class="maintable" width="100%">
  <% @extlines.each_with_index { |ext, i| %>
      <tr class="row<%= (i % 2 + 1).to_s %>">
        <td id="line_<%= ext.id %>">
          [<%= ext.context %>] exten => <%= ext.exten %>,<%= ext.priority %>,<%= ext.app %>(<%= ext.appdata %>)
        </td>
      </tr>
  <% } %>
</table>