<br/>
<%= form_tag :action => 'update', :id => @voice.id do %>
    <table>
      <tr>
        <td valign="top">
          <table class="simple" width="100%">
            <tr>
              <td></td>
              <td><b><%= _("Voice_Short_Name") %>:</b></td>
              <td id="voice[name]"><%= @voice.voice %></td>
            </tr>

            <tr>
              <td></td>
              <td><b><%= _('Voice_Description') %>:</b></td>
              <td><%= text_field_tag('voice[description]', @voice.description, "class" => "input", :size => "35", :maxlength => "255") %></td>
            </tr>
          </table>
        </td>
      </tr>

      <tr>
        <td>
          <%= submit_tag _('Save_changes'), :disable_with => _('Processing..') %>
        </td>
      </tr>
    </table>
<% end %>
<br/>
<br/>
<% if @files and @files.size > 0 %>
    <br/>
    <%= _("IVR_Sound_files") %>:
    <br/>
    <br/>
    <table class="maintable" width="100%">
      <tr>
        <th align="left"><b><%= _("Description") %></b></th>
        <th align="left"><b><%= _("File_name") %></b></th>
        <th align="left"><b><%= _("File_Size") %></b></th>
        <th align="left"><b><%= _("Created_At") %></b></th>
        <th align="left"></th>
        <th align="left"></th>
        <th align="left"></th>
      </tr>
      <% @files.each_with_index { |file, i| %>
          <tr class="row<%= i%2+1 %>">
            <td id="description_<%= file.id %>" align="left"><b><%= file.description %></b></td>
            <td id="path_<%= file.id %>" align="left"><%= file.path %></td>
            <td id="size_<%= file.id %>" align="left"><%= file.nice_size %></td>
            <td id="created_at_<%= file.id %>" align="left"><%= nice_date_time(file.created_at) %></td>
            <td id="play_<%= file.id %>" align="center"><%= link_to b_play, {:controller => :ivr_sound_files, :action => "play_sound", :id => file.id}, :onclick => "window.open(this.href,'new_window','height=200,width=310');return false;" %></td>
            <td id="edit_<%= file.id %>" align="center"><%= link_to b_edit, :controller => :ivr_sound_files, :action => 'edit', :id => file.id %></td>
            <td id="delete_<%= file.id %>" align="center"><%= link_to b_delete, {:controller => :ivr_sound_files, :action => 'destroy', :id => file.id}, :confirm => _('are_you_sure'), :method => "post" if file.readonly.to_i == 0 %></td>
          </tr>
      <% } %>
    </table>
<% end %>
<br/>
<br/>
<br/>

<table class="maintable" width="30%">
  <tr class="row1">
    <td>
      <%= link_to_function(b_add + _('New_sound_file'), "Element.toggle('add_new_sound_file')") %>

      <%= form_tag({:controller => :ivr_sound_files, :action => 'create', :id => @voice.id}, {:multipart => "true"}) do %>
          <div id="add_new_sound_file" <%= "style='display:none;'" %>>
            <br/>
            <br/>
            <b><%= _('Description') %>:</b>
            <%= text_field_tag('description', "", "class" => "input", :size => "35", :maxlength => "255") %>
            <br/>
            <br/>
            <b><%= _('Upload') %></b>: <%= file_field_tag "file", {"class" => "input"} %>
            <br/>
            <br/>
            <%= submit_tag(_('Upload_file'), :disable_with => _('Processing..')) %>
          </div>
      <% end %>
    </td>
  </tr>
</table>