<!--[form:tariff]-->
<p><label for="tariff_name"><%= _('Name') %></label>:
<%= text_field 'tariff', 'name', "class" => "input"   %></p>


<% if @no_edit_tariff_type %>
    <%= _('Tariff_type') %>:  <%= @tariff.tariff_type   %>
<% else %>

<p><label for="tariff_type"><%= _('Tariff_type') %></label>:
<select name="tariff[tariff_type]" >
    <option value="user" selected><%= _('User') %></option>
    <% if @user_wholesale_enabled %>
        <option value="user_wholesale" <%= "selected" if @tariff.tariff_type == "user_wholesale"%>><%= _('User_wholesale') %></option>
    <% end %>
    <% if  session[:usertype] == "admin"%>
        <option value="provider" <%= "selected" if @tariff.tariff_type == "provider" %>><%= _('Provider') %></option>    
    <% end %>
</select>

<% end %>

<p><label for="tariff_currency"><%= _('Currency') %></label>:
<select name="tariff[currency]" >
<% for curr in @currs %>
    <option value="<%= curr.name %>" <%= "selected" if @tariff.currency == curr.name%>><%= curr.name %></option>    
<% end %>
</select>

<br><br>

<!--[eoform:tariff]-->

