<b>  <%= b_user %> <%= nice_user(@user) %> </b>
<br>
<br>
<%= form_tag(:action => 'lcr_update_user', :id => @user.id) do %>

    <table>
      <% if session[:usertype] == "admin" or session[:usertype] == "accountant" %>

          <tr>
            <td> <%= _('Sms_LCR') %>:</td>
            <td>
              <select name="lcr_id" <%= "disabled" if @sms_lcrs.size < 1 %> >
                <% for lcr in @sms_lcrs %>
                    <option value="<%= lcr.id %>" <%= "selected" if @user.sms_lcr.id == lcr.id if @user.lcr %>> <%= lcr.name %> </option>
                <% end %>
              </select>
            </td>
          </tr>
      <% end %>
      <tr>
        <td> <%= _('Sms_Tariff') %>:</td>
        <td>
          <select name="tariff_id" <%= "disabled" if @sms_tariffs.size < 1 %> >
            <% for tariff in @sms_tariffs %>
                <option value="<%= tariff.id %>" <%= "selected" if @user.sms_tariff.id == tariff.id if @user.tariff %>><%= tariff.name %> </option>
            <% end %>
          </select>
        </td>
      </tr>
    </table>

    <br>

    <%= submit_tag _('Change'), :disable_with => _('Processing..') %>
<% end %>

<br>