<table width="100%">
  <tr>
    <td><%= link_to (b_add + _('New_provider')), :action => 'provider_new' %></td>
    <td align="right">
      <% if not @providers.empty? %>
        <%= link_to_function(b_search + _('Search'), "Element.toggle('search_details')") %>
      <% end %>
    </td>
  </tr>
</table>

<div id="search_details" <%= "style='display:none;'" if @search == 0 %>>
  <%= form_tag :action => 'providers' do %>
    <br/>
    <table width="100%" class="simple">
      <tr>
        <td>
          <%= _('Name') %>: <%= text_field_tag 's_name', @search_name, "class" => "input", :size => "15", :maxlength => "30"  %>
          <%= submit_tag _('Search'), :disable_with=>_('Processing..')%>
        </td>
        <td align="right">
          <%= link_to b_cross + _('Clear_search'), :action => 'list' if @search == 1 %>
        </td>
      </tr>
    </table>

  <% end %>
</div>

<br/>

<table width="100%" class="maintable">
  <tr>
    <th align="left"><%= _('ID') %></th>
    <th align="left"><%= _('Provider') %></th>
    <th align="left"><%= _('Login') %></th>
    <th align="left"><%= _('Password') %></th>
    <th align="left"><%= _('Api_id') %></th>
    <th align="left"><%= _('Domain') %></th>
    <th align="center"><%= _('Use_subject') %></th>
    <!--    <th align="left"><%= _('Subject') %></th>    -->

    <th align="left"><%= _('Email_wait_time') %></th>
    <th align="center"><%= _('Wait_for_good_email') %></th>
    <th align="left"><%= _('Email_good_keywords') %></th>
    <th align="left"><%= _('Wait_for_bad_email') %></th>
    <th align="center"><%= _('Email_bad_keywords') %></th>
    <th align="left"><%= _('Time_out_charge_user') %></th>
    <th align="center"><%= _('Nan_keywords_charge_user') %></th>
    <th align="left"><%= _('Pay_sms_receiver') %></th>

    <th align="left"><%= _('Tariff') %></th>
    <th align="left"><%= _('Type') %></th>
    <!--    <th align="center"><%= _('Rules') %></th>
    <th align="center"><%= _('Sms') %></th>
    -->  <th align="center"><%=_('Login_test')%></th>
    <th></th>
    <th></th>
  </tr>

  <% i = 0 %>
  <% for prov in @providers %>
    <tr class="row<%= (i % 2 + 1).to_s %>">

      <td id="id_<%= prov.id %>"><%= h(prov.id) %></td>
      <td id="name_<%= prov.id %>"><%= h(prov.name) %></td>
      <td id="login_<%= prov.id %>"><%= h(prov.login) if !prov.api? %></td>
      <td id="password_<%= prov.id %>"><%= h(prov.password) %></td>
      <td id="api_id_<%= prov.id %>"><%= h(prov.api_id) %></td>
      <td id="sms_provider_domain_<%= prov.id %>"><%= h(prov.sms_provider_domain) %></td>
      <td id="use_subject_<%= prov.id %>" align="center">
        <%if prov.provider_type.to_s == "sms_email"%>
          <%= image_tag 'icons/check.png', :title => _('Disable'), :id => "use_subject_icon_check"+prov.id.to_s if prov.use_subject.to_i ==1 %>
          <%= image_tag 'icons/cross.png', :title => _('Enable'), :id => "use_subject_cross_cross"+prov.id.to_s if  prov.use_subject.to_i ==0 %>
        <%end%>
      </td>
      <!--   <td><%= h prov.sms_subject %></td>-->

      <td id="sms_email_wait_time_<%= prov.id %>" align="left"><%= h prov.sms_email_wait_time %></td>
      <td id="wait_for_good_email_<%= prov.id %>" align="center">
        <%if prov.provider_type.to_s == "sms_email"%>
          <%= image_tag 'icons/check.png', :title => _('Disable'), :id => "wait_for_good_email_icon_check"+prov.id.to_s if prov.wait_for_good_email.to_i ==1 %>
          <%= image_tag 'icons/cross.png', :title => _('Enable'), :id => "wait_for_good_email_cross_cross"+prov.id.to_s if  prov.wait_for_good_email.to_i ==0 %>
        <%end%>
      </td>
      <td id="email_good_keywords_<%= prov.id %>" align="left"><%= h prov.email_good_keywords %></td>
      <td id="wait_for_bad_email_<%= prov.id %>" align="center">
        <%if prov.provider_type.to_s == "sms_email"%>
          <%= image_tag 'icons/check.png', :title => _('Disable'), :id => "wait_for_bad_email_icon_check"+prov.id.to_s if prov.wait_for_bad_email.to_i ==1 %>
          <%= image_tag 'icons/cross.png', :title => _('Enable'), :id => "wait_for_bad_email_icon_cross"+prov.id.to_s if  prov.wait_for_bad_email.to_i ==0 %>
        <%end%>
      </td>
      <td id="email_bad_keywords_<%= prov.id %>" align="left"><%= h prov.email_bad_keywords %></td>
      <td id="time_out_charge_user_<%= prov.id %>" align="center">
        <%if prov.provider_type.to_s == "sms_email"%>
          <%= image_tag 'icons/check.png', :title => _('Disable'), :id => "time_out_charge_user_icon_check"+prov.id.to_s if prov.time_out_charge_user.to_i ==1 %>
          <%= image_tag 'icons/cross.png', :title => _('Enable'), :id => "time_out_charge_user_icon_cross"+prov.id.to_s if  prov.time_out_charge_user.to_i ==0 %>
        <%end%>
      </td>
      <td id="nan_keywords_charge_user_<%= prov.id %>" align="center">
        <%if prov.provider_type.to_s == "sms_email"%>
          <%= image_tag 'icons/check.png', :title => _('Disable'), :id => "nan_keywords_charge_user_icon_check"+prov.id.to_s if prov.nan_keywords_charge_user.to_i ==1 %>
          <%= image_tag 'icons/cross.png', :title => _('Enable'), :id => "nan_keywords_charge_user_icon_cross"+prov.id.to_s if  prov.nan_keywords_charge_user.to_i ==0 %>
        <%end%>
      </td>
      <td id="pay_sms_receiver_<%= prov.id %>" align="center">
        <%if prov.provider_type.to_s == "sms_email"%>
          <%= image_tag 'icons/check.png', :title => _('Disable'), :id => "pay_sms_receiver_icon_check"+prov.id.to_s if prov.pay_sms_receiver.to_i ==1 %>
          <%= image_tag 'icons/cross.png', :title => _('Enable'), :id => "pay_sms_receiver_icon_cross"+prov.id.to_s if  prov.pay_sms_receiver.to_i ==0 %>
        <%end%>
      </td>

      <td id="sms_tariff_name_<%= prov.id %>"><%= h prov.sms_tariff.name if prov.sms_tariff  %></td>
      <td id="provider_type_<%= prov.id %>" <%= tooltip(_('Link'), prov.login) if prov.api? and mor_11_extend?%> >
        <%if prov.provider_type.to_s == "clickatell"%>
          <a id="provider_type_link_<%= prov.id %>" target="blank" href="http://www.clickatell.com/login.php"><%= prov.provider_type%></a>
        <%else%>
          <%= prov.provider_type%>
        <%end%>
      </td>
      <td id="test_<%= prov.id %>" align="center"><%= link_to prov.test_login, "http://api.clickatell.com/http/auth?api_id=#{prov.api_id}&user=#{prov.login}&password=#{prov.password}", :target => "_blank", :id => "test_link_"+prov.id.to_s if prov.provider_type.to_s != "sms_email"%></td>
      <td id="edit_<%= prov.id %>" align="center"><%= link_to b_edit, {:action => 'provider_edit', :id => prov}, :id => "edit_link_"+prov.id.to_s %></td>
      <td id="destroy_<%= prov.id %>" align="center"><%= link_to b_delete, { :action => 'provider_destroy', :id => prov }, :confirm => _('Are_you_sure'), :method => :post, :id => "delete_link_"+prov.id.to_s %></td>
    </tr>
    <% i += 1%>
  <% end %>
</table>
