<%= render :partial => 'letter_select_header' %>
<% if @total_pages > 1 %>
    <br/>
    <%= render :partial => 'page_select_header' %>
<% end %>
<br/>


<br>

<table width="100%" class="maintable">
  <tr>

    <th align="left"><%= _('Direction') %></th>
    <th align="left"><%= _('Prefix') %></th>
    <th align="left"><%= _('Name') %></th>
    <th><%= _('Subcode') %></th>
    <th><%= _('Rate') %></th>

  </tr>

  <% i = 0 %>
  <%= form_tag(:action => 'rate_try_to_add', :id => @tariff.id, :st => @st) do %>
      <% for dest in @dests %>
          <tr class="row<%= (i % 2 + 1).to_s %>">

            <td id="direction_<%= dest.id %>"><%= draw_flag dest.direction_code %> <%= dest.direction_name %></td>
            <td id="prefix_<%= dest.id %>"><%= dest.prefix %></td>
            <td id="name_<%= dest.id %>"><%= dest.name %></td>
            <td id="subcode_<%= dest.id %>" align="center"><%= dest.direction_code.upcase %></td>
            <%
               show_rr = true
               price = 0.0
               #rates = []
               rate = dest.sms_rates(@tariff)
               if rate == nil or rate == ''
                 price = ''
               else
                 price = rate.price
               end
            %>
            <td align="center"><%= text_field_tag dest.id, price, :size => "7", "class" => "input", :id => "rate_"+dest.id.to_s %></td>
          </tr>
          <% i += 1 %>
      <% end %>
      <tr>
        <th colspan="5" align="right"><%= submit_tag _('Add_rates'), :disable_with => _('Processing..'), :id => "add_rates" %></th>
      </tr>
  <% end %>


</table>

<br/>
    
