<table width="100%" class="maintable">
  <tr>
    <th align="left"><%= _('Name') %></th>
    <th align="left"><%= _('Type') %></th>
    <th align="center"><%= _('Destinations') %></th>
    <th align="center"><%= _('Rate') %>  (<%= @tariff.currency %>)</th>
    <th align="center"><%= _('Round_by') %></th>
    <th></th>
    <th></th>
  </tr>

  <%= form_tag :action => 'user_rates_update', :id => @tariff.id do %>
      <% i = 0 %>
      <% for dg in @dgroups %>
          <tr class="row<%= (i % 2 + 1).to_s %>">

            <td><%= draw_flag_by_code dg.flag %> <%= h dg.name %></td>
            <td><%= h dg.desttype %></td>


            <%
               show_rr = true
               price = 0.0
               roundby = 1

               arates = []
               rate = dg.rate(@tariff.id)
               arates = rate.aratedetails if rate
               if arates.size == 0
                 price = ""
                 roundby = 1
               else
                 if arates.size == 1 and arates[0].artype == "minute"
                   price = arates[0].price
                   roundby = arates[0].round
                 else
                   show_rr = false
                 end
               end
            %>

            <td align="center"><%= link_to b_view + _('View'), :controller => :destination_groups, :action => :destinations, :id => dg.id %>
              (<%= dg.destinations.size %>)
            </td>
            <% if show_rr %>
                <td align="center"><%= text_field_tag "rate"+dg.id.to_s, price, "class" => "input", "size" => "8" %></td>
                <td align="center"><%= text_field_tag "round"+dg.id.to_s, roundby, "class" => "input", "size" => "3" %>
                  s
                </td>
            <% else %>
                <td colspan="2" align="center"><%= _('Check_advanced_rates') + b_forward %></td>
            <% end %>
            <td align="center"><%= link_to b_rates, :action => 'user_arates_full', :id => @tariff.id, :dg => dg.id %> </td>
            <td align="center"><%= link_to b_delete, {:action => 'user_rate_destroy', :id => rate.id}, :confirm => 'Are you sure?', :method => :post if rate %></td>

          </tr>

          <% i += 1 %>
      <% end %>

      <tr>
        <th colspan="7" align="right"><%= submit_tag _('Update'), :disable_with => _('Processing..') %></th>
      </tr>
  <% end %>
</table>

