<%= render :partial => 'letter_select_header' %>
<% if @total_pages > 1 %>
    <br>
    <%= render :partial => 'page_select_header' %>
<% end %>
<br>
<table width="100%" class="maintable">
  <tr>
    <th align="left"><%= _('Direction') %></th>
    <th align="left"><%= _('Prefix') %></th>
    <th align="left"><%= _('Subcode') %></th>
    <th align="left"><%= _('Name') %></th>
    <th align="right"><%= _('Price') %> (<%= current_user.currency.name %>)</th> <%#@user_tariff.currency%>
  </tr>

  <% @rates.each_with_index { |r, i| %>
      <% rate = SmsRate.find(r["id"]) %>
      <% destination = rate.destination %>
      <tr class="row<%= (i % 2 + 1).to_s %>">
        <td id="direction_<%= r["id"].to_s %>"><%= draw_flag destination.direction.code %> <%= destination.direction.name %></td>
        <td id="prefix_<%= r["id"].to_s %>"><%= destination.prefix %></td>
        <td id="subcode_<%= r["id"].to_s %>"><%= destination.subcode %></td>
        <td id="destination_<%= r["id"].to_s %>"><%= destination.name if destination.name %></td>
        <td id="price_<%= r["id"].to_s %>" align="right"><%= nice_number(r.curr_price.to_f) %></td>
      </tr>
  <% } %>
</table>
<% if @total_pages > 1 %>
    <br>
    <%= render :partial => 'page_select_header' %>
<% end %>