<%= form_tag(:action => 'bulk_confirm') do %>

    <p><label for="card_number"><%= _('Start_number') %></label><br/>
      <%= text_field_tag 'start_number', "", "class" => "input" %></p>

    <p><label for="card_number"><%= _('End_number') %></label><br/>
      <%= text_field_tag 'end_number', "", "class" => "input" %></p>

    <%= _('Activate') %> : <input type="radio" id="buy" name="activate" value="1"/>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <%= _('Deactivate') %> : <input type="radio" id="disable" name="activate" value="0"/>
    <p><%= submit_tag _('Execute'), :disable_with => _('Processing..') %> </p>
<% end %>
