
<% if @step == 0 %>
  <br />
  <%= _('Card_import_from_CSV') %>:
  <br />
  <br />

  <%= form_tag({:action => 'import_csv', :step => "1", :cg => @cg.id}, {:multipart => "true", :id => "files"}) do %>
    <%= _('Upload') %>: <%= file_field_tag "file" %>
    <%= submit_tag( _('Upload_file'), :disable_with=>_('Processing..')  )%>
  <% end %>

  <br />
  <%= _('Next_step') + ": " + _('Column_assignment')%>
<% end %>

<% if @step == 2 %>
  <% @fl = [] if !@fl %>
  <%= _('File_size') %>: <%= session[:file_size] %> <%= _('bytes') %>
  <br />
  <br />
  <b><%= _('First_file_lines') %>:</b><br /><br />
  <% flines = []
  tl = 0 %>
  <% for line in session[:file] %>
    <% flines << line if tl < 5%>
    <% tl += 1 %>
  <% end %>
  <% flines << "...." if tl > 5 %>

  <%= text_area_tag "body", flines, :size => "150x10", :class => "input" %>

  <br />
  <% session[:file_lines] = tl %>
  <b><%= _('Total_file_lines') %>: <%= session[:file_lines] %> </b>


  <br />
  <br />
  <br />
  <%= form_tag( {:action => 'import_csv', :step => 3, :cg => @cg.id}) do %>
    <table class="maintable" width="70%">
      <tr>
        <th><%= _('Value') %></th>
        <th><%= _('Select_from_CSV_file') %></th>
      </tr>
      <tr>
        <th height="20" colspan="2">
          <b><%= _('Important') %></b>
        </th>
      </tr>
      <tr class="row1">
        <td><%= _('Pin') %> *</td>
        <td>
          <div class="nb" align="center">
            <select name="pin_id" >
              <option value="-1">&nbsp;</option>
              <% i = 0 %>
              <% for l in @fl %>
                <option value="<%= i %>" <%= "selected" if session[:card_import_csv2] and session[:card_import_csv2][:imp_pin] == i %>> <%= clean_value l %> </option>
                <% i += 1 %>
              <% end %>
            </select>
          </div>
        </td>
      </tr>
      <tr class="row2">
        <td><%= _('Number') %> *</td>
        <td>
          <div class="nb" align="center">
            <select name="number_id" >
              <% i = 0 %>
              <option value="-1">&nbsp;</option>
              <% for l in @fl %>
                <option value="<%= i %>" <%= "selected" if session[:card_import_csv2] and session[:card_import_csv2][:imp_number] == i %>> <%= clean_value l %> </option>
                <% i += 1 %>
              <% end %>
            </select>
          </div>
        </td>
      </tr>
      <tr>
        <th height="20" colspan="2">
          <b><%= _('Other') %></b>
        </th>
      </tr>
      <tr class="row1">
        <td><%= _('Balance') %></td>
        <td>
          <div class="nb" align="center">
            <select name="balance_id" >
              <option value="-1">&nbsp;</option>
              <% i = 0 %>
              <% for l in @fl %>
                <option value="<%= i %>" <%= "selected" if session[:card_import_csv2] and session[:card_import_csv2][:imp_balance] == i %>> <%= clean_value l %> </option>
                <% i += 1 %>
              <% end %>
            </select>
          </div>
        </td>
      </tr>
    </table>


    <br />
    <%= submit_tag(  _('Assign_columns'), :disable_with=>_('Processing..')  )%>
  <% end %>
  <br />
  <%= _('Next_step') + ": " + _('Column_confirmation')%>
<% end %>


<% if @step == 3 %>


  <%= _('File_size') %>: <%= session[:file_size] %> <%= _('bytes') %><br />

  <br />
  <b>    <%= _('First_file_lines') %>:</b><br /><br />

  <table class="maintable" width="100%">
    <tr>
      <th>  <%= _('Pin') %>  </th>
      <th>  <%= _('Number') %>  </th>
      <th>  <%= _('Balance') %>  </th>
    </tr>
    <% tl = 0 %>
    <% for line in session[:file] %>

      <% if tl < 20%>
        <% arr = line.split(@sep) %>
        <tr class="row<%= (tl % 2 + 1).to_s %>">
          <td id="pin_<%=tl%>"> <%= clean_value arr[session[:card_import_csv2][:imp_pin]].to_s.gsub(@dec,".") if session[:card_import_csv2][:imp_pin] >= 0 %></td>
          <td id="number_<%=tl%>"> <%= clean_value arr[session[:card_import_csv2][:imp_number]].to_s.gsub(@dec,".") if session[:card_import_csv2][:imp_number] >= 0 %></td>
          <td id="balance_<%=tl%>"> <%= clean_value arr[session[:card_import_csv2][:imp_balance]].to_s.gsub(@dec,".") if session[:card_import_csv2][:imp_balance] >= 0 %></td>
        </tr>
      <% end %>
      <% tl += 1 %>
    <% end %>
  </table>

  <br />
  <b>    <%= _('Total_file_lines') %>: <%= session[:file_lines] %> </b>

  <br /><br />

  <table>
    <tr>

      <td>
        <%= form_tag( {:action => 'import_csv', :step => "2", :cg => @cg.id}) do %>
          <%= submit_tag(  _('Back'), :disable_with=>_('Processing..')  )%>
        <% end %>
      </td>

      <td width="20"></td>
      <% if (session[:card_import_csv2][:imp_pin] >= 0 and session[:card_import_csv2][:imp_number] >= 0)%>
        <td>
          <%= form_tag( {:action => 'import_csv', :step => "4", :cg => @cg.id}) do %>
            <%= submit_tag  _('Confirm_columns'), :id=>"conf", :disable_with=>_('Processing..')%>
          <% end %>
        </td>
      <% end %>

    </tr>
  </table>
  <br />
  <%= _('Next_step') + ": " + _('Analysis')%>

<% end %>


<% if @step == 4 %>
  <%= render :partial => "analize"  %>
  <br /><br />
  <%= form_tag( {:action => 'import_csv', :step => 5, :cg => @cg.id}) do %>
    <%= submit_tag(  _('Proceed'), :disable_with=>_('Processing..') ) %>
  <% end %>
  <%= _('Next_step') + ": " + _('Import_cards') %>
<% end %>

<% if @step == 5 %>
  <b><%= _('Card_group') %></b>: <%= link_to @cg.name, :controller => "cardgroups", :action => "show", :id => @cg %>
  <br/>
  <br/>
  <table class="maintable" width="50%">
    <tr class="row0">
      <td width="50%"><%= _('Total_cards') %></td>
      <td id="total_calls" align="right" width="15%"><b><%= @card_analize[:card_in_csv_file] %></b></td>
    </tr>
    <tr class="row1">
      <td width="50%"><%= _('Imported_cards') %></td>
      <td id="imported_calls" align="right" width="15%"><b><%= @total_cards.to_i %></b></td>
    </tr>
    <tr class="row0">
      <td width="50%"><%= _('Not_Imported_cards') %></td>
      <td id="failed_calls" align="right" width="15%"><b><%=  @card_analize[:card_in_csv_file].to_i  - @total_cards.to_i%></b></td>
    </tr>
    <tr class="row1">
      <td width="50%"><%= _('Run_Time') %> </td>
      <td id="run_time" align="right" width="15%"><b><%=nice_time2(@run_time.to_i) %></b> </td>
    </tr>
    <tr class="row0">
      <td width="50%"><%= _('Time_per_card') %></td>
      <td id="run_time_for_call" align="right" width="15%"><b><%= nice_time2((@total_cards.to_i == 0) ? "0" : nice_number(@run_time / @total_cards)) %></b></td>
    </tr>
    <% if @errors and @errors.size > 0 %>
      <tr class="row1">
        <td id="errors" colspan="2"><b><%= _('There_were_errors') %></b></td>
      </tr>
      <% @errors.each_with_index { |err, i|%>
        <tr class="row<%= (i % 2 + 1).to_s %>">
          <td id="error_msg_<%= i %>" align="left"><%= nice_card_import_error(err['nice_error']) %></td>
          <td id="error_<%= i %>" align="right"><%= err["col_#{session[:card_import_csv2][:imp_number]}"] %> | <%= err["col_#{session[:card_import_csv2][:imp_pin]}"] %></td>
        </tr>
      <% } %>
    <% end %>
  </table>
  <br />
  <b><%= _('Congratulations_csv_import') %>!</b>

<% end %>

