<b><%= _('Card_group') %></b>: <%= link_to @cg.name, :controller => "cardgroups", :action => "show", :id => @cg %>
<br/>
<b><%= _('Cards') %></b>: <%= @cards_all.to_i %>
<br/>
<b><%= b_date + _('Valid_from') %></b>: <%= nice_date @cg.valid_from %>
<br/>
<b><%= b_date + _('Valid_till') %></b>: <%= nice_date @cg.valid_till %>


<br/><br/>

<table width="100%" class="simple">
  <tr>
    <td>
      <% if @allow_manage == true %>
          <%= link_to b_add + _('Add_cards'), :action => 'new', :cg => @cg %>&nbsp;&nbsp;
          <%#  = link_to b_csv + _('Import_CSV'), :action => 'import_from_csv', :cg => @cg %>
          <%= link_to b_csv + _('Import_CSV'), :action => 'import_csv', :cg => @cg %> &nbsp;&nbsp;
          <%= link_to b_groups + _('Batch_management'), :action => 'act', :cg => @cg %>
      <% end %>
    </td>
    <td align="right">
      <%= link_to_function(b_search + _('Search'), "Element.toggle('search_details')") %>
    </td>
  </tr>
</table>

<%= form_tag :action => params[:action], :cg => @cg.id do %>
    <div id="search_details" <%= "style='display:none;'" if @search == 0 %>>
      <br/>
      <%= hidden_field_tag 'search_on', 1 %>

      <%= _('Number') %>
      : <%= text_field_tag 's_number', @options[:s_number], "class" => "input", :size => "15", :maxlength => @cg.number_length %>
      <%= _('Name') %>: <%= text_field_tag 's_name', @options[:s_name], "class" => "input", :size => "15" %>
      <%= _('PIN') %>
      : <%= text_field_tag 's_pin', @options[:s_pin], "class" => "input", :size => "15", :maxlength => @cg.pin_length %>
      <%= _('CallerID') %>: <%= text_field_tag 's_callerid', @options[:s_callerid], "class" => "input", :size => "15" %>
      <%= _('Balance_between') %>
      : <%= text_field_tag 's_balance_min', @options[:s_balance_min], "class" => "input", :size => "7", :maxlength => "10" %>
      -
      <%= text_field_tag 's_balance_max', @options[:s_balance_max], "class" => "input", :size => "7", :maxlength => "10" %>

      &nbsp;&nbsp;<%= _('Sold') %>?:
      <select name="s_sold">
        <option value="all" selected> <%= _('All') %> </option>
        <option value="yes" <%= "selected" if @options[:s_sold] == "yes" %>> <%= _('Yes') %> </option>
        <option value="no" <%= "selected" if @options[:s_sold] == "no" %>> <%= _('No') %> </option>

      </select>
      &nbsp;&nbsp;<%= _('Language') %>:
      <%= text_field_tag 's_language', @options[:s_language], "class" => "input", :size => "10", :maxlength => "10" %>
      &nbsp;&nbsp;<%= _('Distributor') %>
      : <%= select_tag("s_user", options_for_select([["All", -1]] + @users.map { |user| [nice_user(user), user.id] }, @options[:s_user].to_i)) %>
      &nbsp;&nbsp;<%= submit_tag _('Search'), :disable_with => _('Processing..') %>
    </div>
    <span style="float:right;"><%= link_to b_cross + _('Clear_search'), :action => 'list', :clean => 1, :cg => @cg.id %></span>
    <br/><br/>
<% end %>
<br/>
<%= page_select_header(@options[:page], @total_pages, ({:cg => @cg.id}), @options.merge({:cg => @cg.id})) %>
<table class="maintable" width="100%">
  <tr>
    <th align="left"><%= nice_list_order("number", _('Number'), @options, {:cg => @cg.id}) %></th>
    <th align="left"><%= nice_list_order("name", _('Name'), @options, {:cg => @cg.id}) %></th>
    <% if @show_pin == true %>
        <th align="left"><%= nice_list_order("pin", _('PIN'), @options, {:cg => @cg.id}) %></th>
    <% end %>
    <th align="left"><%= nice_list_order("caller_id", _('CallerID_for_pinless_dialing'), @options, {:cg => @cg.id}) %></th>
    <% if can_see_finances? %>
        <th align="right"><%= nice_list_order("balance", _('Balance') + " (#{_('Without_VAT')}) ", @options, {:cg => @cg.id}) %><%= current_user.currency.name %></th>
    <% end -%>
    <th align="center"><%= nice_list_order("first_use", _('First_use'), @options, {:cg => @cg.id}) %></th>
    <th align="center"><%= nice_list_order("daily_charge", _('Daily_charge_paid_till'), @options, {:cg => @cg.id}) %></th>
    <th align="center"><%= nice_list_order("sold", _('Sold'), @options, {:cg => @cg.id}) %>?</th>
    <th align="center"><%= nice_list_order("language", _('Language'), @options, {:cg => @cg.id}) %></th>
    <th align="left"><%= nice_list_order("user", _('Distributor'), @options, {:cg => @cg.id}) %></th>
    <th></th>
    <% if @allow_manage == true %>
        <th></th>
        <th></th>
        <th align="center"><%= _('Details') %></th>
        <th></th>
    <% end %>
    <th></th>
  </tr>

  <% @cards.each_with_index { |card, i| %>
      <tr class="row<%= (i % 2 + 1).to_s %>">

        <td id="number_<%= card.id %>" align="left"><%= card.number %></td>
        <td id="name_<%= card.id %>" align="left"><%= card.name %></td>
        <% if @show_pin == true %>
            <td id="pin_<%= card.id %>" align="left"><%= card.pin %></td>
        <% end %>
        <td id="callerid_<%= card.id %>" align="left"><%= card.callerid.to_s %></td>
        <% if can_see_finances? -%>
            <td id="balance_<%= card.id %>" align="right"><%= nice_number card.balance %></td>
        <% end -%>
        <td id="first_use_<%= card.id %>" align="center"><%= nice_date card.first_use %></td>
        <td id="daily_charge_<%= card.id %>" align="center"><%= nice_date card.daily_charge_paid_till %></td>
        <td id="sold_<%= card.id %>" align="center"><%= card.sold == 1 ? b_check : b_cross %></td>
        <td id="lang_<%= card.id %>" align="center"><%= card.language %></td>
        <td id="user_<%= card.id %>" align="left"><%= link_nice_user(card.user) if card.user %></td>
        <td id="payments_<%= card.id %>" align="center"><%= link_to(b_payments, {:controller => 'cards', :action => 'payments', :id => card.id}, {:id => "payments_link_"+ card.id.to_s}) %></td>
        <td id="calls_<%= card.id %>" align="center"><%= link_to(b_call, {:controller => 'stats', :action => 'cc_call_list', :id => card.id}, {:id => "calls_link_"+ card.id.to_s}) %>
          (<%= card.calls.count %>)
        </td>
        <% if @allow_manage == true %>
            <td id="pay_<%= card.id %>" align="center"><%= link_to b_money, {:action => 'card_pay', :cg => @cg.id, :id => card.id}, {:id => "pay_link_"+ card.id.to_s} %></td>
            <td id="show_<%= card.id %>" align="center"><%= link_to b_details + _('Details'), {:action => 'show', :id => card.id}, {:id => "details_link_"+ card.id.to_s} %></td>
            <td id="edit_<%= card.id %>" align="center"><%= link_to b_edit, {:action => 'edit', :id => card.id}, {:id => "edit_link_"+ card.id.to_s} %></td>
            <td id="destroy_<%= card.id %>" align="center"><%= link_to b_delete, {:action => 'destroy', :id => card.id}, {:confirm => _('Are_you_sure'), :method => :post, :id => "delete_link_"+ card.id.to_s} %></td>
        <% end %>
      </tr>
  <% } %>
</table>
<br/>
<%= page_select_header(@options[:page], @total_pages, ({:cg => @cg.id}), @options.merge({:cg => @cg.id})) %>
