<b><%= _('Card_group') %></b>: <%= link_to @cg.name, :controller => "cardgroups", :action => "show", :id => @cg %>
<br/><br/>
<p><b><%= _('Number') %>:</b> <%= @card.number %> </p>
<% if @show_pin == true %>
    <p><b><%= _('PIN') %>:</b> <%= @card.pin %> </p>
<% end %>
<p><b><%= _('Balance') %> (<%= _('Without_VAT') %>):</b> <%= nice_number @card.balance %> </p>
<p><b><%= _('Minimal_balance') %>:</b> <%= nice_number @card.min_balance %> </p>
<p><b><%= _('First_use') %>:</b> <%= nice_date @card.first_use %> </p>
<p><b><%= _('Daily_charge_paid_till') %>:</b> <%= nice_date @card.daily_charge_paid_till %> </p>
<p><b><%= _('Sold') %>:</b>
  <% if @card.sold == 1 %>
      <%= b_check %>
  <% else %>
      <%= b_cross %>
  <% end %>
</p>
<p><b><%= _('CallerID') %> :</b> <%= @card.callerid.to_s %> </p>
<p><b><%= _('Language') %> :</b> <%= @card.language.to_s %> </p>
<p><b><%= _('Distributor') %> :</b> <%= link_nice_user_if_own(@card.user) if @card.user %> </p>
<br/><br/>
<%= link_to b_edit + _('Edit'), :action => 'edit', :id => @card %>
