<% content_for :scripts do %>
  <%= javascript_include_tag("sprintf-0.6.js") %>
  <%= javascript_include_tag("callshop/manager_view.js") %>
  <script type="text/javascript">
    var cs = <%= raw javascript_parameters(@cshop).to_json %>;
    var i18n = <%= raw javascript_i18n.to_json %>;

    $(document).ready(function() {
      /* apply callshop functionality */
      $("#callshop").callshop(cs, i18n);
    });
  </script>
<% end %>

<div id="table-wrap">
  <table id="callshop" cellpadding="0" cellspacing="0">
    <thead>
      <tr>
        <td class="first grey">
          <%= _('Status') %>
        </td>
        <td class="sorted-on-asc">          <a href="" id="status" class="sort-col" data-sort-type="num"><%= _('Booth') %></a>        </td>
        <td> <a href="" class="sort-col" data-sort-type="created_at"><%= _('Session_start_time') %></a>        </td>
        <td> <a href="" class="sort-col" data-sort-type="duration"><%= _('Duration') %></a>        </td>
        <td> <a href="" class="sort-col" data-sort-type="price"><%= _('Price_per_min') %></a>        </td>
        <td> <a href="" class="sort-col" data-sort-type="country"><%= _('Country') %></a>        </td>
        <td> <a href="" class="sort-col" data-sort-type="invoice_type"><%= _('Dialed number') %></a>        </td>
        <td> <a href="" class="sort-col" data-sort-type="balance"><%= _('Balance') %></a>        </td>
        <td> <a href="" class="sort-col" data-sort-type="comment"><%= _('Comment') %></a>        </td>
        <td class="last"><%= _('Session') %></td>
      </tr>
    </thead>
    <tbody>
      <% @users.each_with_index do |user, index| %>
        <%= raw render :partial => "status_#{user.booth_status}", :locals => { :index => index, :user => user }  %>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td class="first" colspan="2"><%= _('Free_booths') %>: <span id="free_booths_count"></span></td>
        <td><%= _('Active_calls') %>: <span id="active_calls_count"></span></td>
        <td colspan="4">&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="last">&nbsp;</td>
      </tr>
    </tfoot>
  </table>
</div>

<div class="clearfix" id="footer">
  <div class="grid_3">
    <span class="free"><%= raw _('Free_booth').gsub("\s", "&nbsp;") %></span>
  </div>
  <div class="grid_4">
    <span class="reserved"><%= raw _('Reserved_booth').gsub("\s", "&nbsp;") %></span>
  </div>
  <div class="grid_4 suffix_12">
    <span class="occupied"><%= raw _('Call_in_progress').gsub("\s", "&nbsp;") %></span>
  </div>
</div>