<table>
  <tr>
    <th><%= _('Number')%></th>
     <th><%= _('PIN') %></th>
     <th><%= _('Price') %></th>
	</tr>
  <% i = 0 %>
  <% for card in cards %>
	<tr>   
    <td align='center'>
      <%= card.number%>
    </td>
    <td align='center'>
      <%= card.pin %> 
    </td>
    <td align='center'>
      <%= card.cardgroup.price %> 
    </td>
	</tr>
	 <% i += 1%>
  <% end %>
</table>
