<table width="100%" class="simple">
  <tr>
    <td> <%= _('Name') + ":" %>  </td>
    <td id="name_<%= @email.name %>" colspan="2"><%= @email.name %></td>
  </tr>
  <tr>
    <td> <%= _('Subject') + ":" %>  </td>
    <td id="subject_<%= @email.name %>" colspan="2"> <%= @email.subject %> </td>
  </tr>
  <tr>
    <td> <%= _('Message_text') + ":" %>  </td>
    <td id="body_<%= @email.name %>" colspan="2"> <%= @email.body %> </td>
  </tr>
  <tr>
    <td> <%= _('Format') + ":" %>  </td>
    <td id="format_<%= @email.name %>" colspan="2"><%= @email.format.to_s %></td>
  </tr>
  <% if params[:show_render].to_i == 1 %>
      <tr>
        <td> <%= _('Example') + ":" %>  </td>
        <td id="example_<%= @email.name %>" colspan="2"><%= render_email(@email, current_user) %></td>
      </tr>
  <% end %>
</table>