<%= link_to b_add + _('New_Timeperiod'), :action => 'new' %>
<br />
<br />
<table class = "maintable" width = "100%">
  <tr>
    <th align="left"><%= _("Name") %></th>
    <th align="left"><%= _("Start_Time") %></th>
    <th align="left"><%= _("End_Time") %></th>
    <th></th>
    <th></th>
  </tr>
<% @periods.each_with_index { |period, index| %>
  <tr class="row<%= index%2+1 %>">
    <td align="left"><%= period.name %></td>
    <td align="left"><%= period.start_month_name.to_s + " " if period.start_month %>
                     <%= period.start_day.to_s+" " if period.start_day %>
                     <%= period.start_weekday_name+" " if period.start_weekday %> 
                     <%= period.start_time %></td>
    <td align="left"><%= period.end_month_name.to_s + " " if period.end_month %>
                     <%= period.end_day.to_s+" " if period.end_day %>
                     <%= period.end_weekday_name+" " if period.end_weekday %> 
                     <%= period.end_time %></td>
    <td align="center"><%= link_to b_edit, :action => 'edit', :id => period.id %></td>
    <td align="center"><%= link_to b_delete, { :action => 'destroy', :id => period.id }, :confirm => _('are_you_sure'), :method => "post" %></td>
  </tr>
<% } %>
</table>