<div class="ringgroup_items">
  <span style="float:right;color:#808080;margin-top: -2px;font-size:10px;">
    <%= _('To_change_priority_drag') if @devices.size.to_i > 0 %>
  </span>
  <% if @devices.size.to_i > 0 %>
      <ul id="sortable_list" style="list-style-type: none;margin-left: 0px;padding: 3px;margin-top: 1px;margin-bottom:0px;">
        <% for dev in @devices %>
            <li id="item_<%= dev.id %>" style="height: 17px;">
              <span onclick="if (confirm('Are you sure?')) { new Ajax.Updater('new_ajax_devices', '<%=Web_Dir%>/ringgroups/delete_device?id=<%=@ringgroup.id%>&device_id=<%=dev.id%>', {asynchronous:true, evalScripts:true, onComplete:function(request){Element.hide('spinner');Update_devices();}, onLoading:function(request){Element.show('spinner');}});}; return false;"><%= b_delete %></span>
              <%= nice_device(dev) %>
              <br/>
            </li>
        <% end %>
      </ul>
  <% else %>
      <%= b_warning + _('Assign_device') %>
  <% end %>
</div>
<div style="margin-top: 7px;">
  <b><%= link_to_function(b_add + _('Add_new_Device'), "Element.toggle('add_new_device')") %></b>

  <div id="add_new_device" style='display:none;padding: 3px;margin-top: 5px;' class="ringgroup_items">
    <div style="margin:4px;margin-top:6px;">

      <table>
        <tr>
          <td><%= _('User') %>:</td>
          <td><select name="s_user" id="s_user" class="ringgroup_select">
            <option value="-1"><%= _('Select_user') %> </option>
            <% for user in @users %>
                <option value="<%= user.id %>"><%= nice_user(user) %> </option>
            <% end %>
          </select></td>
        </tr>

        <tr id='user_free_devices'>
        </tr>
      </table>

    </div>
    <div>
      <%= observe_field("s_user", :update => "user_free_devices", :url => {:controller => :ringgroups, :action => :free_user_devices, :id => @ringgroup.id}, :with => "'user_id='+$('s_user').value", :loading => "Element.show('spinner');", :complete => "Element.hide('spinner');Update_devices();") %>
    </div>
  </div>
</div>
<%= sortable_element('sortable_list', :update => 'items', :url => {:action => :device_sort, :id => @ringgroup}, :loading => "Element.show('spinner');", :complete => "Element.hide('spinner');Update_devices();") %>