<%= link_to b_add + _('New_Ring_Group'), :action => 'new' %>
<br />
<br />

<table width="100%" class="maintable" >
  <tr>
    <th><%= _('Accessible_over_DIDs') %></th>
    <th><%=sortable_list_header("extension", _('Extension'), @options)%></th>
    <th><%=sortable_list_header("name", _('Name'), @options)%></th>
    <th><%=sortable_list_header("comment", _('Comment'), @options)%></th>
    <th><%= _('Devices') %></th>
    <th align="right"><%=sortable_list_header("ring_time", _('Ring_time') + ' (s)', @options)%></th>
    <th><%=sortable_list_header("options", _('Options'), @options)%></th>
    <th><%=sortable_list_header("strategy", _('Strategy'), @options)%></th>
    <th><%=sortable_list_header("prefix", _('CallerID_prefix'), @options)%></th>
    <th><%= _('DID_if_no_aswer') %></th>
    <th></th>
    <th></th>
  </tr>
  <% for r in @ringgroups %>
    <tr >
      <%if r.dialplan and r.dialplan.dids%>
        <%= render :partial => "/dids/dialplan_dids_list", :locals => {:plan => r.dialplan, :id=>"dp_dids_#{r.dialplan.id}"} %>
      <%else%>
        <td></td>
      <%end%>

      <td id="data2_<%=r.dialplan.id%>"><%= r.dialplan.data2 if r.dialplan %></td>
      <td id="name_<%=r.dialplan.id%>"><%= r.dialplan.name  if r.dialplan %></td>
      <td id="comment_<%=r.dialplan.id%>"><%= r.comment %></td>
      <td id="dev_<%=r.dialplan.id%>">
        <%if r.devices%>
          <%for dev in r.devices%>
            <%= link_nice_device(dev) %><br />
          <%end%>
        <%end%>
      </td>
      <td id="timeout_<%=r.dialplan.id%>" align="right"><%= r.timeout %></td>
      <td id="options_<%=r.dialplan.id%>"><%= r.options %></td>
      <td id="strategy_<%=r.dialplan.id%>"><%= r.strategy %></td>
      <td id="cid_prefix_<%=r.dialplan.id%>"><%= r.cid_prefix %></td>
      <td id="did_<%=r.dialplan.id%>"><%= r.did.did if r.did%></td>
      <td align="center"><%= link_to b_edit, { :action => 'edit', :id => r }, :id=>"edit_link_#{r.id.to_s}" %></td>
      <td align="center"><%= link_to b_delete, { :action => 'destroy', :id => r }, :id=>"delete_link_#{r.id.to_s}", :confirm => _('are_you_sure'), :method => "post" %></td>
    </tr>
  <% end %>
</table>
