<% show_servers = (session[:active_calls_show_server].to_i == 1) %>
<% if @active_calls.size < Confline.get_value("Active_Calls_Maximum_Calls").to_i %>
    <table width="100%" class="maintable">
      <tr>
        <th align="center"></th>
        <th align="center"><%= remote_sortable_list_header("answer_time", _('Start_time'), @options).html_safe %></th>
        <th align="center"><%= remote_sortable_list_header("duration", _('Duration'), @options).html_safe %></th>
        <th align="left"><%= remote_sortable_list_header("src", _('Source') + " (#{_("Caller")})", @options).html_safe %></th>
        <th align="left"><%= remote_sortable_list_header("localized_dst", _('Destination') + " (#{_("Callee")})", @options).html_safe %></th>
        <% if @show_did %>
            <th align="right"><%= remote_sortable_list_header("did", _('DID'), @options).html_safe %></th>
        <% end %>
        <% if session[:usertype] == "admin" or allow_manage_providers? %>
            <th align="left"><%= remote_sortable_list_header("provider_name", _('Provider'), @options).html_safe %></th>
            <% if show_servers and !current_user.is_reseller? %>
                <th align="right"><%= remote_sortable_list_header("server_id", _('Server'), @options).html_safe %></th>
            <% end %>
        <% end %>
        <% if monitorings_addon_active? and not @chanspy_disabled %>
            <th align="center"><%= _('Spy') %></th>
        <% end %>
        <% if session[:usertype] == "admin" or allow_manage_providers? %>
            <th align="right"></th>
        <% end %>
      </tr>
      <% local_time_now = Time.now.getlocal() %>
      <% @active_calls.each_with_index { |call, i| %>

          <% answer_time = nil
             begin
               answer_time = Time.parse(call["answer_time"].to_s) unless call["answer_time"].to_s.blank?
             rescue
             end %>
          <tr class="row<%= (i % 2 + 1).to_s %>">
            <td id="status_<%= i %>" align="center" onmouseover="Tip('<%= active_calls_tooltip(call) %>', CLICKCLOSE, true);" onmouseout="UnTip()"><%= active_call_bullet(call) %></td>
            <td id="answer_time_<%= i %>" align="center"><%= answer_time.blank? ? "" : nice_time_from_date(current_user.user_time(answer_time)) %> </td>
            <td id="duration_<%= i %>" align="center"><%= answer_time.blank? ? "" : nice_time(local_time_now - answer_time) %></td>
            <td id="src_<%= i %>" align="left">
              <%= call["src"] %>&nbsp;
               <% if call['cc_id'].to_i == 0  %>
              <% if call["user_id"] %>
                  <% if session[:usertype] != "user" %>
                      <%= nice_user_from_data(call["user_username"].to_s, call["user_first_name"].to_s, call["user_last_name"].to_s, {:link => (call["user_owner_id"].to_i == @user_id.to_i ? true : false), :user_id => call["user_id"].to_s}) %>
                      / <%= nice_device_from_data(call["device_type"].to_s,(call["device_username"].to_s.blank? ? call["device_extension"].to_s : call["device_name"].to_s), call["device_extension"].to_s, call["device_istrunk"], call["device_ani"].to_s, {:link => (call["device_user_id"].to_i == call["user_id"].to_i and call["user_owner_id"].to_i == @user_id.to_i ? true : false), :device_id => call["device_id"].to_s})%>
                  <% else %>
                      <%= nice_device_from_data(call["device_type"].to_s, (call["device_username"].to_s.blank? ? call["device_extension"].to_s : call["device_name"].to_s), call["device_extension"].to_s, call["device_istrunk"], call["device_ani"].to_s, {:link => false, :device_id => call["device_id"].to_s}) %>
                  <% end %>
              <% end %>
                  <%else%>
                  <% if call['cc_owner_id'] != current_user.get_corrected_owner_id%>
                      <%= _('Card') + ': ' + call['cc_number'].to_s %>
                  <%else%>
                      <%= link_to _('Card') + ': ' + call['cc_number'].to_s, {:controller=>:cards, :action=>:show, :id=>call['cc_id'].to_i}, :target=>'blank'  %>
                  <%end%>
              <%end%>
            </td>

            <td id="dst_<%= i %>" align="left">
              <%= call["localized_dst"].to_s %>&nbsp;
              <% if call["dst_user_id"] %>

                  <% if session[:usertype] == "admin" %>
                      <%= nice_user_from_data(call["dst_user_username"].to_s, call["dst_user_first_name"].to_s, call["dst_user_last_name"].to_s , {:link => (call["dst_user_owner_id"].to_i == @user_id.to_i ? true : false), :user_id => call["dst_user_id"].to_s}) %>
                      / <%= nice_device_from_data(call["dst_device_type"].to_s, (call["dst_device_username"].to_s.blank? ? call["dst_device_extension"].to_s : call["dst_device_name"].to_s), call["dst_device_extension"].to_s, call["dst_device_istrunk"].to_s, call["dst_device_ani"], {:link => (call["dst_device_user_id"].to_i == call["dst_user_id"].to_i and call["dst_user_owner_id"].to_i == @user_id.to_i ? true : false), :device_id => call["dst_device_id"].to_s}) %>
                  <% else %>

                      <% if session[:usertype] == "reseller" %>
                          <%= nice_user_from_data(call["dst_user_username"].to_s, call["dst_user_first_name"].to_s, call["dst_user_last_name"].to_s, {:link => false, :user_id => call["dst_user_id"].to_s}) %>
                          / <%= nice_device_from_data(call["dst_device_type"].to_s, (call["dst_device_username"].to_s.blank? ? call["dst_device_extension"].to_s : call["dst_device_name"].to_s), call["dst_device_extension"].to_s, call["dst_device_istrunk"].to_s, call["dst_device_ani"], {:link => false, :device_id => call["dst_device_id"].to_s}) %>
                      <% else %>
                          <%= nice_device_from_data(call["device_type"].to_s, (call["device_username"].to_s.blank? ? call["device_extension"].to_s : call["device_name"].to_s), call["device_extension"].to_s, call["device_istrunk"], call["device_ani"].to_s, {:link => false, :device_id => call["device_id"].to_s}) %>
                      <% end %>

                  <% end %>

              <% else %>

                  <% if call["prefix"].blank? and call["did_id"].to_i > 0 %>
                      <%= draw_flag(call["did_direction_code"].to_s) if !call["did_direction_code"].to_s.blank? %>
                      <% if session[:usertype] == "admin" %>
                          <%= _('DID') %>
                          (<%= nice_did_from_data(call["did"].to_s, {:link => true, :did_id => call["did_id"].to_s}) %>)
                      <% else %>
                          <%= _('DID') %>
                          (<%= nice_did_from_data(call["did"].to_s, {:link => false, :did_id => call["did_id"].to_s}) %>
                          )
                      <% end %>
                  <% else %>
                      <%= draw_flag(call["direction_code"].to_s) %> <%= call["direction_name"].to_s %> <%= call["destination_subcode"].to_s %> <%= call["destination_name"] %>
                  <% end %>

              <% end %>
            </td>
            <% if @show_did %>
                <td align="right"> <%= call["did"].to_s %></td>
            <% end %>
            <% if session[:usertype] == "admin" or allow_manage_providers? %>
                <td id="provider_<%= i %>" align="left">
                  <% if call["provider_id"] %>
                      <% if call["common_use"].to_i == 1 or call["providers_owner_id"].to_i==current_user.id %>
                          <%= nice_provider_from_data(call["provider_name"].to_s, {:link => call["providers_owner_id"].to_i==current_user.id, :provider_id => call["provider_id"].to_s}) %>
                      <% elsif session[:usertype] == 'admin' %>
                          <%= call["provider_name"].to_s %>
                      <% end %>
                  <% end %>
                </td>
                <% if show_servers and !current_user.is_reseller? %>
                    <td id="server_<%= i %>" align="right"><%= nice_server_from_data(call["server_id"].to_s, {:link => true, :server_id => call["server_id"].to_i}) %></td>
                <% end %>
            <% end %>
            <% if monitorings_addon_active? and not @chanspy_disabled %>
                <% if call["device_type"] != 'Virtual' %>
                    <% if !@spy_device.blank? and (call["server_id"].to_i != @spy_device.server_id.to_i) %>
                        <td align="center" style="opacity:0.4" <%= tooltip(_('Can not spy'), _('Spy_device_is_registered_on_different_server_than_this_call')) %>> <%= image_tag('icons/sound.png', :title => _('Spy_Channel'), :disabled => true ) %> </td>
                    <% else %>
                        <td align="center"> <%= spy_channel_icon(call["channel"], call["ac_id"]) %> </td>
                    <% end %>
                <% else %>
                    <td align="center" <%= tooltip(_('Can not spy'), _('Can_not_spy_virtual_device')) %>> <%= b_info %> </td>
                <% end %>
            <% end %>
            <% if session[:usertype] == "admin" or allow_manage_providers? %>
                <td id="hangup_<%= i %>" align="center"><%= link_to b_hangup, {:controller => "calls", :action => "active_call_soft_hangup", :channel => call["channel"].to_s, :server_id => call["server_id"].to_s}, :popup => ['new_window', 'height=50,width=200'], :confirm => _('are_you_sure') if call["providers_owner_id"].to_i==current_user.id or call["common_use"].to_i == 1 %></td>
            <% end %>
          </tr>
      <% } %>
    </table>

<% else %>
    <%= _('Too_much_calls_to_show') %>
<% end %>
