<table width="100%" class="maintable">
  <tr>
    <th align="left"><%= nice_list_order("user", _("User"), @options) %></th>
    <% if can_see_finances? %>
        <th align="right"><%= nice_list_order("balance", _("Balance")+" ("+session[:show_currency]+")", @options) %></th>
    <% end %>
    <th align="right"><%= nice_list_order("calls", _('Answered_calls'), @options) %></th>
    <th align="center"><%= nice_list_order("sum_duration", _('Time'), @options) %></th>
    <th align="center"><%= nice_list_order("acd", _('ACD'), @options) %></th>
    <th align="center"><%= nice_list_order("asr", _('ASR'), @options) %></th>
    <% if can_see_finances? -%>
        <th align="right"><%= nice_list_order("price", _('Price')+" ("+session[:show_currency]+")", @options) %></th>
        <th align="right"><%= nice_list_order("provider_price", _('Provider_price')+" ("+session[:show_currency]+")", @options) %></th>
        <th align="right"><%= nice_list_order("profit", _('Profit')+" ("+session[:show_currency]+")", @options) %></th>
        <th align="right"><%= nice_list_order("margin", _('Margin'), @options) %></th>
        <th align="right"><%= nice_list_order("markup", _('Markup'), @options) %></th>
    <% end -%>
    <th align="left"></th>
    <th align="left"></th>
    <th align="left"></th>
  </tr>
  <% @res.each_with_index { |r, i| %>
      <tr class="row<%= (i % 2 + 1).to_s %>">
        <td id="row_<%= i %>_user" align="left">
          <% if r["first_name"].length + r["last_name"].length > 0 %>
              <%= h r["first_name"] %> <%= h r["last_name"] %>
          <% else %>
              <%= h r["username"] %>
          <% end %>
        </td>
        <% if can_see_finances? %>
            <td id="row_<%= i %>_balance" align="right"><%= nice_number @curr_balance[(r["id"]).to_i] %> </td>
        <% end %>
        <td id="row_<%= i %>_calls" align="right"><%= r["calls"] %></td>
        <td id="row_<%= i %>_time" align="center"><%= nice_time r["sum_duration"] %></td>
        <td id="row_<%= i %>_acd" align="center"><%= nice_time(r["acd"].to_f) %></td>
        <td id="row_<%= i %>_asr" align="center">
          <% if r["asr"].to_f > 0 %>
              <%= nice_number(r["asr"]) %> %
          <% end %>
        </td>
        <% if can_see_finances? %>
            <td id="row_<%= i %>_price" align="right"><%= nice_number(@curr_price[(r["id"]).to_i].to_f) %></td>
            <td id="row_<%= i %>_prov_price" align="right"><%= nice_number(@curr_prov_price[(r["id"]).to_i].to_f) %></td>
            <td id="row_<%= i %>_profit" align="right"><%= nice_number(@curr_price[(r["id"]).to_i].to_f - @curr_prov_price[(r["id"]).to_i].to_f) %></td>
            <% if r["calls"] %>
                <td id="row_<%= i %>_margin" align="right"><%= @user_price[(r["id"]).to_i] != 0 ? nice_number(((@user_price[(r["id"]).to_i].to_f - @prov_price[(r["id"]).to_i].to_f)/ @user_price[(r["id"]).to_i].to_f) *100) : nice_number(0) %>
                  %
                </td>
                <td id="row_<%= i %>_markup" align="right"><%= @prov_price[(r["id"]).to_i] != 0 ? nice_number(((@user_price[(r["id"]).to_i].to_f / @prov_price[(r["id"]).to_i].to_f) *100)-100) : nice_number(0) %>
                  %
                </td>
            <% else %>
                <td id="row_<%= i %>_margin" align="right">  <%= nice_number(0.0) %> %</td>
                <td id="row_<%= i %>_markup" align="right">  <%= nice_number(0) %> %</td>
            <% end %>
        <% end %>
        <td align="center"><%= link_to b_call, :action => "last_calls_stats", :s_user => r["id"] %> </td>
        <td align="center"><%= link_to b_call_stats, :action => "user_stats", :id => r["id"] %> </td>
        <td align="center"><%= link_to b_logins, :action => "user_logins", :id => r["id"] %> </td>

      </tr>
  <% } %>

  <% if @total_pages > 1 %>
      <tr>
        <th align="left"><%= _("Total_In_Page") %>:</th>
        <% if can_see_finances? %>
            <th id="total_in_page_balance" align="right"><%= nice_number @total_balance %></th>
        <% end %>
        <th id="total_in_page_calls" align="right"><%= @total_calls.to_i %></th>
        <th id="total_in_page_time" align="center"><%= nice_time @total_time %></th>
        <% @total_calls > 0 ? tavg = @total_time / @total_calls : tavg = 0 -%>
        <th id="total_in_page_acd" align="center"><%= nice_time tavg %></th>
        <th id="total_in_page_" align="left"></th>
        <% if can_see_finances? %>
            <th id="total_in_page_price" align="right"><%= nice_number @total_price %></th>
            <th id="total_in_page_prov_price" align="right"> <%= nice_number @total_prov %></th>
            <th id="total_in_page_profit" align="right"><%= nice_number @total_profit %></th>
            <th id="total_in_page_margin" align="right"><%= @total_price != 0 ? nice_number(((@total_price - @total_prov)/ @total_price) *100) : nice_number(0) %>
              %
            </th>
            <th id="total_in_page_markup" align="right"><%= @total_prov != 0 ? nice_number(((@total_price / @total_prov) *100)-100) : nice_number(0) %>
              %
            </th>
        <% end %>
        <th align="left" colspan="3"></th>
      </tr>
  <% end %>

  <tr>
    <th align="left"><%= _("Total") %>:</th>
    <% if can_see_finances? %>
        <th id="total_balance" align="right"><%= nice_number @all_balance %></th>
    <% end %>
    <th id="total_calls" align="right"><%= @all_calls.to_i %></th>
    <th id="total_time" align="center"><%= nice_time @all_time %></th>
    <% @all_calls > 0 ? tavg = @all_time / @all_calls : tavg = 0 -%>
    <th id="total_acd" align="center"><%= nice_time tavg %></th>
    <th id="total_" align="left"></th>
    <% if can_see_finances? %>
        <th id="total_price" align="right"><%= nice_number @all_price %></th>
        <th id="total_prov_price" align="right"><%= nice_number @all_prov_price %></th>
        <th id="total_profit" align="right"><%= nice_number @all_profit %></th>
        <th id="total_margin" align="right"><%= @all_price != 0 ? nice_number(((@all_price - @all_prov_price)/ @all_price) *100) : nice_number(0) %>
          %
        </th>
        <th id="total_markup" align="right"><%= @all_prov_price != 0 ? nice_number(((@all_price / @all_prov_price) *100)-100) : nice_number(0) %>
          %
        </th>
    <% end %>
    <th align="left" colspan="3"></th>
  </tr>
</table>