<% if @calls.size > 0 %> 
  <table width="100%" class="maintable">

	  <tr>
	    <th align="center"><%= _('date') %></th>
      <th align="left"><%= _('called_from') %></th>
	    <th align="left"><%= _('called_to') %></th>
	    <th align="left"><%= _('Destination') %></th>
	    <th align="center"><%= _('Billsec') %></th>
      <% if @options[:call_type] && @options[:call_type] != "ANSWERED" %>
        <th align="right"><%= _('hangup_cause') %></th>
      <% end %>
      <th align="right"><%= _('User_price') %></th>
      <th align="right"><%= _('Provider_price') %></th>
      <th align="right"><%= _('Profit') %></th>
      <th align="right"><%= _('Margin') %></th>
      <th align="right"><%= _('Markup') %></th>
      <% if session[:usertype] == "admin" %>
        <th></th>
      <% end%>
    </tr>
    <% text_class="n" %>
    <% @calls.each_with_index { |call, i| %>
<%       if @options[:direction] == "incoming"
          prov_price = call.did_prov_price.to_f
          else
            prov_price = call.provider_price.to_f
          end
              
          if call.reseller_id.to_i > 0
            user_price = call.reseller_price.to_f
          else
            user_price = call.user_price.to_f
          end
%>
      <tr class="row<%= (i % 2 + 1).to_s %>">
        <td class="<%= text_class %>"  align="center" id="calldate_<%= call.id%>">
          <%= nice_date_time(call.calldate) %>
        </td>
        <td class="<%= text_class %>" align="left" id="src_<%= call.id%>"><%= nice_src(call) %></td>
        <td class="<%= text_class %>" id="dst_<%= call.id%>">
          <% if call.localized_dst.to_s.length > 0 %>
            <%= call.localized_dst %>
          <% else %>
            <%= call.dst %>		
          <% end %>
        </td>

		<% dest = Destination.find(:first, :conditions => "prefix = '#{call.prefix}'") %>
	    <td class="<%= text_class %>" id="dest_<%= call.id%>">
		<% if dest %>
      <% dir = dest.direction -%>
			<%= dir.name if dir %><%= dest.subcode %> <%= dest.name %>
		<% end %>
	    </td>

        <td class="<%= text_class %>" align="center" id="billsec_<%= call.id%>">
        	
		  <%  if @options[:direction] == "incoming" %>
              <%= nice_time(call.did_billsec.to_i) %>
            <%  else %>
              <%= nice_time(call.billsec.to_i) %>
            <%  end %>
			

        </td>

        <% if @options[:call_type] && @options[:call_type] != "ANSWERED" %>
          <td class="<%= text_class %>"  id="disposition_<%= call.id%>" align="right" <%= "onmouseover=\"Tip(\'" + get_hangup_cause_message(call.hangupcause) + "\')\" onmouseout = \"UnTip()\"" if  call.hangupcause %>>
            <%= call.disposition %> (<%= call.hangupcause%>)
          </td>	    
        <% end %>

        <td class="<%= text_class %>"  align="right" id="user_price_<%= call.id%>">
          <% if user_price %>
            <%= nice_number(user_price*@exchange_rate) %>
          <% else %>
            <%= "0.00" %>
          <% end %>
        </td>

        <td class="<%= text_class %>"  align="right" id="prov_price_<%= call.id%>">
          <% if prov_price %>
            <%= nice_number(prov_price*@exchange_rate) %>
          <% else %>
            <%= "0.00" %>
          <% end %>
        </td>

        <td class="<%= text_class %>"  align="right" id="price_<%= call.id%>">
          <% 	if @options[:direction] == "incoming" %>
            <%= nice_number(prov_price*@exchange_rate) %>
          <% else %>			
            <% if prov_price and user_price %>	
              <%= nice_number((user_price - prov_price)*@exchange_rate) %>
            <% else %>
              <%= "0.00" %>
            <% end %>
          <% end %>			
        </td>

        <% if @options[:direction] == "incoming"  %>
          <td align="right" ><%= nice_number(0)%> % </td>
          <td align="right" ><%= nice_number(0)%> % </td>         
        <% else %>
          <% if call.billsec.to_i > 0 %> 
            <td align="right" ><%= nice_number(((user_price.to_f - prov_price.to_f)/ user_price.to_f) *100)%> % </td>
            <td align="right" ><%= nice_number(((user_price.to_f / prov_price.to_f) *100)-100)%> % </td>
          <% else %>
            <td align="right" ><%= nice_number(0)%> % </td>
            <td align="right" ><%= nice_number(0)%> % </td>   
          <% end %>
        <% end%>
        <% if session[:usertype] == "admin" %>
          <td align="center" >
          	<%= link_to(b_call_info, {:controller => "calls", :action => "call_info" , :id => call.id}, {:id => "callinfo_link_#{call.id}"}) if call %>
            <% if call.getDebugInfo != nil %>	          			
              <%= image_tag('icons/cog.png', :border => 0, :onmouseover=> "Tip(\'"+format_debug_info(call.getDebugInfo)+"\')", :onmouseout => "UnTip()" ) %>
            <% end %>
          </td>
        <% end%>
      </tr>       
    <% } %>
	  <tr>
	    <th align="left">&nbsp;<%= _('Total') %>: </th>
	    <th></th>
	    <th></th>
	    <th></th>
	    <th align="center">
	      <% if @total_duration == 0 || !@total_duration%>
          <%= "00:00:00" %>
        <% else %>
          <%= nice_time(@total_duration) %>
        <% end %>
	    </th>
      <% if @options[:call_type] && @options[:call_type] != "ANSWERED" %>
        <th class="<%= text_class %>" align="left"></th>	    
      <% end %>
	    <th align="right">
        <% if @total_user_price%>
          <%= nice_number @total_user_price%>
        <% end %>
      </th>
	    <th align="right">
        <% if @total_provider_price%>
          <%= nice_number @total_provider_price%>
        <% end %> 
      </th>
			<% @total_profit = @total_profit * (-1) if @options[:direction] == "incoming"  %>
      <th align="right"><%= nice_number @total_profit %></th>

      <% if @total_user_price.to_f != 0%>
        <th align="right"><%= nice_number((@total_profit.to_f / @total_user_price.to_f) *100)%> %</th>
      <% else %>
        <th align="right"><%= nice_number(0)%> %</th>  
      <% end %>
      
      <% if @total_provider_price.to_f != 0%>
        <th align="right"><%= nice_number(((@total_user_price.to_f / @total_provider_price.to_f) *100)-100)%> %</th>
      <% else %>
        <th align="right"><%= nice_number(0)%> %</th>  
      <% end %>
    
      <% if session[:usertype] == "admin" %>
        <th></th>
      <% end %>
    </tr>
  </table>

<% else %>
  <p id="page_<%= @options[:page]%>">
  <%= _('you_have_no_calls') %>
</p>
<% end %>