<table width="100%" class="bordered">
  <tr>
    <td width="50%" valign="top">

      <table class="maintable" width="100%">
        <tr class="row1">
          <th align="left"><%= _('Outgoing_calls') %></th>
          <td id="outgoing_calls" align="right"><%= @outgoing_calls %></td>
          <td id="outgoing_calls_perc" align="right"><%= @outgoing_perc.round %> %</td>
        </tr>
        <tr>
          <th align="left"><%= _('Incoming_calls') %></th>
          <td id="incoming_calls" align="right"><%= @incoming_calls %></td>
          <td id="incoming_calls_perc" align="right"><%= @incoming_perc.round %> %</td>
        </tr>
        <tr class="row1">
          <th align="left"><%= _('All_calls') %></th>
          <td id="all_calls" align="right"><%= @total_calls %></td>
          <td id="all_calls_perc" align="right">100%</td>
        </tr>
      </table>
    </td>

    <td>
      <table class="maintable" width="100%">
        <tr>
          <th></th>
          <th align="center" colspan="2"><%= _('Outgoing_calls') %></th>
          <th align="center" colspan="2"><%= _('Incoming_calls') %></th>
          <th align="center" colspan="2"><%= _('Total_calls') %></th>
        </tr>
        <tr class="row1">
          <th align="left"><%= _('ANSWERED') %></th>
          <td id="answered_o" align="right"><%= @o_answered_calls %></td>
          <td align="right"><%= @o_answered_perc.round %> %</td>
          <td id="answered_i" align="right"><%= @i_answered_calls %></td>
          <td align="right"><%= @i_answered_perc.round %> %</td>
          <td align="right"><%= @t_answered_calls %></td>
          <td align="right"><%= @t_answered_perc.round %> %</td>
        </tr>
        <tr>
          <th align="left"><%= _('NO_ANSWER') %></th>
          <td id="no_answer_o" align="right"><%= @o_no_answer_calls %></td>
          <td align="right"><%= @o_no_answer_perc.round %> %</td>
          <td id="no_answer_i" align="right"><%= @i_no_answer_calls %></td>
          <td align="right"><%= @i_no_answer_perc.round %> %</td>
          <td align="right"><%= @t_no_answer_calls %></td>
          <td align="right"><%= @t_no_answer_perc.round %> %</td>
        </tr>
        <tr class="row1">
          <th align="left"><%= _('BUSY') %></th>
          <td id="busy_o" align="right"><%= @o_busy_calls %></td>
          <td align="right"><%= @o_busy_perc.round %> %</td>
          <td id="busy_i" align="right"><%= @i_busy_calls %></td>
          <td align="right"><%= @i_busy_perc.round %> %</td>
          <td align="right"><%= @t_busy_calls %></td>
          <td align="right"><%= @t_busy_perc.round %> %</td>
        </tr>
        <tr>
          <th align="left"><%= _('FAILED') %></th>
          <td id="failed_o" align="right"><%= @o_failed_calls %></td>
          <td align="right"><%= @o_failed_perc.round %> %</td>
          <td id="failed_i" align="right"><%= @i_failed_calls %></td>
          <td align="right"><%= @i_failed_perc.round %> %</td>
          <td align="right"><%= @t_failed_calls %></td>
          <td align="right"><%= @t_failed_perc.round %> %</td>
        </tr>
        <tr class="row1">
          <th align="left"><%= _('All_calls') %></th>
          <td id="all_calls_o" align="right"><%= @outgoing_calls %></td>
          <td align="right">100%</td>
          <td id="all_calls_i" align="right"><%= @incoming_calls %></td>
          <td align="right">100%</td>
          <td align="right"><%= @total_calls %></td>
          <td align="right">100%</td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td align="center">
      <!-- ampie script-->
      <div id="flashcontent1"><strong>You need to upgrade your Flash Player</strong></div>
      <script type="text/javascript">
          // <![CDATA[
          var so = new SWFObject("<%= Web_Dir %>/swf/ampie.swf", "ampie", "450", "250", "9", "#FFFFFF");
          so.addVariable("path", "<%= Web_Dir %>/swf/");
          so.addVariable("settings_file", escape("<%= Web_Dir %>/swf/pie1.xml"));
          so.addParam("wmode", "transparent");
          so.addVariable("chart_data", <%=  @Out_in_calls_graph %>);
          so.addVariable("additional_chart_settings", "<settings><labels><label><x>0</x><y>20</y><rotate>false</rotate><align>center</align><text_size>15</text_size><text><![CDATA[<b></b>]]></text></label></labels></settings>");
          so.write("flashcontent1");
          // ]]>
      </script>
      <!-- end of ampie script -->
      <br/>
    </td>

    <td align="center">
      <!-- ampie script-->
      <div id="flashcontent2"><strong>You need to upgrade your Flash Player</strong></div>
      <script type="text/javascript">
          // <![CDATA[
          var so = new SWFObject("<%= Web_Dir %>/swf/ampie.swf", "ampie", "450", "250", "9", "#FFFFFF");
          so.addVariable("path", "<%= Web_Dir %>/swf/");
          so.addVariable("settings_file", escape("<%= Web_Dir %>/swf/pie2.xml"));
          so.addParam("wmode", "transparent");
          so.addVariable("chart_data", <%=  @Out_in_calls_graph2 %>);
          so.addVariable("additional_chart_settings", "<settings><labels><label><x>0</x><y>20</y><rotate>false</rotate><align>center</align><text_size>15</text_size><text><![CDATA[<b></b>]]></text></label></labels></settings>");
          so.write("flashcontent2");
          // ]]>
      </script>
      <!-- end of ampie script -->
      <br/>
    </td>

  </tr>

</table>


<br/>

<table width="100%" class="bordered">
  <tr>
    <td width="100%" valign="top">

      <table width=100%>

        <tr>

          <td align="center">
            <!-- amcolumn script-->
            <div id="flashcontent3"><strong>You need to upgrade your Flash Player</strong></div>
            <script type="text/javascript">
                // <![CDATA[
                var so = new SWFObject("<%= Web_Dir %>/swf/amcolumn.swf", "amcolumn", "370", "277", "8", "#FFFFFF");
                so.addVariable("path", "<%= Web_Dir %>/swf/");
                so.addVariable("settings_file", escape("<%= Web_Dir %>/swf/amcolumn_1.xml"));
                so.addParam("wmode", "transparent");
                so.addVariable("chart_data", escape("<%= @Calls_graph %>"));
                so.addVariable("additional_chart_settings", escape("<settings></settings>"));
                so.addVariable("additional_chart_settings", "<settings><labels><label><x>0</x><y>20</y><rotate>false</rotate><align>center</align><text_size>15</text_size><text><![CDATA[<b><%= _('Calls') %></b>]]></text></label></labels></settings>");
                so.write("flashcontent3");
                // ]]>
            </script>
            <!-- end of amcolumn script -->


          </td>
          <td align="center">

            <!-- amcolumn script-->
            <div id="flashcontent4"><strong>You need to upgrade your Flash Player</strong></div>
            <script type="text/javascript">
                // <![CDATA[
                var so = new SWFObject("<%= Web_Dir %>/swf/amcolumn.swf", "amcolumn", "370", "277", "8", "#FFFFFF");
                so.addVariable("path", "<%= Web_Dir %>/swf/");
                so.addVariable("settings_file", escape("<%= Web_Dir %>/swf/amcolumn_1.xml"));
                so.addParam("wmode", "transparent");
                so.addVariable("chart_data", escape("<%= @Calltime_graph %>"));
                so.addVariable("additional_chart_settings", "<settings><labels><label><x>0</x><y>20</y><rotate>false</rotate><align>center</align><text_size>15</text_size><text><![CDATA[<b><%= _('Duration')+" (min)" %></b>]]></text></label></labels></settings>");
                so.write("flashcontent4");
                // ]]>
            </script>
            <!-- end of amcolumn script -->

          </td>
          <td align="center">

            <!-- amcolumn script-->
            <div id="flashcontent5"><strong>You need to upgrade your Flash Player</strong></div>
            <script type="text/javascript">
                // <![CDATA[
                var so = new SWFObject("<%= Web_Dir %>/swf/amcolumn.swf", "amcolumn", "370", "277", "8", "#FFFFFF");
                so.addVariable("path", "<%= Web_Dir %>/swf/");
                so.addVariable("settings_file", escape("<%= Web_Dir %>/swf/amcolumn_1.xml"));
                so.addParam("wmode", "transparent");
                so.addVariable("chart_data", escape("<%= @Avg_Calltime_graph %>"));
                so.addVariable("additional_chart_settings", "<settings><labels><label><x>0</x><y>20</y><rotate>false</rotate><align>center</align><text_size>15</text_size><text><![CDATA[<b><%= _('avg_call_time')+" (s)" %></b>]]></text></label></labels></settings>");
                so.write("flashcontent5");
                // ]]>
            </script>
            <!-- end of amcolumn script -->

          </td>
        </tr>

      </table>

      <br/>
      <table class="maintable" width="100%">
        <tr>
          <th align="center"><%= _('Date') %></th>
          <th align="right"><%= _('Calls') %></th>
          <th align="center"><%= _('Duration') %></th>
          <th align="center"><%= _('avg_call_time') %></th>
        </tr>
        <% for i in 0..@a_calls.size-1 %>
            <tr class="row<%= (i % 2 + 1).to_s %>">
              <td id="row_<%= i %>_date" align="center"><%= nice_date(@a_date[i],0) %></td>
              <td id="row_<%= i %>_calls" align="right"><%= @a_calls[i] %></td>
              <td id="row_<%= i %>_billsec" align="center"><%= nice_time @a_billsec[i] %></td>
              <td id="row_<%= i %>_avg_billsec" align="center"><%= nice_time @a_avg_billsec[i] %></td>
            </tr>
        <% end %>
        <tr>
          <th align="center"><%= _('Total') %>:</th>
          <th id="total_calls" align="right"><%= @t_calls %></th>
          <th id="total_billsec" align="center"><%= nice_time @t_billsec %></th>
          <th id="total_avg_billsec" align="center"><%= nice_time @t_avg_billsec %></th>
        </tr>
      </table>

    </td>
  </tr>
</table>
