<%= javascript_include_tag "wz_tooltip" %>
<table width="100%">
  <tr>
    <td class="nb">
      <%= _('total_calls') %>: <b><%= @calls.size %></b>
    </td></tr>
</table>
<br>
<% if @calls.size > 0 %>
  <table width="100%" class="maintable">
    <tr>
      <th align="center">		  &nbsp;<%= _('date') %>	    </th>
      <th align="left">		  <%= _('called_from') %>	    </th>
      <th align="left">		  <%= _('called_to') %>	    </th>
      <th align="left">		  <%= _('Destination') %>	    </th>
      <th align="center"><% @call_type != "missed" ? _('duration') : _('holdtime') %></th>
      <% if session[:usertype] == "admin" %>
        <th align="left">		   <%= _('Provider') %>	    </th>
      <% end %>

      <th align="left">		   <%= _('hangup_cause') %>	    </th>
      <% if session[:usertype] == "admin" %>
        <th align="right"> 		  <%= _('Provider_price') %> (<%= session[:show_currency] %>)	    </th>
        <th align="right"> 		  <%= _('User_price') %> (<%= session[:show_currency] %>)	    </th>
        <th align="right"> 		  <%= _('Profit') %>     </th>
        <th align="right"> 		  <%= _('Margin') %>     </th>
        <th align="right"> 		  <%= _('Markup') %>     </th>
        <th align="right"> 		  <%= _('DID_Price') %>     </th>
        <th></th>
      <% end %>
    </tr>
    <% @calls.each_with_index{ |call, i| %>
      <% call.processed == 0 ? text_class="n" : text_class="n_disabled" -%>
      <tr class="row<%= (i % 2 + 1).to_s %>">
        <td class="<%= text_class %>" align="center">
          <%=  nice_date_time(call.calldate) %>
        </td>
        <td class="<%= text_class %>"><%= h(call.clid) %></td>
        <td class="<%= text_class %>"><%= h(call.localized_dst) %></td>

        <% dest = Destination.find(:first, :conditions => "prefix = '#{call.prefix}'") %>
        <td class="<%= text_class %>">
          <% if dest %>
            <%= h(dest.direction.name) if dest.direction %>  <%= h(dest.subcode) %> <%= h(dest.name) %>
          <% end %>
        </td>
        <td class="<%= text_class %>" align="center"><%= nice_time(call.billsec) %></td>
        <% if session[:usertype] == "admin" -%>
          <td class="<%= text_class %>"  align="left">
            <% provider = Provider.find(:first, :conditions => ["id = ?", call.provider_id]) -%>
            <%= provider.name if provider %>
          </td>
        <% end -%>
        <td class="<%= text_class %>"  align="left"><%= h(call.disposition) %></td>
        <% if session[:usertype] == "admin" %>
          <td class="<%= text_class %>"  align="right"><%= call.provider_price %></td>
          <td class="<%= text_class %>"  align="right"><%= call.user_price %></td>
          <td class="<%= text_class %>"  align="right"><%= nice_number(call.user_price.to_f - call.provider_price.to_f) %></td>
          <td class="<%= text_class %>"  align="right"><%= nice_number(((call.user_price.to_f - call.provider_price.to_f)/ call.user_price.to_f) *100) + " %" if call.user_price.to_f != 0 %></td>
          <td class="<%= text_class %>"  align="right"><%=  nice_number(((call.user_price.to_f / call.provider_price.to_f) *100)-100) + " %" if call.provider_price.to_f != 0 %></td>
          <td class="<%= text_class %>" align="right"><%= call.did_price + call.did_inc_price.to_f %></td>
          <td align="right" >
            <% if call.getDebugInfo != nil %>
              <%= image_tag('icons/cog.png', :border => 0, :onmouseover=> "Tip(\'"+format_debug_info(call.getDebugInfo)+"\')", :onmouseout => "UnTip()" ) %>
            <% end %>
          </td>
        <% end%>
      </tr>
    <% } %>
    <tr>
      <th align="left">		  &nbsp;<%= _('Total') %>:	    </th>
      <th></th>
      <th></th>
      <th></th>
      <th align="center"><%= nice_time @total_billsec %></th>
      <th></th>
      <% if session[:usertype] == "admin" %>
        <th align="right">	</th>
        <th align="right">  <%= nice_number @total_provider_price %>  </th>
        <th align="right">  <%= nice_number @total_price %>  </th>
        <th align="right">  <%= nice_number @total_profit %>  </th>
        <th></th>
        <th></th>
        <th align="right">  <%= nice_number @total_did_price %>  </th>
        <th></th>
      <% end %>
    </tr>
  </table>
<% else %>
  <%= _('you_have_no_calls') %>
<% end%>