<table width="100%" class="simple">
  <tr>
    <td>
      <b><%= b_user + _('User') %>:</b> <%= @user.first_name + " " + @user.last_name %> <br>
      <%= b_date + nice_date_time(session_from_datetime) + " - " + nice_date_time(session_till_datetime) %> <br>
      <%= b_call + _('total_calls') %>: <b><%= @all_calls.size %></b></td>
    <td align="right">
      <%= link_to_function(b_search + _('Search'), "Element.toggle('search_details')") %>
    </td>
  </tr>
</table>


<%= form_tag :action => params[:action] do %>
    <div id="search_details" <%= "style='display:none;'" if @search == 0 %>
    <br>
    <%= hidden_field_tag 'search_on', 1 %>
    <%= _('From') %>: <%= select_datetime(Time.mktime(session[:year_from], session[:month_from], session[:day_from], session[:hour_from], session[:minute_from]), :end_year => Date.today.year+1, :prefix => "date_from", :use_month_numbers => false) %>
    &nbsp;&nbsp;<%= _('to') %>: <%= select_datetime(Time.mktime(session[:year_till], session[:month_till], session[:day_till], session[:hour_till], session[:minute_till]), :end_year => Date.today.year+1, :prefix => "date_till", :use_month_numbers => false) %>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= submit_tag _('Search'), :disable_with => _('Processing..') %>
    </div>
<% end %>
<br>
<table width="100%" class="maintable">
  <tr>
    <th align="left">          &nbsp;<%= _('date') %>        </th>
    <th align="left">          <%= _('called_from') %>        </th>
    <th align="left">          <%= _('called_to') %>        </th>
    <th align="center">          <%= _('hold_time') %>        </th>
    <th align="right">           <%= _('hangup_cause') %>        </th>
    <th align="center">           <%= _('processed') %>        </th>
  </tr>
  <% @calls.each_with_index { |call, i| %>

      <% if call.processed == 0 %>
          <% text_class="n" %>
      <% else %>
          <% text_class="n_disabled" %>
      <% end %>

      <tr class="row<%= (i % 2 + 1).to_s %>">
        <td id="calldate_<%= call.id %>" class="<%= text_class %>" textcolor="#FFFFFF"><%= call.calldate.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td id="clid_<%= call.id %>" class="<%= text_class %>"><%= call.clid %></td>
        <td id="dst_<%= call.id %>" class="<%= text_class %>"><%= hide_dst_for_user(current_user, "gui", call.dst.to_s) %></td>
        <td id="duration_<%= call.id %>" class="<%= text_class %>" align="center"><%= nice_time call.duration %></td>
        <td id="disposition_<%= call.id %>" class="<%= text_class %>" align="right">
          <%= call.disposition %>
          <% if session[:usertype] == "admin" %>
              <%= " (" + call.hangupcause.to_s + ")" if call.disposition != "ANSWERED" and call.hangupcause %>
          <% end %>
        </td>
        <%= form_tag(:action => params[:action]) do %>
            <td id="process_<%= call.id %>" align="center" valign="middle" class="<%= text_class %>">
              <%= hidden_field_tag "processed", call.id %>
              <%= call.processed == 0 ? submit_tag(_('processed'), :disable_with => _('Processing..')) : submit_tag(_('cancel'), :disable_with => _('Processing..')) %>
            </td>
        <% end %>
      </tr>
  <% } %>
</table>