<% if @rates and @rates.size.to_i > 0 %>

    <% tariff_tipe = ''%>
    <b><%= _('Rates') %>:</b>
    <br/>
    <% @rates.each { |r| %>
        <% if  tariff_tipe.to_s != r['purpose'] %>

            <br />
            <br />
            <b style='text-decoration:underline;'>
              <%= _('User_Retail') if  r['purpose'].to_s == 'user' %>
              <%= _('Provider') if  r['purpose'].to_s == 'provider' %>
              <%= _('User_Wholesale') if  r['purpose'].to_s == 'user_wholesale' %>
              <%= _('Tariffs') %>:
            </b>
            <% tariff_tipe = r['purpose']%>
         <%end%>
        <p>
          <b>
            <%= r['tariffs_name'].to_s %>
          </b>
          <% if r['purpose'] == 'user' %>
              <b>
                (<%= _('prefix') %>: <%= r['prefix'].to_s %>) :
              </b><br/>
              <%= draw_flag(r['direction_code']) if r['direction_code'] %> <%= r['subcode'].to_s+" "+r['name'].to_s %>
              <br/>
              <%= nice_time2 r['arate_start_time'] %> - <%= nice_time2 r['arate_end_time'] %> => <%= r['price'] %>
              (<%= r['currency'] %>)
              <% if r['currency'] != Currency.get_default.name%>
                  / <%= nice_number(r['rate'] * Currency.count_exchange_rate(r['currency'],  Currency.get_default.name)) %> (<%= Currency.get_default.name %>)
              <%end%>
              <br/>
          <% else %>
              <b>
                (<%= _('prefix') %>: <%= r['prefix'].to_s %>) :
              </b><br/>
              <%= draw_flag(r['direction_code']) if r['direction_code'] %> <%= r['subcode'].to_s+" "+r['name'].to_s %>
              <br/>
              <%= nice_time2 r['start_time'] %> - <%= nice_time2 r['end_time'] %> => <%= r['rate'] %>
              (<%= r['currency'] %>)
              <% if r['currency'] != Currency.get_default.name%>
                    / <%= nice_number(r['rate'] * Currency.count_exchange_rate(r['currency'],  Currency.get_default.name)) %> (<%= Currency.get_default.name %>)
              <%end%>
              <br/>
          <% end %>
        </p>
    <% } %>
<% else %>
    <p>
      <%= _('NO RESULTS') %>
    </p>
<% end %>