<% if @resellers %>
    <table width="100%" class="maintable">
      <tr>
        <th><%= _('Reseller') %></th>
        <th align="center"><%= _('Group') %></th>
        <th align="center"><%= _('Login_as') %></th>
        <th align="left"><%= _('Users') %></th>
        <th align="right"><%= _('Tariffs') %></th>
        <th align="right"><%= _('Devices') %></th>
        <th align="right"><%= _('Calls') %></th>
        <th align="right"><%= _('Calling_card_groups') %></th>
        <th align="right"><%= _('Calling_Cards') %></th>
        <th align="right"><%= _('DIDs') %></th>
      </tr>

      <% @resellers.each_with_index { |r, i| %>
          <tr class="row<%= (i % 2 + 1).to_s %>">
            <td id="user_<%= r.id %>"><%= link_nice_user(r) %></td>
            <td id="group_<%= r.id %>"><%= link_to(r.group_name, {:controller => :permissions, :action => :edit, :id => r.group_id, :group_type => "reseller"}, {:id => "edit_group_#{r.group_id}"}) unless r.group_name.blank? %></td>
            <td id="login_as_<%= r.id %>" align="center"><%= link_to b_login_as, {:controller => "functions", :action => 'login_as_execute', :user => r}, :confirm => _('are_you_sure'), :method => :post if r.id.to_i != 0 %></td>
            <td id="users_<%= r.id %>" align="left"><%= link_to b_user + r.f_users.to_i.to_s, :controller => 'users', :action => 'reseller_users', :id => r.id %></td>
            <td id="tariff_<%= r.id %>" align="right"><%= r.f_tariffs.to_i %></td>
            <td id="devices_<%= r.id %>" align="right"><%= r.f_devices.to_i %></td>
            <td id="calls_<%= r.id %>" align="right"><%= r.f_calls.to_i %></td>
            <td id="cardgroups_<%= r.id %>" align="right"><%= r.f_cardgroups.to_i %></td>
            <td id="cards_<%= r.id %>" align="right"><%= r.f_cards.to_i %></td>
            <td id="dids_<%= r.id %>" align="right"><%= r.f_dids.to_i %></td>
          </tr>
      <% } %>
    </table>
<% end %>