<br/>
<% if @total_pages > 1 %>
    <br/>
    <%= render :partial => "page_select_header", :date => @date %>
<% end %>
<br/>

<table width="100%" class="maintable">
  <tr>
    <th><%= _('User') %></th>
  </tr>
  <% @res.each_with_index { |r, i| %>
      <tr>
        <% if session[:acc_user_manage].to_i > 0 or session[:usertype] != 'accountant' %>
            <%if r['first_name'].length + r['last_name'].length > 0 %>
                <td><%=link_to r['first_name'].to_s + ' ' + r['last_name'].to_s, :controller => "users", :action => "edit", :id =>r['id'],:return_to_controller=>'stats', :return_to_action=>'subscriptions_first_day' %></td>
            <%else%>
                <td><%= link_to r['username'],:controller => "users", :action => "edit", :id => r['id'],:return_to_controller=>'stats', :return_to_action=>'subscriptions_first_day'%></td>
            <%end%>
        <%else%>
            <%if r['first_name'].length + r['last_name'].length > 0 %>
                <td><%= r['first_name'].to_s + ' ' + r['last_name'].to_s %></td>
            <%else%>
                <td><%= r['username'] %></td>
            <%end%>
        <%end%>
      </tr>
  <% } %>
</table>

<br/>
<br/>
