<%= javascript_include_tag 'swfobject' %>

<!--
<div id="table">
    <%= _('Todays_normative') %>: <%= @todays_normative %>%
</div>  

<div id="table">
    <%= _('Months_normative') %>: <%= @months_normative %>%
</div>  

<div id="table">
    <%= _('New_calls_today') %>: <%= @new_calls_today %>
</div>  
-->
<br/>

<div align="left" class="nb">
  <%= form_tag(:action => 'user_stats') do %>
      <%= _('From') %>
      : <%= select_date(Time.mktime(session[:year_from], session[:month_from], session[:day_from]), :end_year => Date.today.year+1, :prefix => "date_from") %>
      &nbsp;&nbsp;<%= _('to') %>
      : <%= select_date(Time.mktime(session[:year_till], session[:month_till], session[:day_till]), :end_year => Date.today.year+1, :prefix => "date_till") %>
      &nbsp;&nbsp;<%= submit_tag _('Change_date'), :disable_with => _('Processing..') %>
  <% end %>
</div>

<br/>
<div id="table">
  <%= render :partial => "std_stats" %>
</div>  

