<b><%= _('Location') + ": " +@rule.location.name %></b>
<br/><br/>

<table width="100%" class="maintable">
  <tr>
    <th align="center"><%= _('Enabled') %>?</th>
    <th align="left"><%= _('Name') %></th>
    <th align="left"><%= _('Cut') %></th>
    <th align="left"><%= _('Add') %></th>
    <th align="right"><%= _('Min_len') %></th>
    <th align="right"><%= _('Max_len') %></th>
    <!---    <th align="right"><%= _('Lr_type') %></th>   --->

    <% if @rule.lr_type == "dst" or @rule.lr_type == "src" %>
        <th align="left"> <%= _('Tariff') %> </th>
        <% if allow_manage_providers? %>
            <th align="left"> <%= _('Lcr') %> </th>
        <% end %>
    <% end %>
    <% if @rule.lr_type == "dst" %>
        <th align="center"><%= _('Route_to_Did') %></th>
        <th align="left" <%= tooltip(_('Change_Calls_owner'), _('Change_User_Device_to_this_Device_explained')) %> ><%= _('Change_calls_owner') %></th>
    <% end %>
    <th></th>
  </tr>

  <tr class="row1">
    <%= form_tag :action => 'location_rule_change_status', :id => @rule.id do %>
        <td align="center">
          <%= image_submit_tag 'icons/check.png', :title => _('Disable') if @rule.enabled == 1 %>
          <%= image_submit_tag 'icons/cross.png', :title => _('Enable') if @rule.enabled == 0 %>
        </td>
    <% end %>
    <%= form_tag :action => 'location_rule_update', :id => @rule.id do %>
        <td align="left">       <%= text_field_tag 'name', @rule.name, "class" => "input", :size => "25", :maxlength => "40" %> </td>
        <td align="left">        <%= text_field_tag 'cut', @rule.cut, "class" => "input", :size => "10", :maxlength => "20" %> </td>
        <td align="left">        <%= text_field_tag 'add', @rule.add, "class" => "input", :size => "10", :maxlength => "20" %> </td>
        <td align="right">        <%= text_field_tag 'minlen', @rule.minlen, "class" => "input", :size => "5", :maxlength => "5" %> </td>
        <td align="right">        <%= text_field_tag 'maxlen', @rule.maxlen, "class" => "input", :size => "5", :maxlength => "5" %> </td>
        <!---    <td align="right">        <%= text_field_tag 'lr_type', @rule.lr_type, "class" => "input", :size => "5", :maxlength => "5" %> </td> --->
        <% if @rule.lr_type == "dst" or @rule.lr_type == "src" %>
            <td align="left">
              <select name="tariff" <%= "disabled" if @tariffs.size < 1 %> >
                <option value="<%= nil %>"><%= " " %> </option>
                <% for tariff in @tariffs %>
                    <option value="<%= tariff.id %>" <%= "selected" if @rule.tariff_id == tariff.id %>><%= tariff.name %> </option>
                <% end %>
              </select>
            </td>
            <% if allow_manage_providers? %>
                <td align="left">
                  <select name="lcr" <%= "disabled" if @lcrs.size < 1 %> >
                    <option value="<%= nil %>"><%= " " %> </option>
                    <% for lcr in @lcrs %>
                        <option value="<%= lcr.id %>" <%= "selected" if @rule.lcr_id == lcr.id %>> <%= lcr.name %> </option>
                    <% end %>
                  </select>
                </td>
            <% end %>
        <% end %>
        <% if @rule.lr_type == "dst" %>
            <td align="left">
              <input type="text" size="30" id="did_livesearch" name="did" autocomplete="off" <%= "disabled" if @dids.size < 1 %> value='<%= @did_of_rule ? @did_of_rule.did.to_s : "" %>' />
              <table id="did_list" style='margin-top:0px;float:left;position:absolute;min-width:100px;border-width: 1px;border-image: initial;-webkit-box-shadow: rgba(0, 0, 0, 0.398438) 0px 2px 4px;box-shadow: rgba(0, 0, 0, 0.398438) 0px 2px 4px;background-clip: initial;background-color: rgb(255, 255, 255);background-position: initial initial;background-repeat: initial initial;'></table>
            </td>
            <td align="left">
              <select name="user" id="s_user" onchange="new Ajax.Updater('user_devices_77', '<%=Web_Dir%>/devices/cli_user_devices?add=-1&id=&id='+this.value+'&did='+this.value, {asynchronous:true, evalScripts:true, onComplete:function(request){Element.hide('spinner');}, onLoading:function(request){Element.show('spinner');}});">
                <option value="-1"><%= _('Select_user') %> </option>
                <% for user in @users %>
                    <option value="<%= user.id %>" <%= 'selected' if @rule.device and user.id == @rule.device.user_id %> ><%= nice_user(user) %> </option>
                <% end %>
              </select>
              <%= hidden_field_tag 'device_id_from_js', @rule.device_id %>
              <span id='user_devices_77'><%= select_tag("s_device", options_for_select([[_('Select_device'), "-1"]] + @devices.map { |dev| [nice_device(dev, {:image => false}), dev.id.to_s] }, @rule.device_id.to_s)) if @devices and @devices.size.to_i > 0 %></span>
            </td>
        <% end %>
        <td align="center">     <%= submit_tag _('Edit'), :disable_with => _('Processing..') %></td>
        </tr>
    <% end %>

    </table>

<br/><br/>

<!-- JS code for DID select -->
<script type="text/javascript">
    Event.observe(window, 'load',  function() {
        Event.observe($('did_livesearch'), 'keyup', function(){
            <%=raw remote_function(:update => 'did_list',:url => {:action => :get_did_map }, :with => "'did_livesearch='+$('did_livesearch').value") %>
        });
        Event.observe($('did_list'), 'mouseover', function(){
            var el = document.getElementById('did_list').getElementsByTagName('td');
            for(var i=0;i<el.length;i++){
                el[i].onclick=function(){
                    if (this.id != -2) {
                        document.getElementById('did_livesearch').value = this.innerHTML
                    <%= raw remote_function(:update => 'did_list',:url => {:action => :get_did_map }, :with => "'did_livesearch='") %>
                    }
                }
                el[i].onmouseover=function(){
                    this.style.backgroundColor="#BBBBBB";
                }
                el[i].onmouseout=function(){
                    this.style.backgroundColor="rgb(255, 255, 255)";
                }
            }
        });
    });
</script>