<%= form_tag(:action => 'vouchers_interval') do %>
    <table class="maintable" width="100%">
      <tr class="row1">
        <td>
          <br/>
          <table class="simple" width="100%">
            <tr>
              <td class="border_disabled"><b><%= _('Vouchers_tag') %>:</b></td>
              <td class="border_disabled"><select name="v_tag">
                <option value="" selected></option>
                <% for t in @tags %>
                    <option value="<%= t["tag"].to_s %>" <%= "selected" if t["tag"].to_s == @tag.to_s %>> <%= t["tag"].to_s %> </option>
                <% end %>
              </select>
              </td>
            </tr>
            <tr>
              <td class="border_disabled"><b><%= _('Credit_between') %>:</b></td>
              <td class="border_disabled"><%= text_field_tag 'v_credit_min', @credit_min, "class" => "input" %> -
                <%= text_field_tag 'v_credit_max', @credit_max, "class" => "input" %>
              </td>
            </tr>
            <tr>
              <td class="border_disabled"><b><%= _('Active') %>? :</b></td>
              <td class="border_disabled"><select name="v_active">
                <option value="all" <%= "selected" %>> <%= _('All') %> </option>
                <option value="yes" <%= "selected" if @active == "yes" %>> <%= _('Yes') %> </option>
                <option value="no" <%= "selected" if @active == "no" %>> <%= _('No') %> </option>
              </select>
              </td>
            </tr>
            <tr>
              <td class="border_disabled"><b><%= _('Active_till') %>: </b></td>
              <td class="border_disabled"><select name="v_atill">
                <option value="" selected></option>
                <% for ps in @active_tills %>
                    <option value=<%= ps["atill"][0..9] %> <%= "selected" if ps["atill"][0..9] == @atill %>> <%= nice_date(ps["atill"][0..9]) %> </option>
                <% end %>
              </select>
              </td>
            </tr>
            <tr>
              <td class="border_disabled"><b><%= _('Delete') %>:</b></td>
              <td class="border_disabled"><%= radio_button_tag('vaction', 'delete', 'checked') %></td>
            </tr>
            <tr>
              <td class="border_disabled"><b><%= _('Activation') %>:</b></td>
              <td class="border_disabled"><%= radio_button_tag('vaction', 'active', checked = (@action.to_s == 'active')) %></td>
            </tr>
            <tr>
              <td class="border_disabled"><b><%= _('Deactivation') %>:</b></td>
              <td class="border_disabled"><%= radio_button_tag('vaction', 'deactive', checked = (@action.to_s == 'deactive')) %></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <br/>
    <br/>
    <%= submit_tag _('Submit'), :disable_with => _('Processing..') %>
<% end %>
<br/>
<br/>